@using EA.Iws.Web.Views.Registration
<details>
    <summary>
        <h2 class="summary heading-xsmall">@RegistrationTermsAndConditionsResources.Header</h2>
    </summary>
    <div class="panel-indent">
        <b>@RegistrationTermsAndConditionsResources.TermsAndConditions</b>
        <p>@RegistrationTermsAndConditionsResources.Terms1</p>
        <p>@RegistrationTermsAndConditionsResources.Terms2</p>
        <p>@RegistrationTermsAndConditionsResources.Terms3</p>
        <p>@RegistrationTermsAndConditionsResources.Terms4</p>
        <p>@RegistrationTermsAndConditionsResources.Terms5</p>
        <p>@RegistrationTermsAndConditionsResources.Terms6</p>
        <ol class="list-number">
            <li>@RegistrationTermsAndConditionsResources.TermsListItem1</li>
            <li>@RegistrationTermsAndConditionsResources.TermsListItem2</li>
        </ol>
    </div>
</details>