@using EA.Iws.Web.Views.Registration
@model EA.Iws.Web.ViewModels.Registration.ApplicantRegistrationViewModel
@{
    ViewBag.Title = ApplicantRegistrationResources.Title;
    var signin = Request.QueryString["signin"];
}

<h1 class="heading-large">@ApplicantRegistrationResources.Header</h1>
<p>@ApplicantRegistrationResources.HeaderDescription</p>

@using (Html.BeginForm("ApplicantRegistration", "Registration"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Name)">
        @Html.Gds().LabelFor(m => m.Name)
        @Html.Gds().ValidationMessageFor(m => m.Name)
        @Html.Gds().TextBoxFor(m => m.Name)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Surname)">
        @Html.Gds().LabelFor(m => m.Surname)
        @Html.Gds().ValidationMessageFor(m => m.Surname)
        @Html.Gds().TextBoxFor(m => m.Surname)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.OrganisationName)">
        @Html.Gds().LabelFor(m => m.OrganisationName)
        @Html.Gds().ValidationMessageFor(m => m.OrganisationName)
        @Html.Gds().TextBoxFor(m => m.OrganisationName)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.PhoneNumber)">
        @Html.Gds().LabelFor(m => m.PhoneNumber)
        @Html.Gds().ValidationMessageFor(m => m.PhoneNumber)
        @Html.Gds().TextBoxFor(m => m.PhoneNumber)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
        @Html.Gds().LabelFor(m => m.Email)
        @Html.Gds().ValidationMessageFor(m => m.Email)
        @Html.Gds().TextBoxFor(m => m.Email)
    </div>

    @Html.EditorFor(m => m.Address)

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Password)">
        @Html.Gds().LabelFor(m => m.Password)
        @Html.Gds().ValidationMessageFor(m => m.Password)
        @Html.Gds().HintParagraph(ApplicantRegistrationResources.PasswordHint)
        @Html.Gds().PasswordFor(m => m.Password)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.ConfirmPassword)">
        @Html.Gds().LabelFor(m => m.ConfirmPassword)
        @Html.Gds().ValidationMessageFor(m => m.ConfirmPassword)
        @Html.Gds().PasswordFor(m => m.ConfirmPassword)
    </div>

    <div class="form-group">
        @Html.Partial("_RegistrationTermsAndConditions")
        @Html.Partial("_IwsStandardDataNotice")
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.TermsAndConditions)">
        <fieldset>
            <div>@Html.Gds().ValidationMessageFor(m => m.TermsAndConditions)</div>
            <label class="block-label" for="checkbox-1">
                @Html.CheckBoxFor(m => m.TermsAndConditions, new { @id = "checkbox-1" })
                @ApplicantRegistrationResources.AcceptTnCs
            </label>
        </fieldset>
    </div>
    @Html.HiddenFor(m => m.Address.DefaultCountryId)

    <div class="form-group">
        <input type="submit" class="button" value="@ApplicantRegistrationResources.Continue" />
    </div>
}