@model EA.Iws.Web.ViewModels.Registration.ApplicantRegistrationViewModel
@{
    ViewBag.Title = "Register";
    var signin = Request.QueryString["signin"];
}
<h1 class="heading-large">
    About you and your organisation
</h1>
<p>
    Use this sevice to tell us more about your organisation and your contact details
</p>
<h1 class="heading-large"></h1>

@using (Html.BeginForm("SubmitApplicantRegistration", "Registration"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Name)">
        @Html.ValidationMessageFor(m => m.Name)
        @Html.LabelFor(m => m.Name, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Surname)">
        @Html.ValidationMessageFor(m => m.Surname)
        @Html.LabelFor(m => m.Surname, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.OrganisationName)">
        @Html.ValidationMessageFor(m => m.OrganisationName)
        @Html.LabelFor(m => m.OrganisationName, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.OrganisationName, new { @class = "form-control" })
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.PhoneNumber)">
        @Html.ValidationMessageFor(m => m.PhoneNumber)
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
        @Html.ValidationMessageFor(m => m.Email)
        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Password)">
        @Html.ValidationMessageFor(m => m.Password)
        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.ConfirmPassword)">
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="grid-row">
        <div class="column-half">
            <div class="form-group" @Html.Gds().FormGroupClass(m => m.TermsAndConditions)>
                <fieldset>
                    <div>@Html.ValidationMessageFor(m => m.TermsAndConditions)</div>
                    <label class="block-label" for="checkbox-1">
                        @Html.CheckBoxFor(m => m.TermsAndConditions, new { @id = "checkbox-1" })
                        Accept terms and conditions for use
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <input type="submit" class="button" value="Continue" />
            </div>
        </div>
        <div class="column-half">
            <details>
                <summary><span class="summary">Read full terms and conditions for use</span></summary>
                <div class="panel-indent">
                    <p>
                        Placeholder text. If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
                    </p>
                    <p>
                        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
                    </p>
                </div>
            </details>
            <details>
                <summary><span class="summary">Read standard data notice</span></summary>
                <div class="panel-indent">
                    <p>
                        Placeholder text. If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
                    </p>
                    <p>
                        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
                    </p>
                </div>
            </details>
        </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
