@using EA.Iws.Web.Views.Registration
@model EA.Iws.Web.ViewModels.Registration.ChangeAccountDetailsViewModel
@{
    ViewBag.Title = ChangeAccountDetailsResources.Title;
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@ChangeAccountDetailsResources.Header</h1>
</header>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ChangeOptions)">
        <fieldset class="govuk-fieldset">
            @Html.Gds().ValidationMessageFor(m => m.ChangeOptions)
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.ChangeOptions, true, new { id = "rdoOrganisationDetails", @class = "govuk-radios__input" })
                <label class="govuk-label govuk-radios__label" for="rdoOrganisationDetails">
                    @ChangeAccountDetailsResources.OrgOption
                </label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.ChangeOptions, false, new { id = "rdoPersonalDetails", @class = "govuk-radios__input" })
                <label class="govuk-label govuk-radios__label" for="rdoPersonalDetails">
                    @ChangeAccountDetailsResources.ApplicantOption
                </label>
            </div>
        </fieldset>
    </div>
    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@ChangeAccountDetailsResources.Continue</button>
    </div>
}