@model EA.Iws.Web.ViewModels.Registration.EditApplicantDetailsViewModel
@{
    ViewBag.Title = "Edit applicant details";
}
<h1 class="heading-large">
    Your sign in details
</h1>

@using (Html.BeginForm("EditApplicantDetails", "Registration"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ExistingEmail)

    <div class="form-group @Html.Gds().FormGroupClass(m => m.FirstName)">
        @Html.Gds().LabelFor(m => m.FirstName)
        @Html.Gds().ValidationMessageFor(m => m.FirstName)
        @Html.Gds().TextBoxFor(m => m.FirstName)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Surname)">
        @Html.Gds().LabelFor(m => m.Surname)
        @Html.Gds().ValidationMessageFor(m => m.Surname)
        @Html.Gds().TextBoxFor(m => m.Surname)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.PhoneNumber)">
        @Html.Gds().LabelFor(m => m.PhoneNumber)
        @Html.Gds().ValidationMessageFor(m => m.PhoneNumber)
        @Html.Gds().TextBoxFor(m => m.PhoneNumber)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
        @Html.Gds().LabelFor(m => m.Email)
        @Html.Gds().ValidationMessageFor(m => m.Email)
        @Html.Gds().TextBoxFor(m => m.Email)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Password)">
        @Html.Gds().LabelFor(m => m.Password)
        @Html.Gds().ValidationMessageFor(m => m.Password)
        @Html.Gds().HintParagraph("Password must be at least 8 characters and contain at least one uppercase letter, one lowercase letter and one number")
        @Html.Gds().PasswordFor(m => m.Password)
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Update" />
    </div>
    <p>@Html.ActionLink("Go back to My account", "Home", "Applicant", new { id = Model.Id, area = string.Empty }, null)</p>
}
