@using EA.Iws.Core.Shared
@using EA.Iws.Web.Infrastructure
@model EA.Iws.Web.ViewModels.Registration.EditOrganisationViewModel

@{
    ViewBag.Title = "Edit Organisation Details";
}

<h1 class="heading-large">
    Your registered organisation address details
</h1>

@using (Html.BeginForm("EditOrganisationDetails", "Registration"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.OrganisationId)
    @Html.HiddenFor(m => m.Name)

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Address1)">
        @Html.Gds().LabelFor(m => m.Address1)
        @Html.Gds().ValidationMessageFor(m => m.Address1)
        @Html.Gds().TextBoxFor(m => m.Address1)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Address2)">
        @Html.Gds().LabelFor(m => m.Address2)
        @Html.Gds().ValidationMessageFor(m => m.Address2)
        @Html.Gds().TextBoxFor(m => m.Address2)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.TownOrCity)">
        @Html.Gds().LabelFor(m => m.TownOrCity)
        @Html.Gds().ValidationMessageFor(m => m.TownOrCity)
        @Html.Gds().TextBoxFor(m => m.TownOrCity)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Region)">
        @Html.Gds().LabelFor(m => m.Region)
        @Html.Gds().ValidationMessageFor(m => m.Region)
        @Html.Gds().TextBoxFor(m => m.Region)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Postcode)">
        @Html.Gds().LabelFor(m => m.Postcode, "(optional for non-UK address)")
        @Html.Gds().ValidationMessageFor(m => m.Postcode)
        @Html.Gds().TextBoxFor(m => m.Postcode)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.CountryId)">
        @Html.Gds().LabelFor(m => m.CountryId)
        @Html.Gds().ValidationMessageFor(m => m.CountryId)
        @Html.Gds().DropDownListFor(m => m.CountryId, (SelectList)ViewBag.Countries)
        @Html.HiddenFor(m => m.DefaultCountryId)
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.BusinessType)">
        <label class="form-label">Organisation type</label>
        @Html.Gds().ValidationMessageFor(m => m.BusinessType)
        <label class="block-label">
            @Html.RadioButtonFor(m => m.BusinessType, "SoleTrader") Sole trader
        </label>
        <label class="block-label">
            @Html.RadioButtonFor(m => m.BusinessType, "Partnership") Partnership
        </label>
        <label class="block-label" data-target="companies-house-number">
            @Html.RadioButtonFor(m => m.BusinessType, "LimitedCompany") Limited company
        </label>
        <label class="block-label" data-target="other-description">
            @Html.RadioButtonFor(m => m.BusinessType, BusinessType.Other, new { @class = "business-type-radio-button" }) @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.Other)
        </label>
        <div class="panel-indent @(Model.BusinessType != null && Model.BusinessType == BusinessType.Other ? "" : "js-hidden")" id="other-description">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherDescription)">
                @Html.Gds().LabelFor(m => m.OtherDescription)
                @Html.Gds().ValidationMessageFor(m => m.OtherDescription)
                @Html.Gds().TextBoxFor(m => m.OtherDescription)
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Update"/>
    </div>
    <p>@Html.ActionLink("Go back to My account", "Home", "Applicant", new { id = User.GetUserId(), area = string.Empty }, null)</p>
}