@using EA.Iws.Web.Views.Registration
@model EA.Iws.Web.ViewModels.Registration.EditApplicantDetailsViewModel
@{
    ViewBag.Title = EditApplicantDetailsResources.Title;
}

<h1 class="govuk-heading-l">@EditApplicantDetailsResources.Header</h1>

@using (Html.BeginForm("EditApplicantDetails", "Registration"))
{
    <div class="text">
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ExistingEmail)

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.FirstName)">
            @Html.Gds().LabelFor(m => m.FirstName)
            @Html.Gds().ValidationMessageFor(m => m.FirstName)
            @Html.Gds().TextBoxFor(m => m.FirstName)
        </div>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Surname)">
            @Html.Gds().LabelFor(m => m.Surname)
            @Html.Gds().ValidationMessageFor(m => m.Surname)
            @Html.Gds().TextBoxFor(m => m.Surname)
        </div>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.PhoneNumber)">
            @Html.Gds().LabelFor(m => m.PhoneNumber)
            @Html.Gds().ValidationMessageFor(m => m.PhoneNumber)
            @Html.Gds().TextBoxFor(m => m.PhoneNumber)
        </div>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Email)">
            @Html.Gds().LabelFor(m => m.Email)
            @Html.Gds().ValidationMessageFor(m => m.Email)
            @Html.Gds().TextBoxFor(m => m.Email)
        </div>

        <div class="govuk-form-group">
            <input type="submit" class="govuk-button" value="@EditApplicantDetailsResources.Update" />
        </div>
        <p>@Html.ActionLink(EditApplicantDetailsResources.GoBackToMyAccount, "Home", "Applicant", new { id = Model.Id, area = string.Empty }, null)</p>
    </div>
}
