@using EA.Iws.Web.Areas.NotificationApplication.Views.TransitState
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.TransitState.TransitStateViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.CountryId)">
    @Html.Gds().LabelFor(m => m.CountryId, new { @class = "form-label-bold" })
    @Html.Gds().HintParagraph(TransitStateResources.CountryHint)
    @Html.HiddenFor(m => m.NotificationCompetentAuthority)

    @if (Model.CountryId != null)
    {
        @Html.Gds().DropDownListFor(m => m.CountryId, Model.Countries, new { data_select_box = "true" })
    }
    else
    {
        @Html.Gds().DropDownListFor(m => m.CountryId, Model.Countries, string.Empty, new { title = TransitStateResources.ExitCountry, data_select_box = "true" })
    } 
</div>
@Html.Partial("_CountryNotListed")

<button class="button" type="submit" value="country" name="submit">@Constants.ContinueButtonText</button>