@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.TransitState.TransitStateViewModel
@{
    ViewBag.Title = "Transit State";
}
<h2 class="heading-large">Where is the waste travelling through?</h2>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    if (!Model.ShowNextSection)
    {
        @Html.Partial("_CountryOnly", Model)

        @section scripts{
            <script>
                (function ($) {
                    $(function () {
                        $('#CountryId').selectToAutocomplete();
                    });
                })(jQuery);
            </script>
        }
    }
    else
    {
        @Html.HiddenFor(m => m.ShowNextSection)

        @Html.Partial("_AllDetails", Model)

        @section scripts{
            <script>
                (function ($) {
                    $(function () {
                        $('#EntryPointId').selectToAutocomplete();
                        $('#ExitPointId').selectToAutocomplete();
                    });
                })(jQuery);
            </script>
        }
    }

    for (int i = 0; i < Model.TransitStateCountryIds.Count; i++)
    {
        @Html.HiddenFor(m => m.TransitStateCountryIds[i])
    }
    if (Model.StateOfExportCountryId.HasValue)
    {
        @Html.HiddenFor(m => m.StateOfExportCountryId)
    }
    if (Model.StateOfImportCountryId.HasValue)
    {
        @Html.HiddenFor(m => m.StateOfImportCountryId)
    }
}