@model EA.Iws.Core.AddressBook.AddressBookData
@{
    ViewBag.Title = "Index";
}

<h2>Addresses on record</h2>

@if (Model.AddressRecords != null)
{
    foreach (var address in Model.AddressRecords)
    {
        <p>@address.AddressData.StreetOrSuburb @address.AddressData.Address2</p>
        <p>@address.AddressData.TownOrCity @address.AddressData.PostalCode</p>
        <p>@address.AddressData.CountryName</p>
    }
}

