@model EA.Iws.Web.ViewModels.WasteOperations.TechnologyEmployedViewModel

@using (Html.BeginForm("TechnologyEmployed", "WasteOperations", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="column-two-thirds">
        <header class="hgroup">
            <h2 class="heading-medium">
                You have selected operation codes:
            </h2>
        </header>

        @foreach (string code in Model.OperationCodes)
        {
            <label class="operation-code-list">@code</label>
        }

        <header class="hgroup">
            <h2 class="heading-medium">
                For these operation codes, describe the technology employed
            </h2>
        </header>

        <div>
            <div class="form-group @Html.Gds().FormGroupClass(m => m.Details)">
                @Html.Gds().HintSpan("Enter details below of the technology and process being carried out on the waste at the facilities.  This can be provided as a separate annex with this submission.")
                @Html.Gds().ValidationMessageFor(m => m.Details)
                @Html.TextAreaFor(m => m.Details, new { @style = "width: 100%; height: 200px" })
            </div>
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.AnnexPorvided)">
            <label class="block-label" for="AnnexProvided">
                @Html.CheckBoxFor(m => m.AnnexPorvided, new { @id = "AnnexProvided" })
                @Html.DisplayNameFor(m => m.AnnexPorvided)
            </label>
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Continue" />
        </div>
    </div>

}
@section scripts
{
    <script>
        $('#AnnexProvided').click(function () {
            if ($('#AnnexProvided').is(':checked')) {
                $('#Details').attr('readonly', true);
                $('#Details').css('background-color', '#DEDEDE');
                $('#Details').css('color', 'gray');
            } else {
                $('#Details').attr('readonly', false);
                $('#Details').css('background-color', 'white');
                $('#Details').css('color', 'black');
            }
        });
    </script>
}
