@using EA.Iws.Web.Areas.AdminExportAssessment.Views.Carrier
@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.Carrier.AddCarrierViewModel
@{
    ViewBag.Title = AddCarrierResources.Title;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="govuk-heading-l">@AddCarrierResources.Header</h1>
    </header>

    @Html.Partial("CarrierBusinessTypeViewModel", Model)

    <h2 class="heading-medium">@AddCarrierResources.Address</h2>
    <hr />

    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">@AddCarrierResources.Contact</h2>
    <hr />

    @Html.EditorFor(m => m.Contact)

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}