@model EA.Iws.Web.Areas.AdminImportNotificationMovements.ViewModels.Cancel.ConfirmViewModel
@using Resources = EA.Iws.Web.Areas.AdminImportNotificationMovements.Views.Cancel.ConfirmResources
@{
    ViewBag.Title = Resources.Title;
}

<div class="column-two-thirds">
    <header class="hgroup text">
        <h1 class="govuk-heading-l">@Resources.Heading</h1>
        @Resources.SubHeading
    </header>

    <div class="govuk-form-group">
        @foreach (var number in Model.SelectedShipmentNumbers)
        {
            <span class="operation-code-list">@number</span>
        }
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NotificationId)

        <div class="govuk-form-group">
            <button class="govuk-button" type="submit">@Resources.ConfirmCancellation</button>
        </div>
    }

    <div class="govuk-form-group">
        @Html.ActionLink(Resources.EditList, "Index")
    </div>

    <div class="govuk-form-group">
        @Html.ActionLink(Resources.AbortCancel, "Abandon")
    </div>
</div>

@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", section = ImportNavigationSection.Shipments })
}