@model EA.Iws.Web.Areas.AdminImportNotificationMovements.ViewModels.Cancel.CancellableMovementsViewModel
@using Resources = EA.Iws.Web.Areas.AdminImportNotificationMovements.Views.Cancel.IndexResources
@{
    ViewBag.Title = Resources.Title;
}

<div class="column-two-thirds">
    <header class="hgroup">
        <h1 class="govuk-heading-l">@Resources.Heading</h1>
        @Resources.SubHeading
    </header>

    @using (Html.BeginForm())
    {
        @Html.Gds().ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="govuk-form-group">
            <h2 class="heading-medium">@Resources.PrenotificationsToCancelHeading</h2>

            @if (Model.CancellableMovements.Count == 0)
			{
                <p>@Resources.NoPrenotificaitonsToCancel</p>
            }
            else
            {
                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CancellableMovements)">
                    <table id="SubmittedMovements" title="@Resources.SelectPrenotificationsToCancel">
                        <thead>
                            <tr>
                                <th>
                                    @Resources.Number
                                </th>
                                <th>
                                    @Resources.DatePrenotified
                                </th>
                                <th>
                                    @Resources.ShipmentDue
                                </th>
                                <th>
                                    <label class="visuallyhidden">@Resources.Cancel</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.CancellableMovements.Count; i++)
							{
								var idForThisCheckBox = Html.NameFor(m => m.CancellableMovements[i].IsSelected);

                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => m.CancellableMovements[i].Number)
                                        @Html.HiddenFor(m => m.CancellableMovements[i].Number)
                                    </td>
                                    <td>
                                        @if (Model.CancellableMovements[i].PrenotificationDate.HasValue)
										{
                                            @Html.Gds().DisplayShortDateFor(m => m.CancellableMovements[i].PrenotificationDate.Value)
}
										else
										{
                                            @:- -
                                    }
                                    </td>
                                    <td>
                                        @Html.Gds().DisplayShortDateFor(m => m.CancellableMovements[i].ActualShipmentDate)
                                    </td>
                                    <td>
                                        <label for="@idForThisCheckBox">
                                            @Html.HiddenFor(m => m.CancellableMovements[i].MovementId)
                                            @Html.CheckBoxFor(m => m.CancellableMovements[i].IsSelected, new { id = idForThisCheckBox })
                                            Cancel
                                        </label>
                                    </td>
                                </tr>
							}
                        </tbody>
                    </table>
                </div>   
			}
			@if (Model.AddedMovements.Any())
			{
					<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.AddedMovements)">
						<h2 class="heading-medium">@Resources.AddSubHeader</h2>
						<table id="AddedMovements" title="@Resources.AddSubHeader">
							<thead>
								<tr>
									<th>
										@Resources.Number
									</th>
									<th>
										@Resources.ActualDateOfShipment
									</th>
									<th>
										<label>@Constants.ActionText</label>
									</th>
								</tr>
							</thead>
							<tbody>
								@for (var i = 0; i < Model.AddedMovements.Count(); i++)
								{
									<tr>
										<td>
											@Html.DisplayFor(m => m.AddedMovements[i].Number)
										</td>
										<td>
											@Html.Gds().DisplayShortDateFor(m => m.AddedMovements[i].ShipmentDate)
										</td>
										<td>
											<button class="link-submit" type="submit" name="command" value="@Model.AddedMovements[i].Number">@Constants.RemoveText</button>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
			
				@if (Model.CancellableMovements.Any() || Model.AddedMovements.Any())
				{
                <div class="govuk-form-group">
                    <button class="govuk-button" type="submit">@Constants.ContinueOnlyButtonText</button>
                </div>
				}
			<div class="govuk-form-group">
				<button class="link-submit" type="submit" name="command" value="add">@Resources.GoToAddNewShipments</button>
			</div>
        </div>
    }

    <div class="govuk-form-group">
        @Html.ActionLink(Resources.GoToShipmentSummary, "Index", "Home")
    </div>
</div>

@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", section = ImportNavigationSection.Shipments })
}