@model EA.Iws.Web.Areas.Admin.ViewModels.ArchiveNotification.ArchiveNotificationArchivedViewModel
@using EA.Iws.Web.Areas.Admin.Views.ArchiveNotification;

@{
    ViewBag.Title = "Archived";
}

<h1 class="govuk-heading-l">@ArchiveNotificationResources.Heading</h1>

@Html.AntiForgeryToken()
@Html.Gds().ValidationSummary()

@if (Model.SuccessCount > 0)
{
    <div class="govuk-form-group">
        <div id="div_green" class="noteDiv"></div>
        <div style="margin-left:20px; padding-top: 15px;">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-phase-banner__content__tag govuk-tag--green" style="padding:10px">
                    @ArchiveNotificationResources.Success
                </strong>
                <span class="govuk-phase-banner__text" style="color: green; font-weight: 700;">
                    The following @Model.SuccessCount notifications have been archived.
                </span>
            </p>
        </div>
    </div>

    <div class="govuk-form-group">
        <div id="tblArchive" class="govuk-form-group">
            <table class="govuk-table" id="tblArchive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.NotificationNumber</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Status</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.DateActioned</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.CompanyName</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var notification in Model.ArchivedNotifications)
                    {
                        if (notification.IsArchived)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.NotificationNumber)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.Status)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.CreatedDate)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.CompanyName)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@if (Model.FailuredCount > 0)
{
    <div class="govuk-form-group">
        <div id="div_red" class="noteDiv"></div>
        <div style="margin-left:20px; padding-top: 8px;">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag govuk-phase-tag-override govuk-tag--red" style="padding:10px">
                    @ArchiveNotificationResources.Failure
                </strong>
                <span class="govuk-phase-banner__text" style="color: red; font-weight: 700;">
                    The following @Model.FailuredCount notifications could not be archived.
                    Try again, or if the issue persists please contact <a href="mailto:askshipments@environment-agency.co.uk">askshipments@environment-agency.co.uk</a> quoting the failed notification numbers listed below.
                </span>
            </p>
        </div>
    </div>

    <div class="govuk-form-group">
        <div id="tblArchive" class="govuk-form-group">
            <table class="govuk-table" id="tblArchive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.NotificationNumber</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Status</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.DateActioned</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.CompanyName</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var notification in Model.ArchivedNotifications)
                    {
                        if (!notification.IsArchived)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.NotificationNumber)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.Status)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.CreatedDate)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => notification.CompanyName)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="govuk-form-group">
    <div id="div_orange" class="noteDiv"></div>
    <div style="margin-left:20px; padding-top: 8px;">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag govuk-phase-tag-override govuk-tag--orange" style="padding: 10px;">
                @ArchiveNotificationResources.Note
            </strong>
            <span class="govuk-phase-banner__text" style="font-weight: 700">
                @ArchiveNotificationResources.ArchivedNoteDescription
            </span>
        </p>
    </div>
</div>
