@using EA.Iws.Web.Infrastructure.Paging
@using EA.Iws.Web.Areas.Admin.Views.ArchiveNotification;
@model EA.Iws.Web.Areas.Admin.ViewModels.ArchiveNotification.ArchiveNotificationResultViewModel
@{
    ViewBag.Title = "Archive notifications";
}

@helper DisplayDate(DateTimeOffset date)
{
    @date.ToString("d MMM yyyy")
}

<h1 class="govuk-heading-l">@ArchiveNotificationResources.Heading</h1>

<h1 class="govuk-heading-m">
    @ArchiveNotificationResources.SelectNotifications
</h1>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            @ArchiveNotificationResources.WhyAreWeAsking
        </span>
    </summary>
    <div class="govuk-details__text">
        @ArchiveNotificationResources.GdprBlurbStart
        <br />
        <br />
        @ArchiveNotificationResources.GdprBlurbEnd
    </div>
</details>

@if (Model.HasAnyResults)
{
    <table class="govuk-table" id="tblArchive">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                @Html.Raw(Model.Notifications.Count(n => n.IsSelected == true) + " of 25 notifications selected")
            </tr>
        </thead>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.NotificationNumber</th>
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Status</th>
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.DateGenerated</th>
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.CompanyName</th>
                <th scope="col" class="govuk-table__header">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                        <input class="govuk-checkboxes__input" id="selectAll" name="selectAll" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" for="selectAll" style="white-space:nowrap">
                            Select all
                        </label>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var notification in Model.Notifications)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        @Html.Raw(notification.NotificationNumber.Replace(" ", "&nbsp;"))
                    </td>
                    <td class="govuk-table__cell">
                        <span class="statusbox @Html.ExportStatus().DisplayColorClass(notification.Status) table">@Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(notification.Status).ToUpperInvariant().Replace(" ", "&nbsp;")) </span>
                    </td>
                    <td class="govuk-table__cell">
                        @DisplayDate(@notification.CreatedDate)
                    </td>
                    <td class="govuk-table__cell">
                        @notification.CompanyName
                    </td>
                    <td class="govuk-table__cell">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                            @*@Html.CheckBoxFor(m => notification.IsSelected,
        new { id = notification.NotificationNumber, title = notification.NotificationNumber, @class = "govuk-label govuk-checkboxes__label" })*@
                            @*@Html.CheckBoxFor(m => notification.IsSelected, new { id = notification.NotificationNumber, @class = "govuk-checkboxes__input" })
        <label class="govuk-label govuk-checkboxes__label" for="@notification.NotificationNumber" />*@

                            <input type="checkbox" class="govuk-checkboxes__input" id="@notification.NotificationNumber" title="@notification.NotificationNumber"/>
                            <label class="govuk-label govuk-checkboxes__label" for="@notification.NotificationNumber"/>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.NumberOfNotifications)
}
else
{
    <h1 class="govuk-heading-m">@ArchiveNotificationResources.NoResults</h1>
}

<div class="govuk-form-group">
    <p> <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button></p>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    </script>
}
