@model EA.Iws.Web.Areas.Admin.ViewModels.ArchiveNotification.ArchiveNotificationResultViewModel
@using EA.Iws.Requests.Notification;
@using EA.Iws.Web.Infrastructure.Paging;
@using EA.Iws.Web.Areas.Admin.Views.ArchiveNotification;

@{
    ViewBag.Title = "Archive notifications";
}

@helper DisplayDate(DateTimeOffset date)
{
    @date.ToString("d MMM yyyy")
}

<h1 class="govuk-heading-l">@ArchiveNotificationResources.Heading</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.HiddenFor(m => m.PageSize)
    @Html.HiddenFor(m => m.PageNumber)
    @Html.HiddenFor(m => m.NumberOfNotifications)

    <div id="dvInformationMessage" class="archive-notification-warning" style="display: none;">
        <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner-warning">
            <div class="govuk-notification-banner-header">
                <h2 class="govuk-notification-banner-title">Important</h2>
            </div>
            <div class="govuk-notification-banner-content">
                <p class="govuk-body">You may only select up to 25 notifications at a time for archiving.</p>
            </div>
        </div>
    </div>

    <h1 class="govuk-heading-m">
        @ArchiveNotificationResources.SelectNotifications
    </h1>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                @ArchiveNotificationResources.WhyAreWeAsking
            </span>
        </summary>
        <div class="govuk-details__text">
            @ArchiveNotificationResources.GdprBlurbStart
            <br />
            <br />
            @ArchiveNotificationResources.GdprBlurbEnd
        </div>
    </details>

    if (Model.HasAnyResults)
    {
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.NoNotificationsSelected)">
            @Html.Gds().ValidationMessageFor(m => m.NoNotificationsSelected)
            <div id="dvCountHeader">
                <span id="counter"></span> of 25 notifications selected
            </div>
            <div id="tblArchive" class="govuk-form-group">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.NotificationNumber</th>
                            <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Status</th>
                            <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.DateGenerated</th>
                            <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.CompanyName</th>
                            <th scope="col" class="govuk-table__header">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" id="selectAll" name="selectAll" type="checkbox">
                                    <label class="govuk-label govuk-checkboxes__label" for="selectAll" style="white-space:nowrap">
                                        Select all
                                    </label>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @for (int i = 0; i < Model.Notifications.Count; i++)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => m.Notifications[i].NotificationNumber)
                                    @Html.HiddenFor(m => m.Notifications[i].NotificationNumber)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => m.Notifications[i].Status)
                                    @Html.HiddenFor(m => m.Notifications[i].Status)
                                </td>
                                <td class="govuk-table__cell">
                                    @DisplayDate(Model.Notifications[i].CreatedDate)
                                    @Html.HiddenFor(m => m.Notifications[i].CreatedDate)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => m.Notifications[i].CompanyName)
                                    @Html.HiddenFor(m => m.Notifications[i].CompanyName)
                                </td>
                                <td class="govuk-table__cell">
                                    <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                        @Html.CheckBoxFor(m => m.Notifications[i].IsSelected, new { id = "@Model.Notifications[i].NotificationNumber", @class = "checkboxes__input checkboxes" })
                                        @Html.HiddenFor(m => m.Notifications[i].IsSelected)
                                    </div>
                                </td>
                                <td>
                                    @Html.HiddenFor(m => m.Notifications[i].Id)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="govuk-form-group" style="width: 800px">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.NumberOfNotifications)
        </div>
        <div class="govuk-form-group">
            <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
        </div>
    }
    else
    {
        <table class="govuk-table" id="tblArchive">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.NotificationNumber</th>
                    <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Status</th>
                    <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.DateGenerated</th>
                    <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.CompanyName</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="4">
                        <h1 class="govuk-heading-m">@ArchiveNotificationResources.NoResults</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}

@section scripts
{
    <script type="text/javascript">
        var count = 0;
        var numberOfCheckboxesChecked = $('.checkboxes:checked').length;
        $('#counter').html(numberOfCheckboxesChecked);

        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);

            var numberOfCheckboxesChecked = $('.checkboxes:checked').length;
            $('#counter').html(numberOfCheckboxesChecked);
        });

        $(".checkboxes").click(function () {
            var numberOfCheckboxes = $(".checkboxes").length;
            var numberOfCheckboxesChecked = $('.checkboxes:checked').length;
            $('#counter').html(numberOfCheckboxesChecked);

            if (numberOfCheckboxes == numberOfCheckboxesChecked) {
                $("#selectAll").prop("checked", true);
            } else {
                $("#selectAll").prop("checked", false);
            }

            if (numberOfCheckboxesChecked > 4) {
                $('#dvInformationMessage').show();
                //this.checked = false;
            } else {
                $('#dvInformationMessage').hide();
            }
        });
    </script>
}