@model EA.Iws.Web.Areas.Admin.ViewModels.ArchiveNotification.ArchiveNotificationReviewViewModel
@using EA.Iws.Web.Areas.Admin.Views.ArchiveNotification;

@{
    ViewBag.Title = "Review";
}

@helper DisplayDate(DateTimeOffset date)
{
    @date.ToString("d MMM yyyy")
}

<h1 class="govuk-heading-l">@ArchiveNotificationResources.Heading</h1>

@if (!Model.HasAnyResults)
{
    <div id="dvInformationMessage" class="archive-notification-warning">
        <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner-warning">
            <div class="govuk-notification-banner-header">
                <h2 class="govuk-notification-banner-title">Important</h2>
            </div>
            <div class="govuk-notification-banner-content">
                <p class="govuk-body">
                    You must select notifications for archive before proceeding. @Html.ActionLink("Go back to the notification list to select notifications for archiving.", "Index", "ArchiveNotification", new { @class = "govuk-link" })
                </p>
            </div>
        </div>
    </div>
}

<h2 class="govuk-heading-m">
    @ArchiveNotificationResources.ReviewConfirmationHeading
</h2>

<div class="govuk-form-group">
    <div id="div_orange" class="noteDiv"></div>
    <div style="margin-left:20px; padding-top: 7px;">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--orange" style="padding: 10px;">
                @ArchiveNotificationResources.Note
            </strong>
            <span class="govuk-phase-banner__text" style="font-weight: 700">
                @ArchiveNotificationResources.ReviewNote
            </span>
        </p>
    </div>
    
</div>

@if (Model.HasAnyResults)
{
    <div class="govuk-form-group">
        <div id="tblArchive" class="govuk-form-group">
            <table class="govuk-table" id="tblArchive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.NotificationNumber</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Status</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.DateActioned</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.CompanyName</th>
                        <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @for (int i = 0; i < Model.SelectedNotifications.Count; i++)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @Html.DisplayFor(m => m.SelectedNotifications[i].NotificationNumber)
                            </td>
                            <td class="govuk-table__cell">
                                @Html.DisplayFor(m => m.SelectedNotifications[i].Status)
                            </td>
                            <td class="govuk-table__cell">
                                @DisplayDate(Model.SelectedNotifications[i].CreatedDate)
                            </td>
                            <td class="govuk-table__cell">
                                @Html.DisplayFor(m => m.SelectedNotifications[i].CompanyName)
                            </td>
                            <td class="govuk-table__cell">
                                @Html.ActionLink(ArchiveNotificationResources.Remove, "Remove", "ArchiveNotification",
                                                 new { notificationId = Model.SelectedNotifications[i].Id },
                                                 new { title = Model.SelectedNotifications[i].NotificationNumber })
                            </td>
                            @Html.HiddenFor(m => m.SelectedNotifications[i].NotificationNumber)
                            @Html.HiddenFor(m => m.SelectedNotifications[i].Status)
                            @Html.HiddenFor(m => m.SelectedNotifications[i].CreatedDate)
                            @Html.HiddenFor(m => m.SelectedNotifications[i].CompanyName)
                            @Html.HiddenFor(m => m.SelectedNotifications[i].IsSelected)
                            @Html.HiddenFor(m => m.SelectedNotifications[i].Id)
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <table class="govuk-table" id="tblArchive">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.NotificationNumber</th>
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Status</th>
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.DateActioned</th>
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.CompanyName</th>
                <th scope="col" class="govuk-table__header">@ArchiveNotificationResources.Action</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="5">
                    <h1 class="govuk-heading-m">@ArchiveNotificationResources.NoNotificationsToArchiveMsg</h1>
                </td>
            </tr>
        </tbody>
    </table>
}

@using (Html.BeginForm("Archive", "ArchiveNotification", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    <button class="govuk-button" type="submit">@Constants.ConfirmButtonText</button>
}

<div class="govuk-form-group">
    @Html.ActionLink("Back", "Index", "ArchiveNotification", new { @class = "govuk-back-link" })
</div>
