@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.CarrierViewModel
@using Resources = EA.Iws.Web.Areas.NotificationMovements.Views.Create.AddIntendedCarrierResource

@{
	ViewBag.Title = Resources.Title;
	Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
}

<h1 class="heading-large">@Resources.Title</h1>
<p>@Resources.IntroText</p>
@using (Html.BeginForm(null, null, Model.MovementIds.ToRouteValueDictionary("movementIds"),
				FormMethod.Post, HtmlHelper.AnonymousObjectToHtmlAttributes(new { enctype = "multipart/form-data" })))
{
	@Html.AntiForgeryToken()

	<div class="form-group-compound @Html.Gds().FormGroupClass(m => m.SelectedCarrier)">
		@Html.Gds().ValidationMessageFor(m => m.SelectedCarrier)
		@Html.Gds().DropDownListFor(m => m.SelectedCarrier, Model.CarriersList, "Choose from Carriers...", new { title = Resources.CarrierListTitle, data_select_box = "true", tabindex = 1 })
		<button type="submit" name="command" value="addcarrier" tabindex="2" class="button-secondary">@Resources.AddCarrier</button>
	</div>

	<h2 class="heading-medium">@Resources.ChosenCarriers</h2>

	<div class="form-group">
		<table title="@Resources.CarrierTableTitle">
			<thead>
				<tr>
					<th>@Resources.Order</th>
					<th>@Resources.Carrier</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			@if (Model.SelectedCarriers.Count < 1)
			{
				<tr>
					<td colspan="3">@Resources.AwaitingCarriers</td>
				</tr>
			}
			@for (int i = 0; i < Model.SelectedCarriers.Count; i++)
			{
				var carrier = Model.CarriersList.Single(c => c.Value == Model.SelectedCarriers[i].Id.ToString());
				<tr>
					<td>@Model.SelectedCarriers[i].OrderName</td>
					<td>@Html.HiddenFor(m => m.SelectedCarriers[i].Id) @Html.HiddenFor(m => m.SelectedCarriers[i].Order) @Html.HiddenFor(m => m.SelectedCarriers[i].OrderName) @Html.Raw(carrier.Text)</td>
					<td><input name="SelectedCarriers[@i].Id" type="hidden" value="@Model.SelectedCarriers[i].Id" /></td>
					<td><button class="link-submit" type="submit" name="remove" value="@Model.SelectedCarriers[i].Id">@Resources.Remove</button></td>
				</tr>
			}
		</table>
	</div>

	<button class="button" type="submit" name="command" value="continue">@Constants.ContinueButtonText</button>
}
@Html.ActionLink(Resources.OptionLink,
	"Index",
	"Options",
	new { area = "NotificationApplication", id = ViewContext.RouteData.Values["notificationId"] },
	null)