@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.CarrierViewModel
@{
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
    ViewBag.Title = "Index";
}

@Html.Gds().ValidationSummary()

<header class="hgroup">
    <h2 class="heading-large">Which carriers will be used for this shipment?</h2>
    Choose all the carriers for this journey.
</header>

@Html.Partial("_MeansOfTransport", Model.MeansOfTransportViewModel)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MovementNumber)
    @Html.HiddenFor(m => m.NumberOfCarriers)
    for (int i = 0; i < Model.NotificationCarriers.Count; i++)
    {
        @Html.HiddenFor(m => m.NotificationCarriers[i].Id)
        @Html.HiddenFor(m => m.NotificationCarriers[i].Business.Name)
    }

    @Html.Gds().HintParagraph("Please make sure that the order of your carriers match up to the original means of transport that you specified.")

    <div id="carrier-select-lists">
        <div id="carrier-list-heading">
            <div class="grid-row">
                <div class="column-third">
                    Order of carriers
                </div>
                <div class="column-two-thirds">
                    Carrier name
                </div>
            </div>
        </div>
        @for (int i = 0; i < Model.NumberOfCarriers; i++)
        {
            <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedItems[i])">
                <div class="grid-row carrier-list">
                    <div class="column-third">
                        <p>
                        @Html.LabelFor(m => m.SelectedItems[i], 
                        EA.Iws.Web.Services.ViewService.WordForNumber(i + 1))
                        </p>
                    </div>
                    <div class="column-two-thirds">
                        @Html.Gds().ValidationMessageFor(m => m.SelectedItems[i])
                        @Html.Gds().DropDownListFor(m => m.SelectedItems[i], Model.CarrierSelectList, string.Empty)
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}

<div class="form-group">
    @Html.ActionLink("Change the number of carriers", "NumberOfCarriers")
</div>
