@using EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create
@using Resource = EA.Iws.Web.Areas.NotificationMovements.Views.Create.ConsentExpiresInThreeOrLessWorkingDaysResources
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.ThreeOrLessDaysViewModel

@{
    ViewBag.Title = Resource.Title;
}

<h1 class="govuk-heading-l">@Resource.Title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="govuk-form-group">@Resource.Body</div>
    <div class="govuk-form-group">@Resource.Warning</div>

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Selection)">
        @Html.Gds().ValidationMessageFor(m => m.Selection)
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.Selection, ThreeOrLessWorkingDaysSelection.ContinueAnyway, new { @id = "one", @class = "govuk-radios__input" })
                    <label class="govuk-label govuk-radios__label" for="one">
                        @Resource.ContinueAnywayOption
                    </label>
                </div>

                <div class="govuk-radios__item" data-target="change-date">
                    @Html.RadioButtonFor(m => m.Selection, ThreeOrLessWorkingDaysSelection.AbandonCreation, new { @id = "two", @class = "govuk-radios__input" })
                    <label class="govuk-label govuk-radios__label" for="two">
                        @Resource.AbandonOption
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">Continue</button>
    </div>
}