@using EA.Iws.Web.Areas.NotificationMovements.Views.Create;
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.CreateViewModel
@{
    ViewBag.Title = IndexResources.PageTitle;
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
}

<header class="hgroup"><h1 class="heading-large">@IndexResources.MainHeading</h1></header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.NumberToCreate)">
        @Html.Gds().LabelFor(m => m.NumberToCreate)
        @Html.Gds().TextBoxFor(m => m.NumberToCreate, new { max = 50 })
    </div>

    <div class="form-group">
        <button type="submit" class="button">@Constants.ContinueButtonText</button>
    </div>
}