@model EA.Iws.Core.Notification.UKCompetentAuthority
@using EA.Iws.Core.Notification
@using Resource = EA.Iws.Web.Areas.NotificationMovements.Views.Create.NoApprovedFinancialGuaranteeResources
@{
    ViewBag.Title = "NoApprovedFinancialGuarantee";
}

<h1 class="govuk-heading-l">@Resource.Title</h1>

<p>@Resource.Body</p>

<p>
    <ol class="list-number">
        <li>@Resource.ListItem1</li>
        <li>@Resource.ListItem2</li>
    </ol>
</p>

@if (Model != UKCompetentAuthority.Scotland)
{
    <div class="govuk-form-group">
        @Html.ActionLink(Resource.DownloadLink, "GenerateFinancialGuaranteeDocument", "Home", new { competentAuthority = Model, area = "FinancialGuarantee" }, null)
    </div>
}
else
{
<p class="text">
    @Resource.SepaPreLinkText
    @Resource.SepaDownloadBankLink
    @Resource.Or
    @Resource.SepaDownloadParentLink
    @Resource.SepaPostLinkText
    <br />
    Click <a href="https://beta.sepa.scot/regulation/authorisations-and-compliance/waste-export-and-import" target="_blank" rel="external">here</a> to view the Templates for the Financial Guarantee and Parent Company Guarantee on the SEPA website (opens in new window)</a>
</p>
}

@Html.ActionLink("Continue", "Index", "Options", new { area = "NotificationApplication", id = ViewContext.RouteData.Values["notificationId"] }, new { @class = "govuk-button" })