@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.NumberOfPackagesViewModel
@{
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
    ViewBag.Title = "Actual quantity";
}

<header class="hgroup">
    <h1 class="heading-large">How many packages will be used?</h1>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Number)">
        @Html.Gds().LabelFor(m => m.Number, false)
        @Html.Gds().ValidationMessageFor(m => m.Number)
        <div class="grid-row">
            <div class="column-third">
                @Html.Gds().TextBoxFor(m => m.Number, new
        {
            @class = "form-control form-control-wide",
            type = "number",
            min = 1,
            step = 1
        })
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}