@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.ShipmentDateViewModel

@{ 
    Layout = "~/Areas/NotificationMovements/Views/Shared/_CreateSummaryLayout.cshtml";
    ViewBag.Title = "Shipment date";
}

<header class="hgroup">
    <h1 class="heading-large">What is the actual date of shipment?</h1>
</header>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.MovementId)
    @Html.HiddenFor(m => m.StartDate)
    @Html.HiddenFor(m => m.EndDate)
    for (int i = 0; i < Model.MovementNumbers.Count; i++)
    {
        @Html.HiddenFor(m => m.MovementNumbers[i])
    }

    <p>
        You can schedule your shipments from 
        @Html.Gds().DisplayShortDateRangeFor(m => m.StartDate, m => m.EndDate).
    </p>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Day) @Html.Gds().FormGroupClass(m => m.Month) @Html.Gds().FormGroupClass(m => m.Year)">
        <fieldset>
            <legend>
                <span class="form-label">Departure date</span>
            </legend>

            <div class="form-date">
                @Html.Gds().HintParagraph(Model.DateHintText) 
                @Html.Gds().ValidationMessageFor(m => m.Day)
                @Html.Gds().ValidationMessageFor(m => m.Month)
                @Html.Gds().ValidationMessageFor(m => m.Year)
                <div class="form-group form-group-day">
                    @Html.Gds().LabelFor(m => m.Day)
                    @Html.Gds().TextBoxFor(m => m.Day, new { type = "number", min = "1", max = "31" })
                </div>
                <div class="form-group form-group-month">
                    @Html.Gds().LabelFor(m => m.Month)
                    @Html.Gds().TextBoxFor(m => m.Month, new { type = "number", min = "1", max = "12" })
                </div>
                <div class="form-group form-group-year">
                    @Html.Gds().LabelFor(m => m.Year)
                    @Html.Gds().TextBoxFor(m => m.Year, new { type = "number", min = "2015" })
                </div>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <p>
            <button class="button" type="submit">@Constants.ContinueButtonText</button>
        </p>
    </div>
}