@using EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create
@using Resource = EA.Iws.Web.Areas.NotificationMovements.Views.Create.ThreeWorkingDaysResources
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Create.ThreeWorkingDaysWarningViewModel
@{
    ViewBag.Title = Resource.Title;
}

<h1 class="heading-large">@Resource.Title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.HiddenFor(m => m.MovementNumber)

    <div class="form-group">@Resource.Body</div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Selection)">
        @Html.Gds().ValidationMessageFor(m => m.Selection)
        <fieldset>
            <label class="block-label" for="one">
                @Html.RadioButtonFor(m => m.Selection, ThreeWorkingDaysSelection.ContinueAnyway, new { @id = "one" })
                @Resource.ContinueAnywayOption
            </label>
            <label class="block-label" for="two" data-target="change-date">
                @Html.RadioButtonFor(m => m.Selection, ThreeWorkingDaysSelection.ChangeDate, new { @id = "two" })
                @Resource.ChangeDateOption
            </label>
        </fieldset>
    </div>

    <div class="panel-indent @(Model.Selection != ThreeWorkingDaysSelection.ChangeDate ? "js-hidden" : "")" id="change-date">

        <div class="form-group @Html.Gds().FormGroupClass(m => m.DateInput) 
                           @Html.Gds().FormGroupClass(m => m.DateInput.Day) 
                           @Html.Gds().FormGroupClass(m => m.DateInput.Month) 
                           @Html.Gds().FormGroupClass(m => m.DateInput.Year)">

            @Html.LabelFor(m => m.DateInput)
            @Html.Gds().HintSpan(Model.DateHintText)
            @Html.Gds().ValidationMessageFor(m => m.DateInput)
            @Html.EditorFor(m => m.DateInput)

        </div>

    </div>

    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}