@using EA.Iws.Core.WasteType
@using EA.Iws.Web.Areas.NotificationApplication.Views.PhysicalCharacteristics
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.PhysicalCharacteristics.PhysicalCharacteristicsViewModel
@{
    ViewBag.Title = PhysicalCharacteristicsResources.Title;
}
<header class="hgroup">
    <h1 class="govuk-heading-l">@PhysicalCharacteristicsResources.Header</h1>
    <p>@PhysicalCharacteristicsResources.HeaderDescription</p>
    <p>@PhysicalCharacteristicsResources.Select</p>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.PhysicalCharacteristics.ShowEnumValue)
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.PhysicalCharacteristics)">
        @Html.Gds().ValidationMessageFor(m => m.PhysicalCharacteristics)
        @Html.EditorFor(m => m.PhysicalCharacteristics)
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div id="list-item-other-container" class="govuk-form-group form-group-compound">
                    <div class="multiple-choice govuk-checkboxes__item" data-target="other-option">
                        @Html.CheckBoxFor(m => m.OtherSelected, new { id = "other-option-check", @class = "govuk-checkboxes__input" })
                        <label class="govuk-label govuk-checkboxes__label" for="other-option-check">
                            @((int)PhysicalCharacteristicType.Other) - @PhysicalCharacteristicsResources.Other
                        </label>
                    </div>
                </div>
                <div class="panel @(Model.OtherSelected ? "" : "js-hidden")" id="other-option">
                    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.OtherDescription)">
                        <label class="govuk-label" for="OtherDescription">@PhysicalCharacteristicsResources.OtherRequired</label>
                        @Html.Gds().ValidationMessageFor(m => m.OtherDescription)
                        @Html.Gds().TextBoxFor(m => m.OtherDescription, new { @id = "other-label" })
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}