@using EA.Iws.Core.WasteType
@using EA.Iws.Web.Areas.NotificationApplication.Views.PhysicalCharacteristics
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.PhysicalCharacteristics.PhysicalCharacteristicsViewModel
@{
    ViewBag.Title = PhysicalCharacteristicsResources.Title;
}
<header class="hgroup">
    <h1 class="heading-large">@PhysicalCharacteristicsResources.Header</h1>
    <p>@PhysicalCharacteristicsResources.HeaderDescription</p>
    <p>@PhysicalCharacteristicsResources.Select</p>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.PhysicalCharacteristics.ShowEnumValue)
    <div class="form-group">
        @Html.EditorFor(m => m.PhysicalCharacteristics)
        <fieldset>
            <div class="form-group form-group-compound">
                <label class="block-label" for="other-option-check" data-target="other-option">
                    @Html.CheckBoxFor(m => m.OtherSelected, new { id = "other-option-check" })
                    @((int)PhysicalCharacteristicType.Other) - @PhysicalCharacteristicsResources.Other
                </label>
            </div>
            <div class="panel-indent @(Model.OtherSelected ? "" : "js-hidden")" id="other-option">
                <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherDescription)">
                    <label class="form-label" for="OtherDescription">@PhysicalCharacteristicsResources.OtherRequired</label>
                    @Html.Gds().ValidationMessageFor(m => m.OtherDescription)<br />
                    @Html.EditorFor(m => m.OtherDescription, new { @id = "other-label" })
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}