@model EA.Iws.Web.ViewModels.Movement.MovementReceiptViewModel
@{
    ViewBag.Title = "Certificate of Receipt";
}

<h1 class="heading-large">Which shipment have you received?</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    
    @Html.HiddenFor(m => m.NotificationId)

    if (Model.RadioButtons == null || !Model.RadioButtons.PossibleValues.Any())
    {
        <p>You have no active shipments to record receipt for.</p>
    }
    else
    {
        <div class="form-group">
            @Html.Gds().ValidationMessageFor(m => m.RadioButtons.SelectedValue)
            @Html.EditorFor(m => m.RadioButtons)
        </div>
    }

    <div class="form-group-compound">
        <button class="button" type="submit">Continue</button>
    </div>

    @Html.ActionLink("Go to notification options",
            "ApprovedNotification",
            "Applicant",
            new { area = string.Empty, id = Model.NotificationId },
            null)
}

