@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Importer.ImporterViewModel

@{
    ViewBag.Title = "Importer - consignee";

    var message = "This information can be obtained from your importer – consignee. Enter \"Not applicable\" where no relevant registration number applies.";

    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.PartnershipRegistrationNumber = message;
    ViewBag.CompanyRegistrationNumber = message;
    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.OtherRegistrationNumber = message;
    ViewBag.NonJavascriptMessage = message;
   }

@using (Html.BeginForm("Index", "Importer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h2 class="heading-large">Importer - consignee
        </h2>
        <div class="colored-header-bar"></div>
    </header>

    @Html.EditorFor(m => m.Business)

    <h1 class="heading-medium">Address</h1>

    @Html.EditorFor(m => m.Address)

    <h1 class="heading-medium">Contact person</h1>

    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">Continue</button>
}