@using EA.Iws.Web.Areas.NotificationApplication.Views.Importer
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Importer.ImporterViewModel
@{
    ViewBag.Title = ImporterResources.Title;

    var message = ImporterResources.Message;

    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.PartnershipRegistrationNumber = message;
    ViewBag.CompanyRegistrationNumber = message;
    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.OtherRegistrationNumber = message;
    ViewBag.NonJavascriptMessage = message;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="heading-large">@ImporterResources.Header</h1>
    </header>

    @Html.EditorFor(m => m.Business)

    <h2 class="heading-medium">@ImporterResources.Address</h2>
    <hr />
    <p>@ImporterResources.AddressDescription</p>
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">@ImporterResources.Contact</h2>
    <hr />
    <p>@ImporterResources.ContactDescription</p>
    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}