@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Importer.ImporterViewModel
@{
    ViewBag.Title = "Importer - consignee";

    var message = "This information can be obtained from your importer – consignee. Enter \"Not applicable\" where no relevant registration number applies.";

    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.PartnershipRegistrationNumber = message;
    ViewBag.CompanyRegistrationNumber = message;
    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.OtherRegistrationNumber = message;
    ViewBag.NonJavascriptMessage = message;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h2 class="heading-large">Who is the importer - consignee?</h2>
        <div class="colored-header-bar"></div>
    </header>

    @Html.EditorFor(m => m.Business)

    <h2 class="heading-medium">Their address</h2>
    <hr />
    <p>This should be the correspondence address for the importer - consignee.</p>
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Their contact person</h2>
    <hr />
    <p>This should be the contact person for the importer - consignee.</p>
    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">Continue</button>
}