@model EA.Iws.Web.Areas.Admin.ViewModels.DateInputViewModel

<h2 class="heading-large">Which date(s) would you like to enter?</h2>

@using (Html.BeginForm())
{
@Html.Gds().ValidationSummary()
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification received date</span></summary>
                        @{if (Model.NotificationReceivedComplete){<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationReceivedDay) @Html.Gds().FormGroupClass(m => m.NotificationReceivedMonth) @Html.Gds().FormGroupClass(m => m.NotificationReceivedYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationReceivedDay)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationReceivedMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationReceivedYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.NotificationReceivedDay, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationReceivedDay, false)
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.NotificationReceivedMonth, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationReceivedMonth, false)
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.NotificationReceivedYear, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationReceivedYear, false)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>

                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Payment recieved date</span></summary>
                        @{if (Model.PaymentReceivedComplete){<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.PaymentReceivedDay) @Html.Gds().FormGroupClass(m => m.PaymentReceivedMonth) @Html.Gds().FormGroupClass(m => m.PaymentReceivedYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.PaymentReceivedDay)
                                    @Html.Gds().ValidationMessageFor(m => m.PaymentReceivedMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.PaymentReceivedYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.PaymentReceivedDay, false)
                                        @Html.Gds().TextBoxFor(m => m.PaymentReceivedDay, false)
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.PaymentReceivedMonth, false)
                                        @Html.Gds().TextBoxFor(m => m.PaymentReceivedMonth, false)
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.PaymentReceivedYear, false)
                                        @Html.Gds().TextBoxFor(m => m.PaymentReceivedYear, false)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Assessment commencement date and name of officer</span></summary>
                        @{if (Model.CommencementComplete){<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.CommencementDay) @Html.Gds().FormGroupClass(m => m.CommencementMonth) @Html.Gds().FormGroupClass(m => m.CommencementMonth)">
                            <fieldset>
                                <div class="form-date form-group">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.CommencementDay)
                                    @Html.Gds().ValidationMessageFor(m => m.CommencementMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.CommencementYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.CommencementDay, false)
                                        @Html.Gds().TextBoxFor(m => m.CommencementDay, false)
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.CommencementMonth, false)
                                        @Html.Gds().TextBoxFor(m => m.CommencementMonth, false)
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.CommencementYear, false)
                                        @Html.Gds().TextBoxFor(m => m.CommencementYear, false)
                                    </div>
                                </div>
                                <div>
                                    @Html.Gds().LabelFor(m => m.NameOfOfficer, false)
                                    @Html.Gds().TextBoxFor(m => m.NameOfOfficer, false)
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification complete date</span></summary>
                        @{if (Model.NotificationCompleteComplete){<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationCompleteDay) @Html.Gds().FormGroupClass(m => m.NotificationCompleteMonth) @Html.Gds().FormGroupClass(m => m.NotificationCompleteYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationCompleteDay)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationCompleteMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationCompleteYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.NotificationCompleteDay, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationCompleteDay, false)
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.NotificationCompleteMonth, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationCompleteMonth, false)
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.NotificationCompleteYear, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationCompleteYear, false)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification transmitted date</span></summary>
                        @{if (Model.NotificationTransmittedComplete){<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationTransmittedDay) @Html.Gds().FormGroupClass(m => m.NotificationTransmittedMonth) @Html.Gds().FormGroupClass(m => m.NotificationTransmittedYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationTransmittedDay)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationTransmittedMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationTransmittedYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.NotificationTransmittedDay, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationTransmittedDay, false)
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.NotificationTransmittedMonth, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationTransmittedMonth, false)
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.NotificationTransmittedYear, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationTransmittedYear, false)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification acknowledged date</span></summary>
                        @{if (Model.NotificationAcknowledgedComplete){<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationAcknowledgedDay) @Html.Gds().FormGroupClass(m => m.NotificationAcknowledgedMonth) @Html.Gds().FormGroupClass(m => m.NotificationAcknowledgedYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationAcknowledgedDay)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationAcknowledgedMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationAcknowledgedYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.NotificationAcknowledgedDay, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationAcknowledgedDay, false)
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.NotificationAcknowledgedMonth, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationAcknowledgedMonth, false)
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.NotificationAcknowledgedYear, false)
                                        @Html.Gds().TextBoxFor(m => m.NotificationAcknowledgedYear, false)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Decision required by date</span></summary>
                        @{if (Model.DecsionDateComplete){<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay, false)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay)
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth, false)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth)
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear, false)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear)
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Continue" />
    </div>
}