@model EA.Iws.Web.Areas.Admin.ViewModels.DateInputViewModel

<h2 class="heading-large">Which date(s) would you like to enter?</h2>


@using (Html.BeginForm())
{
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification received date</span></summary>
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay, new { type = "number", min = "1", max = "31", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth, new { type = "number", min = "1", max = "12", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear, new { type = "number", min = "2015", pattern = "[0-9]*" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Payment recieved date</span></summary>
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay, new { type = "number", min = "1", max = "31", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth, new { type = "number", min = "1", max = "12", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear, new { type = "number", min = "2015", pattern = "[0-9]*" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Assessment commencement date and name of officer</span></summary>
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay, new { type = "number", min = "1", max = "31", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth, new { type = "number", min = "1", max = "12", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear, new { type = "number", min = "2015", pattern = "[0-9]*" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification complete date</span></summary>
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay, new { type = "number", min = "1", max = "31", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth, new { type = "number", min = "1", max = "12", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear, new { type = "number", min = "2015", pattern = "[0-9]*" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification transmitted date</span></summary>
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay, new { type = "number", min = "1", max = "31", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth, new { type = "number", min = "1", max = "12", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear, new { type = "number", min = "2015", pattern = "[0-9]*" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification acknowledged date</span></summary>
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay, new { type = "number", min = "1", max = "31", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth, new { type = "number", min = "1", max = "12", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear, new { type = "number", min = "2015", pattern = "[0-9]*" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Decision required by date</span></summary>
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDay) @Html.Gds().FormGroupClass(m => m.DecisionMonth) @Html.Gds().FormGroupClass(m => m.DecisionYear)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDay)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionMonth)
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionYear)
                                    <div class="form-group form-group-day">
                                        @Html.Gds().LabelFor(m => m.DecisionDay)
                                        @Html.Gds().TextBoxFor(m => m.DecisionDay, new { type = "number", min = "1", max = "31", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-month">
                                        @Html.Gds().LabelFor(m => m.DecisionMonth)
                                        @Html.Gds().TextBoxFor(m => m.DecisionMonth, new { type = "number", min = "1", max = "12", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group form-group-year">
                                        @Html.Gds().LabelFor(m => m.DecisionYear)
                                        @Html.Gds().TextBoxFor(m => m.DecisionYear, new { type = "number", min = "2015", pattern = "[0-9]*" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Continue" />
    </div>
}