@model EA.Iws.Web.Areas.NotificationAssessment.ViewModels.DecisionViewModel

<h1 class="heading-large">What key activities would you like to complete?</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.AntiForgeryToken()

    <h2 class="heading-medium">Decision made date</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionMadeDate) @Html.Gds().FormGroupClass(m => m.DecisionMadeDate.Day) @Html.Gds().FormGroupClass(m => m.DecisionMadeDate.Year)">
        <fieldset>
            <div class="form-date">
                @Html.Gds().HintParagraph("For example, 31 3 2015")
                @Html.Gds().ValidationMessageFor(m => m.DecisionMadeDate)
                @Html.EditorFor(m => m.DecisionMadeDate)
            </div>
        </fieldset>
    </div>

    <h2 class="heading-medium">Decision</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionTypes)">
        @Html.Gds().ValidationMessageFor(m => m.DecisionType)
        @Html.Gds().DropDownListFor(m => m.DecisionType, Model.DecisionTypes)
    </div>

    <h2 class="heading-medium">Consent valid from</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.ConsentValidFromDate)  @Html.Gds().FormGroupClass(m => m.ConsentValidFromDate.Day) @Html.Gds().FormGroupClass(m => m.ConsentValidFromDate.Year)">
        <fieldset>
            <div class="form-date">
                @Html.Gds().ValidationMessageFor(m => m.ConsentValidFromDate)
                @Html.EditorFor(m => m.ConsentValidFromDate)
            </div>
        </fieldset>
    </div>

    <h2 class="heading-medium">Consent valid to</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.ConsentValidToDate)  @Html.Gds().FormGroupClass(m => m.ConsentValidToDate.Day) @Html.Gds().FormGroupClass(m => m.ConsentValidToDate.Year)">
        <fieldset>
            <div class="form-date">
                @Html.Gds().ValidationMessageFor(m => m.ConsentValidToDate)
                @Html.EditorFor(m => m.ConsentValidToDate)
            </div>
        </fieldset>
    </div>

    <h2 class="heading-medium">Conditions of consent</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m =>m.ConditionsOfConsent)">
        @Html.Gds().ValidationMessageFor(m => m.ConditionsOfConsent)
        @Html.TextAreaFor(m => m.ConditionsOfConsent, new { @class = "text-area two-thirds" })
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText" />
    </div>
}