@using EA.Iws.Web.Infrastructure
@model EA.Iws.Web.ViewModels.Applicant.ApprovedNotificationViewModel
@{
    ViewBag.Title = "View Approved Notification";
}
<header class="hgroup text">
    <h2 class="heading-large">What would you like to do next?</h2>
</header>

@using (Html.BeginForm("ApprovedNotification", "Applicant"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="form-group @Html.Gds().FormGroupClass(m => m.UserChoices.SelectedValue)">
        @Html.Gds().ValidationMessageFor(model => model.UserChoices.SelectedValue)
        @Html.EditorFor(m => m.UserChoices)
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Continue" />
    </div>
    <p>@Html.ActionLink("Return to My account", "Home", "Applicant", new { id = User.GetUserId(), area = string.Empty }, null)</p>
}