@using EA.Iws.Web.Views.Applicant
@{
    ViewBag.Title = HomeResources.Title;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@HomeResources.Header</h1>

        <h2 class="heading-medium">@HomeResources.HeaderStartNew</h2>
        <p>
            @HomeResources.Start <a href="https://www.gov.uk/importing-and-exporting-waste" 
                                    target="_blank" 
                                    title="@HomeResources.TitleSupportingInfo"
                                    rel="external"
                                    data-track="element" 
                                    data-category="Export notification" 
                                    data-action="Supporting information">@HomeResources.SupportingInfo</a>
            @HomeResources.First

            <span class="visuallyhidden">@HomeResources.Message</span>
            <br/>
            @HomeResources.OrYouCan @Html.ActionLink(HomeResources.CopyNotification, "CompetentAuthority", "NewNotification", new { cfp = 1 }, null)@HomeResources.FullStop
        </p>

        <p id="get-started" class="get-started group">
            @Html.ActionLink(HomeResources.StartNewNotification, "CompetentAuthority", "NewNotification", null, new { @class = "button"})
        </p>
        
    </div>
    <div class="column-third" id="submit-side-bar">
        <h3 class="heading-medium">@HomeResources.HeaderAccountServices</h3>
        <ul>
            <li>@Html.ActionLink(HomeResources.AccountDetails, "ChangeAccountDetails", "Registration")</li>
            <li>@Html.ActionLink(HomeResources.AddressBook, "Index", "Home", new { area = "AddressBook" }, null)</li>
        </ul>
    </div>
</div>

<div class="form-group"></div>

<h2 class="heading-medium">@HomeResources.HeaderManageYourNotifications</h2>

@Html.Action("_GetUserNotifications")