@using EA.Iws.Web.Infrastructure.Paging
@using EA.Iws.Web.Views.Applicant
@model EA.Iws.Web.ViewModels.Applicant.UserNotificationsViewModel
@{
    ViewBag.Title = HomeResources.Title;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@HomeResources.Header</h1>

        <h2 class="heading-medium">@HomeResources.HeaderStartNew</h2>
        <p>
            @HomeResources.Start <a href="https://www.gov.uk/importing-and-exporting-waste" 
                                    target="_blank" 
                                    title="@HomeResources.TitleSupportingInfo"
                                    rel="external"
                                    data-track="element" 
                                    data-category="Export notification" 
                                    data-action="Supporting information">@HomeResources.SupportingInfo</a>
            @HomeResources.First

            <span class="visuallyhidden">@HomeResources.NewBrowserMessage</span>
            <br/>
            @HomeResources.OrYouCan @Html.ActionLink(HomeResources.CopyNotification, "CompetentAuthority", "NewNotification", new { cfp = 1 },
                                   new { data_track = "element", data_category = "Export notification", data_action = "Copy" })@HomeResources.FullStop
        </p>

        <p id="get-started" class="get-started group">
            @Html.ActionLink(HomeResources.StartNewNotification, "CompetentAuthority", "NewNotification", null,
                new { @class = "button", data_track = "element", data_category = "Export notification", data_action = "Start" })
        </p>
        
    </div>
    <div class="column-third" id="submit-side-bar">
        <h3 class="heading-medium">@HomeResources.HeaderAccountServices</h3>
        <ul>
            <li>@Html.ActionLink(HomeResources.AccountDetails, "ChangeAccountDetails", "Registration")</li>
            <li>@Html.ActionLink(HomeResources.AddressBook, "Index", "Home", new { area = "AddressBook" }, null)</li>
        </ul>
    </div>
</div>

<div class="form-group"></div>

<h2 class="heading-medium">@HomeResources.HeaderManageYourNotifications</h2>

@if (ViewBag.Errors != null && ((IEnumerable<string>)ViewBag.Errors).Any())
{
    <p>@HomeResources.ErrorMessage</p>
}

@if (Model.NumberOfNotifications == 0 && Model.SelectedNotificationStatus == null)
{
    <p>@HomeResources.MessageNoNotification</p>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="grid-row form-group">
            <div class="column-two-thirds">
                @Html.DropDownListFor(m => m.SelectedNotificationStatus, Model.NotificationStatuses, new { @class = "form-control view-by" })
                <button id="updateStatus" class="button" type="submit">@HomeResources.Update</button>
            </div>
        </div>
    }

    <table class="odd-table" title="@HomeResources.TitleManageNotifications">
        <caption class="visuallyhidden">@HomeResources.TableCaption</caption>
        <thead>
        <tr>
            <th>
                @HomeResources.ThNotificationNumber
            </th>
            <th>
                @HomeResources.ThStatus
            </th>
            <th>
                @HomeResources.ThExporter
            </th>
            <th>
                @Html.Raw(HomeResources.ProducerTableHeader)
            </th>
            <th>
                @HomeResources.ThImporter
            </th>
            <th>
                @HomeResources.ThAction
            </th>
        </tr>
        </thead>

        <tbody>
        @for (int i = 0; i < Model.Notifications.Count; i++)
        {
            <tr>
                <td>
                    @Html.Raw(Model.Notifications[i].NotificationNumber.Replace(" ", "&nbsp;"))
                </td>
                <td>
                    <span class="statusbox @Html.ExportStatus().DisplayColorClass(Model.Notifications[i].Status) table">@Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Notifications[i].Status).ToUpperInvariant().Replace(" ", "&nbsp;")) </span>
                </td>
                <td>
                    @Model.Notifications[i].Exporter
                </td>
                <td>
                    @Model.Notifications[i].Producer
                </td>
                <td>
                    @Model.Notifications[i].Importer
                </td>
                <td>
                    @Html.ActionLink(linkText: HomeResources.LinkChoose, actionName: "Index", controllerName: "Options",
                        routeValues: new { id = Model.Notifications[i].Id, area = "NotificationApplication" }, htmlAttributes: new { @title = Model.Notifications[i].NotificationNumber })
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.NumberOfNotifications).Options(o =>
        {
            if (Model.SelectedNotificationStatus != null)
            {
                o.AddRouteValue("status", (int)Model.SelectedNotificationStatus.Value);
            }
        })
    </div>
}    

@section scripts {
    <script>
        $(function() {
            $("#updateStatus").hide();
            $("#@Html.NameFor(m => m.SelectedNotificationStatus)").change(function() {
                $("#updateStatus").parents("form").submit();
            });
        });
    </script>
}