@using Resource = EA.Iws.Web.Areas.AdminImportNotificationMovements.Views.Capture.CreateResources
@model EA.Iws.Web.Areas.AdminImportNotificationMovements.ViewModels.Capture.CreateViewModel

@{
    ViewBag.Title = Resource.PageTitle;
}


    <div class="column-two-thirds">
        <h1 class="heading-large">@Resource.MainHeading</h1>

        <p>@string.Format(Resource.CurrentShipmentParagraph, Model.Number)</p>

        @Html.Partial("_Prenotify")

        @Html.ActionLink(Resource.ReturnToSummary, "Index", "Home")
    </div>


@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", section = ImportNavigationSection.Shipments })
}

@section scripts {
    <script>
        var prenotificationDateSelector = $("#PrenotificationDate_Day, #PrenotificationDate_Month, #PrenotificationDate_Year");

        function togglePrenotificationDate(checked) {
            if (checked) {
                prenotificationDateSelector
                    .val('')
                    .attr('readonly', true)
                    .css('background-color', '#DEDEDE')
                    .css('color', 'gray');
            } else {
                prenotificationDateSelector
                    .attr('readonly', false)
                    .css('background-color', 'white')
                    .css('color', 'black');
            }
        }

        togglePrenotificationDate($('#HasNoPrenotification').is(':checked'));

        $(function () {
            $("#HasNoPrenotification").click(function () {
                togglePrenotificationDate($('#HasNoPrenotification').is(':checked'));
            });
        });
    </script>
}