@using EA.Iws.Core.Admin
@using EA.Iws.Core.FinancialGuarantee
@model EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.FinancialGuaranteeDecision.FinancialGuaranteeDecisionViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.IsCompleted)
    @Html.HiddenFor(m => m.IsReceived)
    for (int i = 0; i < Model.AvailableDecisions.Count; i++)
    {
        @Html.HiddenFor(m => m.AvailableDecisions[i])
    }

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Decision)">
        @Html.Gds().LabelFor(m => m.Decision, false)
        @Html.Gds().ValidationMessageFor(m => m.Decision)
        @Html.Gds().DropDownListFor(m => m.Decision, Model.AvailableDecisionsList, string.Empty, new { id = "decision-select" })
    </div>

    <div id="status" class="js-hidden">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDate.Day) @Html.Gds().FormGroupClass(m => m.DecisionDate.Month) @Html.Gds().FormGroupClass(m => m.DecisionDate.Year)">
            @Html.Gds().LabelFor(m => m.DecisionDate, false)
            @Html.Gds().ValidationMessageFor(m => m.DecisionDate)
            @Html.EditorFor(m => m.DecisionDate)
        </div>

        <div id="@Html.Raw("status" + FinancialGuaranteeDecision.Approved)" class="js-hidden guarantee-decision">
            @Html.Partial("_Approve")
        </div>

        <div id="@Html.Raw("status" + FinancialGuaranteeDecision.Refused)" class="js-hidden guarantee-decision">
            @Html.Partial("_Refuse")
        </div>

        <div id="@Html.Raw("status" + FinancialGuaranteeDecision.Released)" class="js-hidden guarantee-decision">
            @Html.Partial("_Release")
        </div>
    </div>

    <div class="form-group">
        <button class="button" type="submit" name="submit" value="decision">@Constants.ContinueButtonText</button>
    </div>
}
