@using EA.Iws.Web.Areas.NotificationMovements.Views.Home;
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Home.CreateSummaryViewModel

<p>
    <span>@Html.Raw(Model.SummaryData.NotificationNumber)</span>
</p>

<ul class="summary-list">
    @if (Model.NewShipmentNumbers.Any())
    {
        if (Model.NewShipmentNumbers.Count > 1)
        {
            <li>
                <span class="grey-text">@SummaryResources.ShipmentNumbers</span>
                @string.Format(SummaryResources.ShipmentNumbersRangeFormat, 
                    Model.NewShipmentNumbers.Min(), 
                    Model.NewShipmentNumbers.Max())
            </li>
        }
        else
        {
            <li>
                <span class="grey-text">@SummaryResources.ShipmentNumber</span>
                @Model.NewShipmentNumbers.First()
            </li>
        }
    }
    <li><span class="grey-text">@SummaryResources.TotalShipments</span> @Html.Raw(Model.SummaryData.TotalShipments)</li>
    <li><span class="grey-text">@SummaryResources.ActiveLoadsPermitted</span> @Html.Raw(Model.SummaryData.ActiveLoadsPermitted)</li>
    <li><span class="grey-text">@SummaryResources.CurrentActiveLoads</span> @Html.Raw(Model.SummaryData.CurrentActiveLoads)</li>
    <li>
        <span class="grey-text">@SummaryResources.QuantityReceived</span>
        @Html.Raw(Model.SummaryData.QuantityReceived.ToString("G29"))
        @Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetShortName(Model.SummaryData.DisplayUnit))
    </li>
    <li>
        <span class="grey-text">@SummaryResources.QuantityRemaining</span>
        @Html.Raw(Model.SummaryData.QuantityRemaining.ToString("G29"))
        @Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetShortName(Model.SummaryData.DisplayUnit))
    </li>
</ul>

