@using EA.Iws.Web.Areas.NotificationMovements.Views.Home;
@model EA.Iws.Core.Movement.BasicMovementSummary

<p>
    <span>@Html.Raw(Model.NotificationNumber)</span>
</p>

<ul class="summary-list">
    <li> <span class="grey-text">@SummaryResources.TotalShipments</span> @Html.Raw(Model.TotalShipments)</li>
    <li><span class="grey-text">@SummaryResources.ShipmentsUsed</span> @Html.Raw(Model.ShipmentsUsed)</li>
    <li><span class="grey-text">@SummaryResources.ActiveLoadsPermitted</span> @Html.Raw(Model.ActiveLoadsPermitted)</li>
    <li><span class="grey-text">@SummaryResources.CurrentActiveLoads</span> @Html.Raw(Model.CurrentActiveLoads)</li>
    <li>
        <span class="grey-text">@SummaryResources.QuantityReceived</span>
        @Html.Raw(Model.QuantityReceived.ToString("G29"))&nbsp;@Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetShortName(Model.DisplayUnit))
    </li>
    <li>
        <span class="grey-text">@SummaryResources.QuantityRemaining</span>
        @Html.Raw(Model.QuantityRemaining.ToString("G29"))&nbsp;@Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetShortName(Model.DisplayUnit))
    </li>
</ul>
