@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.ReceiptViewModel
@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Shared.EditorTemplates.ReceiptResources

<div class="form-group">
    <h3 class="heading-small" style="margin-top: 0">@Resource.ActualQuantityQuestion</h3>
    <p>@Resource.ActualQuantityHint</p>
    @Html.LabelFor(m => m.ActualQuantity, new { @class = "form-label" })
    @Html.Gds().ValidationMessageFor(m => m.ActualQuantity)
    @Html.Gds().ValidationMessageFor(m => m.ActualUnits)
    <div class="grid-row">
        <div class="column-third">
            @Html.Gds().TextBoxFor(m => m.ActualQuantity, new { type = "number", min = 0, step = "any", @class = "form-control form-control-wide" })
        </div>
        <div class="column-third">
            @Html.Gds().DropDownListFor(m => m.ActualUnits, Model.UnitSelectList, new { @class = "form-control form-control-wide" })
            @for (int i = 0; i < Model.PossibleUnits.Count; i++)
            {
                @Html.HiddenFor(m => m.PossibleUnits[i])
            }
        </div>
    </div>
</div>
