@using Resources = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Home.IndexResources
@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.CaptureMovement.CreateEditResources
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.CaptureViewModel

<div class="column-one-third stickem">
    <div id="form-menu">
        <p>
            <span>@Html.Raw(Model.NotificationNumber)</span>
        </p>
        <ul class="summary-list">
            <li> <span class="grey-text">@Resources.TotalShipments</span> @Html.Raw(Model.IntendedShipments)</li>
            <li><span class="grey-text">@Resources.SummaryTitleNumber</span> @Html.Raw(Model.UsedShipments)</li>
            <li><span class="grey-text">@Resources.SummaryTitleActive</span> @Html.Raw(Model.ActiveLoads)</li>
            <li><span class="grey-text">@Resources.SummaryTitleReceived</span> @Html.Raw(Model.QuantityReceivedTotal)</li>
            <li>
                <span class="grey-text">@Resources.SummaryTitleRemaining</span>
                @Html.Raw(Model.QuantityRemainingTotal)
            </li>
            <li>
                <span class="grey-text">@Resources.AverageTonnage</span>
                @Html.Raw(Model.AverageTonnage)
            </li>
        </ul>
    </div>
    <div>
        @Html.ActionLink(Resource.ReturnToSummary, "Index", "Home")
    </div>
    @if (Model.ShowShipmentDatesOverride)
            {
        <div>
            @Html.ActionLink(Resource.UpdateShipmentDataLinkText, "Index", "MovementOverride", new { id = Model.NotificationId, movementId = Model.MovementId }, null)
        </div>
    }
    <br />
   @using (Html.BeginForm("ChangeShipment", "CaptureMovement", FormMethod.Post))
   {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ShipmentNumber)
    <p>
        <label class="heading-small">@string.Format(Resource.ShipmentNumber, Model.ShipmentNumber)</label>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.NewShipmentNumber)">
            @Html.Gds().ValidationMessageFor(m => m.NewShipmentNumber)
            @Html.Gds().TextBoxFor(m => m.NewShipmentNumber, new { type = "number", min = 1, @class = "form-control", placeholder = @Resource.ChangeShipmentPlaceholder })
            <button class="button" type="submit">@Resources.ChangeShipment</button>
        </div>
    </p>
   }

</div>
