@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.ReceiptViewModel
@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Shared.EditorTemplates.ReceiptResources

<div class="form-group">
    <h3 class="heading-small">@Html.DisplayNameFor(m => m.ReceivedDate)</h3>
    <p>@Html.Gds().DisplayDate(Model.ReceivedDate.Date.Value)</p>
</div>

<div class="form-group">
    <h3 class="heading-small">@Html.DisplayName(Resource.ShipmentAcceptedLable)</h3>
    <p>@(Model.ShipmentTypes == ShipmentType.Accepted ? "Yes" : (Model.ShipmentTypes == ShipmentType.Rejected ? "No" : "Partialy"))</p>
</div>

@if (Model.ShipmentTypes == ShipmentType.Accepted)
{
    <div class="form-group">
        <h3 class="heading-small">@Html.DisplayNameFor(m => m.ActualQuantity)</h3>
        <p>@Model.ActualQuantity.Value.ToString("G29") @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.ActualUnits.Value)</p>
    </div>
}
else if (Model.ShipmentTypes == ShipmentType.Partially)
{
    <div class="form-group">
        <h3 class="heading-small">@Html.DisplayNameFor(m => m.RejectionReason)</h3>
        <p>@Model.RejectionReason</p>
    </div>

    <div class="form-group">
        <h3 class="heading-small">@Html.DisplayNameFor(m => m.RejectedQuantity)</h3>
        <p>@Model.RejectedQuantity.Value.ToString("G29") @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.RejectedUnits.Value)</p>
    </div>

    <div class="form-group">
        <h3 class="heading-small">@Html.DisplayNameFor(m => m.ActualQuantity)</h3>
        <p>@Model.ActualQuantity.Value.ToString("G29") @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.ActualUnits.Value)</p>
    </div>
}
else if (Model.ShipmentTypes == ShipmentType.Rejected)
{
    <div class="form-group">
        <h3 class="heading-small">@Html.DisplayNameFor(m => m.RejectionReason)</h3>
        <p>@Model.RejectionReason</p>
    </div>

    <div class="form-group">
        <h3 class="heading-small">@Html.DisplayNameFor(m => m.RejectedQuantity)</h3>
        <p>@Model.RejectedQuantity.Value.ToString("G29") @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.RejectedUnits.Value)</p>
    </div>
}