@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.CaptureMovement.CreateEditResources
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.CaptureViewModel

@{
    ViewBag.Title = Resource.PageTitle;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Resource.MainHeading</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            @Html.HiddenFor(m => m.NotificationType)

            <div class="form-group @Html.Gds().FormGroupClass(m => m.ShipmentNumber)">
                @Html.Gds().LabelFor(m => m.ShipmentNumber, new { @class = "form-label-bold" })
                @Html.Gds().ValidationMessageFor(m => m.ShipmentNumber)
                @Html.Gds().TextBoxFor(m => m.ShipmentNumber, new { type = "number", min = 1, @class = "form-control-narrow" })
            </div>

            @Html.Partial("_Prenotify")

            <hr/>

            @Html.EditorFor(m => m.Receipt)

            <hr/>

            @Html.EditorFor(m => m.Recovery)
            <hr/>

            @Html.Partial("_Comments")

            <button class="button" type="submit">@Constants.ContinueButtonText</button>

        }
    </div>
</div>

@Html.ActionLink(Resource.ReturnToSummary, "Index", "Home")

@section scripts {
    @Html.Partial("_Scripts")

    <script>
        $(function() {
            $("#ShipmentNumber").focus();
        })
    </script>
}