@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.CaptureMovement.CreateResources
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.CreateViewModel

@{
    ViewBag.Title = Resource.PageTitle;
}

@if (ViewData.ModelState.IsValid && Model.ShipmentNumber != null)
{
    <div class="grid-row">
        <div class="column-full">
            <div id="status-box-saved" name="status-box-saved">
                <h2 class="heading-small">@Resource.ChangesSaved</h2>
            </div>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Resource.MainHeading</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            @Html.HiddenFor(m => m.LatestCurrentMovementNumber)
            @Html.HiddenFor(m => m.NotificationId)
            @Html.HiddenFor(m => m.NotificationType)
            if (ViewData.ModelState.IsValid && Model.ShipmentNumber != null)
            {
                <h1 class="data-item bold-xxlarge">@string.Format(Resource.ShipmentNumber, Model.ShipmentNumber)</h1>
            }

            <div class="form-group @Html.Gds().FormGroupClass(m => m.ShipmentNumber)">
                @Html.Gds().LabelFor(m => m.ShipmentNumber, new { @class = "form-label-bold" })
                @if (Model.LatestCurrentMovementNumber == 0)
                {
                    @Html.Gds().HintSpan(Resource.ZeroMovements)
                }
                else
                {
                    @Html.Gds().HintSpan(string.Format(Resource.LatestNumber, Model.LatestCurrentMovementNumber))
                }
                @Html.Gds().ValidationMessageFor(m => m.ShipmentNumber)
                @Html.Gds().TextBoxFor(m => m.ShipmentNumber, new { type = "number", min = 1 })
            </div>

            @Html.Partial("_Prenotify")

            <hr />

            @Html.EditorFor(m => m.Receipt)

            <hr />

            @Html.EditorFor(m => m.Recovery)
            <hr />

            <button class="button" type="submit">@Constants.ContinueButtonText</button>

        }
    </div>
</div>
@Html.ActionLink(Resource.ReturnToSummary, "Index", "Home", new { area = "AdminExportNotificationMovements", id = Model.NotificationId }, null)

@section scripts {
    <script>
        var prenotificationDateSelector = $("#PrenotificationDate_Date");

        function togglePrenotificationDate(checked) {
            if (checked) {
                prenotificationDateSelector
                    .val('')
                    .attr('readonly', true)
                    .css('background-color', '#DEDEDE')
                    .css('color', 'gray');
            } else {
                prenotificationDateSelector
                    .attr('readonly', false)
                    .css('background-color', 'white')
                    .css('color', 'black');
            }
        }

        togglePrenotificationDate($('#HasNoPrenotification').is(':checked'));

        $(function () {
            $("#HasNoPrenotification").click(function () {
                togglePrenotificationDate($('#HasNoPrenotification').is(':checked'));
            });

            $("#ShipmentNumber").focus();
        });
    </script>
}