@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.CaptureMovement.CreateEditResources
@using Resources = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Home.IndexResources
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.CaptureViewModel

@{
    ViewBag.Title = Resource.PageTitle;
}

<div class="grid-row container">
<div class="stickem-row stickem-container">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Resource.MainHeading</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            @Html.HiddenFor(m => m.NotificationType)

            <div class="form-group @Html.Gds().FormGroupClass(m => m.ShipmentNumber)">
                @Html.Gds().LabelFor(m => m.ShipmentNumber, new { @class = "form-label-bold" })
                @Html.Gds().ValidationMessageFor(m => m.ShipmentNumber)
                @Html.Gds().TextBoxFor(m => m.ShipmentNumber, new { type = "number", min = 1, @class = "form-control-narrow" })
            </div>

            @Html.Partial("_Prenotify")

            <hr/>

            @Html.EditorFor(m => m.Receipt)

            <hr/>

            @Html.EditorFor(m => m.Recovery)
            <hr/>

            @Html.Partial("_Comments")

            <button class="button" type="submit">@Constants.ContinueButtonText</button>

        }
        @Html.ActionLink(Resource.ReturnToSummary, "Index", "Home")
        </div>
        <br/>
        <div class="column-one-third stickem" id="floatingSummary">         
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" class="heading-small">@Model.NotificationNumber</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Resources.SummaryTitleIntended</td>
                            <td>@Model.IntendedShipments</td>
                        </tr>
                        <tr>
                            <td>@Resources.SummaryTitleNumber</td>
                            <td>@Model.UsedShipments</td>
                        </tr>
                        <tr>
                            <td>@Resources.SummaryTitleActive</td>
                            <td>@Model.ActiveLoads</td>
                        </tr>
                        <tr>
                            <td>@Resources.SummaryTitleReceived</td>
                            <td>@Model.QuantityReceivedTotal</td>
                        </tr>
                        <tr>
                            <td>@Resources.SummaryTitleRemaining</td>
                            <td>@Model.QuantityRemainingTotal</td>
                        </tr>
                        <tr>
                            <td>@Resource.AverageTonnage</td>
                            <td>@Model.AverageTonnage</td>
                        </tr>
                    </tbody>
                </table>          
        </div>
    </div>
</div>


@section scripts {
    @Html.Partial("_Scripts")

    <script>
        $(function() {
            $("#ShipmentNumber").focus();
        });
    </script>

<script src="~/Scripts/jquery.stickem.js"></script>
<script>
    $(document).ready(function () {
        $('.container').stickem();
    });
</script>
}
