@model EA.Iws.Web.ViewModels.StateOfExport.EditStateOfExportViewModel

@Html.HiddenFor(m => m.ShowNextSection)

<div class="form-group @Html.Gds().FormGroupClass(m => m.CountryId)">
    @Html.Gds().LabelFor(m => m.CountryId, new { @class = "form-label-bold" })
    @Html.Gds().HintParagraph("This is the country or state where the waste begins its journey")
    @Html.Gds().DropDownListFor(m => m.CountryId, Model.Countries)
</div>

<div class="form-group">
    <button class="button" type="submit" value="country" name="country">Continue</button>
</div>