@model EA.Iws.Web.ViewModels.NotificationApplication.ExporterNotifier

@{
    ViewBag.Title = "Exporter Notifier";
}

@using (Html.BeginForm("ExporterNotifier", "NotificationApplication", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <header class="hgroup">
        <h1 class="heading-medium">Waste Exporter - Notifier</h1>
        <div class="colored-header-bar"></div>
    </header>

    <div class="form-group">
        @Html.HiddenFor(m => m.NotificationId)
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        @Html.Gds().LabelFor(m => m.Name, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group" @Html.Gds().FormGroupClass(m => m.EntityType)>
        @Html.ValidationMessageFor(m => m.EntityType)
        <label class="form-label">Organisation Type</label>
        <label class="block-label" data-target="sole-trader-number">
            @Html.RadioButtonFor(m => m.EntityType, "Sole Trader") Sole Trader
        </label>
        <div class="panel-indent @(Model.EntityType != null && Model.EntityType.Equals("Sole Trader") ? "" : "js-hidden")" id="sole-trader-number">
            <div class="form-group" @Html.Gds().FormGroupClass(m => m.SoleTraderRegistrationNumber)>
                @Html.ValidationMessageFor(m => m.SoleTraderRegistrationNumber)
                @Html.Gds().LabelFor(m => m.SoleTraderRegistrationNumber)
                @Html.Gds().TextBoxFor(m => m.SoleTraderRegistrationNumber)
            </div>
        </div>

        <label class="block-label" data-target="partnership-number">
            @Html.RadioButtonFor(m => m.EntityType, "Partnership") Partnership
        </label>
        <div class="panel-indent @(Model.EntityType != null && Model.EntityType.Equals("Partnership") ? "" : "js-hidden")" id="partnership-number">
            <div class="form-group" @Html.Gds().FormGroupClass(m => m.SoleTraderRegistrationNumber)>
                @Html.ValidationMessageFor(m => m.PartnershipRegistrationNumber)
                @Html.Gds().LabelFor(m => m.PartnershipRegistrationNumber)
                @Html.Gds().TextBoxFor(m => m.PartnershipRegistrationNumber)
            </div>
        </div>

        <label class="block-label" data-target="companies-house-number">
            @Html.RadioButtonFor(m => m.EntityType, "Limited Company") Limited Company
        </label>
        <div class="panel-indent @(Model.EntityType != null && Model.EntityType.Equals("Limited Company") ? "" : "js-hidden")" id="companies-house-number">
            <div class="form-group" @Html.Gds().FormGroupClass(m => m.CompaniesHouseReference)>
                @Html.ValidationMessageFor(m => m.CompaniesHouseReference)
                @Html.Gds().LabelFor(m => m.CompaniesHouseReference)
                @Html.Gds().TextBoxFor(m => m.CompaniesHouseReference)
            </div>
            <div class="form-group">
                <details>
                    <summary><span class="summary">Where can I find my company number</span></summary>
                    <div class="panel-indent">
                        <p>
                            You will find your company number on your Certificate of Incorporation.
                        </p>
                    </div>
                </details>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(model => model.RegistrationNumber2, "", new { @class = "text-danger" })
        @Html.Gds().LabelFor(m => m.RegistrationNumber2, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.RegistrationNumber2, new { @class = "form-control" })
    </div>

    <h1 class="heading-medium">Address</h1>
    @Html.EditorFor(m => m.AddressDetails)

    <h1 class="heading-medium">Contact Person</h1>
    @Html.EditorFor(m => m.ContactDetails)

    <button class="button" type="submit">Continue</button>
}