@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary

<div class="overview-block">
    @if (Model.Exporter != null && !Model.Exporter.IsEmpty())
    {
        <div class="overview-block-element">
            @if (!string.IsNullOrWhiteSpace(Model.Exporter.Name))
            {
                @Html.DisplayFor(m => m.Exporter.Name)<br />
            }

            @if (!Model.Exporter.Address.IsEmpty())
            {
                @Html.DisplayFor(m => m.Exporter.Address.AddressLine1)<text>, </text>
                @Html.DisplayFor(m => m.Exporter.Address.TownOrCity)<text> </text>
                @Html.DisplayFor(m => m.Exporter.Address.PostalCode)<text>, </text>
                @Html.DisplayFor(m => m.Exporter.Address.Country)
            }
                    
        </div>

        if (!Model.Exporter.Contact.IsEmpty())
        {
            <div class="overview-block-element">
                @Html.DisplayFor(m => m.Exporter.Contact)
            </div>
        }
    }
    else
    {
        <div class="overview-block-element"> @ViewBag.SectionIncompleteText</div>
    }
</div>
