@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary

<div class="overview-block">
    @if (Model.Importer != null && !Model.Importer.IsEmpty())
    {
        <div class="overview-block-element">
            @if (!string.IsNullOrWhiteSpace(Model.Importer.Name))
            {
                @Html.DisplayFor(m => m.Importer.Name)<br />
            }

            @if (!Model.Exporter.Address.IsEmpty())
            {
                @Html.DisplayFor(m => m.Importer.Address.AddressLine1)<text>, </text>
                @Html.DisplayFor(m => m.Importer.Address.TownOrCity)<text> </text>
                @Html.DisplayFor(m => m.Importer.Address.PostalCode)<text>, </text>
                @Html.DisplayFor(m => m.Importer.Address.Country)
            }

        </div>

        if (!Model.Importer.Contact.IsEmpty())
        {
            <div class="overview-block-element">
                @Html.DisplayFor(m => m.Importer.Contact)
            </div>
        }
    }
    else
    {
        <div class="overview-block-element"> @ViewBag.SectionIncompleteText</div>
    }
</div>