@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary

<details>
    <summary class="block">
        Importer-consignee @Html.ActionLink("Change", "Index", "Exporter", null, new { @class="right-float" })
    </summary>
    <div class="expanded-details">
        <div class="panel-indent">
            @if (Model.Importer != null && !Model.Importer.IsEmpty())
            {
                <div class="grid-row">
                    <div class="column-half">
                        <dl>
                            @if (!string.IsNullOrWhiteSpace(Model.Importer.Name))
                            {
                                <dt>Organisation name:</dt>
                                <dd>@Html.DisplayFor(m => m.Importer.Name)</dd>
                            }

                            @if (!Model.Importer.Address.IsEmpty())
                            {
                                <dt>Address:</dt>
                                <dd>@Html.DisplayFor(m => m.Importer.Address)</dd>
                            }
                        </dl>
                    </div>
                    <div class="column-half">
                        <dl>
                            @if (!Model.Importer.Contact.IsEmpty())
                            {
                                <dt>Contact:</dt>
                                <dd>@Html.DisplayFor(m => m.Importer.Contact)</dd>
                            }
                        </dl>
                    </div>
                </div>
            }
            else
            {
                <p>@ViewBag.SectionIncompleteText</p>
            }
        </div>
    </div>
</details>