@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary


<details>
    <summary class="block">
        Intended shipments @Html.ActionLink("Change", "Index", "Shipment", null, new { @class = "right-float" })
    </summary>
    <div class="expanded-details">
        <div class="panel-indent">
            @if (Model.IntendedShipment != null && !Model.IntendedShipment.IsEmpty())
            {
                <dl>
                    <dt>Total intended number of shipments:</dt>
                    <dd>
                        @if (Model.IntendedShipment.TotalShipments.HasValue)
                        {
                            @Model.IntendedShipment.TotalShipments
                        }
                        else
                        {
                            <text>Not entered</text>
                        }
                    </dd>

                    <dt>Total intended quantity:</dt>
                    <dd>
                        @if (Model.IntendedShipment.Quantity.HasValue && Model.IntendedShipment.Units.HasValue)
                        {
                            @Html.Raw(string.Format("{0:0.####} {1}", Model.IntendedShipment.Quantity, EnumHelper.GetShortName(Model.IntendedShipment.Units)))
                        }
                        else
                        {
                            <text>Not entered</text>
                        }
                    </dd>

                    <dt>Intended dates of departure:</dt>
                    <dd>
                        @if (Model.IntendedShipment.Start.HasValue && Model.IntendedShipment.End.HasValue)
                        {
                            @Html.Gds().DisplayDateRangeFor(m => m.IntendedShipment.Start.Value, m => m.IntendedShipment.End.Value)
                        }
                        else
                        {
                            <text>Not entered</text>
                        }
                    </dd>
                </dl>
            }
            else
            {
                <p>@ViewBag.SectionIncompleteText</p>
            }
        </div>
    </div>
</details>