@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<div class="overview-block">
    @if (Model.Producer != null && !Model.Producer.IsEmpty())
    {
        <div class="overview-block-element">
            @if (!string.IsNullOrWhiteSpace(Model.Producer.Name))
            {
                @Html.DisplayFor(m => m.Producer.Name)<br />
            }

            @if (!Model.Producer.Address.IsEmpty())
            {
                @Html.DisplayFor(m => m.Producer.Address.AddressLine1)<text>, </text>
                @Html.DisplayFor(m => m.Producer.Address.TownOrCity)<text> </text>
                @Html.DisplayFor(m => m.Producer.Address.PostalCode)<text>, </text>
                @Html.DisplayFor(m => m.Producer.Address.Country)
            }

        </div>

        if (!Model.Producer.Contact.IsEmpty())
        {
            <div class="overview-block-element">
                @Html.DisplayFor(m => m.Producer.Contact)
            </div>
        }

        <div class="overview-block-element">
            @Resource.MultipleProducersQuestion 
            @if (Model.Producer.AreMultiple)
            {
                @Resource.True
            }
            else
            {
                @Resource.False
            }
        </div>
    }
    else
    {
        <div class="overview-block-element"> @ViewBag.SectionIncompleteText</div>
    }
</div>