@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Home.SummaryTableContainerViewModel
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<details>
    <div class="overview-block">
        <div class="overview-block-element">
            @if (Model.Details.StateOfExport != null && !Model.Details.StateOfExport.IsEmpty())
            {
                <dl>
                    <dt>@Resource.CountryText</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.Details.StateOfExport.CountryName))
                {
                        <dd>@Model.Details.StateOfExport.CountryName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>@Resource.CompetentAuthorityText</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.Details.StateOfExport.CompetentAuthorityName))
                {
                        <dd>@Model.Details.StateOfExport.CompetentAuthorityCode - @Model.Details.StateOfExport.CompetentAuthorityName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>@Resource.ExitPointText</dt>
                @if (!string.IsNullOrWhiteSpace(Model.Details.StateOfExport.ExitPointName))
                {
                    <dd>@Model.Details.StateOfExport.ExitPointName</dd>
                }
                else
                {
                    <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                }
            </dl>
            }
            else
            {
                @ViewBag.SectionIncompleteText
            }

        </div>
    </div>
</details>