@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<details>
    <div class="overview-block">
        <div class="overview-block-element">
            @if (Model.StateOfImport != null && !Model.StateOfImport.IsEmpty())
            {
                <dl>
                    <dt>@Resource.CountryText</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfImport.CountryName))
                {
                        <dd>@Model.StateOfImport.CountryName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>@Resource.CompetentAuthorityText</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfImport.CompetentAuthorityName))
                {
                        <dd>@Model.StateOfImport.CompetentAuthorityCode - @Model.StateOfImport.CompetentAuthorityName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>@Resource.EntryPointText</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfImport.EntryPointName))
                {
                        <dd>@Model.StateOfImport.EntryPointName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }
                </dl>
            }
            else
            {
                @ViewBag.SectionIncompleteText
            }

        </div>
    </div>
</details>