@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<details>
    <summary class="block">
        @Resource.StateOfImportTitle @Html.ActionLink("Change", "Index", "StateOfImport", null, new { @class = "right-float" })
    </summary>
    <div class="expanded-details">
        <div class="panel-indent">
            @if (Model.StateOfImport != null && !Model.StateOfImport.IsEmpty())
            {
                <dl>
                    <dt>Country:</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfImport.CountryName))
                    {
                        <dd>@Model.StateOfImport.CountryName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>Competent authority:</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfImport.CompetentAuthorityName))
                    {
                        <dd>@Model.StateOfImport.CompetentAuthorityCode - @Model.StateOfImport.CompetentAuthorityName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>Entry point:</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfImport.EntryPointName))
                    {
                        <dd>@Model.StateOfImport.EntryPointName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }
                </dl>
            }
            else
            {
                @ViewBag.SectionIncompleteText
            }
        </div>
    </div>
</details>