@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<details>
    <summary class="block">
        @Resource.StateOfExportTitle @Html.ActionLink("Change", "Index", "StateOfExport", null, new { @class = "right-float" })
    </summary>
    <div class="expanded-details">
        <div class="panel-indent">
            @if (Model.StateOfExport != null && !Model.StateOfExport.IsEmpty())
            {
                <dl>
                    <dt>Country:</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfExport.CountryName))
                    {
                        <dd>@Model.StateOfExport.CountryName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>Competent authority:</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfExport.CompetentAuthorityName))
                    {
                        <dd>@Model.StateOfExport.CompetentAuthorityCode - @Model.StateOfExport.CompetentAuthorityName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }

                    <dt>Exit point:</dt>
                    @if (!string.IsNullOrWhiteSpace(Model.StateOfExport.ExitPointName))
                    {
                        <dd>@Model.StateOfExport.ExitPointName</dd>
                    }
                    else
                    {
                        <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                    }
                </dl>
            }
            else
            {
                @ViewBag.SectionIncompleteText
            }
        </div>
    </div>
</details>