@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@{ViewBag.SectionIncompleteText = "Section incomplete";}

<div id="submit-overview-area">
    <h2 class="heading-medium">Organisations involved</h2>
    @Html.Partial("_Exporter")
    @Html.Partial("_Producer")
    @Html.Partial("_Importer")
    @Html.Partial("_Facility")

    <h2 class="heading-medium">@Html.Raw(Model.Type) operation</h2>
    @Html.Partial("_OperationCodes")
    @Html.Partial("_TechnologyEmployed")

    <h2 class="heading-medium">Amounts and dates</h2>
    @Html.Partial("_IntendedShipment")


    <h2 class="heading-medium">Waste codes</h2>
    @Html.Partial("_BaselOecdCode")
    @Html.Partial("_EwcCodes")
    @Html.Partial("_YCodes")
    @Html.Partial("_HCodes")
    @Html.Partial("_UnClasses")

    <h2 class="heading-medium">The journey</h2>
    @Html.Partial("_StateOfExport")
    @Html.Partial("_TransitStates")
    @Html.Partial("_StateOfImport")
</div>