@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Home.SummaryTableContainerViewModel
@using EA.Iws.Core.Shared
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

@{ViewBag.SectionIncompleteText = Resource.SectionIncompleteText;}

<div id="submit-overview-area">
    
    <table class="overview-table">
        <thead>
        <tr>
            <th colspan="3">
                <h2 class="heading-medium">@Resource.OrganisationsTitle</h2>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Resource.PreconsentedTitle
            </td>
            <td>
                @Html.Partial("_Preconsented")
            </td>
            @if (Model.ShowChangeLinks)
            {
                <td>
                    @Html.ActionLink("Change", "Index", "Preconsented", null, new { @class = "right-float" })
                </td>
            }
        </tr>
        <tr>
            <td>
                @Resource.ExporterTitle
            </td>
            <td>
                @Html.Partial("_Exporter")
            </td>
            @if (Model.ShowChangeLinks)
            {
                <td>
                    @Html.ActionLink("Change", "Index", "Exporter", null, new { @class = "right-float" })
                </td>
            }
            
        </tr>
        <tr>
            <td>
                @Resource.ProducerTitle
            </td>
            <td>
                @Html.Partial("_Producer")
            </td>
            @if (Model.ShowChangeLinks)
            {
                <td>
                    @Html.ActionLink("Change", "Index", "Producer", null, new { @class = "right-float" })
                </td>
            }
            
        </tr>
        <tr>
            <td>
                @Resource.ImporterTitle
            </td>
            <td>
                @Html.Partial("_Importer")
            </td>
            @if (Model.ShowChangeLinks)
            {
                <td>
                    @Html.ActionLink("Change", "Index", "Exporter", null, new { @class = "right-float" })
                </td>
            }
            
        </tr>
        <tr>
            <td>
                @Resource.FacilityTitle
            </td>
            <td>
                @Html.Partial("_Facility")
            </td>
            @if (Model.ShowChangeLinks)
            {
                <td>
                    @Html.ActionLink("Change", "Index", "Facility", null, new { @class = "right-float" })
                </td>
            }
            
        </tr>

        </tbody>
    </table>


    <table class="overview-table">
        <thead>
            <tr>
                <th colspan="3">
                    <h2 class="heading-medium">@Html.Raw(Model.Details.Type) operation</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Details.Type @Resource.OperationCodesTitle
                </td>
                <td>
                    @Html.Partial("_OperationCodes")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "WasteOperation", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            <tr>
                <td>
                    @Resource.TechnologyTitle
                </td>
                <td>
                    @Html.Partial("_TechnologyEmployed")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "WasteOperation", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            
        </tbody>
    </table>


    <table class="overview-table">
        <thead>
            <tr>
                <th colspan="3">
                    <h2 class="heading-medium">@Resource.ShipmentInfoTitle</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Resource.ShipmentsTitle
                </td>
                <td>
                    @Html.Partial("_IntendedShipment")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "Shipment", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            
        </tbody>
    </table>


    <table class="overview-table">
        <thead>
            <tr>
                <th colspan="3">
                    <h2 class="heading-medium">@Resource.WasteCodeTitle</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Resource.BaselTitle
                </td>
                <td>
                    @Html.Partial("_BaselOecdCode")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "WasteType", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            <tr>
                <td>
                    @Resource.EWCTitle
                </td>
                <td>
                    @Html.Partial("_EwcCodes")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "WasteType", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            <tr>
                <td>
                    @Resource.YTitle
                </td>
                <td>
                    @Html.Partial("_YCodes")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "WasteType", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            <tr>
                <td>
                    @Resource.HTitle
                </td>
                <td>
                    @Html.Partial("_HCodes")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "WasteType", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            <tr>
                <td>
                    @Resource.UNTitle
                </td>
                <td>
                    @Html.Partial("_UnClasses")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "WasteType", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>

        </tbody>
    </table>


    <table class="overview-table">
        <thead>
            <tr>
                <th colspan="3">
                    <h2 class="heading-medium">@Resource.TransportRouteTitle</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Resource.StateOfExportTitle
                </td>
                <td>
                    @Html.Partial("_StateOfExport")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "StateOfExport", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            <tr>
                <td>
                    @Resource.StateOfImportTitle
                </td>
                <td>
                    @Html.Partial("_StateOfImport")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "StateOfImport", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            <tr>
                <td>
                    @Resource.TransitStatesTitle
                </td>
                <td>
                    @Html.Partial("_TransitStates")
                </td>
                @if (Model.ShowChangeLinks)
                {
                    <td>
                        @Html.ActionLink("Change", "Index", "TransitState", null, new { @class = "right-float" })
                    </td>
                }
                
            </tr>
            
        </tbody>
    </table>
</div>