@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

@{ViewBag.SectionIncompleteText = Resource.SectionIncompleteText;}

<div id="submit-overview-area">
    <h2 class="heading-medium">@Resource.OrganisationsTitle</h2>
    @Html.Partial("_Preconsented")
    @Html.Partial("_Exporter")
    @Html.Partial("_Producer")
    @Html.Partial("_Importer")
    @Html.Partial("_Facility")

    <h2 class="heading-medium">@Html.Raw(Model.Type) operation</h2>
    @Html.Partial("_OperationCodes")
    @Html.Partial("_TechnologyEmployed")

    <h2 class="heading-medium">@Resource.ShipmentInfoTitle</h2>
    @Html.Partial("_IntendedShipment")


    <h2 class="heading-medium">@Resource.WasteCodeTitle</h2>
    @Html.Partial("_BaselOecdCode")
    @Html.Partial("_EwcCodes")
    @Html.Partial("_YCodes")
    @Html.Partial("_HCodes")
    @Html.Partial("_UnClasses")

    <h2 class="heading-medium">@Resource.TransportRouteTitle</h2>
    @Html.Partial("_StateOfExport")
    @Html.Partial("_StateOfImport")
    @Html.Partial("_TransitStates")
</div>