@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<details>
    <summary class="block">
        @Resource.TransitStatesTitle @Html.ActionLink("Change", "Index", "TransitState", null, new { @class = "right-float" })
    </summary>
    <div class="expanded-details">
        <div class="panel-indent">

            @if (Model.TransitStates != null && Model.TransitStates.Count > 0)
            {
                for (int i = 0; i < Model.TransitStates.Count; i++)
                {
                    <dl>
                        <dt>Country:</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].CountryName))
                        {
                            <dd>@Model.TransitStates[i].CountryName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }

                        <dt>Competent authority:</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].CompetentAuthorityName))
                        {
                            <dd>@Model.TransitStates[i].CompetentAuthorityCode - @Model.TransitStates[i].CompetentAuthorityName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }
                        <dt>Entry point:</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].EntryPointName))
                        {
                            <dd>@Model.TransitStates[i].EntryPointName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }

                        <dt>Exit point:</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].ExitPointName))
                        {
                            <dd>@Model.TransitStates[i].ExitPointName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }
                    </dl>

                    if (i < (Model.TransitStates.Count - 1))
                    {
                        <hr/>
                    }
                }
            }
            else if (Model.HasNoTransitStates)
            {
                <p>@Resource.NoTransitStatesChoice</p>
            }
            else
            {
                @ViewBag.SectionIncompleteText
            }
        </div>
    </div>
</details>