@model EA.Iws.Core.ImportNotification.Summary.InProgressImportNotificationSummary
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Home.IndexResources

<details>
    <div class="overview-block">
        <div class="overview-block-element">
            @if (Model.TransitStates != null && Model.TransitStates.Count > 0)
            {
                for (int i = 0; i < Model.TransitStates.Count; i++)
                {
                    <dl>
                        <dt>@Resource.CountryText</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].CountryName))
                        {
                            <dd>@Model.TransitStates[i].CountryName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }

                        <dt>@Resource.CompetentAuthorityText</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].CompetentAuthorityName))
                        {
                            <dd>@Model.TransitStates[i].CompetentAuthorityCode - @Model.TransitStates[i].CompetentAuthorityName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }
                        <dt>@Resource.EntryPointText</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].EntryPointName))
                        {
                            <dd>@Model.TransitStates[i].EntryPointName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }

                        <dt>@Resource.ExitPointText</dt>
                        @if (!string.IsNullOrWhiteSpace(Model.TransitStates[i].ExitPointName))
                        {
                            <dd>@Model.TransitStates[i].ExitPointName</dd>
                        }
                        else
                        {
                            <dd>@Resource.UnansweredQuestionPlaceholder</dd>
                        }
                    </dl>

                    if (i < (Model.TransitStates.Count - 1))
                    {
                        <hr />
                    }
                }
            }
            else if (Model.HasNoTransitStates)
            {
                <p>@Resource.NoTransitStatesChoice</p>
            }
            else
            {
                @ViewBag.SectionIncompleteText
            }
        </div>
    </div>
</details>