@using EA.Iws.Core.WasteType
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Home.SummaryTableContainerViewModel

<div class="overview-block">
    <div class="overview-block-element">
        @if (Model.Details.Composition != null && Model.Details.Composition.Composition.HasValue)
        {
            if (Model.Details.Composition.Composition.Value == ChemicalComposition.Other && Model.Details.WasteType != null)
            {
                if (Model.Details.WasteType != null && Model.Details.WasteType.WasteCategoryType.HasValue)
                {
                    <dl>
                        <dd>
                            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Details.Composition.Composition.Value) - @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Details.WasteType.WasteCategoryType.Value)
                        </dd>
                    </dl>
                }
                else
                {
                    <dl>
                        <dd>
                            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Details.Composition.Composition.Value)
                        </dd>
                    </dl>
                }

                if (Model.Details.WasteComponents != null && Model.Details.WasteComponents.WasteComponentTypes != null && Model.Details.WasteComponents.WasteComponentTypes.Any())
                {
                    <dl>
                        <dd>
                            <div class="overview-block-element">
                                @string.Join(", ", Model.Details.WasteComponents.WasteComponentTypes)
                            </div>
                        </dd>
                    </dl>
                }
                <dl>
                    <dd>
                        @Model.Details.WasteType.Name
                    </dd>
                </dl>
            }
            else
            {
                @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Details.Composition.Composition.Value)
            }
        }
        else
        {
            @ViewBag.SectionIncompleteText
        }

    </div>
</div>
