@using EA.Iws.Web.Areas.ImportNotification.Views.Preconsented;
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Preconsented.PreconsentedViewModel
@{
    ViewBag.Title = IndexResources.PageTitle;
}

<header>
    <h1 class="govuk-heading-l">@IndexResources.MainHeading</h1>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.PreconsentedFacilityExists.SelectedValue)">
        @Html.EditorFor(m => m.PreconsentedFacilityExists)
    </div>

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}