@using EA.Iws.Core.Shared
@model EA.Iws.Core.ImportNotification.NotificationDetails
@{
    object routeId;
    Guid? id = null;
    if (ViewContext.RouteData.Values.TryGetValue("id", out routeId))
    {
        id = Guid.Parse(routeId.ToString());
    }
}

<div id="accordion">
    <p class="bold-medium">&nbsp;@Model.NotificatioNumber</p>
    <ul>
        <li>
            <h3>
                <span></span>
                Import Notification
            </h3>
            <ul>
                <li>@Html.ActionLink("Overview", "Index", "Home", new { area = "ImportNotification", id }, null)</li>
                @if (Model.NotificationType != NotificationType.Disposal)
                {
                <li>@Html.ActionLink("Pre-consent", "Index", "Preconsented", new { area = "ImportNotification", id }, null)</li>
                }
                <li>@Html.ActionLink("Exporter notifier", "Index", "Exporter", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Importer consignee", "Index", "Importer", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Waste generator producer", "Index", "Producer", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Facility", "Index", "Facility", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Intended shipments", "Index", "Shipment", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Waste operation", "Index", "WasteOperation", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Waste type", "Index", "WasteType", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Transport route export", "Index", "StateOfExport", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Transport route import", "Index", "StateOfImport", new { area = "ImportNotification", id }, null)</li>
                <li>@Html.ActionLink("Transport route transits", "Index", "TransitState", new { area = "ImportNotification", id }, null)</li>
            </ul>
        </li>

        <li class="active">
            <h3 class="current">
                <span></span>
                Assessment
            </h3>
            <ul>
                <li>@Html.ActionLink("Key dates", "Index", "KeyDates", new { area = "AdminImportAssessment", id }, null)</li>

            </ul>
        </li>

        <li>
            <h3>
                <span></span>
                Finance
            </h3>
            <ul>
                <li>@Html.ActionLink("Account management", "Index", "AccountManagement")</li>
                <li>@Html.ActionLink("Payment details", "Index", "PaymentDetails")</li>
            </ul>
        </li>

        <li class="">
            <h3 class="">
                <span></span>
                Import Notification
            </h3>
            <ul>
                <li>@Html.ActionLink("Overview", "Index", "Home", new { area = "ImportNotification", id }, null)</li>
            </ul>
        </li>

    </ul>
</div>