@using EA.Iws.Web.Areas.NotificationApplication.Views.TransportRoute
@model EA.Iws.Core.StateOfExport.StateOfExportData
           
<h1 class="heading-medium">@StateOfExportSummaryResources.Header</h1>
@if (Model == null)
{
    <p>@StateOfExportSummaryResources.NoStateOfExport</p>
    <p>@Html.ActionLink(StateOfExportSummaryResources.Add, "Index", "StateOfExport", new { id = ViewData["Id"] }, null)</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>@StateOfExportSummaryResources.ThCountry</th>
                <th>@StateOfExportSummaryResources.ThCA</th>
                <th>@StateOfExportSummaryResources.ThPort</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(m => m.Country.Name)</td>
                <td>@Html.DisplayFor(m => m.CompetentAuthority.Code) - @Html.DisplayFor(m => m.CompetentAuthority.Name)</td>
                <td>@Html.DisplayFor(m => m.ExitPoint.Name)</td>
                <th>@Html.ActionLink(StateOfExportSummaryResources.Edit, "Index", "StateOfExport", new { id = ViewData["Id"], backToOverview = ViewData["BackToOverview"] }, null)</th>
            </tr>
        </tbody>
    </table>
}