@model EA.Iws.Core.StateOfImport.StateOfImportData
           
<h1 class="heading-medium">State of import</h1>
@if (Model == null)
{
    <p>No state of import has been added.</p>
    <p>@Html.ActionLink("Add state of import", "Index", "StateOfImport", new { id = ViewData["Id"] }, null)</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>Competent authority</th>
                <th>Port or border crossing</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(m => m.Country.Name)</td>
                <td>@Html.DisplayFor(m => m.CompetentAuthority.Code) - @Html.DisplayFor(m => m.CompetentAuthority.Name)</td>
                <td>@Html.DisplayFor(m => m.EntryPoint.Name)</td>
                <th>@Html.ActionLink("Edit", "Index", "StateOfImport", new { id = ViewData["Id"], backToOverview = ViewData["BackToOverview"] }, null)</th>
            </tr>
        </tbody>
    </table>
}
