@model EA.Iws.Core.TransportRoute.TransportRouteData
@{
    ViewBag.Title = "Transport Route Summary";
}

<h2 class="heading-large">Transport route</h2>

@Html.Partial("StateOfExportSummary", Model.StateOfExportData, new ViewDataDictionary { { "Id", ViewBag.NotificationId }, { "BackToOverview", ViewBag.BackToOverview } })
@Html.Partial("TransitStatesSummary", Model.TransitStatesData, new ViewDataDictionary { { "Id", ViewBag.NotificationId }, { "BackToOverview", ViewBag.BackToOverview } })
@Html.Partial("StateOfImportSummary", Model.StateOfImportData, new ViewDataDictionary { { "Id", ViewBag.NotificationId }, { "BackToOverview", ViewBag.BackToOverview } })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="margin-top: 25px;">
        <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    </div>
}