@using EA.Iws.Web.Areas.NotificationApplication.Views.TransportRoute
@model EA.Iws.Core.TransportRoute.TransportRouteData
@{
    ViewBag.Title = SummaryResources.Title;
}

<h1 class="heading-large">@SummaryResources.Header</h1>

@Html.Partial("StateOfExportSummary", Model.StateOfExportData, new ViewDataDictionary { { "Id", ViewBag.NotificationId }, { "BackToOverview", ViewBag.BackToOverview } })
@Html.Partial("TransitStatesSummary", Model.TransitStatesData, new ViewDataDictionary { { "Id", ViewBag.NotificationId }, { "BackToOverview", ViewBag.BackToOverview } })
@Html.Partial("StateOfImportSummary", Model.StateOfImportData, new ViewDataDictionary { { "Id", ViewBag.NotificationId }, { "BackToOverview", ViewBag.BackToOverview } })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="margin-top: 25px;">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}