@using EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.PaymentDetails
@using EA.Iws.Web.Areas.AdminExportAssessment.Views.AccountManagement
@model PaymentDetailsViewModel

@using (Html.BeginForm("AddPayment", "AccountManagement", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group @Html.Gds().FormGroupClass(m => m.PaymentAmount)">
                        @Html.Gds().LabelFor(m => m.PaymentAmount)
                        @Html.Gds().ValidationMessageFor(m => m.PaymentAmount)
                        @Html.Gds().TextBoxFor(m => m.PaymentAmount, new { @class = "form-control form-control-wide", @title = PaymentDetailsViewModelResources.AmountPaidLabel })
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group @Html.Gds().FormGroupClass(m => m.PaymentMethod)">
                        @Html.Gds().LabelFor(m => m.PaymentMethod)
                        @Html.Gds().ValidationMessageFor(m => m.PaymentMethod)
                        @Html.Gds().DropDownListFor(m => m.PaymentMethod, Model.PaymentMethodsSelectList, string.Empty, new { @class = "form-control form-control-wide", title = PaymentDetailsViewModelResources.PaymentMethodLabel })
                    </div>
                </div>
            </div>

            <div class="form-group @Html.Gds().FormGroupClass(m => m.Receipt)" id="receiptArea">
                @Html.Gds().LabelFor(m => m.Receipt, showOptionalLabel: false)
                @Html.Gds().ValidationMessageFor(m => m.Receipt)
                @Html.Gds().TextBoxFor(m => m.Receipt, new { @MaxLength = 100, @class = "form-control form-control-wide", @title = PaymentDetailsViewModelResources.ReceiptNumberLabel })
            </div>

        </div>
    </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.PaymentDate) @Html.Gds().FormGroupClass(m => m.PaymentDate.Day) @Html.Gds().FormGroupClass(m => m.PaymentDate.Month) @Html.Gds().FormGroupClass(m => m.PaymentDate.Year)">
                @Html.LabelFor(m => m.PaymentDate, new { @class = "form-label-bold" })
                @Html.Gds().ValidationMessageFor(m => m.PaymentDate)
                @Html.EditorFor(m => m.PaymentDate)
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.Comments)">
                @Html.Gds().LabelFor(m => m.Comments)
                @Html.Gds().ValidationMessageFor(m => m.Comments)
                @Html.TextAreaFor(m => m.Comments, new { @MaxLength = 500, @style = "width: 100%; height: 200px", @title = PaymentDetailsViewModelResources.CommentsLabel })
            </div>
        </div>
    </div>

    <div class="form-group">
        <p> <button class="button" type="submit">@PaymentDetailsResources.SubmitButton</button></p>
    </div>

}
