@using EA.Iws.Core.NotificationAssessment
@using EA.Iws.Core.Shared
@using EA.Iws.Web.Areas.AdminExportAssessment.Views.AccountManagement
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.AccountManagement.AccountManagementViewModel

@{
    ViewBag.Title = @IndexResources.MainHeading;
}

<h1 class="heading-large">@IndexResources.MainHeading</h1>

<div class="grid-row">

    <div class="column-one-third">
        <p class="bold-xsmall">@IndexResources.TotalHeading</p>
    </div>

    <div class="column-one-third">
        <p class="bold-xsmall">@IndexResources.BalanceHeading</p>
    </div>

    <div class="column-one-third">
        <p class="bold-xsmall">@IndexResources.RemainingHeading</p>
    </div>

</div>

<div class="grid-row">

    <div class="column-one-third bold-medium">
            @Model.TotalBillable.ToString("C")
    </div>

    <div class="column-one-third bold-medium">
            @Model.Balance.ToString("C")
    </div>

    <div class="column-one-third bold-medium">
            @Model.AmountRemaining.ToString("C")
    </div>

</div>

<hr>

<h2 class="heading-medium">@IndexResources.HistoryHeading</h2>

<div class="form-group">
    <table title=@IndexResources.HistoryHeading>
        <thead>
        <tr>
            <th>@IndexResources.TableHeaderTranaction</th>
            <th>@IndexResources.TableHeaderDate</th>
            <th>@IndexResources.TableHeaderAmount</th>
            <th>@IndexResources.TableHeaderType</th>
            <th>@IndexResources.TableHeaderReceipt</th>
            <th>@IndexResources.TableHeaderComments</th>
        </tr>
        </thead>
        <tbody>
        @{
            for (var i = 0; i < Model.TableData.Count(); i++)
            {
                var trans = (TransactionType)Model.TableData[i].Transaction;

                Enum type;
                if (trans == TransactionType.Refund)
                {
                    type = TransactionType.Refund;
                }
                else
                {
                    type = (PaymentMethod)Model.TableData[i].Type;
                }

                var comment = string.IsNullOrWhiteSpace(Model.TableData[i].Comments) ? "No" : "Yes";

                <tr>
                    <td>@trans</td>
                    <td>@Model.TableData[i].Date.ToString("dd/MM/yyyy")</td>
                    <td>@Model.TableData[i].Amount.ToString("C")</td>
                    <td>@EnumHelper.GetDescription(type)</td>
                    <td>@Model.TableData[i].ReceiptNumber</td>
                    <td>@comment</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>


<div class="form-group">
    <details role="group">

        <summary role="button"><span class="summary">@IndexResources.CommentSectionHeading</span></summary>

        <div class="panel-border-narrow">

            @for (var i = 0; i < Model.TableData.Count(); i++)
            {
                if (!string.IsNullOrWhiteSpace(Model.TableData[i].Comments))
                {
                    var trans = (TransactionType)Model.TableData[i].Transaction;

                    <span>@trans &nbsp; @Model.TableData[i].Date.ToString("dd/MM/yyyy")</span>
                    <p>@Model.TableData[i].Comments</p>
                }
            }
        </div>

    </details>
</div>

<div>
    @Html.ActionLink(IndexResources.KeyDatesLinkText, "Index", "Keydates")
</div>

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Finance })
}