@model EA.Iws.Core.NotificationAssessment.NotificationAssessmentSummaryInformationData

<div class="internal-side-nav">
    <p class="lede" style="font-weight: 700;">@Model.Number</p>
    <p class="heading-xsmall">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.CompetentAuthority)</p>
    <p class="heading-small">Status</p>
    <p class="heading-xsmall">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Status)</p>
</div>

<p>@Html.Navigation().Link("Overview", false, "Index", "Home", "NotificationAssessment")</p>

<span>Notification assessment</span>
@Html.Navigation().Link("Key dates", false, "Index", "KeyDates", "NotificationAssessment")
@Html.Navigation().Link("Assessment decision", false, "Index", "Decision", "NotificationAssessment")

<span>Financial guarantee</span>
@Html.Navigation().Link("FG dates", false, "Dates", "FinancialGuarantee", "NotificationAssessment")
@Html.Navigation().Link("FG decision", false, "Decision", "FinancialGuarantee", "NotificationAssessment")

<span>Shipments</span>
@Html.Navigation().Link("Shipment summary", false, "Index", "ShipmentSummary", new  RouteValueDictionary( new { status = Model.Status, area = "NotificationAssessment" }))
@Html.Navigation().Link("Record shipment data", false, "Index", "MovementCertificate", "")

<span>Finance</span>
@Html.Navigation().Link("Payment details", false, "Index", "PaymentDetails", "NotificationAssessment")
@Html.Navigation().Link("Refund details", false, "Index", "RefundDetails", "NotificationAssessment")
@Html.Navigation().Link("Account management", false, "Index", "AccountManagement", "NotificationAssessment")
