@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.CustomWasteCode.CustomWasteCodesViewModel
@{
    ViewBag.Title = "Waste Identification";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 2 of 4")
    </div>
    <h2 class="heading-large">What other codes apply to the waste?</h2>
    <div>
        Enter any other codes which are relevant to your waste. If no codes are relevant then tick not applicable
    </div>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div class="wastecode-block">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.ExportNationalCode)">
            @Html.Gds().LabelFor(m => m.ExportNationalCode)
            @Html.Gds().ValidationMessageFor(m => m.ExportNationalCode)
            @Html.Gds().TextBoxFor(m => m.ExportNationalCode)
            @Html.Gds().CheckBoxFor(m => m.ExportNationalCodeNotApplicable)
        </div>
    </div>
    <div class="wastecode-block">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.ImportNationalCode)">
            @Html.Gds().LabelFor(m => m.ImportNationalCode)
            @Html.Gds().ValidationMessageFor(m => m.ImportNationalCode)
            @Html.Gds().TextBoxFor(m => m.ImportNationalCode)
            @Html.Gds().CheckBoxFor(m => m.ImportNationalCodeNotApplicable)
        </div>
    </div>
    <div class="wastecode-block">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.CustomsCode)">
            @Html.Gds().LabelFor(m => m.CustomsCode, false)
            @Html.Gds().ValidationMessageFor(m => m.CustomsCode)
            @Html.Gds().TextBoxFor(m => m.CustomsCode)
            @Html.Gds().CheckBoxFor(m => m.CustomsCodeNotApplicable)
        </div>
    </div>
    <div class="wastecode-block">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherCode)">
            @Html.Gds().LabelFor(m => m.OtherCode, false)
            @Html.Gds().HintParagraph("If useful or required by the relevant competent authority add any other code to help identify the waste")
            @Html.Gds().ValidationMessageFor(m => m.OtherCode)
            @Html.Gds().TextBoxFor(m => m.OtherCode)
            @Html.Gds().CheckBoxFor(m => m.OtherCodeNotApplicable)
        </div>
    </div>
    <div class="form-group">
        <button class="button" type="submit">Save and Continue</button>
    </div>
}