@model NotificationAssessmentSummaryInformationData
@using EA.Iws.Core.NotificationAssessment;
@using EA.Iws.Core.Notification;

<div id="accordion">
    <p class="bold-medium">&nbsp;@Model.Number</p>
    <ul>
        <li class="@(Model.ActiveSection == "Assessment" ? "active" : string.Empty)">
            <h3 class="@(Model.ActiveSection == "Assessment" ? "current" : string.Empty)">
                <span></span>
                Notification assessment
            </h3>
            <ul>
                <li>@Html.ActionLink("Notification overview", "Index", "Overview", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                <li>@Html.ActionLink("Key dates", "Index", "KeyDates", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                <li>@Html.ActionLink("Assessment decision", "Index", "Decision", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                @if (Model.CompetentAuthority == CompetentAuthority.England)
                {
                    <li>@Html.ActionLink("Assign an area", "Index", "AssignArea", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                }
                <li>@Html.ActionLink("FG date", "Dates", "FinancialGuarantee", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                <li>@Html.ActionLink("FG decision", "Decision", "FinancialGuarantee", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                
            </ul>
        </li>

        @if (Model.Status == NotificationStatus.Consented || Model.Status == NotificationStatus.ConsentWithdrawn)
        {
            <li>
                <h3>
                    <span></span>
                    Shipments
                </h3>
                <ul>
                    <li>@Html.ActionLink("Shipment summary", "Index", "Home", new { area = "AdminExportNotificationMovements", Model.Id }, null)</li>
                    @if (Model.Status == NotificationStatus.Consented)
                    {
                        <li>@Html.ActionLink("Record shipment data", "Index", "CaptureMovement", new { area = "AdminExportNotificationMovements", Model.Id }, null)</li>
                    }
                    <li>@Html.ActionLink("Cancel shipments", "Index", "Cancel", new { area = "AdminExportNotificationMovements", Model.Id }, null)</li>
                </ul>
            </li>
        }

        <li class="@(Model.ActiveSection == "Finance" ? "active" : string.Empty)">
            <h3 class="@(Model.ActiveSection == "Finance" ? "current" : string.Empty)">
                <span></span>
                Finance
            </h3>
            <ul>
                <li>@Html.ActionLink("Account management", "Index", "AccountManagement", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                <li>@Html.ActionLink("Payment details", "Index", "PaymentDetails", new { area = "AdminExportAssessment", Model.Id }, null)</li>
                <li>@Html.ActionLink("Refund details", "Index", "RefundDetails", new { area = "AdminExportAssessment", Model.Id }, null)</li>
            </ul>
        </li>

        <li>
            <h3>
                <span></span>
                Reporting
            </h3>
            <ul>
                <li>@Html.ActionLink("Annual exports", "Index", "ExportStats", new { area = "Reports" }, null)</li>
            </ul>
        </li>
    </ul>
</div>