@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.MeansOfTransport.MeansOfTransportViewModel
<div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)">
    @Html.Gds().ValidationMessageFor(m => m.SelectedValue)
    <fieldset>
        @for (int i = 0; i < Model.PossibleMeans.Count; i++)
        {
            bool disableThisInput = false;
            if (Model.SelectedMeans.Count > 0)
            {
                disableThisInput = Model.SelectedMeans.Last() == Model.PossibleMeans[i].Value;
            }

            MvcHtmlString nameForThisValue = Html.NameFor(m => m.PossibleMeans[i].Value);
            <label for="@nameForThisValue" class="block-label inline-block-label">
                @Html.HiddenFor(m => m.PossibleMeans[i].Key)
                @Html.HiddenFor(m => m.PossibleMeans[i].Value)
                @if (disableThisInput)
                {
                    @Html.RadioButtonFor(m => m.SelectedValue, Model.PossibleMeans[i].Value, new { id = nameForThisValue, disabled = "disabled" })
                }
                else
                {
                    @Html.RadioButtonFor(m => m.SelectedValue, Model.PossibleMeans[i].Value, new { id = nameForThisValue })
                }

                @Html.DisplayFor(m => m.PossibleMeans[i].Key)
            </label>
        }

    </fieldset>
</div>