@using EA.Iws.Web.Areas.NotificationApplication.Views.MeansOfTransport
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.MeansOfTransport.MeansOfTransportViewModel
@{
    ViewBag.Title = MeansOfTransportResources.Title;
}

<h1 class="govuk-heading-l">@MeansOfTransportResources.Header</h1>
<p>@MeansOfTransportResources.HeaderDescription</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="govuk-form-group">
        <table title="Transport methods" class="govuk-table">
            <caption class="visuallyhidden govuk-table__caption govuk-table__caption--m">Transport methods</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">@MeansOfTransportResources.ThSymbol</th>
                <th scope="col" class="govuk-table__header">@MeansOfTransportResources.ThTransportMethods</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var means in Model.PossibleMeans)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@EA.Prsd.Core.Helpers.EnumHelper.GetShortName(means)</td>
                    <td class="govuk-table__cell">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(means)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedMeans)">
        @Html.Gds().LabelFor(m => m.SelectedMeans)
        @Html.Gds().HintSpan(MeansOfTransportResources.SelectedMeansHint)
        @Html.Gds().ValidationMessageFor(m => m.SelectedMeans)
        @Html.Gds().TextBoxFor(m => m.SelectedMeans)
    </div>

    <div class="govuk-form-group">
        <button type="submit" class="govuk-button" value="Submit" name="submit">@Constants.ContinueButtonText</button>
    </div>
}