@using EA.Iws.Web.Services
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.MeansOfTransport.MeansOfTransportViewModel
@{
    ViewBag.Title = "Means of Transport";
}

<h2 class="heading-large">Which means of transport will be used?</h2>
<p>Select each of the transport methods that will be used for the whole journey in the order in which they will occur</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    
    @Html.Action("_PreviousMeansEditor", Model)

    <h3 class="heading-small">@ViewService.WordForNumber(Model.SelectedMeans.Count + 1) method</h3>
    
    @Html.Action("_CurrentMeansEditor", Model)

    <div class="form-group">
        <button type="submit" class="link-submit" value="Add" name="submit">Add more</button>
    </div>
    
    <div class="form-group">
        <button type="submit" class="button" value="Submit" name="submit">Continue</button>
    </div>
}