@model EA.Iws.Web.ViewModels.ChangeNotificationOwner.ChangeOwnerViewModel
@using Resources = EA.Iws.Web.Views.ChangeNotificationOwner.ChangeNotificationOwnerResources
@{
    ViewBag.Title = Resources.ChangeOwnerTitle;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="govuk-heading-l">@Resources.ChangeOwnerTitle</h1>

        <p>@Resources.YouAreCurrentlyTheOwner</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            @Html.HiddenFor(m => m.NotificationId)

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.EmailAddress)">
                @Html.Gds().LabelFor(m => m.EmailAddress)
                @Html.Gds().HintParagraph(Resources.ChangeOwnerHint)
                @Html.Gds().ValidationMessageFor(m => m.EmailAddress)
                @Html.Gds().TextBoxFor(m => m.EmailAddress)
            </div>

            <button class="govuk-button" type="submit">@Constants.ContinueOnlyButtonText</button>
        }
    </div>
</div>