@model EA.Iws.Web.Areas.Reports.ViewModels.FinancialGuarantees.IndexViewModel
@using Resources = EA.Iws.Web.Areas.Reports.Views.FinancialGuarantees.IndexResources

@{
    ViewBag.Title = Resources.Title;
}

<h1 class="heading-large">@Resources.Title</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.FinancialGuaranteeReferenceNumber)">
        @Html.Gds().LabelFor(m => m.FinancialGuaranteeReferenceNumber)
        @Html.Gds().ValidationMessageFor(m => m.FinancialGuaranteeReferenceNumber)
        @Html.Gds().TextBoxFor(m => m.FinancialGuaranteeReferenceNumber)
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.ExporterName)">
        @Html.Gds().LabelFor(m => m.ExporterName)
        @Html.Gds().ValidationMessageFor(m => m.ExporterName)
        @Html.Gds().TextBoxFor(m => m.ExporterName)
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.ImporterName)">
        @Html.Gds().LabelFor(m => m.ImporterName)
        @Html.Gds().ValidationMessageFor(m => m.ImporterName)
        @Html.Gds().TextBoxFor(m => m.ImporterName)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.ProducerName)">
        @Html.Gds().LabelFor(m => m.ProducerName)
        @Html.Gds().ValidationMessageFor(m => m.ProducerName)
        @Html.Gds().TextBoxFor(m => m.ProducerName)
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Resources.ButtonText</button>
    </div>
}