@using EA.Iws.Core.Shared
@using EA.Iws.Web.ViewModels.Shared
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.Producer.AddProducerViewModel

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Business.Name)">
    @Html.Gds().LabelFor(m => m.Business.Name)
    @Html.Gds().ValidationMessageFor(m => m.Business.Name)
    @Html.Gds().HintSpan(BusinessResources.OrgNameHintUK)
    @Html.Gds().TextBoxFor(m => m.Business.Name, new
    {
        data_addressbook_url = Url.Action("Index", "Search", new { area = "AddressBook" }),
        data_addressbook_type = "Producer"
    })
</div>

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Business.BusinessType)">
    @Html.Gds().ValidationMessageFor(m => m.Business.BusinessType)

    <div class="govuk-radios__item" data-target="sole-trader-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "SoleTrader", new { @class = "govuk-radios__input", @id = "SoleTrader" })
        <label class="govuk-label govuk-radios__label" for="SoleTrader">
            @EnumHelper.GetDisplayName(BusinessType.SoleTrader)
        </label>
    </div>

    <div class="govuk-radios__item" data-target="partnership-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "Partnership", new { @class = "govuk-radios__input", @id = "Partnership" })
        <label class="govuk-label govuk-radios__label" for="Partnership">
            @EnumHelper.GetDisplayName(BusinessType.Partnership)
        </label>
    </div>

    <div class="govuk-radios__item" data-target="companies-house-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "LimitedCompany", new { @class = "govuk-radios__input", @id = "LimitedCompany" })
        <label class="govuk-label govuk-radios__label" for="LimitedCompany">
            @EnumHelper.GetDisplayName(BusinessType.LimitedCompany)
        </label>
    </div>

    <div class="panel @(Model.Business.BusinessType != null && Model.Business.BusinessType.Equals("Limited company") ? "" : "js-hidden")" id="companies-house-number">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Business.RegistrationNumber)" data-validation-behaviour="ignore-parent">
            @Html.Gds().LabelFor(m => m.Business.RegistrationNumber, false)
            <span class="form-hint">The 8-character code as documented by Companies House.</span>
            @Html.Gds().ValidationMessageFor(m => m.Business.RegistrationNumber)
            @Html.Gds().TextBoxFor(m => m.Business.RegistrationNumber)

            <details data-target="companies-house-number" class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        @BusinessResources.WhereToFindCompanyHouse
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        @Html.Raw(BusinessResources.CompanyHouseDescription)
                    </p>
                </div>
            </details>
        </div>
    </div>

    <div class="govuk-radios__item" data-target="other-description">
        @Html.RadioButtonFor(m => m.Business.BusinessType, BusinessType.Other, new { @class = "govuk-radios__input", @id = "Other" })
        <label class="govuk-label govuk-radios__label" for="Other">
            @EnumHelper.GetDisplayName(BusinessType.Other)
        </label>
    </div>

    <div class="panel hide-for-initial-load @(Model.Business.BusinessType != null && Model.Business.BusinessType == BusinessType.Other ? "" : "js-hidden")" id="other-description">
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Business.OtherDescription)">
            @Html.Gds().LabelFor(m => m.Business.OtherDescription)
            @Html.Gds().ValidationMessageFor(m => m.Business.OtherDescription)
            @Html.Gds().TextBoxFor(m => m.Business.OtherDescription)
        </div>
    </div>
</div>