@using EA.Iws.Web.Areas.AddressBook.Views
@using EA.Iws.Web.Areas.AdminExportAssessment.Views.Producer
@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.Producer.AddProducerViewModel
@{
    ViewBag.Title = ProducerResources.TitleAdd;
}

@using (Html.BeginForm("Add", "Producer", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.AdditionalCharge.NotificationId)

    <header class="hgroup">
        <h1 class="govuk-heading-l">@ProducerResources.Header</h1>
    </header>

    <fieldset>
        <legend class="visuallyhidden">@ProducerResources.ProducerDetails</legend>
        @Html.Partial("_BusinessType", Model)
    </fieldset>

    <h2 class="heading-medium">@ProducerResources.Address</h2>
    <hr />
    <span class="form-hint">@ProducerResources.AddressDescription</span>

    <fieldset>
        <legend class="visuallyhidden">@ProducerResources.Address</legend>
        @Html.EditorFor(m => m.Address)
    </fieldset>

    <h2 class="heading-medium">@ProducerResources.Contact</h2>
    <hr />

    <fieldset>
        <legend class="visuallyhidden">@ProducerResources.Contact</legend>
        @Html.EditorFor(m => m.Contact)
    </fieldset>

    <div class="govuk-form-group no-js-hidden">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="multiple-choice govuk-checkboxes__item">
                @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook", @class = "govuk-checkboxes__input" })
                <label class="govuk-label govuk-checkboxes__label" for="addressBook">
                    @AddressBookResources.AddToAddressBook
                </label>
            </div>
        </div>
    </div>

    <hr />
    <fieldset>
        @Html.EditorFor(m => m.AdditionalCharge)
    </fieldset>

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}

@section scripts {
    <script type="text/javascript">
        function hideProducerFromCompanyHouseSection() {
            $("#dvBtnImportName").hide();
            $("#Business_Name").removeAttr('readonly');
            $("#dvOrgNameDesction").hide();
            $("#dvOrgNameDetails").show();
            $("#Business_Name").val('');
            $("#hintOrgNameUK").show();
        }

        function showProducerFromCompanyHouseSection() {
            $("#dvBtnImportName").show();
            $("#Business_Name").attr('readonly', 'readonly');
            $("#dvOrgNameDesction").show();
            $("#dvOrgNameDetails").hide();
            $("#hintOrgNameUK").hide();
        }

        function disabledImportNameButton() {
            $('#btnImportName').attr('disabled', 'disabled');
        }

        function enabledImportNameButton() {
            $('#btnImportName').removeAttr('disabled');
        }

        $(function () {
            //On page load, controls hide
            $("#dvBtnImportName").hide();
            $("#dvOrgNameDesction").hide();

            //On page load, controls show
            $("#hintOrgName").show();
            $("#dvOrgNameDetails").show();
            $("#lblPostCode").text("Post code");
            $("#hintOrgNameUK").show();

            var isLimitedCompany = $("input[id='LimitedCompany']:checked").val();
            if (isLimitedCompany) {
                showProducerFromCompanyHouseSection();
            } else {
                hideProducerFromCompanyHouseSection();
            }

            $('#SoleTrader').click(function () {
                hideProducerFromCompanyHouseSection();
            });

            $('#Partnership').click(function () {
                hideProducerFromCompanyHouseSection();
            });

            $('#LimitedCompany').click(function () {
                showProducerFromCompanyHouseSection();
            });

            $('#Other').click(function () {
                hideProducerFromCompanyHouseSection();
            });

            var regNumber = $('#Business_RegistrationNumber').val();
            if ((regNumber === null) || (regNumber === '')) {
                disabledImportNameButton();
            }

            $("#Business_RegistrationNumber").keyup(function () {
                var regNumber = $('#Business_RegistrationNumber').val();
                if ((regNumber === null) || (regNumber === '')) {
                    disabledImportNameButton();
                } else {
                    enabledImportNameButton();
                }
            });

            $('#btnImportName').click(function () {
                var regNumber = $('#Business_RegistrationNumber').val();
                if ((regNumber !== null) && (regNumber !== '')) {
                    $.ajax({
                        url: 'GetCompanyName',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: { "registrationNumber": regNumber.toUpperCase(), __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                        success: function (result) {
                            if (result.success) {
                                $("#Business_Name").val(result.companyName);
                                $("#errorMessage").text("");
                            } else {
                                $("#errorMessage").text(result.errorMsg);
                                $("#Business_Name").val("");
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log("Error: " + errorThrown);
                        }
                    });
                }
                return false;
            });

            $('#additionalChargeYes').click(function () {
                $.ajax({
                        url: '@Url.Action("GetDefaultAdditionalChargeAmount")',
                        type: 'POST',
                        data: { notificationId: '@Model.AdditionalCharge.NotificationId', __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                        success: function (result) {
                            $('#AdditionalCharge_Amount').val(result);
                            $("#AdditionalCharge_Amount").removeAttr("readonly");
                        }
                    });
            });

            $('#additionalChargeNo').click(function () {
                $('#AdditionalCharge_Amount').val(0);
                $('#AdditionalCharge_Amount').attr('readonly', 'true');
            });
        });
    </script>
}