@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Delete.IndexResources
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.Delete.IndexViewModel

@{
    ViewBag.Title = Resource.Title;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Resource.MainHeading</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            @Html.HiddenFor(m => m.NotificationId)

            <div class="form-group @Html.Gds().FormGroupClass(m => m.Number)">
                @Html.Gds().LabelFor(m => m.Number)
                @Html.Gds().ValidationMessageFor(m => m.Number)
                @Html.Gds().TextBoxFor(m => m.Number, new { type = "number", min = 1 })
                &nbsp;&nbsp;&nbsp;<button type="submit" class="button">@Resource.ButtonText</button>
            </div>
        }

        @Html.ActionLink("Shipment summary", "Index", "Home", new { area = "AdminExportNotificationMovements", Model.NotificationId }, null)
    </div>
</div>