@using EA.Iws.Requests.PackagingType
@model EA.Iws.Web.ViewModels.PackagingTypes.PackagingTypesViewModel


<header class="hgroup">
    <h2 class="heading-large">Which packaging types will be used?</h2>
    <p>Select all that apply</p>
</header>

    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="form-group">
        <fieldset>
            @for (int i = 0; i < Model.PackagingTypes.PossibleValues.Count; i++)
            {
                MvcHtmlString idForThisCheckBox = Html.NameFor(m => m.PackagingTypes.PossibleValues[i]);

                <label for="@idForThisCheckBox" class="block-label">
                    @Html.CheckBoxFor(m => m.PackagingTypes.PossibleValues[i].Selected, new { id = idForThisCheckBox })
                    @Html.HiddenFor(m => m.PackagingTypes.PossibleValues[i].Text)
                    @Html.HiddenFor(m => m.PackagingTypes.PossibleValues[i].Value)
                    @if (Model.PackagingTypes.ShowEnumValue)
                    {
                        @Html.DisplayFor(m => m.PackagingTypes.PossibleValues[i].Value) @Html.Raw(" - ")
                    }
                    @Html.DisplayFor(m => m.PackagingTypes.PossibleValues[i].Text)
                </label>
            }
            <div class="form-group form-group-compound">
                <label class="block-label" for="other-option-check" data-target="other-option">
                    @Html.CheckBoxFor(m => m.OtherSelected, new { id = "other-option-check" })
                    @((int)PackagingType.Other) - Other
                </label>
            </div>
            <div class="panel-indent @(Model.OtherSelected ? "" : "js-hidden")" id="other-option">
                <label class="form-label" for="other-label">Please specify</label>
                <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherDescription)">
                    @Html.Gds().ValidationMessageFor(m => m.OtherDescription)<br />
                    @Html.Gds().TextBoxFor(m => m.OtherDescription, new { @id = "other-label" })
                </div>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
