@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuarantee.FinancialGuaranteeDecisionViewModel

<div class="form-group">
    <div>Is this a blanket bond?</div>

    <div class="form-group">
        <label class="block-label" data-target="validToDate" for="rdoNo">
            @Html.RadioButtonFor(m => m.IsBlanketBond, false, new { @class = "", @id = "rdoNo" })No
        </label>

        <label class="block-label" for="rdoYes">
            @Html.RadioButtonFor(m => m.IsBlanketBond, true, new { @class = "", @id = "rdoYes" })Yes
        </label>
    </div>
</div>

<div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.ReferenceNumber)">
        @Html.Gds().ValidationMessageFor(m => m.ReferenceNumber)
        <div class="@(Model.IsBlanketBond.GetValueOrDefault() ? "js-hidden" : string.Empty)" id="referenceNumber">Reference number</div>
        <div class="@(Model.IsBlanketBond.GetValueOrDefault() ?  string.Empty : "js-hidden")" id="blanketBondReference">Blanket bond reference number</div>
        @Html.Gds().TextBoxFor(m => m.ReferenceNumber, new { @MaxLength = "70" })
    </div>
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.ActiveLoadsPermitted)">
    @Html.Gds().ValidationMessageFor(m => m.ActiveLoadsPermitted)
    @Html.Gds().LabelFor(m => m.ActiveLoadsPermitted, false)
    @Html.Gds().TextBoxFor(m => m.ActiveLoadsPermitted, new { type = "number", min = "1", step = "1", pattern = "[0-9]*" })
</div>
