@using EA.Iws.Web.Areas.NotificationApplication.Views.Shipment
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Shipment.ShipmentInfoViewModel
@{
    ViewBag.Title = ShipmentResources.Title;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.IsPreconsentedRecoveryFacility)
    @Html.HiddenFor(m => m.ShowSelfEnterShipmentData)

    <h1 class="govuk-heading-l">@ShipmentResources.HeaderNumber</h1>
    @Html.Gds().HintSpan(ShipmentResources.NumberHint)
    <div class="grid-row">
        <div class="column-half">
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.NumberOfShipments)">
                @Html.Gds().LabelFor(m => m.NumberOfShipments)
                @Html.Gds().ValidationMessageFor(m => m.NumberOfShipments)
                @Html.Gds().TextBoxFor(m => m.NumberOfShipments)
            </div>
        </div>
    </div>

    if (Model.ShowSelfEnterShipmentData)
    {
        <hr>
        <h2 class="govuk-heading-m">@ShipmentResources.WillSelfEnterShipmentData</h2>
        @Html.Gds().HintSpan(Model.WillSelfEnterShipmentDataHintWithPrice)
        @Html.Gds().ValidationMessageFor(m => m.WillSelfEnterShipmentData)
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.WillSelfEnterShipmentData)">
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.WillSelfEnterShipmentData, true, new { id = "yes", @class = "govuk-radios__input" })
                        <label class="govuk-label govuk-radios__label" for="yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.WillSelfEnterShipmentData, false, new { id = "no", @class = "govuk-radios__input" })
                        <label class="govuk-label govuk-radios__label" for="no">
                            No
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    }

    <hr>
    <h1 class="govuk-heading-m">@ShipmentResources.HeaderQty</h1>
    @Html.Gds().HintSpan(ShipmentResources.NumberHint)
    <div class="grid-row">
        <div class="column-half">
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Quantity)">
                @Html.Gds().LabelFor(m => m.Quantity)
                @Html.Gds().ValidationMessageFor(m => m.Quantity)
                @Html.Gds().TextBoxFor(m => m.Quantity)
            </div>
        </div>
        <div class="column-half">
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Units)">
                @Html.Gds().LabelFor(m => m.Units)
                @Html.Gds().ValidationMessageFor(m => m.Units)
                @Html.Gds().DropDownListFor(m => m.Units, Model.UnitsSelectList, new { @class = "govuk-select" })
            </div>
        </div>
    </div>

    <hr>
    <h1 class="govuk-heading-m">@ShipmentResources.HeaderDates</h1>

    <div class="grid-row">
        <div class="column-half">
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.StartDay) @Html.Gds().FormGroupClass(m => m.StartMonth) @Html.Gds().FormGroupClass(m => m.StartYear)">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="form-label">@ShipmentResources.FirstDeparture</span>
                    </legend>
                    <div id="dob-hint" class="govuk-hint">
                        @Html.Gds().HintParagraph(ShipmentResources.FirstDepartureDateHint)
                        @Html.Gds().ValidationMessageFor(m => m.StartDay)
                        @Html.Gds().ValidationMessageFor(m => m.StartMonth)
                        @Html.Gds().ValidationMessageFor(m => m.StartYear)
                    </div>
                    <div class="govuk-date-input" id="dob">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="StartDay">
                                    @Html.Gds().LabelFor(m => m.StartDay)
                                </label>
                                @Html.Gds().TextBoxFor(m => m.StartDay, new { type = "number", min = "1", max = "31", @class = "govuk-input govuk-date-input__input govuk-input--width-2" }, false)
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="StartMonth">
                                    @Html.Gds().LabelFor(m => m.StartMonth)
                                </label>
                                @Html.Gds().TextBoxFor(m => m.StartMonth, new { type = "number", min = "1", max = "12", @class = "govuk-input govuk-date-input__input govuk-input--width-2" }, false)
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="StartYear">
                                    @Html.Gds().LabelFor(m => m.StartYear)
                                </label>
                                @Html.Gds().TextBoxFor(m => m.StartYear, new { type = "number", min = "2015", @class = "govuk-input govuk-date-input__input govuk-input--width-4" }, false)
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="column-half">
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.EndDay) @Html.Gds().FormGroupClass(m => m.EndMonth) @Html.Gds().FormGroupClass(m => m.EndYear)">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="form-label">@ShipmentResources.LastDeparture</span>
                    </legend>
                    <div id="dob-hint" class="govuk-hint">
                        @Html.Gds().HintParagraph(ShipmentResources.LastDepartureDateHint)
                        @Html.Gds().ValidationMessageFor(m => m.EndDay)
                        @Html.Gds().ValidationMessageFor(m => m.EndMonth)
                        @Html.Gds().ValidationMessageFor(m => m.EndYear)
                    </div>
                    <div class="govuk-date-input" id="dob">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="StartDay">
                                    @Html.Gds().LabelFor(m => m.EndDay)
                                </label>
                                @Html.Gds().TextBoxFor(m => m.EndDay, new { type = "number", min = "1", max = "31", @class = "govuk-input govuk-date-input__input govuk-input--width-2" }, false)
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="StartMonth">
                                    @Html.Gds().LabelFor(m => m.EndMonth)
                                </label>
                                @Html.Gds().TextBoxFor(m => m.EndMonth, new { type = "number", min = "1", max = "12", @class = "govuk-input govuk-date-input__input govuk-input--width-2" }, false)
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="StartYear">
                                    @Html.Gds().LabelFor(m => m.EndYear)
                                </label>
                                @Html.Gds().TextBoxFor(m => m.EndYear, new { type = "number", min = "2015", @class = "govuk-input govuk-date-input__input govuk-input--width-4" }, false)
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="govuk-form-group">
        <p> <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button></p>
    </div>
}