@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.CustomsOffice.CustomsOfficeViewModel

@{
    ViewBag.Title = "Entry Customs Office";
}
<header class="hgroup">
    @if (Model.Steps > 1)
    {
        <div class="form-group">
            @Html.Gds().HintParagraph("Step 2 of " + @Model.Steps)
        </div>
    }
    <h2 class="heading-large">What is the name and address for the entry customs office?</h2>
    <p>This is the customs office through which the waste enters the European Economic Area (EEA)</p>
</header>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.Partial("~/Areas/NotificationApplication/Views/CustomsOffice/_Index.cshtml", Model)
    <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
}

