@using EA.Iws.Web.Areas.NotificationApplication.Views.EntryCustomsOffice
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.CustomsOffice.CustomsOfficeViewModel

@{
    ViewBag.Title = EntryCustomsOfficeResources.Title;
}
<header class="hgroup">
    @if (Model.Steps > 1)
    {
        <div class="govuk-form-group">
            @Html.Gds().HintParagraph("Step 1 of " + @Model.Steps)
        </div>
    }
    <h2 class="govuk-heading-l">@EntryCustomsOfficeResources.Header</h2>
</header>

<div class="govuk-form-group">
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                When to provide customs office of entry details
            </span>            
        </summary>
        <div class="govuk-details__text">
            @Html.Partial("_EntryCustomsOfficeGuidance")
        </div>
    </details>
</div>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CustomsOfficeRequired)">
        @Html.Gds().ValidationMessageFor(m => m.CustomsOfficeRequired)
        <div class="govuk-radios__item customs-office-required-radio-button" data-target="yes-message">
            @Html.RadioButtonFor(m => m.CustomsOfficeRequired, true, new { @class = "govuk-radios__input", @id = "rdoYes" })
            <label class="govuk-label govuk-radios__label" for="rdoYes">
                @EntryCustomsOfficeResources.CustomsRequiredText
            </label>
        </div>
        <div class="panel hide-for-initial-load @(Model.CustomsOfficeRequired == true ? "" : "js-hidden")" id="other-description">
            @Html.AntiForgeryToken()
            @Html.Partial("~/Areas/NotificationApplication/Views/CustomsOffice/_Index.cshtml", Model)
        </div>
        <div class="govuk-radios__item customs-office-not-required-radio-button" data-target="no-message">
            @Html.RadioButtonFor(m => m.CustomsOfficeRequired, false, new { @class = "govuk-radios__input", @id = "rdoNo" })
            <label class="govuk-label govuk-radios__label" for="rdoNo">
                @EntryCustomsOfficeResources.CustomsNotRequiredText
            </label>
        </div>
    </div>
    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}