@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuaranteeAssessment.CompleteFinancialGuaranteeViewModel
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeAssessment.FinancialGuaranteeAssessmentResources
@{
    ViewBag.Title = Resources.CompleteTitle;
}

<h1 class="heading-large">@Resources.CompleteTitle</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.FinancialGuaranteeId)

    <div class="form-group @Html.Gds().FormGroupClass(m => m.CompleteDate.Day) @Html.Gds().FormGroupClass(m => m.CompleteDate.Month) @Html.Gds().FormGroupClass(m => m.CompleteDate.Year)">
        <label class="form-label" for="CompleteDate_Day">@Html.DisplayNameFor(m => m.CompleteDate)</label>
        @Html.EditorFor(m => m.CompleteDate)
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}