@using EA.Iws.Core.FinancialGuarantee
@model FinancialGuaranteeData
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeAssessment.FinancialGuaranteeAssessmentResources
@{
    ViewBag.Title = Resources.AssessmentTitle;

    var statusToUse = Model.Status;

    if (Model.Decision == FinancialGuaranteeDecision.Refused)
    {
        statusToUse = FinancialGuaranteeStatus.Refused;
    }
    if (Model.Decision == FinancialGuaranteeDecision.Approved)
    {
        statusToUse = statusToUse == FinancialGuaranteeStatus.Released ? statusToUse : FinancialGuaranteeStatus.Approved;
    }
}

<h1 class="govuk-heading-l">@Resources.AssessmentTitle</h1>

@if (!Model.IsEmpty)
{
    <div class="govuk-form-group">

        <h2 class="heading-medium">@Resources.DecisionHeading</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Resources.Decision</th>
                    <td class="govuk-table__cell">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Decision)</td>
                </tr>
                <tr>
                    <th scope="row" class="govuk-table__header">@Resources.CurrentStatus</th>
                    <td class="govuk-table__cell">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(statusToUse)</td>
                </tr>
                <tr>
                    <th scope="row" class="govuk-table__header">@Resources.DateReceived</th>
                    <td class="govuk-table__cell">@Html.Gds().DisplayDateFor(m => m.ReceivedDate)</td>
                </tr>
                <tr>
                    <th scope="row" class="govuk-table__header">@Resources.DateCompleted</th>
                    <td class="govuk-table__cell">
                        @if (Model.Status == FinancialGuaranteeStatus.ApplicationReceived)
                        {
                            @Html.ActionLink(Resources.AddLink, "Complete", new { financialGuaranteeId = Model.FinancialGuaranteeId })
                        }
                        else if (Model.CompletedDate.HasValue)
                        {
                            @Html.Gds().DisplayDateFor(m => m.CompletedDate.Value)
                        }
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
}

@if (Model.Status == FinancialGuaranteeStatus.ApplicationReceived)
{
    <div class="govuk-form-group">
        <a href="#" class="govuk-button" disabled="disabled">@Resources.MakeADecisionButton</a>
    </div>
}

@if (Model.Status == FinancialGuaranteeStatus.ApplicationComplete)
{
    <div class="govuk-form-group">
        @Html.ActionLink(Resources.MakeADecisionButton, "Index", "FinancialGuaranteeDecision", new { financialGuaranteeId = Model.FinancialGuaranteeId }, new { @class = "govuk-button" })
    </div>
}

@if (Model.Status == FinancialGuaranteeStatus.Approved)
{
    <div class="govuk-form-group">
        @Html.ActionLink(Resources.Release, "Release", "FinancialGuaranteeDecision", new { financialGuaranteeId = Model.FinancialGuaranteeId }, null)
    </div>
}

@if (Model.IsNotificationStatusRecordable && (Model.Decision != FinancialGuaranteeDecision.None || Model.IsEmpty))
{
    <div class="govuk-form-group">
        @Html.ActionLink(Resources.RecordNew, "New", null, new { @class = "govuk-button" })
    </div>
}

<div class="govuk-form-group">
    @Html.ActionLink(Resources.DecisionHistoryLink, "Index", "FinancialGuaranteeDecisionHistory")
</div>

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}