@using EA.Iws.Core.FinancialGuarantee
@model CurrentFinancialGuaranteeDetails
@{
    ViewBag.Title = "Financial guarantee assessment";
}

<h1 class="heading-large">Financial guarantee assessment</h1>

<div class="form-group">

    <h2 class="heading-medium">Financial guarantee decision</h2>

    <table class="fg-decision">
        <tbody>
        <tr>
            <th>Decision</th>
            <td>@Model.Decision</td>
        </tr>
        <tr>
            <th>Date received</th>
            <td>@Html.Gds().DisplayDateFor(m => m.ReceivedDate)</td>
        </tr>
        <tr>
            <th>Date completed</th>
            <td>
                @if (Model.Status == FinancialGuaranteeStatus.ApplicationReceived)
                {
                    @Html.ActionLink("Add", "Complete", new { financialGuaranteeId = Model.FinancialGuaranteeId })
                }
                else
                {
                    @Html.Gds().DisplayDateFor(m => m.CompletedDate.Value)
                }
            </td>
        </tr>
        </tbody>
    </table>

</div>

@if (Model.Status == FinancialGuaranteeStatus.ApplicationComplete)
{
    <div class="form-group">
        @Html.ActionLink("Make a decision", "Index", "FinancialGuaranteeDecision", new { financialGuaranteeId = Model.FinancialGuaranteeId }, new { @class = "button" })
    </div>
}

@if (Model.Decision == FinancialGuaranteeDecision.Approved)
{
    <div class="form-group">
        @Html.ActionLink("Record a new financial guarantee", "New", null, new { @class = "button" })
    </div>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}