@using EA.Iws.Core.FinancialGuarantee
@model FinancialGuaranteeData
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeAssessment.FinancialGuaranteeAssessmentResources
@{
    ViewBag.Title = Resources.AssessmentTitle;
}

<h1 class="heading-large">@Resources.AssessmentTitle</h1>

@if (!Model.IsEmpty)
{
    <div class="form-group">

        <h2 class="heading-medium">@Resources.DecisionHeading</h2>

        <table class="fg-decision">
            <tbody>
            <tr>
                <th>@Resources.Decision</th>
                <td>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Decision)</td>
            </tr>
            <tr>
                <th>@Resources.DateReceived</th>
                <td>@Html.Gds().DisplayDateFor(m => m.ReceivedDate)</td>
            </tr>
            <tr>
                <th>@Resources.DateCompleted</th>
                <td>
                    @if (Model.Status == FinancialGuaranteeStatus.ApplicationReceived)
                    {
                        @Html.ActionLink(Resources.AddLink, "Complete", new { financialGuaranteeId = Model.FinancialGuaranteeId })
                    }
                    else if (Model.CompletedDate.HasValue)
                    {
                        @Html.Gds().DisplayDateFor(m => m.CompletedDate.Value)
                    }
                </td>
            </tr>
            </tbody>
        </table>

    </div>
}

@if (Model.Status == FinancialGuaranteeStatus.ApplicationReceived)
{
    <div class="form-group">
        <a href="#" class="button" disabled="disabled">@Resources.MakeADecisionButton</a>
    </div>
}

@if (Model.Status == FinancialGuaranteeStatus.ApplicationComplete)
{
    <div class="form-group">
        @Html.ActionLink(Resources.MakeADecisionButton, "Index", "FinancialGuaranteeDecision", new { financialGuaranteeId = Model.FinancialGuaranteeId }, new { @class = "button" })
    </div>
}

@if (Model.Decision != FinancialGuaranteeDecision.None || Model.IsEmpty)
{
    <div class="form-group">
        @Html.ActionLink(Resources.RecordNew, "New", null, new { @class = "button" })
    </div>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}