@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuaranteeAssessment.NewFinancialGuaranteeViewModel
@{
    ViewBag.Title = "Record new financial guarantee";
}

<h1 class="heading-large">Record new financial guarantee</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.ReceivedDate.Day) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Month) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Year)">
        <label class="form-label" for="ReceivedDate_Day">Guarantee received</label>
        @Html.EditorFor(m => m.ReceivedDate)
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.CompletedDate.Day) @Html.Gds().FormGroupClass(m => m.CompletedDate.Month) @Html.Gds().FormGroupClass(m => m.CompletedDate.Year)">
        <label class="form-label" for="CompletedDate_Day">Guarantee completed</label>
        @Html.EditorFor(m => m.CompletedDate)
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}