@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuaranteeAssessment.NewFinancialGuaranteeViewModel
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeAssessment.FinancialGuaranteeAssessmentResources
@{
    ViewBag.Title = Resources.NewTitle;
}

<h1 class="govuk-heading-l">@Resources.NewTitle</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.HasAlreadyFinancialGuarantee)

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ReceivedDate.Day) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Month) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Year)">
        <label class="form-label" for="ReceivedDate_Day">@Html.DisplayNameFor(m => m.ReceivedDate)</label>
        @Html.EditorFor(m => m.ReceivedDate)
    </div>

    if (Model.HasAlreadyFinancialGuarantee)
    {
        @Html.HiddenFor(x => x.CompetentAuthority)
        @Html.HiddenFor(x => x.AdditionalCharge.NotificationId)

        <hr />
        <fieldset>
            @Html.EditorFor(m => m.AdditionalCharge)
        </fieldset>
    }

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}

@section scripts {
    <script>

        $(function () {

            $('#additionalChargeYes').click(function () {
                $.ajax({
                        url: '@Url.Action("GetDefaultAdditionalChargeAmount")',
                        type: 'POST',
                        data: { competentAuthority: '@Model.CompetentAuthority', __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                        success: function (result) {
                            $('#AdditionalCharge_Amount').val(result);
                            $("#AdditionalCharge_Amount").removeAttr("readonly");
                        }
                    });
            });

            $('#additionalChargeNo').click(function () {
                $('#AdditionalCharge_Amount').val(0);
                $('#AdditionalCharge_Amount').attr('readonly', 'true');
            });

        });
    </script>
}