@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuaranteeAssessment.NewFinancialGuaranteeViewModel
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeAssessment.FinancialGuaranteeAssessmentResources
@{
    ViewBag.Title = Resources.NewTitle;
}

<h1 class="govuk-heading-l">@Resources.NewTitle</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ReceivedDate.Day) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Month) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Year)">
        <label class="form-label" for="ReceivedDate_Day">@Html.DisplayNameFor(m => m.ReceivedDate)</label>
        @Html.EditorFor(m => m.ReceivedDate)
    </div>

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}