@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.EditContact.EditContactViewModel
    
<div class="form-group @Html.Gds().FormGroupClass(m => m.FullName)">
    @Html.Gds().LabelFor(model => model.FullName)
    @Html.Gds().ValidationMessageFor(model => model.FullName)
    @Html.Gds().TextBoxFor(model => model.FullName)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Telephone) @Html.Gds().FormGroupClass(m => m.TelephonePrefix)">
    @Html.Gds().LabelFor(model => model.Telephone)
    @Html.Gds().ValidationMessageFor(model => model.TelephonePrefix)
    @Html.Gds().ValidationMessageFor(model => model.Telephone)
    <fieldset>
        <div class="international-number">
            <div class="plus-label">
                +
            </div>
            <div class="international-number-prefix">
                @Html.Gds().TextBoxFor(m => m.TelephonePrefix)
            </div>
            <div class="international-number-body">
                @Html.Gds().TextBoxFor(m => m.Telephone, false)
            </div>
        </div>
    </fieldset>
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
    @Html.Gds().LabelFor(model => model.Email)
    @Html.Gds().ValidationMessageFor(model => model.Email)
    @Html.Gds().TextBoxFor(model => model.Email)
</div>