@using EA.Iws.Web.Areas.NotificationApplication.Views.WasteRecovery
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteRecovery.DisposalMethodViewModel
@{
    ViewBag.Title = DisposalMethodResources.Title;
}

@using (Html.BeginForm("DisposalMethod", "WasteRecovery", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="heading-large">@DisposalMethodResources.Header</h1>
    </header>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.DisposalMethod)">
        @Html.Gds().LabelFor(m => m.DisposalMethod)
        @Html.Gds().HintParagraph(DisposalMethodResources.DisposalMethodHint)
        @Html.Gds().ValidationMessageFor(m => m.DisposalMethod)
        @Html.Gds().TextBoxFor(m => m.DisposalMethod, new { @MaxLength = 40 })
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}