@using EA.Iws.Web.Areas.NotificationApplication.Views.WasteRecovery
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteRecovery.EstimatedValueViewModel
@{
    ViewBag.Title = EstimatedValueResources.Title;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PercentageRecoverable)

    <header class="hgroup">
        <h1 class="heading-large">@EstimatedValueResources.Header</h1>
    </header>

    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Amount)">
        @Html.Gds().LabelFor(m => m.Amount, false)
        @Html.Gds().ValidationMessageFor(m => m.Amount)
        @Html.Gds().TextBoxFor(m => m.Amount)
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedUnits)">
        @Html.Gds().LabelFor(m => m.SelectedUnits, false)
        @Html.Gds().ValidationMessageFor(m => m.SelectedUnits)
        @Html.Gds().DropDownListFor(m => m.SelectedUnits, Model.UnitSelectList)
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}