@using Resource = EA.Iws.Web.Areas.ExportMovement.Views.Submit.IndexResources
@model EA.Iws.Web.Areas.ExportMovement.ViewModels.Submit.SubmitViewModel
@{
    ViewBag.Title = Resource.TabTitle;
}

<header class="hgroup">
    <h1 class="heading-large">@Resource.Title</h1>
</header>

<p>@Resource.Paragraph</p>

@using (Html.BeginForm(null, "Submit", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.MovementId)
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.File)">
        <label for="@Html.NameFor(m => m.File)" class="visually-hidden">@Html.DisplayNameFor(m => m.File)</label>
        @Html.Gds().ValidationMessageFor(m => m.File)
        @Html.Gds().TextBoxFor(m => m.File, new { type = "file" })
    </div>

    <div class="form-group-compound">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}
<div class="form-group">
    <p>
        @Html.ActionLink(Resource.ReturnToNotificationOptions,
            "Index",
            "Options",
            new { area = "NotificationApplication", id = Model.NotificationId },
            null)
    </p>
</div>