@using EA.Iws.Web.Areas.NotificationApplication.Views.StateOfImport
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.StateOfImport.StateOfImportViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.CountryId)">
    @Html.Gds().LabelFor(m => m.CountryId, new { @class = "form-label-bold" })
    @Html.Gds().HintParagraph(StateOfImportResources.EndJourneyHint)
    @Html.HiddenFor(m => m.CountryId)
    @Html.Gds().DropDownListFor(m => m.CountryId, Model.Countries, new { id = "country-list", disabled = "disabled", title = StateOfImportResources.CountryList, data_select_box = "true" })
    <button class="link-submit force-newline" type="submit" value="changeCountry" name="submit">@StateOfImportResources.ChangeCountry</button>
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.CompetentAuthorities.Selected)">
    @Html.Gds().LabelFor(m => m.CompetentAuthorities, new { @class = "form-label-bold" })
    @Html.Gds().HintParagraph(StateOfImportResources.CAHint)
    @Html.Gds().ValidationMessageFor(m => m.CompetentAuthorities.SelectedValue)
    @Html.EditorFor(m => m.CompetentAuthorities, new { id = "CompetentAuthorities" })
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.EntryOrExitPointId)">
    @Html.Gds().LabelFor(m => m.EntryOrExitPointId, new { @class = "form-label-bold" })
    @Html.Gds().HintParagraph(StateOfImportResources.PortHint)
    @Html.Gds().ValidationMessageFor(m => m.EntryOrExitPointId)
    @Html.Gds().DropDownListFor(m => m.EntryOrExitPointId, Model.EntryPoints, string.Empty, new { title = StateOfImportResources.EntryPoint, data_select_box = "true" })
</div>

@Html.Partial("_PortNotListedDisclosure", new ViewDataDictionary { { "ca", Model.NotificationCompetentAuthority } })

<div class="form-group">
    <button class="button" type="submit" value="submit" name="submit">@Constants.ContinueButtonText</button>
</div>