@using EA.Iws.Web.Areas.NotificationApplication.Views.StateOfImport
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.StateOfImport.StateOfImportViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.CountryId)">
    @Html.Gds().LabelFor(m => m.CountryId, new { @class = "form-label-bold" })
    @Html.Gds().HintParagraph(StateOfImportResources.CountryHint)
    @if (Model.CountryId != null)
    {
        @Html.Gds().DropDownListFor(m => m.CountryId, Model.Countries)
    }
    else
    {
        @Html.Gds().DropDownListFor(m => m.CountryId, Model.Countries, string.Empty, new { title = StateOfImportResources.ExitCountry })
    }
</div>

<button class="button" type="submit" value="country" name="submit">@Constants.ContinueButtonText</button>