@using EA.Iws.Web.Areas.NotificationApplication.Views.StateOfImport
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.StateOfImport.StateOfImportViewModel
@{
    ViewBag.Title = StateOfImportResources.Title;
}
<h1 class="heading-large">@StateOfImportResources.Header</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    if (!Model.ShowNextSection)
    {
        @Html.Partial("_CountryOnly", Model)

        @section scripts{
            <script>
                (function ($) {
                    $(function () {
                        $('#CountryId').selectToAutocomplete();
                    });
                })(jQuery);
            </script>
        }
    }
    else
    {
        @Html.HiddenFor(m => m.ShowNextSection)

        @Html.Partial("_AllDetails", Model)

        @section scripts{
            <script>
                (function ($) {
                    $(function () {
                        $('#country-list').selectToAutocomplete();
                        $('#EntryOrExitPointId').selectToAutocomplete();
                    });
                })(jQuery);
            </script>
        }
    }

    for (int i = 0; i < Model.TransitStateCountryIds.Count; i++)
    {
        @Html.HiddenFor(m => m.TransitStateCountryIds[i])
    }
    if (Model.StateOfExportCountryId.HasValue)
    {
        @Html.HiddenFor(m => m.StateOfExportCountryId)
    }
}