@using Resource = EA.Iws.Web.Areas.AddressBook.Views.AddressBookResources
@model EA.Iws.Core.AddressBook.AddressBookData
@{
    ViewBag.Title = "Address Book - " + Model.Type;
}

<header>
    <h1 class="heading-large">Your address book</h1>
    <p class="subtitle">Manage your address book</p>
</header>

<div class="grid-row">
    <div class="column-two-thirds">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h3 class="heading-small">@Resource.SearchHeader</h3>
            <div id="search-container" class="form-group @Html.Gds().FormGroupClass(m => m.SearchTerm)">
                @Html.Gds().ValidationMessageFor(m => m.SearchTerm)
                @Html.Gds().HintParagraph(Resource.SearchHint)
                @Html.Gds().TextBoxFor(m => m.SearchTerm, new { @title = "Search term", placeholder = Resource.SearchPlaceholder })
                @Html.HiddenFor(m => m.Type)
                <button name="button" value="search" class="button" type="submit">@Resource.Search</button>
            </div>
        }
    </div>
</div>

@Html.Partial("_Navigation")

@if (Model.AddressRecords.Count > 0)
{
    <div class="form-group table-container">
        <table title="Address book records">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.AddressRecords.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(m => m.AddressRecords[i].BusinessData.Name)</td>
                    <td>
                        @Html.DisplayFor(m => m.AddressRecords[i].AddressData.StreetOrSuburb),
                        @if (Model.AddressRecords[i].AddressData.Address2 != null)
                        {
                            @Html.DisplayFor(m => m.AddressRecords[i].AddressData.Address2)<text>,</text>
                        }
                        @Html.DisplayFor(m => m.AddressRecords[i].AddressData.TownOrCity),
                        @Html.DisplayFor(m => m.AddressRecords[i].AddressData.PostalCode)
                    </td>
                    <td>@Html.ActionLink("Delete", "Index", "Delete", new { id = Model.AddressRecords[i].Id, type = Model.Type }, null)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
} 

@if (Model.AddressRecords.Count == 0)
{
    if (Model.SearchTerm == null)
    {
        <p>You have no address records for this business type.</p>
    }
    else
    {
        <p>Address not found</p>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ActionLink(Resource.GoToHomepage, "Home", "Applicant", new { area = string.Empty }, null)
    </div>
}