@using EA.Iws.Core.Shared
@using EA.Iws.Web.Areas.ImportNotification.Views.WasteOperation
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.WasteOperation.WasteOperationViewModel
@{
    ViewBag.Title = IndexResources.Title;
}

<h1 class="heading-large">@IndexResources.MainHeading</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <h2 class="heading-medium">
        @(Model.NotificationType == NotificationType.Recovery ? IndexResources.RecoveryCodesHeading : IndexResources.DisposalCodesHeading)
    </h2>

    <div class="form-group">
        @Html.EditorFor(m => m.Codes)
    </div>

    <h2 class="heading-medium">@IndexResources.TechnologyEmployedHeading</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.TechnologyEmployed)">
        @Html.Gds().LabelFor(m => m.TechnologyEmployed)
        @Html.Gds().ValidationMessageFor(m => m.TechnologyEmployed)
        @Html.Gds().TextBoxFor(m => m.TechnologyEmployed, new { @class = "full-width" })
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}