@model EA.Iws.Core.FinancialGuarantee.FinancialGuaranteeData
@using EA.Iws.Core.FinancialGuarantee
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeDetails.FinancialGuaranteeDetailsResources
@{
    ViewBag.Title = Resources.DetailsTitle;
}

<h1 class="govuk-heading-l">@Resources.DetailsTitle</h1>

<div class="govuk-form-group">

    <table class="fg-decision">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Resources.Status</th>
                <td class="govuk-table__cell">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Status)</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Resources.Decision</th>
                <td class="govuk-table__cell">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Decision)</td>
            </tr>

            @if (Model.Decision == FinancialGuaranteeDecision.Refused)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">@Resources.RefusalReason</th>
                    <td class="govuk-table__cell">@Model.RefusalReason</td>
                </tr>
            }

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Resources.DecisionDate</th>
                <td class="govuk-table__cell">
                    @if (Model.DecisionDate.HasValue)
                    {
                        @Html.Gds().DisplayDateFor(m => m.DecisionDate.Value)
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Resources.IsBlanketBond</th>
                <td class="govuk-table__cell">
                    @if (Model.IsBlanketBond.HasValue)
                    {
                        @(Model.IsBlanketBond.Value ? Resources.Yes : Resources.No)
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Resources.ReferenceNumber</th>
                <td class="govuk-table__cell">
                    @if (!string.IsNullOrWhiteSpace(Model.ReferenceNumber))
                    {
                        @Model.ReferenceNumber
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@Resources.ActiveLoadsPermitted</th>
                <td class="govuk-table__cell">
                    @if (Model.ActiveLoadsPermitted.HasValue)
                    {
                        @Model.ActiveLoadsPermitted.Value
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

@Html.ActionLink(Resources.BackToHistoryLink, "Index", "FinancialGuaranteeDecisionHistory")

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}