@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.DeleteTransaction.ConfirmViewModel
@using Resource = EA.Iws.Web.Areas.AdminExportAssessment.Views.DeleteTransaction.ConfirmResources

@{
    ViewBag.Title = Resource.MainHeading;
}

<h1 class="govuk-heading-l">@Resource.MainHeading</h1>

<div class="govuk-form-group">
    <p>@Resource.subTitle</p>

    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">@Resource.TransactionType</td>
                <td class="govuk-table__cell">@Model.Transaction</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">@Resource.Date</td>
                <td class="govuk-table__cell">@Html.Gds().DisplayShortDateFor(m => Model.Date)</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">@Resource.Amount</td>
                <td class="govuk-table__cell">@Model.Amount.ToString("C")</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">@Resource.Type.ToNonBreakingString()</td>
                <td class="govuk-table__cell">@Model.Type</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">@Resource.Receipt.ToNonBreakingString()</td>
                <td class="govuk-table__cell">@Model.ReceiptNumber</td>
            </tr>
            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">@Resource.Comments</td>
                <td class="govuk-table__cell">@(Model.Comments == string.Empty || Model.Comments == null ? "None" : Model.Comments)</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="govuk-form-group">
    @Html.ActionLink(Resource.CancelLink, "Index", "AccountManagement")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.TransactionId)

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Resource.DeleteLink</button>
    </div>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Finance })
}