@model EA.Iws.Core.Shared.AddressData

<div>
    <dl>
        <dd>@Html.DisplayFor(m => m.Building)</dd>
        <dd>@Html.DisplayFor(m => m.Address2)</dd>
        <dd>@Html.DisplayFor(m => m.StreetOrSuburb)</dd>
        <dd>@Html.DisplayFor(m => m.TownOrCity)</dd>
        <dd>@Html.DisplayFor(m => m.Region)</dd>
        <dd>@Html.DisplayFor(m => m.PostalCode)</dd>
        <dd>@Html.DisplayFor(m => m.CountryName)</dd>
    </dl>
</div>