@model EA.Iws.Core.Shared.ContactData

<div>
    <dl>
        <dd>@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</dd>
        <dd>Tel: @Html.DisplayFor(m => m.Telephone)</dd>
        @if (!string.IsNullOrWhiteSpace(Model.Fax))
        {
            <dd>Fax: @Html.DisplayFor(m => m.Fax)</dd>
        }
        <dd>Email: @Html.DisplayFor(m => m.Email)</dd>
    </dl>
</div>