@using System.Globalization
@using EA.Iws.Core.Notification
@using Resources = EA.Iws.Web.Areas.NotificationApplication.Views.WhatToDoNext.PaymentResources
@model EA.Iws.Requests.Notification.WhatToDoNextPaymentData

@{
    ViewBag.Title = Resources.Title;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

@{
    var due = Model.Charge - Model.AmountPaid;
    NumberFormatInfo nfi = new CultureInfo("en-GB").NumberFormat;
    nfi.CurrencyGroupSeparator = string.Empty;
}

<div class="grid-row">
    <div class="column-two-thirds">

        <header class="hgroup">
            <h1 class="heading-large">@Resources.MainHeading</h1>
        </header>

        @if (Model.Charge == 0)
        {
            <div class="form-group">
                <div class="noti-alert no-margin">
                    <em>@Resources.AlertText</em> @Resources.ChargesNotShownAlert
                </div>
            </div>
        }

        <div class="grid-row">
            <div class="column-half">
                <div class="noti-price">
                    <span class="text">Notification<br />Charges</span>
                    <span class="price">@Html.Raw(Model.Charge.ToString("C0", nfi))</span>
                </div>
            </div>

            <div class="column-half">
                <div class="noti-price">
                    <span class="text">Amount<br />Paid</span>
                    <span class="price">@Html.Raw(Model.AmountPaid.ToString("C0", nfi))</span>
                </div>
            </div>
        </div>

        <br/>
        <br/>
        <p>@Resources.ListAvailablePaymentMethods</p>
        <br/>
        <h4 class="heading-small">@Resources.BankTransfer</h4>
        <p>@Resources.BankTransferReferenceDisclaimer</p>
    </div>
</div>

<div>
    <table class="table-pad-bottom" title="Bank details">
        <tbody>
            <tr>
                <td>Payment Reference</td>
                <td>@Html.DisplayFor(m => m.NotificationNumber)</td>
            </tr>
            <tr>
                <td>Payment Due</td>
                <td>@Html.Raw(due.ToString("C"))</td>
            </tr>
            <tr>
                <td>Account Name</td>
                <td>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.AccountName)</td>
            </tr>
            <tr>
                <td>Bank Name</td>
                <td>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.Bank)</td>
            </tr>
            <tr>
                <td>Bank Address</td>
                <td>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.BankAddress)</td>
            </tr>
            <tr>
                <td>Sort Code</td>
                <td>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.SortCode)</td>
            </tr>
            <tr>
                <td>Account Number</td>
                <td>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.AccountNumber)</td>
            </tr>
        </tbody>
    </table>


    <p>@Resources.BankTransferInternational</p>
    <table class="table-pad-bottom" title="International banking details">
        <tr>
            <td>IBAN</td>
            <td>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.Iban)</td>
        </tr>
        <tr>
            <td>SWIFTBIC</td>
            <td>@Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.SwiftBic)</td>
        </tr>
    </table>
</div>

<div class="grid-row column-two-thirds">
    @if (Model.CompetentAuthority == UKCompetentAuthority.Wales)
{
    @Html.Partial("_NrwRemittanceEmail")
}
else
{
    @Html.Partial("_GeneralRemittanceEmail")
}

@Html.Partial("_RemittancePost")

<h4 class="heading-small">@Resources.Post</h4>
@Html.Partial("_GeneralPost")

@Html.Action("CardPaymentInformation", new { competentAuthority = Model.CompetentAuthority })




<br/><br/>

<div class="form-group">
    @Html.ActionLink("Continue", "Index", "Annex", new { id = Model.Id, area = "NotificationApplication" }, new { @class = "button" })
</div>

<div>
    @Html.ActionLink("Go to notification options", "Index", "Options", new { id = Model.Id, area = "NotificationApplication" }, null)
</div>
</div>
