@using System.Globalization
@using EA.Iws.Core.Notification
@using EA.Iws.Core.NotificationAssessment
@using Resources = EA.Iws.Web.Areas.NotificationApplication.Views.WhatToDoNext.PaymentResources
@model EA.Iws.Requests.Notification.WhatToDoNextPaymentData

@{
    ViewBag.Title = Resources.Title;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

@{
    var due = Model.Charge - Model.AmountPaid;
    NumberFormatInfo nfi = new CultureInfo("en-GB").NumberFormat;
    nfi.CurrencyGroupSeparator = string.Empty;
}

<div class="grid-row">
    <div class="column-two-thirds">

        <header class="hgroup">
            <h1 class="heading-large">@Resources.MainHeading</h1>
        </header>

        @if (Model.Charge == 0)
        {
            <div class="form-group">
                <div class="noti-alert no-margin">
                    <em>@Resources.AlertText</em> @Resources.ChargesNotShownAlert
                </div>
            </div>
        }

        <div class="grid-row">
            <div class="column-half">
                <div class="noti-price">
                    <span class="text">Notification<br />charges</span>
                    <span class="price">@Html.Raw(Model.Charge.ToString("C0", nfi))</span>
                </div>
            </div>

            <div class="column-half">
                <div class="noti-price">
                    <span class="text">Amount<br />paid</span>
                    <span class="price">@Html.Raw(Model.AmountPaid.ToString("C0", nfi))</span>
                </div>
            </div>
        </div>
        
        <br />
        @if (Model.CompetentAuthority == UKCompetentAuthority.NorthernIreland)
        {
            <p>@Resources.ListAvailablePaymentMethodsNIEA</p>
        }
        else
        {
            <p>@Resources.ListAvailablePaymentMethods</p>
        }
        
        <h2>@Resources.BankTransfer</h2>
        <p>@Resources.BankTransferReferenceDisclaimer</p>
    </div>
</div>

<dl class="govuk-body govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Payment reference
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.NotificationNumber)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Payment due
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.Raw(due.ToString("C"))
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Account name
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.AccountName)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Bank name
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.Bank)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Bank address
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.BankAddress)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Sort code
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.SortCode)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Account number
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.AccountNumber)
        </dd>
    </div>
</dl>

<p style="margin-top:30px;">@Resources.BankTransferInternational</p>
<dl class="govuk-body govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            IBAN
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.Iban)
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            SWIFTBIC
        </dt>
        <dd class="govuk-summary-list__value">
            @Html.DisplayFor(m => m.UnitedKingdomCompetentAuthorityData.BacsDetails.SwiftBic)
        </dd>
    </div>
</dl>

<div class="grid-row column-two-thirds">
    @if (Model.CompetentAuthority == UKCompetentAuthority.Wales)
    {
        @Html.Partial("_NrwRemittanceEmail")
    }
    else
    {
        @Html.Partial("_GeneralRemittanceEmail")
    }

    @Html.Partial("_RemittancePost")

    <h2>@Resources.Post</h2>
    @Html.Partial("_GeneralPost")

    @Html.Action("CardPaymentInformation", new { competentAuthority = Model.CompetentAuthority })

    <br /><br />

    @if (Model.Status == NotificationStatus.NotSubmitted)
    {
        <div class="form-group">
            @Html.ActionLink("Continue", "Index", "Options", new { id = Model.Id, area = "NotificationApplication" }, new { @class = "button" })
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.ActionLink("Continue", "Index", "Annex", new { id = Model.Id, area = "NotificationApplication" }, new { @class = "button" })
        </div>

        <div>
            @Html.ActionLink("Go to notification options", "Index", "Options", new { id = Model.Id, area = "NotificationApplication" }, null)
        </div>
    }


</div>
