@using EA.Iws.Core.Notification
@model EA.Iws.Requests.Notification.WhatToDoNextData
@using Resource = EA.Iws.Web.Areas.NotificationApplication.Views.WhatToDoNext.PrintResources

@{
    ViewBag.Title = @Resource.TabTitle;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <header class="hgroup">
            <h1 class="heading-large">@Resource.Title</h1>
        </header>

        <div class="form-group">
            @Html.ActionLink(@Resource.DownloadLinkText, "GenerateNotificationDocument", "Home", new { id = Model.Id, area = "NotificationApplication" },
                new { data_track = "link", data_category = "Export notification", data_action = "Download" })
            @Resource.AfterDownloadLinkText
        </div>

	    <div class="form-group">
		        @Html.Partial("_Block17Disclosure")
	    </div>

        <div>@Resource.ReferenceAnnexesTitle</div>

        <div class="form-group">
            <details>
                <summary><h2 class="summary heading-xsmall">@Resource.ReferenceAnnexesDisclosureTitle</h2></summary>
                <div class="panel-indent">
                    @Resource.ReferenceAnnexesDisclosureText
                </div>
            </details>
        </div>
    </div>
</div>

<div class="form-group">
    @Html.ActionLink("Continue", "PostageLabel", "WhatToDoNext", new { id = Model.Id, area = "NotificationApplication" }, new { @class = "button" })
</div>

<div>
    @Html.ActionLink(@Resource.NotificationOptionLinkText, "Index", "Options", new { id = Model.Id, area = "NotificationApplication" }, null)
</div>
