@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteGenerationProcess.WasteGenerationProcessViewModel
@{
    ViewBag.Title = "Waste generation process";
}
<header class="hgroup">
    <h2 class="heading-large">Describe the process by which the waste was produced</h2>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div>
        <fieldset>
            <div class="form-group @Html.Gds().FormGroupClass(m => m.ProcessDescription)">
                @Html.Gds().ValidationMessageFor(m => m.ProcessDescription)<br />
                @Html.TextAreaFor(m => m.ProcessDescription, new { @id = "other-label", @class = "text-area full-width" })
            </div>
            <div class="form-group @Html.Gds().FormGroupClass(m => m.IsDocumentAttached)">
                <fieldset>
                    <div>@Html.Gds().ValidationMessageFor(m => m.IsDocumentAttached)</div>
                    <label class="block-label" for="checkbox-1">
                        @Html.CheckBoxFor(m => m.IsDocumentAttached, new { @id = "checkbox-1" })
                        I will provide the detail in a separate document with my submission
                    </label>
                </fieldset>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    </div>
}