@using EA.Iws.Web.Areas.NotificationApplication.Views.WasteGenerationProcess
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteGenerationProcess.WasteGenerationProcessViewModel
@{
    ViewBag.Title = WasteGenerationProcessResources.Title;
}
<header class="hgroup">
    <h1 class="govuk-heading-l">@WasteGenerationProcessResources.Header</h1>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div>
        <fieldset>
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ProcessDescription)">
                @Html.Gds().ValidationMessageFor(m => m.ProcessDescription)<br />
                @Html.TextAreaFor(m => m.ProcessDescription, new { @id = "other-label", @class = "govuk-textarea full-width", @rows = 10, @title = WasteGenerationProcessResources.ProcessDescription })
            </div>
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.IsDocumentAttached)">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div>@Html.Gds().ValidationMessageFor(m => m.IsDocumentAttached)</div>
                        <div class="multiple-choice govuk-checkboxes__item">
                            @Html.CheckBoxFor(m => m.IsDocumentAttached, new { @id = "checkbox-1", @class="govuk-checkboxes__input" })
                            <label class="govuk-label govuk-checkboxes__label" for="checkbox-1">
                                @WasteGenerationProcessResources.Detail
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}