@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Shared.EditorTemplates.ContactViewModelEditorResources
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Shared.ContactViewModel

<h2 class="heading-medium">@Resource.Title</h2>

<hr/>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Name)">
    @Html.Gds().LabelFor(m => m.Name, false)
    @Html.Gds().ValidationMessageFor(m => m.Name)
    @Html.Gds().TextBoxFor(m => m.Name)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Telephone)">
    @Html.Gds().LabelFor(m => m.Telephone, false)
    @Html.Gds().ValidationMessageFor(m => m.Telephone)
    <div class="international-number">
        <div class="plus-label">
            +
        </div>
        <div class="international-number-prefix">
            @Html.Gds().TextBoxFor(m => m.TelephonePrefix, new { @title = Resource.TelephonePrefixTitle })
        </div>
        <div class="international-number-body">
            @Html.Gds().TextBoxFor(m => m.Telephone)
        </div>
    </div>
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
    @Html.Gds().LabelFor(m => m.Email, false)
    @Html.Gds().ValidationMessageFor(m => m.Email)
    @Html.Gds().TextBoxFor(m => m.Email)
</div>