@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Shared.EditorTemplates.FacilityContactViewModelResources
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Shared.ContactViewModel
    
<h3 class="heading-small">@Resource.ContactTitle</h3>
<div class="form-group-compound @Html.Gds().FormGroupClass(m => m.Name)">
    @Html.Gds().LabelFor(m => m.Name, false)
    @Html.Gds().ValidationMessageFor(m => m.Name)
    @Html.Gds().TextBoxFor(m => m.Name, new { @class = "form-control form-control-full" })
</div>
<div class="form-group-compound @Html.Gds().FormGroupClass(m => m.Email)">
    @Html.Gds().LabelFor(m => m.Email, false)
    @Html.Gds().ValidationMessageFor(m => m.Email)
    @Html.Gds().TextBoxFor(m => m.Email, new { @class = "form-control form-control-full" })
</div>
<div class="form-group-compound @Html.Gds().FormGroupClass(m => m.Telephone)">
    @Html.Gds().LabelFor(m => m.Telephone, false)
    @Html.Gds().ValidationMessageFor(m => m.Telephone)
    @Html.Gds().TextBoxFor(m => m.Telephone, new { @class = "form-control form-control-full" })
</div>