@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.WasteCodeOverviewViewModel

@if (Model.AreOtherCodesCompleted)
{
    <h4 class="heading-small">Other codes</h4>
    <dl>
        <dt>Other code:</dt>
        @if (Model.OtherCodes.First().IsNotApplicable)
        {
            <dd>Not applicable</dd>
        }
        else
        {
            <dd>@string.Join(", ", Model.OtherCodes.Select(c => c.CustomCode).ToList())</dd>
        }

        <dt>National code in country of export:</dt>
        @if (Model.NationExportCode.First().IsNotApplicable)
        {
            <dd>Not applicable</dd>
        }
        else
        {
            <dd>@string.Join(", ", Model.NationExportCode.Select(c => c.CustomCode).ToList())</dd>
        }

        <dt>National code in country of import:</dt>
        @if (Model.NationImportCode.First().IsNotApplicable)
        {
            <dd>Not applicable</dd>
        }
        else
        {
            <dd>@string.Join(", ", Model.NationImportCode.Select(c => c.CustomCode).ToList())</dd>
        }

        <dt>Customs code(s):</dt>
        @if (Model.CustomCodes.First().IsNotApplicable)
        {
            <dd>Not applicable</dd>
        }
        else
        {
            <dd>@string.Join(", ", Model.CustomCodes.Select(c => c.CustomCode).ToList())</dd>
        }
    </dl>
}
else
{
    <p>@ViewBag.SectionIncompleteText</p>
}