@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel
           
@if (Model.HasActualSiteOfTreatment)
{
    <div class="grid-row">
        <div class="column-half">
            <dl>
                <dt>Organisation name:</dt>
                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Business.Name)</dd>

                <dt>Address:</dt>
                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Address)</dd>
            </dl>
        </div>
        <div class="column-half">
            <dl>
                <dt>Organisation type:</dt>
                <dd>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Facilities.Single(f => f.IsActualSiteOfTreatment).Business.BusinessType)</dd>

                <dt>Company registration:</dt>
                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Business.RegistrationNumber)</dd>

                <dt>Contact:</dt>
                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Contact)</dd>
            </dl>
        </div>
    </div>
}
else
{
    <p>@ViewBag.SectionIncompleteText</p>
}