@model EA.Iws.Web.Areas.Reports.ViewModels.Shipments.IndexViewModel
@using Resource = EA.Iws.Web.Areas.Reports.Views.Shipments.IndexResources

@{
    ViewBag.Title = Resource.Title;
}

<h1 class="heading-large">@Resource.MainHeading</h1>

<p>@Resource.ReportInfo</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.DateType)">
        @Html.Gds().LabelFor(m => m.DateType)
        @Html.Gds().ValidationMessageFor(m => m.DateType)
        @Html.Gds().DropDownListFor(m => m.DateType, Model.DateSelectList, "")
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.From) @Html.Gds().FormGroupClass(m => m.From.Day) @Html.Gds().FormGroupClass(m => m.From.Month) @Html.Gds().FormGroupClass(m => m.From.Year)">
        @Html.LabelFor(m => m.From)
        @Html.Gds().ValidationMessageFor(m => m.From)
        @Html.EditorFor(m => m.From)
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.To) @Html.Gds().FormGroupClass(m => m.To.Day) @Html.Gds().FormGroupClass(m => m.To.Month) @Html.Gds().FormGroupClass(m => m.To.Year)">
        @Html.LabelFor(m => m.To)
        @Html.Gds().ValidationMessageFor(m => m.To)
        @Html.EditorFor(m => m.To)
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.ChemicalComposition)">
        @Html.Gds().LabelFor(m => m.ChemicalComposition)
        @Html.Gds().ValidationMessageFor(m => m.ChemicalComposition)
        @Html.Gds().DropDownListFor(m => m.ChemicalComposition, Model.ChemicalCompositions, "")
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Resource.ButtonText</button>
    </div>
}