@model EA.Iws.Web.Areas.Reports.ViewModels.Shipments.IndexViewModel
@using Resource = EA.Iws.Web.Areas.Reports.Views.Shipments.IndexResources

@{
    ViewBag.Title = Resource.Title;
}

<h1 class="heading-large">@Resource.MainHeading</h1>

<p>@Resource.ReportInfo</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.EditorFor(m => m.InputParameters)

    <div class="form-group">
        <button class="button" type="submit">@Resource.ButtonText</button>
    </div>
}