@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.Annex.DownloadAnnexViewModel
@using Resources =  EA.Iws.Web.Areas.AdminExportAssessment.Views.Annex.AnnexResources
@{
    ViewBag.Title = Resources.DownloadAnnexesTitle;
}

<h1 class="govuk-heading-l">@Resources.DownloadAnnexesTitle</h1>

@if (Model.HasAnnexes)
{
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">@Resources.AnnexNameColumnTitle</th>
            <th scope="col" class="govuk-table__header">@Resources.AnnexColumnTitle</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @if (Model.ProcessOfGeneration.IsRequired)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Html.LabelFor(m => m.ProcessOfGeneration, Resources.ProcessOfGeneration)</td>
                <td class="govuk-table__cell">
                    @if (Model.ProcessOfGeneration.FileId.HasValue)
                    {
                        @Html.ActionLink(Resources.DownloadLink, "Download", new { fileId = Model.ProcessOfGeneration.FileId.Value })
                    }
                    else
                    {
                        @Resources.NoAnnexUploaded
                    }
                </td>
            </tr>
        }
        @if (Model.TechnologyEmployed.IsRequired)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Html.LabelFor(m => m.TechnologyEmployed, Resources.TechnologyEmployed)</td>
                <td class="govuk-table__cell">
                    @if (Model.TechnologyEmployed.FileId.HasValue)
                    {
                        @Html.ActionLink(Resources.DownloadLink, "Download", new { fileId = Model.TechnologyEmployed.FileId.Value })
                    }
                    else
                    {
                        @Resources.NoAnnexUploaded
                    }
                </td>
            </tr>
        }
        @if (Model.WasteComposition.IsRequired)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@Html.LabelFor(m => m.WasteComposition, Resources.WasteComposition)</td>
                <td class="govuk-table__cell">
                    @if (Model.WasteComposition.FileId.HasValue)
                    {
                        @Html.ActionLink(Resources.DownloadLink, "Download", new { fileId = Model.WasteComposition.FileId.Value })
                    }
                    else
                    {
                        @Resources.NoAnnexUploaded
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>@Resources.NoAnnexes</p>
}

@Html.ActionLink(Resources.OverviewLink, "Index", "Overview")

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}