@using System.Web.UI.WebControls
@using EA.Iws.Requests.WasteType
@using EA.Iws.Web.Infrastructure
@using EA.Iws.Core.Shared
@using EA.Iws.Core.WasteType
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteType.ChemicalCompositionInformationViewModel
@{
    ViewBag.Title = "Waste Code";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 3 of 3")
    </div>
    <h2 class="heading-large">Additional Information required</h2>
    <p>
        Concentration levels of the constituents present in the waste
        Enter minimum and maximum as a weight by weight percentage (%),
        unless otherwise stated or you can enter NA where not applicable.
    </p>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div class="grid-row">
        <div class="column-half">
            @for (var i = 0; i < Model.WasteComposition.Count; i++)
            {
                <div class="form-group @Html.Gds().FormGroupClass(m => m.WasteComposition[i])">
                    @Html.Gds().ValidationMessageFor(m => m.WasteComposition[i])
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            @EA.Prsd.Core.Helpers.EnumHelper.GetDescription(@Model.WasteComposition[i].WasteInformationType)
                        </div>
                    </div>
                    <div class="grid-row">
                        @{
                var placeholderText = (Model.WasteComposition[i].WasteInformationType == WasteInformationType.NetCalorificValue || Model.WasteComposition[i].WasteInformationType == WasteInformationType.HeavyMetals) ? "" : " %";
                        }
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MinConcentration, new { placeholder = "min" + placeholderText })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].WasteInformationType, new { type = "hidden" })
                        </div>
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MaxConcentration, new { placeholder = "max" + placeholderText })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].Constituent, new { type = "hidden", @Value = @EA.Prsd.Core.Helpers.EnumHelper.GetDescription(@Model.WasteComposition[i].WasteInformationType) })
                        </div>
                    </div>
                </div>
            }
        </div>

            <div class="form-group column-two-thirds">
                Energy Efficiency
                <details>
                    <summary><span class="summary">Guidance notes</span></summary>
                    <div class="panel-indent">
                        <p>
                            The energy efficiency is calculated using a formula taken from the Directive 2008/98/EC on waste (Waste Framework Directive).
                            The formula used to calculate this value of energy efficiency, "the R1 Energy Efficiency Formula" is:
                        </p>
                        <table class="fraction">
                            <tr>
                                <td rowspan="2" nowrap="nowrap">
                                    Energy Efficiency =
                                </td>
                                <td nowrap="nowrap">
                                    (E<sub>p</sub> - (E<sub>f</sub> + E<sub>i</sub>))
                                </td>
                            </tr>
                            <tr>
                                <td class="upper-line">
                                    (0.97 x (E<sub>w</sub> + E<sub>f</sub>))
                                </td>
                            </tr>
                        </table>
                        In which:
                        <table>
                            <tr><td></td><td></td></tr>
                            <tr><td>E<sub>p</sub></td><td>The annual energy produced as heat or electricity. It is calculated with energy in the form of electricity being multiplied by 2.6 and heat produced for commercial use multiplied by 1.1 (GJ/year)</td></tr>
                            <tr><td>E<sub>f</sub></td><td>The annual energy input to the system from fuel contributions to the production of steam (GJ/year)</td></tr>
                            <tr><td>E<sub>i</sub></td><td>The annual energy imported excluding E<sub>w</sub> and E<sub>f</sub> (GJ/year)</td></tr>
                            <tr><td>E<sub>w</sub></td><td>The annual energy contained in the treated waste calculated using the net calorific value fo the waste (GJ/year)</td></tr>
                            <tr><td>0.97</td><td>The factor accounting for energy losses due to bottom ask and radiation</td></tr>
                        </table>
                    </div>
                </details>
                @Html.Gds().HintSpan("Enter the value or not applicable. If the waste is going to a cement kiln, this may not be applicable. This information may be obtained from the recovery facility.")
                @Html.Gds().TextBoxFor(m => m.Energy, new { @class = "two-thirds" })
            </div>
        
    </div>
    <div class="column-half"></div>
    <div class="form-group">
        Any other relevant information (optional)
        @Html.TextAreaFor(m => m.FurtherInformation, new { @class = "text-area two-thirds" })
    </div>
    <div class="form-group">
        Further analysis of the waste can be provided in separate annex with your submission
    </div>
    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}