@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteType.WasteCodeViewModel
@{
    ViewBag.Title = "Waste Code";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 1 of 4")
    </div>
    <h2 class="heading-large">Waste Identification</h2>
    <p>
        Select the appropriate basel code or OECD code to identify your waste <br />
        If there is no suitable code then select not listed
    </p>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)


    <div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedWasteCode)">
            @Html.Gds().LabelFor(m => m.SelectedWasteCode)

            <select onchange=" getComboDescription(this) " data-val="true" data-val-required="The SelectedWasteCode field is required." id="code-list" name="SelectedWasteCode">
                <option description="" selected="selected" value=""></option>
                @foreach (var wasteCode in Model.WasteCodes)
                {
                    var selected = wasteCode.Id.ToString() == Model.SelectedWasteCode ? "Selected" : "";
                    <option description="@wasteCode.Description" value="@wasteCode.Id" @selected>@wasteCode.Code</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label id="descriptionTextArea"></label>
        </div>

        <div class="form-group">
            @Html.Gds().LabelFor(m => m.SelectedEwcCodes, "(Please enter at least one)")

            <select data-val="true" data-val-required="The SelectedWasteCode field is required." id="ewc-code-list" name="SelectedEwcCode">
                <option description="" selected="selected" value=""></option>
                @foreach (var ewcCode in Model.EwcCodes)
                {
                    <option description="@ewcCode.Description" value="@ewcCode.Id">@ewcCode.Code</option>
                }
            </select>
        </div>

        <div class="no-js-hidden">
            <a onclick=" getEwcDescription() " href="#">Add</a>
        </div>
        <div class="js-hidden">
            <button class="link-submit" type="submit" name="command" value="add">Add</button>
        </div>


        <div class="form-group">
            <table id="nonjsTable">
                @for (int i = 0; i < Model.SelectedEwcCodes.Count; i++)
                {
                    <tr>
                        <td><input name="SelectedEwcCodes[@i].Code" type="hidden" value="@Model.SelectedEwcCodes[i].Code" />@Model.SelectedEwcCodes[i].Code</td>
                        <td><input name="SelectedEwcCodes[@i].Description" type="hidden" value="@Model.SelectedEwcCodes[i].Description" />@Model.SelectedEwcCodes[i].Description</td>
                        <td><input name="SelectedEwcCodes[@i].Id" type="hidden" value="@Model.SelectedEwcCodes[i].Id" /></td>
                    </tr>
                }
            </table>
        </div>

        <div class="form-group">
            <table id="ewcTable"></table>
        </div>

    </div>

    <div class="form-group">
        <button class="button" type="submit" name="command" value="save">Continue</button>
    </div>
}

@section scripts{
    <script>
        (function($) {
            $(function() {
                $('#code-list').selectToAutocomplete();
                $('#ewc-code-list').selectToAutocomplete();
            });
        })(jQuery);

        function getComboDescription(sel) {
            if (sel.selectedIndex > 0) {
                document.getElementById("descriptionTextArea").innerHTML = sel.options[sel.selectedIndex].getAttribute('description');
            }
        }

        var previouslyEnteredCodes = [];

        function getEwcDescription() {

            var sel = document.getElementById("ewc-code-list");
            var table = document.getElementById("ewcTable");

            var found = $.inArray(sel.options[sel.selectedIndex].innerText, previouslyEnteredCodes) > -1;
            if (found) {
                return;
            }

            previouslyEnteredCodes.push(sel.options[sel.selectedIndex].innerText);

            var row = table.insertRow(0);

            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);

            cell1.innerHTML = sel.options[sel.selectedIndex].text;
            cell2.innerHTML = sel.options[sel.selectedIndex].getAttribute('description');
            cell3.innerHTML = "<a href=\"#\" type=\"button\" value=\"Delete\" onclick=\"deleteRow(this)\">Delete</a>";
            cell4.innerHTML = " <input type=\"hidden\" name=\"SelectedEwcCodes.Index\" value=\"" + sel.selectedIndex + "\" /><input name=\"SelectedEwcCodes[" + sel.selectedIndex + "].Id\" type=\"hidden\" value = \"" + sel.options[sel.selectedIndex].value + " \"/>";
        }

        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            var table = document.getElementById("ewcTable");

            var row = table.rows[i];
            var cells = row.getElementsByTagName("td");

            var wasteCode = cells[0].innerText;
            
            var index = previouslyEnteredCodes.indexOf(wasteCode);
            delete previouslyEnteredCodes[index];

            table.deleteRow(i);
        } 

    </script>
}