@model EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.AssignArea.AssignAreaViewModel
@using Resourse = EA.Iws.Web.Areas.AdminImportAssessment.Views.AssignArea.IndexResources

@{
    ViewBag.Title = @Resourse.TabTitle;
}

<h1 class="heading-large">@Resourse.Heading</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="form-group @Html.Gds().FormGroupClass(m => m.LocalAreaId)">
        @Html.Gds().LabelFor(m => m.LocalAreaId)
        @Html.Gds().ValidationMessageFor(m => m.LocalAreaId)
        @Html.Gds().DropDownListFor(m => m.LocalAreaId, Model.Areas, string.Empty, new { data_select_box = "true" })
    </div>

    <div class="form-group">
        <p> <button class="button" type="submit">@Constants.ContinueButtonText</button></p>
    </div>
}

@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", section = ImportNavigationSection.Assessment })
}