@using EA.Iws.Web.Views.NewNotification
@using EA.Iws.Core.Notification
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.ViewModels.NewNotification.CompetentAuthorityChoiceViewModel
@{
    ViewBag.Title = CompetentAuthorityResources.Title;
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@CompetentAuthorityResources.Header</h1>
    <p>@CompetentAuthorityResources.HeaderDescription</p>
</header>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.AuthorityType)">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-label">
                @CompetentAuthorityResources.Title
            </legend>

            @Html.Gds().ValidationMessageFor(m => m.AuthorityType)

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AuthorityType, "England", new { @class = "govuk-radios__input", @id = "England" })
                <label class="govuk-label govuk-radios__label" for="England">
                    @EnumHelper.GetDisplayName(UKCompetentAuthority.England)
                </label>
            </div>

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AuthorityType, "Scotland", new { @class = "govuk-radios__input", @id = "Scotland" })
                <label class="govuk-label govuk-radios__label" for="Scotland">
                    @EnumHelper.GetDisplayName(UKCompetentAuthority.Scotland)
                </label>
            </div>

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AuthorityType, "NorthernIreland", new { @class = "govuk-radios__input", @id = "NorthernIreland" })
                <label class="govuk-label govuk-radios__label" for="NorthernIreland">
                    @EnumHelper.GetDisplayName(UKCompetentAuthority.NorthernIreland)
                </label>
            </div>

            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.AuthorityType, "Wales", new { @class = "govuk-radios__input", @id = "Wales" })
                <label class="govuk-label govuk-radios__label" for="Wales">
                    @EnumHelper.GetDisplayName(UKCompetentAuthority.Wales)
                </label>
            </div>

        </fieldset>
    </div>
    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}