@using EA.Iws.Core.Notification
@using EA.Iws.Web.Views.NewNotification
@model EA.Iws.Web.ViewModels.NewNotification.CreatedViewModel
@{
    ViewBag.Title = CreatedResources.Title;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <header class="hgroup">
        <h1 class="heading-large">@CreatedResources.Header</h1>
        <p>@CreatedResources.HeaderDescription</p>
    </header>
    <div class="panel-indent">
        <span class="heading-large">
            @Html.DisplayFor(m => m.NotificationNumber)
        </span>
    </div>
    @Html.HiddenFor(m => m.NotificationId)
    <div class="form-group">
        <p>@CreatedResources.NotificationNumberSaved</p>
        @switch (Model.CompetentAuthority)
        {
            case CompetentAuthority.Scotland:
                @Html.Partial("_SepaFinancialGuarantee")
                break;
            default:
                @Html.Partial("_GeneralFinancialGuarantee")
                break;
        }
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}
