@using EA.Iws.Core.Notification
@model EA.Iws.Web.ViewModels.NewNotification.CreatedViewModel
@{
    ViewBag.Title = "Your notification number";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <header class="hgroup">
        <h1 class="heading-large">Your notification number</h1>
        <p>Here is your notification number:</p>
    </header>
    <div class="panel-indent">
        <span class="heading-large">
            @Html.DisplayFor(m => m.NotificationNumber)
        </span>
    </div>
    @Html.HiddenFor(m => m.NotificationId)
    <div class="form-group">
        <p>
            Your unique notification number has been automatically saved.
        </p>
        @switch (Model.CompetentAuthority)
        {
            case CompetentAuthority.Scotland:
                @Html.Partial("_SepaFinancialGuarantee")
                break;
            default:
            @Html.Partial("_GeneralFinancialGuarantee")
                break;
        }
    </div>

    <div class="form-group">
        <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    </div>
}
