@using EA.Iws.Core.Shared
@model EA.Iws.Web.ViewModels.NewNotification.NotificationTypeViewModel

@{
    ViewBag.Title = "Choose your type of notification";
}

<header class="hgroup text">
    <h1 class="heading-large">What type of waste shipment notification are you applying for?</h1>
</header>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.CompetentAuthority)
    <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedNotificationType)">
        @Html.Gds().ValidationMessageFor(model => model.SelectedNotificationType)
        <fieldset>
            @for (int i = 0; i < Model.NotificationTypes.Count; i++)
            {
                var labelFor = Html.NameFor(m => m.NotificationTypes[i]);
                var notificationType = Model.NotificationTypes[i];
                bool isDisposal = notificationType == NotificationType.Disposal.ToString();

                <label class="block-label" for="@labelFor" @(isDisposal ? "data-target=disposal-message" : string.Empty)>
                    @Html.RadioButtonFor(m => m.SelectedNotificationType, notificationType, new { @id = labelFor })
                    @Html.DisplayFor(m => m.NotificationTypes[i])
                </label>
                if (isDisposal)
                {
                    <div class="panel-indent js-hidden" id="disposal-message">
                        If you are shipping for disposal then we advise you to contact your relevant competent authority before completing your notification application.

                        <p>@Model.CompetentAuthorityContactInfo</p>
                    </div>
                }
            }
        </fieldset>
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}