@using Resources = EA.Iws.Web.Areas.Admin.Views.TestEmail.Index
@model EA.Iws.Web.Areas.Admin.ViewModels.TestEmail.TestEmailViewModel
@{
    ViewBag.Title = Resources.Title;
}

<h1 class="heading-large">@Resources.MainHeading</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()

    @Html.AntiForgeryToken()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.EmailTo)">
        @Html.Gds().LabelFor(m => m.EmailTo)
        @Html.Gds().ValidationMessageFor(m => m.EmailTo)
        @Html.Gds().TextBoxFor(m => m.EmailTo)
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Resources.SubmitButton</button>
    </div>
}