@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel
@{
    var id = Model.NotificationId;
    var disposalOrRecovery = Model.NotificationType;
}

<h2 class="heading-medium">@disposalOrRecovery operation</h2>
<hr />
<div>
    @if (disposalOrRecovery == NotificationType.Recovery)
    {
        <details>
            <summary>
                Pre-consent facility
                <span class="edit-link-container">@Html.ActionLink("Edit", "RecoveryPreconsent", "Facility", new { id }, null)</span>
            </summary>
            <div class="expanded-details">
                <div class="panel-indent">
                    <p>@Html.DisplayFor(m => m.PreconstedAnswer)</p>
                </div>
            </div>
        </details>
    }
    <details>
        <summary>
            @disposalOrRecovery codes
            <span class="edit-link-container">@Html.ActionLink("Edit", "RecoveryCodes", "WasteOperations", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">

                @foreach (var code in Model.OperationCodes)
                {
                    <span class="operation-code-list">@code</span>
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            Technology employed
            <span class="edit-link-container">@Html.ActionLink("Edit", "TechnologyEmployed", "WasteOperations", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                <p>@Html.DisplayFor(m => m.TechnologyEmployed)</p>
            </div>
        </div>
    </details>
    <details>
        <summary>
            Reason for export
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "ReasonForExport", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                <p>@Html.DisplayFor(m => m.ReasonForExport)</p>
            </div>
        </div>
    </details>
</div>