@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel
@{
    var id = Model.NotificationId;
}

<h2 class="heading-medium">The transportation</h2>
<hr />
<div>
    <details>
        <summary>
            Intended carriers
            <span class="edit-link-container">@Html.ActionLink("Edit", "List", "Carrier", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                <ul>
                    @for (int i = 0; i < Model.CarriersCompanyNames.Count; i++)
                    {
                        <li>@Html.DisplayFor(m => m.CarriersCompanyNames[i])</li>
                    }
                </ul>
            </div>
        </div>
    </details>
    <details>
        <summary>
            Means of transport
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "MeansOfTransport", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @for (int i = 0; i < Model.MeanOfTransport.Count; i++)
                {
                    @Html.DisplayFor(m => m.MeanOfTransport[i].DisplayName)
                    if (i != Model.MeanOfTransport.Count - 1)
                    {
                        <text>&#8594;</text>
                    }
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            Packaging types
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "PackagingTypes", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                <ul>
                    @for (int i = 0; i < Model.PackagingData.Count; i++)
                    {
                        <li>@Html.DisplayFor(m => m.PackagingData[i])</li>
                    }
                </ul>
            </div>
        </div>
    </details>
    <details>
        <summary>
            Special handling
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "SpecialHandling", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                <p>@Html.DisplayFor(m => m.SpecialHandlingDetails)</p>
            </div>
        </div>
    </details>
</div>