@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.DisclaimerViewModel
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.Id)

    <header class="hgroup">
        <h2 class="heading-large">Please read carefully, accept and proceed</h2>
    </header>

    <div class="form-group">
        @Html.Partial("_IwsStandardDataNotice")
        <details>
            <summary><span class="summary">Read disclaimer</span></summary>
            <div class="panel-indent">
                <b>Disclaimer</b>
                <p>
                    Place Holder Text
                </p>
            </div>
        </details>
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.TermsAndConditions)">
        <fieldset>
            <div>@Html.Gds().ValidationMessageFor(m => m.TermsAndConditions)</div>
            <label class="block-label @Html.Gds().FormGroupClass(m => m.TermsAndConditions)">
                @Html.CheckBoxFor(m => m.TermsAndConditions)
                Accept standard data notice and disclaimer
            </label>
        </fieldset>
    </div>
    <div class="form-group">
        <input type="submit" class="button" value="Confirm your submission" />
    </div>
}
