@using EA.Iws.Web.Areas.AddressBook.Views
@using EA.Iws.Web.Areas.NotificationApplication.Views.Exporter
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Exporter.ExporterViewModel
@{
    ViewBag.Title = ExporterResources.Title;
    string registrationNumberGeneralMessage = ExporterResources.RegistrationNumberGeneralMessage;
    ViewBag.SoleTraderRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.PartnershipRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.OtherRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.CompanyAdditionalRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.CompanyRegistrationNumber = ExporterResources.CompanyRegistrationNumber;
    ViewBag.NonJavascriptMessage = ExporterResources.NonJavascriptMessage;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="heading-large">@ExporterResources.Header</h1>
    </header>

    <fieldset>
        <legend class="visuallyhidden">@ExporterResources.Header</legend>
        @Html.EditorFor(m => m.Business)
    </fieldset>

    <h2 class="heading-medium">@ExporterResources.AddressHeader</h2>
    <hr />
    <span class="form-hint">@ExporterResources.AddressDescription</span>

    <fieldset>
        <legend class="visuallyhidden">@ExporterResources.AddressHeader</legend>
        @Html.EditorFor(m => m.Address)
    </fieldset>

    <h2 class="heading-medium">@ExporterResources.ContactHeader</h2>
    <hr />
    <span class="form-hint">@ExporterResources.ContactDescription</span>

    <fieldset>
        <legend class="visuallyhidden">@ExporterResources.ContactHeader</legend>
        @Html.EditorFor(m => m.Contact)
    </fieldset>

    <div class="form-group no-js-hidden">
        <label class="block-label" for="addressBook">
            @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook" })
            @AddressBookResources.AddToAddressBook
        </label>
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}