@using EA.Iws.Core.AddressBook
@using EA.Iws.Web.Areas.AddressBook.Views
@using EA.Iws.Web.Areas.NotificationApplication.Views.Exporter
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Exporter.ExporterViewModel
@{
    ViewBag.Title = ExporterResources.Title;
    string registrationNumberGeneralMessage = ExporterResources.RegistrationNumberGeneralMessage;
    ViewBag.SoleTraderRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.PartnershipRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.OtherRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.CompanyAdditionalRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.CompanyRegistrationNumber = ExporterResources.CompanyRegistrationNumber;
    ViewBag.NonJavascriptMessage = ExporterResources.NonJavascriptMessage;
    ViewBag.AddressType = AddressRecordType.Producer;
    ViewBag.UseUKAddressValidationAndTooltips = true;
    ViewBag.UseDefaultValidationAndToolTips = false;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    @section Scripts {
        <script>
            function showHideTooltips() {
                var isUkOrg = document.querySelector('input[name="IsUkBased"]:checked').value;
                if (isUkOrg === 'True') {
                    hideShowUkSpecificTooltips('block');
                    hideShowNonUkSpecificTooltips('none');
                }
                else {
                    hideShowUkSpecificTooltips('none');
                    hideShowNonUkSpecificTooltips('block');
                }
            }

            function hideShowUkSpecificTooltips(displayValue) {
                if (displayValue === 'block') {
                    document.getElementById('compRegNumHintSpan').textContent = '@ExporterResources.CompanyRegistrationNumber';
                    document.getElementById('orgHelpWithNamingContent4Uk').style.display = '';
                }
                else {
                    document.getElementById('orgHelpWithNamingContent4Uk').style.display = displayValue;
                }

                document.getElementById('compHouseDetailsBlock').style.display = displayValue;
                document.getElementById('addressPostCodeHint').style.display = displayValue;
            }

            function hideShowNonUkSpecificTooltips(displayValue) {
                if (displayValue === 'block') {
                    document.getElementById('compRegNumHintSpan').textContent = '@ExporterResources.CompanyRegistrationNumberNonUk';
                    document.getElementById('orgHelpWithNamingContent4NonUk').style.display = '';
                }
                else {
                    document.getElementById('orgHelpWithNamingContent4NonUk').style.display = displayValue;
                }
                document.getElementById('addressLine1HintNonUk').style.display = displayValue;
                document.getElementById('addressCityHintNonUk').style.display = displayValue;
            }
            document.addEventListener("DOMContentLoaded", showHideTooltips);
        </script>
    }

    <header class="hgroup">
        <h1 class="govuk-heading-l">@ExporterResources.Header</h1>
    </header>
    <fieldset class="govuk-fieldset">
        <legend class="govuk-label">
            @ExporterResources.IsUkBased
        </legend>
    </fieldset>
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.IsUkBased)">
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.IsUkBased, true, new { id = "yes", @class = "govuk-radios__input", @onchange = "showHideTooltips()" })
                    <label class="govuk-label govuk-radios__label" for="yes">
                        @ExporterResources.Yes
                    </label>
                </div>

                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.IsUkBased, false, new { id = "no", @class = "govuk-radios__input", @onchange = "showHideTooltips()" })
                    <label class="govuk-label govuk-radios__label" for="no">
                        @ExporterResources.No
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <fieldset>
        @Html.EditorFor(m => m.Business)
    </fieldset>

    <h2 class="heading-medium">@ExporterResources.AddressHeader</h2>
    <hr />
    @Html.Gds().HintParagraph(@ExporterResources.AddressDescription)

    <fieldset>
        <legend class="visuallyhidden">@ExporterResources.AddressHeader</legend>
        @Html.EditorFor(m => m.Address)
    </fieldset>

    <h2 class="heading-medium">@ExporterResources.ContactHeader</h2>
    <hr />
    <span class="form-hint">@ExporterResources.ContactDescription</span>

    <fieldset>
        <legend class="visuallyhidden">@ExporterResources.ContactHeader</legend>
        @Html.EditorFor(m => m.Contact)
    </fieldset>

    <div class="govuk-form-group no-js-hidden">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="multiple-choice govuk-checkboxes__item">
                @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook", @class = "govuk-checkboxes__input" })
                <label class="govuk-label govuk-checkboxes__label" for="addressBook">
                    @AddressBookResources.AddToAddressBook
                </label>
            </div>
        </div>
    </div>

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}

@section scripts {
    <script>
        $(function () {
            $("#btnImportName").hide();
            $("#hintOrgName").show();

            $('#yes').click(function () {
                var isLimitedCompany = $("input[id='LimitedCompany']:checked").val();
                if (isLimitedCompany) {
                    $("#btnImportName").show();
                    $("#hintOrgName").hide();
                    $("#Business_Name").attr('readonly', 'readonly');
                } else {
                    $("#btnImportName").hide();
                    $("#hintOrgName").show();
                    $("#Business_Name").removeAttr('readonly');
                }
            });

            $('#no').click(function () {
                $("#btnImportName").hide();
                $("#hintOrgName").show();
                $("#Business_Name").removeAttr('readonly');
            });

            $('#SoleTrader').click(function () {
                var isUkBased = $("input[id='yes']:checked").val();
                if (isUkBased) {
                    if ($(this).is(':checked')) {
                        $("#btnImportName").hide();
                        $("#hintOrgName").show();
                        $("#Business_Name").removeAttr('readonly');
                    }
                }
            });

            $('#Partnership').click(function () {
                var isUkBased = $("input[id='yes']:checked").val();
                if (isUkBased) {
                    if ($(this).is(':checked')) {
                        $("#btnImportName").hide();
                        $("#hintOrgName").show();
                        $("#Business_Name").removeAttr('readonly');
                    }
                }
            });

            $('#LimitedCompany').click(function () {
                var isUkBased = $("input[id='yes']:checked").val();
                if (isUkBased) {
                    if ($(this).is(':checked')) {
                        $("#btnImportName").show();
                        $("#hintOrgName").hide();
                        $("#Business_Name").attr('readonly', 'readonly');
                    }
                }
            });

            $('#Other').click(function () {
                var isUkBased = $("input[id='yes']:checked").val();
                if (isUkBased) {
                    if ($(this).is(':checked')) {
                        $("#btnImportName").hide();
                        $("#hintOrgName").show();
                        $("#Business_Name").removeAttr('readonly');
                    }
                }
            });

            $('#btnImportName').click(function () {
                var regNumber = $('#Business_RegistrationNumber').val();
                $.ajax({
                    url: 'exporter/SearchCompanyName',
                    type: 'POST',
                    data: { 'companyNumber': regNumber, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                    success: function (result) {
                        $("#Business_Name").val(result);
                    }
                });

                event.preventDefault();
            });
        });
    </script>
}