@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Exporter.ExporterViewModel
@{
    ViewBag.Title = "Exporter - notifier";
    string registrationNumberGeneralMessage = "If you are acting on behalf of the waste generator-producer, this will be your waste broker license number";
    ViewBag.SoleTraderRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.PartnershipRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.OtherRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.CompanyAdditionalRegistrationNumber = registrationNumberGeneralMessage;
    ViewBag.CompanyRegistrationNumber = "This should be your Companies House number.";
    ViewBag.NonJavascriptMessage = @"For Limited company, this should be your Companies House number.
            For sole trader, partnership or any other organisation type, if you are acting on behalf of the waste generator-producer, this will be your waste broker licence number.";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="heading-large">Who is the exporter - notifier?</h1>
    </header>

    @Html.EditorFor(m => m.Business)

    <h2 class="heading-medium">Their address</h2>
    <hr />
    <p>This should be the correspondence address for the exporter - notifier.</p>
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Their contact person</h2>
    <hr />
    <p>This should be the contact person for the exporter - notifier.</p>
    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}