@model EA.Iws.Web.Areas.Reports.ViewModels.FreedomOfInformation.IndexViewModel
@using Resources = EA.Iws.Web.Areas.Reports.Views.FreedomOfInformation.IndexResources

@{
    ViewBag.Title = Resources.Title;
}

<h1 class="heading-large">@Resources.Heading</h1>

<p>@Resources.ReportInfo</p>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.Gds().ValidationSummary()

	@Html.EditorFor(m => m.InputParameters)

	<div class="form-group">
		<button class="button" type="submit">@Resources.ContinueButtonText</button>
	</div>
}