@{
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

@RenderSection("top_of_page", required: false)

    <div>
        @RenderBody()
    </div>


@section top_content_box {
    @Html.Action("NotificationSwitcher", "Home")
}

@section head {
    @RenderSection("head", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}