@using Resources = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Cancel.CancelResources;
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.Cancel.AddViewModel

@{
    ViewBag.Title = Resources.AddTitle;
}

<div class="grid-row container">
    <div class="stickem-row stickem-container">
        <div class="column-two-thirds">
            <header class="hgroup">
                <h1 class="govuk-heading-l">@Resources.AddTitle</h1>
                @Resources.AddDescription
            </header>
            
            <div class="govuk-form-group">
                @Html.ActionLink(Resources.AddAbandon, "AddAbandon")
            </div>

            @using (Html.BeginForm())
            {
                @Html.Gds().ValidationSummary()
                @Html.AntiForgeryToken()

                <table id="NewMovement" title="Add shipments to cancel">
                    <thead>
                        <tr>
                            <th style="width: 11%">
                                @Resources.ShipmentNumber
                            </th>
                            <th style="width: 15%">
                                @Resources.ActualDateOfShipment
                            </th>
                            <th style="border-bottom: none !important; width: 1%"></th>
                            <th style="border-bottom: none !important; width: 10%">
                                <label class="visuallyhidden">Add</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-bottom: none !important">
                                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.NewShipmentNumber)">
                                    @Html.Gds().TextBoxFor(m => m.NewShipmentNumber, new { style = "width: 60%;", @class = "govuk-input" })
                                </div>
                            </td>
                            <td style="border-bottom: none !important">
                                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.NewActualShipmentDate)">
                                    @Html.Gds().TextBoxFor(m => m.NewActualShipmentDate, new { data_datable = "ddmmyy", @style = "width: 65%;" })
                                </div>
                            </td>
                            <td style="border-bottom: none !important"></td>
                            <td style="border-bottom: none !important">
                                <div class="govuk-form-group">
                                    <button type="submit" name="command" value="add" class="govuk-button">@Resources.AddShipmentButton</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                if (Model.AddedMovements.Any())
                {
                    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.AddedMovements)">
                        <h2 class="heading-medium">@Resources.AddSubHeader</h2>
                        <table id="AddedMovements" title="@Resources.AddSubHeader">
                            <thead>
                            <tr>
                                <th>
                                    @Resources.ShipmentNumber
                                </th>
                                <th>
                                    @Resources.ActualDateOfShipment
                                </th>
                                <th>
                                    <label>@Constants.ActionText</label>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < Model.AddedMovements.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => m.AddedMovements[i].Number)
                                    </td>
                                    <td>
                                        @Html.Gds().DisplayShortDateFor(m => m.AddedMovements[i].ShipmentDate)
                                    </td>
                                    <td>
                                        <button class="link-submit" type="submit" name="command" value="@Model.AddedMovements[i].Number">@Constants.RemoveText</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                    <div class="govuk-form-group">
                        @Html.ActionLink(@Constants.ContinueButtonText, "Index", "Cancel", null, new { @class = "button" })
                    </div>
                }
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $("#NewShipmentNumber").focus();
        });
    </script>
}
