@using Resources = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Cancel.CancelResources;
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.Cancel.SelectMovementsViewModel

@{
    ViewBag.Title = Resources.IndexTitle;
}

<header class="hgroup">
    <h1 class="heading-large">@Resources.IndexHeader</h1>
    @Resources.IndexDescription
</header>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h2 class="heading-medium">@Resources.IndexSubHeader</h2>

        @if (Model.SubmittedMovements.Count == 0 && Model.AddedMovements.Count == 0)
        {
            <p>@Resources.IndexNoPrenotifications</p>
        }
        else
        {
            <div class="form-group @Html.Gds().FormGroupClass(m => m.SubmittedMovements)">
                <table id="SubmittedMovements" title="Select prenotifications to cancel">
                    <thead>
                        <tr>
                            <th>
                                @Resources.ShipmentNumber
                            </th>
                            <th>
                                @Resources.DatePrenotified
                            </th>
                            <th>
                                @Resources.ShipmentDue
                            </th>
                            <th>
                                <label class="visuallyhidden">@Resources.Cancel</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.SubmittedMovements.Count; i++)
                    {
                        var idForThisCheckBox = Html.NameFor(m => m.SubmittedMovements[i].IsSelected);

                            <tr>
                                <td>
                                    @Html.DisplayFor(m => m.SubmittedMovements[i].Number)
                                    @Html.HiddenFor(m => m.SubmittedMovements[i].Number)
                                </td>
                                <td>
                                    @if (Model.SubmittedMovements[i].PrenotificationDate.HasValue)
                                    {
                                        @Html.Gds().DisplayShortDateFor(m => m.SubmittedMovements[i].PrenotificationDate.Value)
                                    }
                                    else
                                    {
                                        @:- -
                                }
                                </td>
                                <td>
                                    @Html.Gds().DisplayShortDateFor(m => m.SubmittedMovements[i].ShipmentDate)
                                </td>
                                <td>
                                    <label for="@idForThisCheckBox">
                                        @Html.HiddenFor(m => m.SubmittedMovements[i].MovementId)
                                        @Html.CheckBoxFor(m => m.SubmittedMovements[i].IsSelected, new { id = idForThisCheckBox })
                                        Cancel
                                    </label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            if (Model.AddedMovements.Any())
            {
                <div class="form-group @Html.Gds().FormGroupClass(m => m.AddedMovements)">
                    <h2 class="heading-medium">@Resources.AddSubHeader</h2>
                    <table id="AddedMovements" title="@Resources.AddSubHeader">
                        <thead>
                            <tr>
                                <th>
                                    @Resources.ShipmentNumber
                                </th>
                                <th>
                                    @Resources.ActualDateOfShipment
                                </th>
                                <th>
                                    <label>@Constants.ActionText</label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.AddedMovements.Count(); i++)
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => m.AddedMovements[i].Number)
                                    </td>
                                    <td>
                                        @Html.Gds().DisplayShortDateFor(m => m.AddedMovements[i].ShipmentDate)
                                    </td>
                                    <td>
                                        <button class="link-submit" type="submit" name="command" value="@Model.AddedMovements[i].Number">@Constants.RemoveText</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <div class="form-group">
                <button class="button" type="submit">@Constants.ContinueOnlyButtonText</button>
            </div>

            <div class="form-group">
                <button class="link-submit" type="submit" name="command" value="add">@Resources.GoToAddNewShipments</button>
            </div>
        }
    </div>
}

<div class="form-group">
    @Html.ActionLink(Resources.GoToShipmentSummary, "Index", "Home")
</div>