@using Resources = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Cancel.CancelResources;
@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.Cancel.SelectMovementsViewModel

@{
    ViewBag.Title = Resources.IndexTitle;
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@Resources.IndexHeader</h1>
    @Resources.IndexDescription
</header>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="govuk-form-group">
        <h2 class="heading-medium">@Resources.IndexSubHeader</h2>

        @if (Model.SubmittedMovements.Count == 0)
        {
            <p>@Resources.IndexNoPrenotifications</p>
        }
        else
        {
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SubmittedMovements)">
                <table id="SubmittedMovements" title="Select prenotifications to cancel" class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">
                                @Resources.ShipmentNumber
                            </th>
                            <th scope="col" class="govuk-table__header">
                                @Resources.DatePrenotified
                            </th>
                            <th scope="col" class="govuk-table__header">
                                @Resources.ShipmentDue
                            </th>
                            <th scope="col" class="govuk-table__header">
                                <label class="visuallyhidden">@Resources.Cancel</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @for (var i = 0; i < Model.SubmittedMovements.Count; i++)
                        {
                            var idForThisCheckBox = Html.NameFor(m => m.SubmittedMovements[i].IsSelected);

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => m.SubmittedMovements[i].Number)
                                    @Html.HiddenFor(m => m.SubmittedMovements[i].Number)
                                </td>
                                <td class="govuk-table__cell">
                                    @if (Model.SubmittedMovements[i].PrenotificationDate.HasValue)
                                    {
                                        @Html.Gds().DisplayShortDateFor(m => m.SubmittedMovements[i].PrenotificationDate.Value)
                                    }
                                    else
                                    {
                                        @:- -
                                    }
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.Gds().DisplayShortDateFor(m => m.SubmittedMovements[i].ShipmentDate)
                                </td>
                                <td class="govuk-table__cell">
                                    <label for="@idForThisCheckBox">
                                        @Html.HiddenFor(m => m.SubmittedMovements[i].MovementId)
                                        @Html.CheckBoxFor(m => m.SubmittedMovements[i].IsSelected, new { id = idForThisCheckBox })
                                        Cancel
                                    </label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (Model.AddedMovements.Any())
        {
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.AddedMovements)">
                <h2 class="heading-medium">@Resources.AddSubHeader</h2>
                <table id="AddedMovements" title="@Resources.AddSubHeader" class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">
                                @Resources.ShipmentNumber
                            </th>
                            <th scope="col" class="govuk-table__header">
                                @Resources.ActualDateOfShipment
                            </th>
                            <th scope="col" class="govuk-table__header">
                                <label>@Constants.ActionText</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @for (var i = 0; i < Model.AddedMovements.Count(); i++)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @Html.DisplayFor(m => m.AddedMovements[i].Number)
                                </td>
                                <td class="govuk-table__cell">
                                    @Html.Gds().DisplayShortDateFor(m => m.AddedMovements[i].ShipmentDate)
                                </td>
                                <td class="govuk-table__cell">
                                    <button class="link-submit" type="submit" name="command" value="@Model.AddedMovements[i].Number">@Constants.RemoveText</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        @if (Model.SubmittedMovements.Any() || Model.AddedMovements.Any())
        {
            <div class="govuk-form-group">
                <button class="govuk-button" type="submit">@Constants.ContinueOnlyButtonText</button>
            </div>
        }

        <div class="govuk-form-group">
            <button class="link-submit govuk-link" type="submit" name="command" value="add">@Resources.GoToAddNewShipments</button>
        </div>
    </div>
}

<div class="govuk-form-group">
    @Html.ActionLink(Resources.GoToShipmentSummary, "Index", "Home")
</div>