@using EA.Iws.Web.Views.Account
@{
    ViewBag.Title = EmailVerificationRequiredResources.Title;
}

<h1 class="heading-large">@EmailVerificationRequiredResources.Header</h1>

@if (ViewBag.Errors != null && ((string[])ViewBag.Errors).Length > 0)
{
    <div class="validation-summary" style="margin-top: 25px">
        <h2 class="heading-small">@EmailVerificationRequiredResources.Error</h2>
        <ul>
            @foreach (var error in (string[])ViewBag.Errors)
            {
                <li>@Html.Raw(error)</li>
            }
        </ul>
    </div>
}

<p>@string.Format(EmailVerificationRequiredResources.P1, ViewBag.Email)</p>
<p>@EmailVerificationRequiredResources.P2</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @EmailVerificationRequiredResources.P3
        <button class="link-submit" type="submit">@EmailVerificationRequiredResources.ButtonText</button>.
    </p>
}