@using EA.Iws.Web.Views.Account
@model EA.Iws.Web.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = ForgotPasswordResources.Title;
}

<div class="grid-row">
    <section class="column-two-thirds">
        <h1 class="govuk-heading-l">@ForgotPasswordResources.Header</h1>
        <p>@ForgotPasswordResources.H1DescriptionToResetPassword</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Email)">
                @Html.Gds().LabelFor(m => m.Email)
                @Html.Gds().ValidationMessageFor(m => m.Email)
                @Html.Gds().TextBoxFor(m => m.Email, new { autocomplete = "off" })
            </div>
            <div class="govuk-form-group">
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">@ForgotPasswordResources.Header2</span>
                    </summary>
                    <div class="govuk-details__text">
                        @ForgotPasswordResources.H2DescriptionToContactAuthority
                    </div>
                </details>
            </div>
            <div class="govuk-form-group">
                <button class="govuk-button">@ForgotPasswordResources.Continue</button>
            </div>

            @Html.ActionLink("Go to the sign in page", "Login", "Account")
        }
    </section>
</div>