@model EA.Iws.Web.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot your password?";
}

<div class="grid-row">
    <section class="column-two-thirds">
        <h1 class="heading-large">Forgot your password?</h1>
        <p>To reset your password, enter the email address associated with your account.</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
                @Html.Gds().LabelFor(m => m.Email)
                @Html.Gds().ValidationMessageFor(m => m.Email)
                @Html.Gds().TextBoxFor(m => m.Email, new { autocomplete = "off" })
            </div>
            <div class="form-group">
                <details class="margin-top-15">
                    <summary><span class="summary">I don't know the email address for my account</span></summary>
                    <div class="panel-indent">
                        <p>If you don't know the email address belonging to your account, contact your Competent Authority.</p>
                    </div>
                </details>
            </div>
            <div class="form-group">
                <button class="button">Continue</button>
            </div>
        }
    </section>
</div>