@using EA.Iws.Web.Views.Account
@model EA.Iws.Web.ViewModels.Account.ResetPasswordViewModel

@{
    ViewBag.Title = ResetPasswordResources.Title;
}

<div class="grid-row">
    <section class="column-two-thirds">
        <h1 class="heading-large">@ResetPasswordResources.Header</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <div class="form-group @Html.Gds().FormGroupClass(m => m.Password)">
                @Html.Gds().LabelFor(m => m.Password)
                <p class="form-hint">@ResetPasswordResources.PasswordHint</p>
                @Html.Gds().ValidationMessageFor(m => m.Password)
                @Html.Gds().PasswordFor(m => m.Password, new { autocomplete = "off" })
            </div>
            <div class="form-group @Html.Gds().FormGroupClass(m => m.ConfirmPassword)">
                @Html.Gds().LabelFor(m => m.ConfirmPassword)
                @Html.Gds().ValidationMessageFor(m => m.ConfirmPassword)
                @Html.Gds().PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
            </div>
            <div>
                <input type="submit" value="@ResetPasswordResources.Continue" class="button" />
            </div>
        }
    </section>
</div>
