@model EA.Iws.Web.ViewModels.Account.ResetPasswordViewModel

<h1 class="heading-large">Reset your password</h1>
<p>To reset your password, enter the email address associated with your account.</p>
@using (Html.BeginForm("ResetPassword", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
        @Html.Gds().LabelFor(m => m.Email)
        @Html.Gds().ValidationMessageFor(m => m.Email)
        @Html.Gds().TextBoxFor(m => m.Email, new { autocomplete = "off" })
    </div>
    <div class="form-group">
        <details class="margin-top-15">
            <summary><span class="summary">I don't know the email address for my account</span></summary>
            <div class="panel-indent">
                <p>If you don't know the email address belonging to your account, contact your Competent Authority.</p>
            </div>
        </details>
    </div>
    <div class="form-group">
        <input type="submit" value="Send me password reset instructions" class="button" />
    </div>
}