@using EA.Iws.Web.Views.Account
@{
    ViewBag.Title = ResetPasswordEmailSentResources.Title;
}

<div class="grid-row">
    <section class="column-two-thirds">
        <h1 class="heading-large">@ResetPasswordEmailSentResources.Header</h1>
        <p>@string.Format(ResetPasswordEmailSentResources.HeaderDescription, ViewBag.Email)</p>
        <p>@ResetPasswordEmailSentResources.PCheckEmail</p>
        <p>@Html.Raw(string.Format(ResetPasswordEmailSentResources.PNotReceivedEmail, Html.ActionLink(ResetPasswordEmailSentResources.ResetPassword, "ForgotPassword", "Account")))</p>
        <p>@Html.ActionLink(ResetPasswordEmailSentResources.Continue, "Login", "Account", new { @class = "button" })</p>
    </section>
</div>