@using EA.Iws.Web.Areas.NotificationApplication.Views.ReasonForExport
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.ReasonForExportViewModel

@{
    ViewBag.Title = ReasonForExportResources.Title;
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@ReasonForExportResources.Header</h1>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ReasonForExport)">
        @Html.Gds().HintParagraph(ReasonForExportResources.Hint)
        @Html.Gds().ValidationMessageFor(m => m.ReasonForExport)
        @Html.TextBoxFor(m => m.ReasonForExport, new { @class = "govuk-input", @MaxLength = 70, @title = ReasonForExportResources.TextboxTitle })
    </div>

    @Html.HiddenFor(m => m.NotificationId)

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}