@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.ReceiveMovement.MovementReceiptViewModel
@{
    ViewBag.Title = "Which shipment has been received?";
}

<h1 class="heading-large">Which shipment has been received?</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.HiddenFor(m => m.NotificationId)

    if (Model.RadioButtons == null || !Model.RadioButtons.PossibleValues.Any())
    {
        <p>You have no active shipments to record receipt for.</p>

        @Html.ActionLink("Continue",
            "Index",
            "Options",
            new { area = "NotificationApplication", id = Model.NotificationId },
            new { @class = "button" })
    }
    else
    {
        <div class="form-group">
            @Html.Gds().ValidationMessageFor(m => m.RadioButtons.SelectedValue)
            @Html.EditorFor(m => m.RadioButtons)
        </div>

        <div class="form-group-compound">
            <button class="button" type="submit">Continue</button>
        </div>

        @Html.ActionLink("Go to notification options",
            "Index",
            "Options",
            new { area = "NotificationApplication", id = Model.NotificationId },
            null)
    }
}
