@model EA.Iws.Core.Movement.MovementReceiptSummaryData

<p>
    <span>@Html.Raw(Model.NotificationNumber)</span>
</p>
<ul class="summary-list summary-list-receipt">
    <li><span class="grey-text">Shipment number:</span> @Html.Raw(Model.ThisMovementNumber)</li>

    <li><span class="grey-text">Active loads permitted:</span> @Html.Raw(Model.ActiveLoadsPermitted)</li>

    <li><span class="grey-text">Current active loads:</span> @Html.Raw(Model.CurrentActiveLoads)</li>

    <li><span class="grey-text">Total quantity received so far:</span> @Html.Raw(Model.QuantitySoFar.ToString("G29"))@Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetShortName(Model.DisplayUnit))</li>

    <li><span class="grey-text">Quantity remaining:</span> @Html.Raw(Model.QuantityRemaining.ToString("G29"))@Html.Raw(EA.Prsd.Core.Helpers.EnumHelper.GetShortName(Model.DisplayUnit))</li>
</ul>