@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.AmountsAndDatesViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.ExternalNotificationOverviewSectionsLocation;
    var headerColspan = ViewBag.CanEditNotification ? 1 : 2;
}

@{
    var shipmentsClass = Model.IsIntendedShipmentsCompleted ? string.Empty : "over-alert";
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="@headerColspan">
                <h2 class="heading-medium">Amounts and dates</h2>
            </th>
            @if (ViewBag.CanEditNotification)
            {
                <th class="change">
                    @Html.ActionLink("Change", "Index", "Shipment", new { id, backToOverview = true }, null)
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr class = @shipmentsClass>
            <td>
                Intended total shipments
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedShipments.cshtml")
            </td>
        </tr>
        <tr class = @shipmentsClass>
            <td>
                Intended total quantity
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedQuantity.cshtml")
            </td>
        </tr>
        <tr class = @shipmentsClass>
            <td>
                Intended dates of departure
            </td>
            <td>
                @Html.Partial(viewLocation + "_IntendedDates.cshtml")
            </td>
        </tr>
    </tbody>
</table>