@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.ClassifyYourWasteViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.ExternalNotificationOverviewSectionsLocation;
    var headerColspan = ViewBag.CanEditNotification ? 3 : 2;
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="@headerColspan">
                <h2 class="heading-medium">Waste classification</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Chemical composition
            </td>
            <td>
                @Html.Partial(viewLocation + "_ChemicalComposition.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "Index", "ChemicalComposition", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
        <tr>
            <td>
                Process of generation
            </td>
            <td>
                @Html.Partial(viewLocation + "_ProcessOfGeneration.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "Index", "WasteGenerationProcess", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
        <tr>
            <td>
                Physical characteristics
            </td>
            <td>
                @Html.Partial(viewLocation + "_PhysicalCharacteristics.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "Index", "PhysicalCharacteristics", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
    </tbody>
</table>
