@using EA.Iws.Core.WasteCodes
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.ClassifyYourWasteViewModel
@{
    var id = Model.NotificationId;
    var baselOrOecdType = (Model.BaselOecdCode != null && Model.BaselOecdCode.Length > 0)
        ? EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.BaselOecdCode[0].CodeType) :
        EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(CodeType.Basel) + "/" + EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(CodeType.Oecd);
}

<h2 class="heading-medium">Classify your waste</h2>

<div>
    <details>
        <summary>
            Chemical composition @if (Model.IsChemicalCompositionCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "ChemicalComposition", "WasteType", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            @if (Model.IsChemicalCompositionCompleted)
            {
                <div class="panel-indent">
                    <dl>
                        <dt>Type:</dt>
                        <dd>@Html.DisplayFor(m => m.ChemicalComposition.ChemicalCompositionType)</dd>

                        @if (!string.IsNullOrWhiteSpace(Model.ChemicalComposition.ChemicalCompositionName))
                        {
                            <dt>Name:</dt>
                            <dd>@Html.DisplayFor(m => m.ChemicalComposition.ChemicalCompositionName)</dd>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.ChemicalComposition.ChemicalCompositionDescription))
                        {
                            <dt>Description:</dt>
                            <dd>@Html.DisplayFor(m => m.ChemicalComposition.ChemicalCompositionDescription)</dd>
                        }

                        <dt>Chemical composition minimum and maximum as a weight by weight percentage:</dt>
                    </dl>
                    <table>
                        <thead>
                            <tr>
                                <th>Constituent</th>
                                <th>Composition</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ChemicalComposition.WasteCompositionData.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => m.ChemicalComposition.WasteCompositionData[i].Constituent)</td>
                                    <td>
                                        @Html.DisplayFor(m => m.ChemicalComposition.WasteCompositionData[i].MinConcentration)%
                                        - @Html.DisplayFor(m => m.ChemicalComposition.WasteCompositionData[i].MaxConcentration)%
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>

    </details>
    <details>
        <summary>
            Process of generation @if (Model.IsProcessOfGenerationCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "WasteGenerationProcess", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            @if (Model.IsProcessOfGenerationCompleted)
            {
                <div class="panel-indent">
                    <p>@Html.DisplayFor(m => m.ProcessOfGeneration)</p>
                </div>
            }
        </div>
    </details>
    <details>
        <summary>
            Physical characteristics @if (Model.ArePhysicalCharacteristicsCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "PhysicalCharacteristics", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            @if (Model.ArePhysicalCharacteristicsCompleted)
            {
                <div class="panel-indent">
                    <dl>
                        <dt>Physical characteristics of the waste:</dt>
                        <dd>@string.Join(", ", Model.PhysicalCharacteristics)</dd>
                    </dl>
                </div>
            }
        </div>
    </details>
    <details>
        <summary>
            Waste codes @if (Model.AreWasteCodesCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "BaselEwcCode", "WasteCodes", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            @if (Model.AreWasteCodesCompleted)
            {
                <div class="panel-indent">
                    @if (Model.BaselOecdCode.Any())
                    {
                        <h4 class="heading-small">@baselOrOecdType code</h4>

                        foreach (var c in Model.BaselOecdCode)
                        {
                            <dl>
                                <dt>Code:</dt>
                                <dd>@c.Code</dd>

                                <dt>Description:</dt>
                                <dd>@c.Description</dd>
                            </dl>
                        }

                        <hr />
                    }

                    @if (Model.EwcCodes.Any())
                    {
                        <h4 class="heading-small">EWC code(s)</h4>
                        
                        foreach (var c in Model.EwcCodes)
                        {
                            <dl>
                                <dt>Code:</dt>
                                <dd>@c.Code</dd>

                                <dt>Description:</dt>
                                <dd>@c.Description</dd>
                            </dl>
                        
                        }

                        <hr />
                    }
                    
                    @if (Model.YCodes.Any())
                    {
                        <h4 class="heading-small">Y code(s)</h4>
                        <dl>
                            @foreach (var c in Model.YCodes)
                            {
                                <dt>Code:</dt>
                                <dd>@c.Code</dd>

                                if (!string.IsNullOrWhiteSpace(c.Description))
                                {
                                    <dt>Description:</dt>
                                    <dd>@c.Description</dd>
                                }
                            }
                        </dl>

                        <hr />
                    }
                    
                    @if (Model.HCodes.Any())
                    {
                        <h4 class="heading-small">H or HP code(s)</h4>
                        <dl>
                            @foreach (var c in Model.HCodes)
                            {
                                <dt>Code:</dt>
                                <dd>@c.Code</dd>

                                if (!string.IsNullOrWhiteSpace(c.Description))
                                {
                                    <dt>Description:</dt>
                                    <dd>@c.Description</dd>
                                }
                            }
                        </dl>

                        <hr />
                    }

                    @if (Model.UnClass.Any())
                    {
                        <h4 class="heading-small">UN class(es)</h4>
                        <dl>
                            @foreach (var c in Model.UnClass)
                            {
                                <dt>Code:</dt>
                                <dd>@c.Code</dd>

                                if (!string.IsNullOrWhiteSpace(c.Description))
                                {
                                    <dt>Description:</dt>
                                    <dd>@c.Description</dd>
                                }
                            }
                        </dl>

                        <hr />
                    }

                    @if (Model.UnNumber.Any())
                    {
                        <h4 class="heading-small">UN number(s)</h4>
                        <dl>
                            @foreach (var c in Model.UnNumber)
                            {
                                <dt>Code:</dt>
                                <dd>@c.Code</dd>

                                if (!string.IsNullOrWhiteSpace(c.Description))
                                {
                                    <dt>Description:</dt>
                                    <dd>@c.Description</dd>
                                }
                            }
                        </dl>

                        <hr />
                    }

                    <h4 class="heading-small">Other codes</h4>
                    <dl>
                        @if (Model.OtherCodes.Any())
                        {
                            <dt>Other code:</dt>
                            <dd>@string.Join(", ", Model.OtherCodes.Select(c => c.CustomCode).ToList())</dd>
                        }

                        <dt>National code in country of export:</dt>
                        <dd>@string.Join(", ", Model.NationExportCode.Select(c => c.CustomCode).ToList())</dd>

                        <dt>National code in country of import:</dt>
                        <dd>@string.Join(", ", Model.NationImportCode.Select(c => c.CustomCode).ToList())</dd>

                        @if (Model.CustomCodes.Any())
                        {
                            <dt>Customs code(s):</dt>
                            <dd>@string.Join(", ", Model.CustomCodes.Select(c => c.CustomCode).ToList())</dd>
                        }
                    </dl>
                </div>
            }
        </div>
    </details>
</div>