@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.JourneyViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.NotificationSummaryViewLocation;
}

<h2 class="heading-medium">The journey</h2>

<div>
    <details>
        <summary>
            Transport route - export
            @if (Model.IsStateOfExportCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "StateOfExport", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_StateOfExport.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            Transport route - transits
            @if (Model.AreTransitStatesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Summary", "TransportRoute", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_TransitStates.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            Transport route - import
            @if (Model.IsStateOfImportCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "StateOfImport", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_StateOfImport.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            Custom office
            @if (Model.IsCustomsOfficeCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "CustomsOffice", new { id }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_CustomsOffice.cshtml")
            </div>
        </div>
    </details>
</div>