@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.JourneyViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.ExternalNotificationOverviewSectionsLocation;
    var headerColspan = ViewBag.CanEditNotification ? 3 : 2;

}

@{
    var exportClass = Model.IsStateOfExportCompleted ? "over-no-alert" : "over-alert";
    var importClass = Model.IsStateOfImportCompleted ? "over-no-alert" : "over-alert";
    var customsClass = Model.IsCustomsOfficeCompleted ? "over-no-alert" : "over-alert";
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="@headerColspan">
                <h2 class="heading-medium">The journey</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class = @exportClass>
          <td>
            Export route
            <p class="govuk-body-s">Block 15</p>
          </td>
            <td>
                @Html.Partial(viewLocation + "_StateOfExport.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Index", "StateOfExport", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Export route</span>
                    </a>
                </td>
            }
        </tr>
        <tr class = @importClass>
          <td>
            Import route
            <p class="govuk-body-s">Block 15</p>
          </td>
            <td>
                @Html.Partial(viewLocation + "_StateOfImport.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Index", "StateOfImport", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Import route</span>
                    </a>
                </td>
            }
        </tr>
        <tr class = "over-no-alert">
          <td>
            Transits (Optional)
            <p class="govuk-body-s">Block 15</p>
          </td>
            <td>
                @Html.Partial(viewLocation + "_TransitStates.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Summary", "TransportRoute", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Transits (Optional)</span>
                    </a>
                </td>
            }
        </tr>
        <tr class = @customsClass>
          <td>
            Customs office
            <p class="govuk-body-s">Block 16</p>
          </td>
            <td>
                @Html.Partial(viewLocation + "_CustomsOffice.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Index", "CustomsOffice", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Customs office</span>
                    </a>
                </td>
            }
        </tr>
    </tbody>
</table>