@using EA.Iws.Web.Infrastructure
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

<p>
    <span>@Model.NotificationNumber</span>
</p>

<h4>Organisations involved</h4>
@Html.Navigation().Link("Exporter notifier", false, "Index", "Exporter", "NotificationApplication")
@Html.Navigation().Link("Waste generator producer", false, "List", "Producer", "NotificationApplication")
@Html.Navigation().Link("Importer consignee", false, "Index", "Importer", "NotificationApplication")
@Html.Navigation().Link("Facility", false, "List", "Facility", "NotificationApplication")

<h4>The transportation</h4>
@Html.Navigation().Link("Intended carrier", false, "List", "Carrier", "NotificationApplication")
@Html.Navigation().Link("Means of transport", false, "Edit", "MeansOfTransport", "NotificationApplication")
@Html.Navigation().Link("Packaging types", false, "Index", "PackagingTypes", "NotificationApplication")
@Html.Navigation().Link("Special handling", false, "Edit", "SpecialHandling", "NotificationApplication")

<h4>The journey</h4>
@Html.Navigation().Link("Transport route export", false, "Add", "StateOfExport", "NotificationApplication")
@Html.Navigation().Link("Transport route transits", false, "Add", "TransitState", "NotificationApplication")
@Html.Navigation().Link("Transport route import", false, "Add", "StateOfImport", "NotificationApplication")
@Html.Navigation().Link("Customs office", false, "Add", "ExitCustomsOffice", "NotificationApplication")

<h4>Amounts and dates</h4>
@Html.Navigation().Link("Intended shipments", false, "Edit", "Shipment", "NotificationApplication")

<h4>Classify your waste</h4>
@Html.Navigation().Link("Chemical composition", false, "ChemicalComposition", "WasteType", "NotificationApplication")
@Html.Navigation().Link("Process of generation", false, "WasteGenerationProcess", "WasteType", "NotificationApplication")
@Html.Navigation().Link("Physical characteristics", false, "PhysicalCharacteristics", "WasteType", "NotificationApplication")
@Html.Navigation().Link("Waste codes", false, "WasteCode", "WasteType", "NotificationApplication")

<h4>Waste Recovery</h4>
@Html.Navigation().Link("Recovery information", false, "Add", "RecoveryInformation", "NotificationApplication")

<em></em>