@using EA.Iws.Core.Shared
@using EA.Iws.Web.Infrastructure
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NavigationViewModel

<p>
    <span>@Model.NotificationNumber</span>
</p>

<p>
    @Html.Navigation().Link("Overview", false, "Index", "Home", "NotificationApplication")
</p>

<h4>Organisations involved</h4>
@Html.Navigation().Link("Exporter notifier", Model.Progress.IsExporterCompleted, "Index", "Exporter", "NotificationApplication")
@Html.Navigation().Link("Waste generator producer", Model.Progress.IsProducerCompleted, "List", "Producer", "NotificationApplication", additionalActiveActionNames: new[] { "Add", "Edit" })
@Html.Navigation().Link("Importer consignee", Model.Progress.IsImporterCompleted, "Index", "Importer", "NotificationApplication")
@Html.Navigation().Link(Model.NotificationType + " facility", Model.Progress.IsFacilityCompleted, "List", "Facility", "NotificationApplication", additionalActiveActionNames: new[] { "Add", "Edit" })

<h4>@Model.NotificationType operation</h4>
@if (Model.NotificationType == NotificationType.Recovery)
{
    @Html.Navigation().Link("Pre-consent facility", Model.Progress.IsPreconsentStatusChosen, "RecoveryPreconsent", "Facility", "NotificationApplication")
}
@Html.Navigation().Link(Model.NotificationType + " codes", Model.Progress.AreOperationCodesChosen, "OperationCodes", "WasteOperations", "NotificationApplication", additionalActiveActionNames: new[] { "RecoveryCodes", "DisposalCodes" })
@Html.Navigation().Link("Technology employed", Model.Progress.IsTechnologyEmployedCompleted, "TechnologyEmployed", "WasteOperations", "NotificationApplication")
@Html.Navigation().Link("Reason for export", Model.Progress.IsReasonForExportCompleted, "Index", "ReasonForExport", "NotificationApplication")

<h4>The transportation</h4>
@Html.Navigation().Link("Intended carrier", Model.Progress.IsCarrierCompleted, "List", "Carrier", "NotificationApplication", additionalActiveActionNames: new[] { "Add", "Edit" })
@Html.Navigation().Link("Means of transport", Model.Progress.IsMeansOfTransportCompleted, "Index", "MeansOfTransport", "NotificationApplication")
@Html.Navigation().Link("Packaging types", Model.Progress.IsPackagingTypesCompleted, "Index", "PackagingTypes", "NotificationApplication")
@Html.Navigation().Link("Special handling", Model.Progress.IsSpecialHandlingCompleted, "Index", "SpecialHandling", "NotificationApplication")

<h4>The journey</h4>
@Html.Navigation().Link("Transport route export", Model.Progress.IsStateOfExportCompleted, "Index", "StateOfExport", "NotificationApplication")
@Html.Navigation().Link("Transport route transits", Model.Progress.AreTransitStatesCompleted, "Summary", "TransportRoute", "NotificationApplication")
@Html.Navigation().Link("Transport route import", Model.Progress.IsStateOfImportCompleted, "Index", "StateOfImport", "NotificationApplication")
@Html.Navigation().Link("Customs office", Model.Progress.IsCustomsOfficeCompleted, "Index", "CustomsOffice", "NotificationApplication")

<h4>Amounts and dates</h4>
@Html.Navigation().Link("Intended shipments", Model.Progress.IsIntendedShipmentsCompleted, "Index", "Shipment", "NotificationApplication")

<h4>Classify your waste</h4>
@Html.Navigation().Link("Chemical composition", Model.Progress.IsChemicalCompositionCompleted, "ChemicalComposition", "WasteType", "NotificationApplication", additionalActiveActionNames: new[] { "OtherWaste", "OtherWasteAdditionalInformation", "RdfAdditionalInformation", "RdfSrfType", "WoodAdditionalInformation", "WoodType" })
@Html.Navigation().Link("Process of generation", Model.Progress.IsProcessOfGenerationCompleted, "Index", "WasteGenerationProcess", "NotificationApplication")
@Html.Navigation().Link("Physical characteristics", Model.Progress.ArePhysicalCharacteristicsCompleted, "Index", "PhysicalCharacteristics", "NotificationApplication")
@Html.Navigation().Link("Waste codes", Model.Progress.AreWasteCodesCompleted, "BaselEwcCode", "WasteCodes", "NotificationApplication")

@if (Model.NotificationType == NotificationType.Recovery)
{
    <h4>Waste Recovery</h4>
    @Html.Navigation().Link("Recovery information", Model.Progress.IsWasteRecoveryInformationCompleted, "RecoveryPercentage", "RecoveryInfo", "NotificationApplication")
}
<em></em>