@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel
@{
    var id = Model.NotificationId;
    var disposalOrRecovery = Model.NotificationType;
    var viewLocation = Constants.NotificationSummaryViewLocation;
}
<h2 class="heading-medium">Organisations involved</h2>

<div>
    <details>
        <summary>
            Exporter-notifier
            @if (Model.IsExporterCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "Exporter", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_Exporter.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Generator-producer
            @if (Model.IsProducerCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "List", "Producer", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_Producer.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Site of export
            @if (Model.HasSiteOfExport)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "SiteOfExport", "Producer", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_SiteOfExport.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Importer-consignee
            @if (Model.IsImporterCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "Importer", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_Importer.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            @disposalOrRecovery facilities
            @if (Model.IsFacilityCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "List", "Facility", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
               @Html.Partial(viewLocation + "_Facility.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Actual site of @disposalOrRecovery.ToString().ToLowerInvariant()
            @if (Model.HasActualSiteOfTreatment)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "SiteOfTreatment", "Facility", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_SiteOfRecovery.cshtml")
            </div>
        </div>
    </details>
</div>