@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel
@{
    var id = Model.NotificationId;
    var disposalOrRecovery = Model.NotificationType;
}
<h2 class="heading-medium">Organisations involved</h2>

<div>
    <details>
        <summary>
            Exporter-notifier @if (Model.IsExporterCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "Exporter", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (@Model.IsExporterCompleted)
                {
                    <div class="grid-row">
                        <div class="column-half">
                            <dl>
                                <dt>Organisation name:</dt>
                                <dd>@Html.DisplayFor(m => m.Exporter.Business.Name)</dd>

                                <dt>Address:</dt>
                                <dd>@Html.DisplayFor(m => m.Exporter.Address)</dd>
                            </dl>
                        </div>
                        <div class="column-half">
                            <dl>
                                <dt>Organisation type:</dt>
                                <dd>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Exporter.Business.BusinessType)</dd>

                                <dt>Company registration:</dt>
                                <dd>@Html.DisplayFor(m => m.Exporter.Business.RegistrationNumber)</dd>

                                <dt>Contact:</dt>
                                <dd>@Html.DisplayFor(m => m.Exporter.Contact)</dd>
                            </dl>
                        </div>
                    </div>
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            Generator-producer @if (Model.IsProducerCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "List", "Producer", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (@Model.IsProducerCompleted)
                {
                    for (int i = 0; i < Model.Producers.Count; i++)
                    {
                        <div class="grid-row">
                            <div class="column-half">
                                <dl>
                                    <dt>Organisation name:</dt>
                                    <dd>@Html.DisplayFor(m => m.Producers[i].Business.Name)</dd>

                                    <dt>Address:</dt>
                                    <dd>@Html.DisplayFor(m => m.Producers[i].Address)</dd>
                                </dl>
                            </div>
                            <div class="column-half">
                                <dl>
                                    <dt>Contact:</dt>
                                    <dd>@Html.DisplayFor(m => m.Producers[i].Contact)</dd>
                                </dl>
                            </div>
                        </div>
                        if (i < Model.Producers.Count - 1)
                        {
                            <hr />
                        }
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            Site of export @if (Model.IsProducerCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "SiteOfExport", "Producer", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.IsProducerCompleted)
                {
                    <div class="grid-row">
                        <div class="column-half">
                            <dl>
                                <dt>Organisation name:</dt>
                                <dd>@Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Business.Name)</dd>

                                <dt>Address:</dt>
                                <dd>@Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Address)</dd>
                            </dl>
                        </div>
                        <div class="column-half">
                            <dl>
                                <dt>Contact:</dt>
                                <dd>@Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Contact)</dd>
                            </dl>
                        </div>
                    </div>
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            Importer-consignee @if (Model.IsImporterCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "Importer", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.IsImporterCompleted)
                {
                    <div class="grid-row">
                        <div class="column-half">
                            <dl>
                                <dt>Organisation name:</dt>
                                <dd>@Html.DisplayFor(m => m.Importer.Business.Name)</dd>

                                <dt>Address</dt>
                                <dd>@Html.DisplayFor(m => m.Importer.Address)</dd>
                            </dl>
                        </div>
                        <div class="column-half">
                            <dl>
                                <dt>Organisation type:</dt>
                                <dd>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Importer.Business.BusinessType)</dd>

                                <dt>Company registration:</dt>
                                <dd>@Html.DisplayFor(m => m.Importer.Business.RegistrationNumber)</dd>

                                <dt>Contact:</dt>
                                <dd>@Html.DisplayFor(m => m.Importer.Contact)</dd>
                            </dl>
                        </div>
                    </div>
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            @disposalOrRecovery facilities @if (Model.IsFacilityCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "List", "Facility", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.IsFacilityCompleted)
                {
                    for (int i = 0; i < Model.Facilities.Count; i++)
                    {
                        <div class="grid-row">
                            <div class="column-half">
                                <dl>
                                    <dt>Organisation name:</dt>
                                    <dd>@Html.DisplayFor(m => m.Facilities[i].Business.Name)</dd>

                                    <dt>Address:</dt>
                                    <dd>@Html.DisplayFor(m => m.Facilities[i].Address)</dd>
                                </dl>
                            </div>
                            <div class="column-half">
                                <dl>
                                    <dt>Organisation type:</dt>
                                    <dd>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Facilities[i].Business.BusinessType)</dd>

                                    <dt>Company registration:</dt>
                                    <dd>@Html.DisplayFor(m => m.Facilities[i].Business.RegistrationNumber)</dd>

                                    <dt>Contact:</dt>
                                    <dd>@Html.DisplayFor(m => m.Facilities[i].Contact)</dd>
                                </dl>
                            </div>
                        </div>
                        if (i < Model.Facilities.Count - 1)
                        {
                            <hr />
                        }
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            Actual site of @disposalOrRecovery.ToString().ToLowerInvariant() @if (Model.IsFacilityCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "SiteOfTreatment", "Facility", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.IsFacilityCompleted)
                {
                    <div class="grid-row">
                        <div class="column-half">
                            <dl>
                                <dt>Organisation name:</dt>
                                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Business.Name)</dd>

                                <dt>Address:</dt>
                                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Address)</dd>
                            </dl>
                        </div>
                        <div class="column-half">
                            <dl>
                                <dt>Organisation type:</dt>
                                <dd>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Facilities.Single(f => f.IsActualSiteOfTreatment).Business.BusinessType)</dd>

                                <dt>Company registration:</dt>
                                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Business.RegistrationNumber)</dd>

                                <dt>Contact:</dt>
                                <dd>@Html.DisplayFor(m => m.Facilities.Single(f => f.IsActualSiteOfTreatment).Contact)</dd>
                            </dl>
                        </div>
                    </div>
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>
</div>