@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.RecoveryOperationViewModel
@{
    var id = Model.NotificationId;
    var disposalOrRecovery = Model.NotificationType;
    var viewLocation = Constants.NotificationSummaryViewLocation;
}

<h2 class="heading-medium">@disposalOrRecovery operation</h2>

<div>
    @if (disposalOrRecovery == NotificationType.Recovery)
    {
        <details>
            <summary>
                Pre-consent facility
                @if (Model.IsPreconsentStatusChosen)
                {
                    <i class="fa fa-check green-text"></i>
                }
                <span class="edit-link-container">@Html.ActionLink("Edit", "RecoveryPreconsent", "Facility", new { id, backToOverview = true }, null)</span>
            </summary>
            <div class="expanded-details">
                <div class="panel-indent">
                    @Html.Partial(viewLocation + "_PreconsentStatus.cshtml")
                </div>
            </div>
        </details>
    }
    <details>
        <summary>
            @disposalOrRecovery codes
            @if (Model.AreOperationCodesChosen)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "OperationCodes", "WasteOperations", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_OperationCodes.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Technology employed
            @if (Model.IsTechnologyEmployedCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "TechnologyEmployed", "WasteOperations", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_TechnologyEmployed.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Reason for export
            @if (Model.IsReasonForExportCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "ReasonForExport", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_ReasonForExport.cshtml")
            </div>
        </div>
    </details>
</div>