@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.RecoveryOperationViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.ExternalNotificationOverviewSectionsLocation;
    var headerColspan = ViewBag.CanEditNotification ? 3 : 2;
}

@{
    var codesClass = Model.AreOperationCodesChosen ? string.Empty : "over-alert";
    var facilityClass = Model.IsPreconsentStatusChosen ? string.Empty : "over-alert";
    var technologyClass = Model.IsTechnologyEmployedCompleted ? string.Empty : "over-alert";
    var exportClass = Model.IsReasonForExportCompleted ? string.Empty : "over-alert";
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="@headerColspan">
                <h2 class="heading-medium">@(Model.NotificationType == NotificationType.Recovery ? "Recovery operation" : "Disposal operation")</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class = @codesClass> 
            <td>
                @(Model.NotificationType == NotificationType.Recovery ? "Recovery operation codes" : "Disposal operation codes")
            </td>
            <td>
                @Html.Partial(viewLocation + "_OperationCodes.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "OperationCodes", "WasteOperations", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
        @if (Model.NotificationType == NotificationType.Recovery)
        {
            <tr class = @facilityClass>
                <td>
                    Pre-consented facility
                </td>
                <td>
                    @Html.Partial(viewLocation + "_PreconsentStatus.cshtml")
                </td>
                @if (ViewBag.CanEditNotification)
                {
                    <td class="change">
                        @Html.ActionLink("Change", "RecoveryPreconsent", "Facility", new { id, backToOverview = true }, null)
                    </td>
                }
            </tr>
        }
        <tr class = @technologyClass>
            <td>
                Technology employed
            </td>
            <td>
                @Html.Partial(viewLocation + "_TechnologyEmployed.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "TechnologyEmployed", "WasteOperations", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
        <tr class = @exportClass>
            <td>
                Reason for export
            </td>
            <td>
                @Html.Partial(viewLocation + "_ReasonForExport.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">@Html.ActionLink("Change", "Index", "ReasonForExport", new { id, backToOverview = true }, null)</td>
            }
        </tr>
    </tbody>
</table>