@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.RecoveryOperationViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.ExternalNotificationOverviewSectionsLocation;
    var headerColspan = ViewBag.CanEditNotification ? 3 : 2;
}

@{
    var codesClass = Model.AreOperationCodesChosen ? "over-no-alert" : "over-alert";
    var facilityClass = Model.IsPreconsentStatusChosen ? "over-no-alert" : "over-alert";
    var technologyClass = Model.IsTechnologyEmployedCompleted ? "over-no-alert" : "over-alert";
    var exportClass = Model.IsReasonForExportCompleted ? "over-no-alert" : "over-alert";
    var operationCodesLabel = Model.NotificationType == NotificationType.Recovery ? "Recovery operation codes" : "Disposal operation codes";
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="@headerColspan">
                <h2 class="heading-medium">@(Model.NotificationType == NotificationType.Recovery ? "Recovery operation" : "Disposal operation")</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class = @codesClass> 
            <td>
                @operationCodesLabel
                <p class="govuk-body-s">Block 11</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_OperationCodes.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("OperationCodes", "WasteOperations", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">@operationCodesLabel</span>
                    </a>
                </td>
            }
        </tr>
        @if (Model.NotificationType == NotificationType.Recovery)
        {
            <tr class = @facilityClass>
                <td>
                    Pre-consented facility
                    <p class="govuk-body-s">Block 3</p>
                </td>
                <td>
                    @Html.Partial(viewLocation + "_PreconsentStatus.cshtml")
                </td>
                @if (ViewBag.CanEditNotification)
                {
                    <td class="change govuk-link">
                        <a href="@Url.Action("RecoveryPreconsent", "Facility", new { id, backToOverview = true })">
                            Change
                            <span class="screen-reader-text">Pre-consented facility</span>
                        </a>
                    </td>
                }
            </tr>
        }
        <tr class = @technologyClass>
            <td>
                Technology employed
                <p class="govuk-body-s">Block 3</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_TechnologyEmployed.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("TechnologyEmployed", "WasteOperations", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Technology employed</span>
                    </a>
                </td>
            }
        </tr>
        <tr class = @exportClass>
            <td>
                Reason for export
                <p class="govuk-body-s">Block 11</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_ReasonForExport.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Index", "ReasonForExport", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Reason for export</span>
                    </a>
                </td>
            }
        </tr>
    </tbody>
</table>