@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.SubmitSideBarViewModel
@using EA.Iws.Core.Notification;
@using EA.Iws.Core.NotificationAssessment

<section class="grid-row">
    <div class="noti-overview">
        <div class="column-half">
            <div>
                <h2 class="heading-medium">@Model.NotificationNumber</h2>
                <h1 class="heading-large">Notification overview</h1>
            </div>
            @if (Model.Status != NotificationStatus.NotSubmitted)
            {
                <div class="column" style="width:75%">
                    <div id="submit-side-bar" style="background-color:#f8f8f8">
                        <h3 style="text-align:center; font-size:24px">Notification access level:</h3>
                        <h3 style="text-align:center; font-size:36px">@Model.AccessLevelText</h3>
                    </div>
                </div>
            }
            <div>
                <br />
            </div>

            <div>
                @if (Model.ShowSubmitButton)
                {
                    @Html.ActionLink("Submit notification", "Disclaimer", "Submit", null, new { @class = "button" })
                }

                else if (Model.ShowDisabledSubmitButtonAndGuidanceText)
                {
                    <a href="#" class="button" disabled="disabled">Submit notification</a>
                            <p>You can submit this notification once you've completed all sections</p>
                }

                else if (Model.ShowResubmitButton)
                {
                    using (Html.BeginForm("Resubmit", "Home", FormMethod.Post, new { id = Model.NotificationId }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" class="button" value="Resubmit notification" />
                    }
                }
            </div>
        </div>



        <div class="column-half charge">

            <div class="status">
                <span>Overall status</span>
                <span class="statusbox @Html.ExportStatus().DisplayColorClass(Model.Status)">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Status).ToUpper()</span>
            </div>

            @if (Model.Charge > 0)
            {
                <div class="noti-charge">
                    <span>Notification<br />charge</span>
                    <span class="price">&pound;@Model.Charge</span>
                    <div class="vat-message">
                        All charges for environmental<br /> permits and licences are outside<br /> the scope of VAT
                    </div>
                </div>
            }

            <div class="noti-links">
                @if (Model.CompetentAuthority == UKCompetentAuthority.Scotland)
                {
                    @Html.ActionLink("Bank guarantee template", "GenerateBankGuaranteeDocument", "Home", new { area = "FinancialGuarantee" }, null)
                    <br />
                    @Html.ActionLink("Parent company template", "GenerateParentCompanyDocument", "Home", new { area = "FinancialGuarantee" }, null)
                }
                else
                {
                    @Html.ActionLink("Download financial guarantee", "GenerateFinancialGuaranteeDocument", "Home", new { area = "FinancialGuarantee", competentAuthority = Model.CompetentAuthority }, null)
                }
                @if (Model.Status != NotificationStatus.NotSubmitted)
                {
                    <br />
                    @Html.ActionLink("Download notification", "GenerateNotificationDocument", "Home", new { id = Model.NotificationId },
                        new { data_track = "link", data_category = "Export notification", data_action = "Download" })
                }
                @if (Model.ShowViewUpdateHistoryLink)
                {
                    <br />
                    @Html.ActionLink("View update history", "Index", "UpdateHistory", new { id = Model.NotificationId }, null)
                }
                @if (Model.ShowSubmitButton)
                {
                    @Html.ActionLink("View preview of my notification", "GenerateNotificationPreviewDocument", "Home", new { id = Model.NotificationId },
                        new { data_track = "link", data_category = "Export notification", data_action = "Download" })
                }
            </div>

            @if (Model.Status == NotificationStatus.NotSubmitted)
            {
                
                    <div class="pull-right">
                        <div id="submit-side-bar" style="background-color:#f8f8f8">
                            <h3 style="text-align:center; font-size:24px">Notification access level:</h3>
                            <h3 style="text-align:center; font-size:36px">@Model.AccessLevelText</h3>
                        </div>
                        <div><br /></div>
                    </div>
            }
        </div>
        
    </div>

    @if (!Model.IsNotificationComplete)
    {
        <div class="noti-alert">
            <em>ALERT:</em> You need to address the highlighted section(s)
        </div>
    }

</section>
