@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.SubmitSideBarViewModel
@using EA.Iws.Core.Notification;
@using EA.Iws.Core.NotificationAssessment

<section class="grid-row">
    <div class="noti-overview">
        <div class="govuk-grid-column-two-thirds">
            <div>
                <h1 class="govuk-heading-l">Notification overview</h1>
                <h2 class="govuk-heading-m">@Model.NotificationNumber</h2>
            </div>
            @if (Model.Status != NotificationStatus.NotSubmitted)
            {
                <div class="column" style="width:65%">
                    <div id="submit-side-bar" style="background-color:#f8f8f8">
                        <h3 style="text-align:center;">Notification access level:</h3>
                        <h3 style="text-align:center;">@Model.AccessLevelText</h3>
                    </div>
                </div>
            }
            <div>
                <br />
            </div>
            <div>
                @if (Model.ShowSubmitButton)
                {
                    @Html.ActionLink("Submit notification", "Disclaimer", "Submit", null, new { id = "btnSubmitNotification", @class = "govuk-button" })
                }

                else if (Model.ShowDisabledSubmitButtonAndGuidanceText)
                {
                    <a href="#" class="govuk-button" disabled="disabled">Submit notification</a>
                    <p>You can submit this notification once you've completed all sections</p>
                }

                else if (Model.ShowResubmitButton)
                {
                    using (Html.BeginForm("Resubmit", "Home", FormMethod.Post, new { id = Model.NotificationId }))
                    {
                        @Html.AntiForgeryToken()

                        <input type="submit" class="govuk-button" value="Resubmit notification" />
                    }
                }
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
            <div class="status">
                <span>Overall status</span>
                <span class="statusbox @Html.ExportStatus().DisplayColorClass(Model.Status)">@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Status).ToUpper()</span>
            </div>

            @if (Model.Charge > 0)
            {
                <div class="noti-charge govuk-body">
                    <span>Notification Charge:</span>
                    <span class="price">@Model.Charge.ToString("C")</span>
                    <div class="vat-message govuk-text">
                        All charges for environmental<br /> permits and licences are outside<br /> the scope of VAT
                    </div>
                </div>
            }

            <div class="noti-links">
                @if (Model.CompetentAuthority == UKCompetentAuthority.Scotland)
                {
                    @Html.ActionLink("Bank guarantee template", "GenerateBankGuaranteeDocument", "Home", new { area = "FinancialGuarantee" }, null)
                    <br />
                    @Html.ActionLink("Parent company template", "GenerateParentCompanyDocument", "Home", new { area = "FinancialGuarantee" }, null)
                }
                else
                {
                    @Html.ActionLink("Download financial guarantee", "GenerateFinancialGuaranteeDocument", "Home", new { area = "FinancialGuarantee", competentAuthority = Model.CompetentAuthority }, null)
                }
                @if (Model.Status != NotificationStatus.NotSubmitted)
                {
                    <br />
                    @Html.ActionLink("Download notification", "GenerateNotificationDocument", "Home", new { id = Model.NotificationId },
                        new { data_track = "link", data_category = "Export notification", data_action = "Download" })
                }
                @if (Model.ShowViewUpdateHistoryLink)
                {
                    <br />
                    @Html.ActionLink("View update history", "Index", "UpdateHistory", new { id = Model.NotificationId }, null)
                }
                @if (Model.ShowSubmitButton)
                {
                    <br />
                    @Html.ActionLink("View preview of my notification", "GenerateNotificationPreviewDocument", "Home", new { id = Model.NotificationId },
                        new { data_track = "link", data_category = "Export notification", data_action = "Download" })
                }
            </div>

            @if (Model.Status == NotificationStatus.NotSubmitted)
            {               
                <div class="govuk-grid-column-full" style="padding: 0px !important">
                    <div id="submit-side-bar" class="submitsidebar">
                        <h3 style="text-align:center;">Notification access level:</h3>
                        <h3 style="text-align:center;">@Model.AccessLevelText</h3>
                    </div>
                </div>
            }
        </div>

    </div>

    @if (!Model.IsNotificationComplete)
    {
        <div class="noti-alert">
            <em>ALERT:</em> You need to address the highlighted section(s)
        </div>
    }

</section>
