@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.TransportationViewModel
@{
    var id = Model.NotificationId;
}

<h2 class="heading-medium">The transportation</h2>

<div>
    <details>
        <summary>
            Intended carriers @if (Model.IsCarrierCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "List", "Carrier", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            @if (Model.IsCarrierCompleted)
            {
                <div class="panel-indent">
                    @for (int i = 0; i < Model.Carriers.Count; i++)
                    {
                        <div class="grid-row">
                            <div class="column-half">
                                <dl>
                                    <dt>Organisation name:</dt>
                                    <dd>@Html.DisplayFor(m => m.Carriers[i].Business.Name)</dd>

                                    <dt>Address:</dt>
                                    <dd>@Html.DisplayFor(m => m.Carriers[i].Address)</dd>
                                </dl>
                            </div>
                            <div class="column-half">
                                <dl>
                                    <dt>Contact:</dt>
                                    <dd>@Html.DisplayFor(m => m.Carriers[i].Contact)</dd>
                                </dl>
                            </div>
                        </div>
                        if (i < Model.Carriers.Count - 1)
                        {
                            <hr />
                        }
                    }
                </div>
            }
        </div>
    </details>
    <details>
        <summary>
            Means of transport @if (Model.IsMeansOfTransportCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "MeansOfTransport", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @for (int i = 0; i < Model.MeanOfTransport.Count; i++)
                {
                    @Html.DisplayFor(m => m.MeanOfTransport[i].DisplayName)
                    if (i != Model.MeanOfTransport.Count - 1)
                    {
                        <text>&#8594;</text>
                    }
                }
            </div>
        </div>
    </details>
    <details>
        <summary>
            Packaging types @if (Model.IsPackagingTypesCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "PackagingTypes", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                <ul>
                    @for (int i = 0; i < Model.PackagingData.Count; i++)
                    {
                        <li>@Html.DisplayFor(m => m.PackagingData[i])</li>
                    }
                </ul>
            </div>
        </div>
    </details>
    <details>
        <summary>
            Special handling @if (Model.IsSpecialHandlingCompleted)
            { <i class="fa fa-check green-text"></i> }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "SpecialHandling", new { id }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                <p>@Html.DisplayFor(m => m.SpecialHandlingDetails)</p>
            </div>
        </div>
    </details>
</div>