@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.TransportationViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.NotificationSummaryViewLocation;
}

<h2 class="heading-medium">The transportation</h2>

<div>
    <details>
        <summary>
            Intended carriers
            @if (Model.IsCarrierCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "List", "Carrier", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_Carrier.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Means of transport
            @if (Model.IsMeansOfTransportCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "MeansOfTransport", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_MeansOfTransport.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Packaging types
            @if (Model.IsPackagingTypesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "PackagingTypes", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_PackagingTypes.cshtml")
            </div>
        </div>
    </details>
    <details>
        <summary>
            Special handling
            @if (Model.IsSpecialHandlingCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "SpecialHandling", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_SpecialHandling.cshtml")
            </div>
        </div>
    </details>
</div>