@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.TransportationViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.ExternalNotificationOverviewSectionsLocation;
    var headerColspan = ViewBag.CanEditNotification ? 3 : 2;
}

@{
    var carriersClass = Model.IsCarrierCompleted ? "over-no-alert" : "over-alert";
    var meansClass = Model.IsMeansOfTransportCompleted ? "over-no-alert" : "over-alert";
    var packagingClass = Model.IsPackagingTypesCompleted ? "over-no-alert" : "over-alert";
    var handlingClass = Model.IsSpecialHandlingCompleted ? "over-no-alert" : "over-alert";
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="@headerColspan">
                <h2 class="heading-medium">Transportation</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class = @carriersClass>
            <td>
                Intended carriers
                <p class="govuk-body-s">Block 8</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_Carrier.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("List", "Carrier", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Intended carriers</span>
                    </a>
                </td>
            }
        </tr>
        <tr class = @meansClass>
            <td>
                Means of transport
                <p class="govuk-body-s">Block 8</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_MeansOfTransport.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Index", "MeansOfTransport", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Means of transport</span>
                    </a>
                </td>
            }
        </tr>
        <tr class = @packagingClass>
            <td>
                Packaging types
                <p class="govuk-body-s">Block 7</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_PackagingTypes.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Index", "PackagingTypes", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Packaging types</span>
                    </a>
                </td>
            }
        </tr>
        <tr class = @handlingClass>
            <td>
                Special handling requirements
                <p class="govuk-body-s">Block 7</p>
            </td>
            <td>
                @Html.Partial(viewLocation + "_SpecialHandling.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change govuk-link">
                    <a href="@Url.Action("Index", "SpecialHandling", new { id, backToOverview = true })">
                        Change
                        <span class="screen-reader-text">Special handling requirements</span>
                    </a>
                </td>
            }
        </tr>
    </tbody>
</table>