@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.TransportationViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.ExternalNotificationOverviewSectionsLocation;
    var headerColspan = ViewBag.CanEditNotification ? 3 : 2;
}

@{
    var carriersClass = Model.IsCarrierCompleted ? "over-no-alert" : "over-alert";
    var meansClass = Model.IsMeansOfTransportCompleted ? "over-no-alert" : "over-alert";
    var packagingClass = Model.IsPackagingTypesCompleted ? "over-no-alert" : "over-alert";
    var handlingClass = Model.IsSpecialHandlingCompleted ? "over-no-alert" : "over-alert";
}

<table class="overview-table">
    <thead>
        <tr>
            <th colspan="@headerColspan">
                <h2 class="heading-medium">Transportation</h2>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class = @carriersClass>
            <td>
                Intended carriers
            </td>
            <td>
                @Html.Partial(viewLocation + "_Carrier.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "List", "Carrier", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
        <tr class = @meansClass>
            <td>
                Means of transport
            </td>
            <td>
                @Html.Partial(viewLocation + "_MeansOfTransport.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "Index", "MeansOfTransport", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
        <tr class = @packagingClass>
            <td>
                Packaging types
            </td>
            <td>
                @Html.Partial(viewLocation + "_PackagingTypes.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "Index", "PackagingTypes", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
        <tr class = @handlingClass>
            <td>
                Special handling requirements
            </td>
            <td>
                @Html.Partial(viewLocation + "_SpecialHandling.cshtml")
            </td>
            @if (ViewBag.CanEditNotification)
            {
                <td class="change">
                    @Html.ActionLink("Change", "Index", "SpecialHandling", new { id, backToOverview = true }, null)
                </td>
            }
        </tr>
    </tbody>
</table>