@using EA.Iws.Core.WasteCodes
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.WasteCodeOverviewViewModel
@{
    var id = Model.NotificationId;
    var baselOrOecdType = (Model.BaselOecdCode != null && Model.BaselOecdCode.Length > 0)
        ? EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.BaselOecdCode[0].CodeType) :
        EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(CodeType.Basel) + "/" + EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(CodeType.Oecd);
    var codeDefinitionListPartialName = "_CodeDefinitionList";
}

<h2 class="heading-medium">Waste codes</h2>

<div>
    <details>
        <summary>
            Basel or OECD code
            @if (Model.IsBaselOecdCodeCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "BaselOecdCode", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.IsBaselOecdCodeCompleted)
                {
                    <h4 class="heading-small">@baselOrOecdType code</h4>

                    if (Model.IsBaselOecdCodeNotApplicable)
                    {
                        <p>Not listed</p>
                    }
                    else
                    {
                        @Html.Partial(codeDefinitionListPartialName, Model.BaselOecdCode)
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>

    <details>
        <summary>
            EWC codes
            @if (Model.AreEwcCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "EwcCode", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.AreEwcCodesCompleted)
                {
                    <h4 class="heading-small">EWC code(s)</h4>

                    if (Model.AreEwcCodesNotApplicable)
                    {
                        <p>Not applicable</p>
                    }
                    else
                    {
                        @Html.Partial(codeDefinitionListPartialName, Model.EwcCodes)
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>

    <details>
        <summary>
            Y codes
            @if (Model.AreYCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "YCode", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.AreYCodesCompleted)
                {
                    <h4 class="heading-small">Y code(s)</h4>

                    if (Model.AreYCodesNotApplicable)
                    {
                        <p>Not applicable</p>
                    }
                    else
                    {
                        @Html.Partial(codeDefinitionListPartialName, Model.YCodes)
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>

    <details>
        <summary>
            H or HP codes
            @if (Model.AreHCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "HCode", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.AreHCodesCompleted)
                {
                    <h4 class="heading-small">H or HP code(s)</h4>

                    if (Model.AreHCodesNotApplicable)
                    {
                        <p>Not applicable</p>
                    }
                    else
                    {
                        @Html.Partial(codeDefinitionListPartialName, Model.HCodes)
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>

    <details>
        <summary>
            UN classes
            @if (Model.AreUnClassesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "UNClass", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.AreUnClassesCompleted)
                {
                    <h4 class="heading-small">UN class(es)</h4>

                    if (Model.AreUnClassesNotApplicable)
                    {
                        <p>Not applicable</p>
                    }
                    else
                    {
                        @Html.Partial(codeDefinitionListPartialName, Model.UnClass)
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>

    <details>
        <summary>
            UN number
            @if (Model.AreUnNumbersCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "UNNumber", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.AreUnNumbersCompleted)
                {
                    <h4 class="heading-small">UN number(s)</h4>

                    if (Model.AreUnNumbersNotApplicable)
                    {
                        <p>Not applicable</p>
                    }
                    else
                    {
                        @Html.Partial(codeDefinitionListPartialName, Model.UnNumber)
                    }
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>

    <details>
        <summary>
            Other codes
            @if (Model.AreOtherCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "CustomWasteCode", new { id, backToOverview = true }, null)</span>
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @if (Model.AreOtherCodesCompleted)
                {
                    <h4 class="heading-small">Other codes</h4>
                    <dl>
                        <dt>Other code:</dt>
                        @if (Model.OtherCodes.First().IsNotApplicable)
                        {
                            <dd>Not applicable</dd>
                        }
                        else
                        {
                            <dd>@string.Join(", ", Model.OtherCodes.Select(c => c.CustomCode).ToList())</dd>
                        }

                        <dt>National code in country of export:</dt>
                        @if (Model.NationExportCode.First().IsNotApplicable)
                        {
                            <dd>Not applicable</dd>
                        }
                        else
                        {
                            <dd>@string.Join(", ", Model.NationExportCode.Select(c => c.CustomCode).ToList())</dd>
                        }

                        <dt>National code in country of import:</dt>
                        @if (Model.NationImportCode.First().IsNotApplicable)
                        {
                            <dd>Not applicable</dd>
                        }
                        else
                        {
                            <dd>@string.Join(", ", Model.NationImportCode.Select(c => c.CustomCode).ToList())</dd>
                        }

                        <dt>Customs code(s):</dt>
                        @if (Model.CustomCodes.First().IsNotApplicable)
                        {
                            <dd>Not applicable</dd>
                        }
                        else
                        {
                            <dd>@string.Join(", ", Model.CustomCodes.Select(c => c.CustomCode).ToList())</dd>
                        }
                    </dl>
                }
                else
                {
                    <p>@ViewBag.SectionIncompleteText</p>
                }
            </div>
        </div>
    </details>
</div>