@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.WasteCodeOverviewViewModel
@{
    var id = Model.NotificationId;
    var viewLocation = Constants.NotificationSummaryViewLocation;
}

<h2 class="heading-medium">Waste codes</h2>

<div>
    <details>
        <summary>
            Basel or OECD code
            @if (Model.IsBaselOecdCodeCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "BaselOecdCode", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                 @Html.Partial(viewLocation + "_BaselOecdCode.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            EWC codes
            @if (Model.AreEwcCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "EwcCode", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                 @Html.Partial(viewLocation + "_EwcCodes.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            Y codes
            @if (Model.AreYCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "YCode", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_YCodes.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            H or HP codes
            @if (Model.AreHCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "HCode", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_HCodes.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            UN classes
            @if (Model.AreUnClassesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "UnClass", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_UnClasses.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            UN number
            @if (Model.AreUnNumbersCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "UnNumber", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_UnNumbers.cshtml")
            </div>
        </div>
    </details>

    <details>
        <summary>
            Other codes
            @if (Model.AreOtherCodesCompleted)
            {
                <i class="fa fa-check green-text"></i>
            }
            @if (ViewBag.CanEditNotification)
            {
                <span class="edit-link-container">@Html.ActionLink("Edit", "Index", "CustomWasteCode", new { id, backToOverview = true }, null)</span>
            }
        </summary>
        <div class="expanded-details">
            <div class="panel-indent">
                @Html.Partial(viewLocation + "_OtherCodes.cshtml")
            </div>
        </div>
    </details>
</div>