@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel

@{
    ViewBag.Title = "Notification overview";
}

<h1 class="heading-large">Notification overview</h1>

<div class="form-group">
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>Exporter - notifier</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "Index", "Exporter", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Waste generator - producer</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "List", "Producer", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Importer - consignee</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "Index", "Importer", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>@Model.NotificationType.ToString() facility</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "List", "Facility", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Intended carriers</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "List", "Carrier", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Packaging types</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "Index", "PackagingTypes", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Special handling</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "Index", "SpecialHandling", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Intended shipments</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "Index", "Shipment", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Percentage Recoverable</div>
                </td>
                <td>
                    <div>@Html.ActionLink("Edit", "RecoveryPercentage", "RecoveryInfo", new { id = Model.NotificationId }, null)</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-group">
    @Html.ActionLink("Continue", "Disclaimer", "Home", new { id = Model.NotificationId }, new { @class = "button" })
</div>
