@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.NotificationOverviewViewModel
@{
    ViewBag.Title = "Notification overview";
}

<h1 class="heading-large">Notification overview</h1>

<section class="notification-overview">
    <div>

        <h2 class="heading-medium">Organisations involved</h2>

        @Html.Partial("_Exporter")
        @Html.Partial("_Producer")
        @Html.Partial("_Importer")
        @Html.Partial("_Facility")

        <h2 class="heading-medium">@( Model.NotificationType + " operation")</h2>

        @Html.Partial("_PreConsented")
        @Html.Partial("_RecoveryDisposal")
        @Html.Partial("_Technology")
        @Html.Partial("_ReasonForExport")

        <h2 class="heading-medium">Transportation</h2>

        @Html.Partial("_Carrier")
        @Html.Partial("_MeansOfTransport")
        @Html.Partial("_Packaging")
        @Html.Partial("_Handling")

        <h2 class="heading-medium">The journey</h2>

        @Html.Partial("_StateOfExport")
        @Html.Partial("_TransitStates")
        @Html.Partial("_StateOfImport")
        @Html.Partial("_Customs")

        <h2 class="heading-medium">Amounts and dates</h2>

        @Html.Partial("_IntendedShipments")

        <h2 class="heading-medium">Classify your waste</h2>

        @Html.Partial("_ChemicalComposition")
        @Html.Partial("_ProcessOfGeneration")
        @Html.Partial("_PhysicalCharacteristics")
        @Html.Partial("_WasteCodes")

        <h2 class="heading-medium">Waste recovery</h2>

        @Html.Partial("_RecoveryInfo")

        @Html.Partial("_NotificationCharge")
    </div>

</section>
<br />
<br />
<div class="form-group">
    @Html.ActionLink("Continue", "Disclaimer", "Home", new { id = Model.NotificationId }, new { @class = "button" })
</div>