@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.SubmittedViewModel
@{
    ViewBag.Title = "Submitted";
}

@using (Html.BeginForm("Disclaimer", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.Id)

    <header class="hgroup">
        <h2 class="heading-large">What to do next</h2>
        <h2 class="heading-small">Before we consider your notification you need to:</h2>
    </header>

    <div class="form-group">
        <h2 class="heading-small">Step 1. Print the notification document</h2>
        @Html.ActionLink(linkText: "Print document", actionName: "GenerateNotificationDocument", controllerName: "Home", routeValues: new { id = Model.Id, area = "NotificationApplication" }, htmlAttributes: null)
    </div>

    <div class="form-group">
        <h2 class="heading-small">Step 2: Sign in block 17</h2>
        Ensure you sign and date block 17 of the Notification document
    </div>

    <div class="form-group">
        <h2 class="heading-small">Step 3: Pay the notification charge</h2>
            <table>
                @foreach (var bankInfo in Model.CompetentAuthorityBacsInfo)
                {
                    <tr>
                        <td>@bankInfo.Key</td>
                        <td>@bankInfo.Value</td>
                    </tr>
                }
            </table>
        </div>
    <div class="form-group">
        <h2 class="heading-small">Step 4: Post the notification package to the UKCA</h2>
        <p>The package must include the signed notification document, the movement document, any supplementary information that was declared in the notification application and proof of payment.</p>
        <div class="form-group">
            @foreach (var contactInfo in Model.CompetentAuthorityContactInfo)
            {
                @contactInfo<br />
            }
        </div>

        <p>
            Assessment of this notification will start when both the notification package and the correct charge have been received by the UK competent authority performing the assessment.
        </p>

    </div>
    <div class="form-group">
        @Html.ActionLink("Go to My account", "Home", "Applicant", new { id = Model.Id, area = string.Empty }, new {@class = "button"})
    </div>
}
