@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.UpdateJourney.ExitPointViewModel
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.UpdateJourney.UpdateJourneyResources
@{
    ViewBag.Title = Resources.ChangeExitPointTitle;
}

<h1 class="govuk-heading-l">@Resources.ChangeExitPointTitle</h1>

<p>@Resources.CompetentAuthority - @(Model.CompetentAuthority).</p>

<p>@(string.Format(Resources.PointOfExitCurrently, Model.ExitPoint)).</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.HiddenFor(x => x.NotificationCompetentAuthority)
    @Html.HiddenFor(x => x.ShowAdditionalCharge)
    @Html.HiddenFor(x => x.NotificationStatus)

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedExitPoint)">
        @Html.Gds().LabelFor(m => m.SelectedExitPoint, new { @class = "form-label-bold" })
        @Html.Gds().ValidationMessageFor(m => m.SelectedExitPoint)
        @Html.Gds().DropDownListFor(m => m.SelectedExitPoint, Model.ExitPoints, string.Empty, new { title = Resources.ExitPoint, data_select_box = "true" })
    </div>

    if (Model.ShowAdditionalCharge)
    {
        <hr />
        <fieldset>
            @Html.EditorFor(m => m.AdditionalCharge)
        </fieldset>
    }

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}

@section scripts {
    <script>

        $(function () {

            $('#additionalChargeYes').click(function () {
                $.ajax({
                        url: '@Url.Action("GetDefaultAdditionalChargeAmount")',
                        type: 'POST',
                        data: { competentAuthority: '@Model.NotificationCompetentAuthority', __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                        success: function (result) {
                            $('#AdditionalCharge_Amount').val(result);
                            $("#AdditionalCharge_Amount").removeAttr("readonly");
                        }
                    });
            });

            $('#additionalChargeNo').click(function () {
                $('#AdditionalCharge_Amount').val(0);
                $('#AdditionalCharge_Amount').attr('readonly', 'true');
            });

        });
    </script>
}