@using EA.Iws.Core.Shared
@using EA.Iws.Web.ViewModels.Shared
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Producer.AddProducerViewModel

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Business.BusinessType)">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-label">
            @BusinessResources.BusinessTypeHeader
        </legend>
    </fieldset>
    <span class="form-hint">@BusinessResources.FormHintProducer</span>

    @Html.Gds().ValidationMessageFor(m => m.Business.BusinessType)

    <div class="govuk-radios__item" data-target="sole-trader-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "SoleTrader", new { @class = "govuk-radios__input", @id = "SoleTrader" })
        <label class="govuk-label govuk-radios__label" for="SoleTrader">
            @EnumHelper.GetDisplayName(BusinessType.SoleTrader)
        </label>
    </div>

    <div class="govuk-radios__item" data-target="partnership-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "Partnership", new { @class = "govuk-radios__input", @id = "Partnership" })
        <label class="govuk-label govuk-radios__label" for="Partnership">
            @EnumHelper.GetDisplayName(BusinessType.Partnership)
        </label>
    </div>

    <div class="govuk-radios__item" data-target="companies-house-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "LimitedCompany", new { @class = "govuk-radios__input", @id = "LimitedCompany" })
        <label class="govuk-label govuk-radios__label" for="LimitedCompany">
            @EnumHelper.GetDisplayName(BusinessType.LimitedCompany)
        </label>
    </div>

    <div class="panel @(Model.Business.BusinessType != null && Model.Business.BusinessType.Equals("Limited company") ? "" : "js-hidden")" id="companies-house-number">
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Business.RegistrationNumber)" data-validation-behaviour="ignore-parent">
            @Html.Gds().LabelFor(m => m.Business.RegistrationNumber, false)
            <span class="form-hint" id="RegNumHintUk">@BusinessResources.RegistrationNumberHintUK</span>
            <span class="form-hint" id="RegNumHintNonUk" style="display:none;">@BusinessResources.RegistrationNumberHintNonUK</span>
            @Html.Gds().ValidationMessageFor(m => m.Business.RegistrationNumber)
            @Html.Gds().TextBoxFor(m => m.Business.RegistrationNumber)
            <div>
                <br />
            </div>
            <details id="CompaniesHouseSummary" data-target="companies-house-number" class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        @BusinessResources.WhereToFindCompanyHouse
                    </span>
                </summary>
                <div class="govuk-details__text">
                    @Html.Raw(BusinessResources.CompanyHouseDescription)
                </div>
            </details>
        </div>
    </div>

    <div class="govuk-radios__item" data-target="other-description">
        @Html.RadioButtonFor(m => m.Business.BusinessType, BusinessType.Other, new { @class = "govuk-radios__input", @id = "Other" })
        <label class="govuk-label govuk-radios__label" for="Other">
            @EnumHelper.GetDisplayName(BusinessType.Other)
        </label>
    </div>

    <div class="panel hide-for-initial-load @(Model.Business.BusinessType != null && Model.Business.BusinessType == BusinessType.Other ? "" : "js-hidden")" id="other-description">
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Business.OtherDescription)">
            @Html.Gds().LabelFor(m => m.Business.OtherDescription)
            @Html.Gds().ValidationMessageFor(m => m.Business.OtherDescription)
            @Html.Gds().TextBoxFor(m => m.Business.OtherDescription)
        </div>
    </div>
</div>

<h2 class="heading-medium">@BusinessResources.OrgNameHeader</h2>
<hr />
<div class="govuk-form-group" id="dvOrgNameDesction">
    @BusinessResources.OrgHelpWithNamingDescription
</div>

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Business.Name)">
    <details class="govuk-details" data-module="govuk-details" id="dvOrgNameDetails">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                @BusinessResources.OrgHelpWithNamingTitle
            </span>
        </summary>
        <div class="govuk-details__text">
            @BusinessResources.OrgHelpWithNamingContent1
            <div id="dvImpNotificationOrgName">
                <ul class="govuk-list govuk-list--bullet">
                    <li>@BusinessResources.OrgHelpWithNamingContent2</li>
                    <li>@BusinessResources.OrgHelpWithNamingContent3</li>
                    <li id="orgHelpWithNamingContent4Uk">@BusinessResources.OrgHelpWithNamingContent4Uk</li>
                    <li id="orgHelpWithNamingContent5Uk">@BusinessResources.OrgHelpWithNamingContent5Uk</li>
                </ul>
            </div>
        </div>
    </details>
    @Html.Gds().LabelFor(m => m.Business.Name)
    @Html.Gds().ValidationMessageFor(m => m.Business.Name)

    <div id="dvBtnImportName">
        <span class="form-hint">
            Please enter above registration number to enable 'Import name' button.
        </span>
        <button id="btnImportName" class="govuk-button" type="submit" style="margin-bottom: 10px">Import name</button>
        <span class="field-validation-error govuk-error-message" id="errorMessage">
        </span>
    </div>

    @Html.Gds().HintSpan(BusinessResources.OrgNameHint)
    @Html.Gds().TextBoxFor(m => m.Business.Name, new
    {
        data_addressbook_url = Url.Action("Index", "Search", new { area = "AddressBook" }),
        data_addressbook_type = "Producer"
    })

    <br />
    <br />
    <div class="govuk-form-group">
        @Html.Gds().LabelFor(m => m.Business.OrgTradingName)
        @Html.Gds().HintSpan(BusinessResources.OrgTradingNameHint)
        <span>
            <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text" value="T/A" readonly>
            @Html.Gds().TextBoxFor(m => m.Business.OrgTradingName, new { @class = "orgTradingName" })
        </span>
    </div>
</div>