@using EA.Iws.Web.Areas.AddressBook.Views
@using EA.Iws.Web.Areas.NotificationApplication.Views.Producer
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Producer.AddProducerViewModel
@{
    ViewBag.Title = AddEditProducerResources.TitleAdd;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="heading-large">@AddEditProducerResources.Header</h1>
    </header>

    @Html.Partial("_BusinessType", Model)

    <h2 class="heading-medium">@AddEditProducerResources.Address</h2>
    <hr />
    <p>@AddEditProducerResources.AddressDescription</p>
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">@AddEditProducerResources.Contact</h2>
    <hr />
    @Html.EditorFor(m => m.Contact)

    <div class="form-group no-js-hidden">
        <label class="block-label" for="addressBook">
            @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook" })
            @AddressBookResources.AddToAddressBook
        </label>
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}