@using EA.Iws.Web.Areas.AddressBook.Views
@using EA.Iws.Web.Areas.NotificationApplication.Views.Producer
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Producer.EditProducerViewModel
@{
    ViewBag.Title = AddEditProducerResources.TitleEdit;
    ViewBag.UseUKAddressValidationAndTooltips = true;
    ViewBag.UseDefaultValidationAndToolTips = false;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.ProducerId)

    <header class="hgroup">
        <h1 class="govuk-heading-l">@AddEditProducerResources.Header</h1>
    </header>

    <fieldset>
        <legend class="visuallyhidden">@AddEditProducerResources.ProducerDetails</legend>
        @Html.Partial("_BusinessType", Model)
    </fieldset>

    <h2 class="heading-medium">@AddEditProducerResources.Address</h2>
    <hr />
    @Html.Gds().HintParagraph(@AddEditProducerResources.AddressDescription)

    <fieldset>
        <legend class="visuallyhidden">@AddEditProducerResources.Address</legend>
        @Html.EditorFor(m => m.Address)
    </fieldset>

    <h2 class="heading-medium">@AddEditProducerResources.Contact</h2>
    <hr />

    <span class="form-hint">@AddEditProducerResources.ContactDescription</span>
    <fieldset>
        <legend class="visuallyhidden">@AddEditProducerResources.Contact</legend>
        @Html.EditorFor(m => m.Contact)
    </fieldset>

    <div class="govuk-form-group no-js-hidden">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="multiple-choice govuk-checkboxes__item">
                @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook", @class = "govuk-checkboxes__input" })
                <label class="govuk-label govuk-checkboxes__label" for="addressBook">
                    @AddressBookResources.AddToAddressBook
                </label>
            </div>
        </div>
    </div>

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}

@section scripts {
    <script type="text/javascript">
        function hideImportFromCompHouseSection() {
            $("#dvBtnImportName").hide();
            $("#hintOrgName").show();
            $("#Business_Name").removeAttr('readonly');
            $("#dvOrgNameDesction").hide();
            $("#dvOrgNameDetails").show();
        }

        function showImportFromCompHouseSection() {
            $("#dvBtnImportName").show();
            $("#hintOrgName").hide();
            $("#Business_Name").attr('readonly', 'readonly');
            $("#dvOrgNameDesction").show();
            $("#dvOrgNameDetails").hide();
        }

        $(function () {
            //On page load, controls hide
            $("#dvBtnImportName").hide();
            $("#dvOrgNameDesction").hide();

            //On page load, controls show
            $("#hintOrgName").show();
            $("#dvOrgNameDetails").show();

            $('#yes').click(function () {
                var isLimitedCompany = $("input[id='LimitedCompany']:checked").val();
                if (isLimitedCompany) {
                    showImportFromCompHouseSection();
                } else {
                    hideImportFromCompHouseSection();
                }
            });

            $('#no').click(function () {
                hideImportFromCompHouseSection();
            });

            $('#SoleTrader').click(function () {
                hideImportFromCompHouseSection();
            });

            $('#Partnership').click(function () {
                hideImportFromCompHouseSection();
            });

            $('#LimitedCompany').click(function () {
                showImportFromCompHouseSection();
            });

            $('#Other').click(function () {
                hideImportFromCompHouseSection();
            });

            $('#btnImportName').click(function () {
                var regNumber = $('#Business_RegistrationNumber').val();

                let formData = {
                    NotificationId: $("#NotificationId").val(),
                    //IsUkBased: document.querySelector('input[name="IsUkBased"]:checked').value,
                    IsAddedToAddressBook: $("#IsAddedToAddressBook").val(),
                    Business: { RegistrationNumber: regNumber }
                }

                if ((regNumber == null) || (regNumber == '')) {

                    //$.ajax({
                    //    url: 'exporter/IndexWithError',
                    //    type: 'POST',
                    //    dataType: 'json',
                    //    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    //    data: { model: formData, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                    //    success: function (response) {
                    //        location.reload();
                    //        alert('hellooo');
                    //    }
                    //});

                } else {

                    $.ajax({
                        url: 'exporter/SearchCompanyName',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        //data: { model: formData, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() }
                        data: { "registrationNumber": regNumber, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                        success: function (result) {
                            $("#Business_Name").val(result);
                        }
                    });
                }
                event.preventDefault();
            });
        });
    </script>
}