@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Producer.EditProducerViewModel
@{
    ViewBag.Title = "Waste Generator(s) - Producer(s)";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.ProducerId)
    
    <header class="hgroup">
        <h2 class="heading-large">Add waste generator - producer</h2>
        <div class="colored-header-bar"></div>
    </header>

    @Html.Partial("_BusinessType", Model)

    <h2 class="heading-medium">Address</h2>
    <hr/>
    <p>This should be the site address for the waste generator-producer.</p>
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Contact person</h2>
    <hr/>
    
    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
}