@using EA.Iws.Web.Areas.AddressBook.Views
@using EA.Iws.Web.Areas.NotificationApplication.Views.Producer
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Producer.EditProducerViewModel
@{
    ViewBag.Title = AddEditProducerResources.TitleEdit;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.ProducerId)

    <header class="hgroup">
        <h1 class="heading-large">@AddEditProducerResources.Header</h1>
    </header>

    <fieldset>
        <legend class="visuallyhidden">@AddEditProducerResources.ProducerDetails</legend>
        @Html.Partial("_BusinessType", Model) 
    </fieldset>

    <h2 class="heading-medium">@AddEditProducerResources.Address</h2>
    <hr />
    <p>@AddEditProducerResources.AddressDescription</p>

    <fieldset>
        <legend class="visuallyhidden">@AddEditProducerResources.Address</legend>
        @Html.EditorFor(m => m.Address)
    </fieldset>

    <h2 class="heading-medium">@AddEditProducerResources.Contact</h2>
    <hr />

    <fieldset>
        <legend class="visuallyhidden">@AddEditProducerResources.Contact</legend>
        @Html.EditorFor(m => m.Contact)
    </fieldset>

    <div class="form-group no-js-hidden">
        <div class="multiple-choice">
            @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook" })
            <label for="addressBook">
                @AddressBookResources.AddToAddressBook
            </label>
        </div>
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}