@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Producer.MultipleProducersViewModel
@{
    ViewBag.Title = "List Producers";
}
<h1 class="heading-large">Who is the waste generator - producer?</h1>
<p>Add details of all the waste generators - producers. After you've added your first waste generator - producer, you can add several more by selecting "Add another waste generator - producer".</p>

@if (Model != null && Model.ProducerData.Any())
{
    <div class="colored-header-bar"></div>
    <div class="form-group">
        <table title="List of producers">
            <thead>
                <tr>
                    <th>Organisation name</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.ProducerData.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => m.ProducerData[i].Business.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.ProducerData[i].Address.StreetOrSuburb),
                            @Html.DisplayFor(m => m.ProducerData[i].Address.TownOrCity)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Producer",
                                new { id = Model.ProducerData[i].NotificationId, entityId = Model.ProducerData[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                            <span class="table-divider">|</span>
                            @Html.ActionLink("Remove", "Remove", "Producer",
                                new { id = Model.ProducerData[i].NotificationId, entityId = Model.ProducerData[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

 @{
     var buttonText = Model.ProducerData.Count > 0 ? "Add another waste generator - producer" : "Add your first waste generator - producer";
     <div class="form-group">
         @Html.ActionLink(buttonText, "Add", "Producer", new { id = Model.NotificationId, backToOverview = ViewBag.BackToOverview }, null)
     </div>
 }

@if (ViewBag.BackToOverview)
{
    @Html.ActionLink(@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText, "Index", "Home", new { id = Model.NotificationId }, new { @class = "button" })
}
else
{
    @Html.ActionLink(@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText, "SiteOfExport", "Producer", new { id = Model.NotificationId }, new { @class = "button" })
}
