@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Producer.SiteOfExportViewModel
@{
    ViewBag.Title = "Site Of Export";
}

<h1 class="heading-large">Which waste generator - producer is the site of export?</h1>

@if (Model.Producers.Any())
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.NotificationId)

        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedSiteOfExport)">
            <table title="List of producers for set site of export">
                <thead>
                    <tr>
                        <th>Organisation name</th>
                        <th>Address</th>
                        <th>Site of export?</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Producers.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.Producers[i].Business.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Producers[i].Address.StreetOrSuburb),
                                @Html.DisplayFor(m => m.Producers[i].Address.TownOrCity)
                            </td>
                            <td>
                                @{
                        var htmlAttr = new Dictionary<string, object> { { "id", Html.NameFor(m => m.Producers[i].Id) } };
                                    htmlAttr.Add("title", "Site of export?");
                        if (@Model.Producers[i].IsSiteOfExport)
                        {
                            htmlAttr.Add("checked", "checked");
                        }
                        @Html.RadioButtonFor(m => m.SelectedSiteOfExport, Model.Producers[i].Id, htmlAttr)
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    }
}
else
{
    <p>You have not added any producers to this notification. Please add a producer before selecting the site of export.</p>
    <p>@Html.ActionLink("Back to producers", "List", "Producer", new { id = Model.NotificationId, backToOverview = ViewBag.BackToOverview }, null)</p>
    if (ViewBag.BackToOverview)
    {
        @Html.ActionLink(@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText, "Index", "Home", new { id = Model.NotificationId }, new { @class = "button" })
    }
    else
    {
        @Html.ActionLink(@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText, "Index", "Importer", new { id = Model.NotificationId }, new { @class = "button" })
    }
}