@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuaranteeDates.UpdateFinancialGuaranteeDatesViewModel
@using Resources =  EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeDates.FinancialGuaranteeDatesResources
@{
    ViewBag.Title = Resources.UpdateDatesTitle;
}

<h1 class="heading-large">@Resources.UpdateDatesTitle</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <fieldset>
        @if (Model.ReceivedDate.IsCompleted)
        {
            <div class="form-group @Html.Gds().FormGroupClass(m => m.ReceivedDate) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Day) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Month) @Html.Gds().FormGroupClass(m => m.ReceivedDate.Year)">
                @Html.Gds().LabelFor(m => m.ReceivedDate, showOptionalLabel: false)
                @Html.Gds().ValidationMessageFor(m => m.ReceivedDate)
                @Html.EditorFor(m => m.ReceivedDate)
            </div>
        }

        @if (Model.CompletedDate.IsCompleted)
        {
            <div class="form-group @Html.Gds().FormGroupClass(m => m.CompletedDate) @Html.Gds().FormGroupClass(m => m.CompletedDate.Day) @Html.Gds().FormGroupClass(m => m.CompletedDate.Month) @Html.Gds().FormGroupClass(m => m.CompletedDate.Year)">
                @Html.Gds().LabelFor(m => m.CompletedDate, showOptionalLabel: false)
                @Html.Gds().ValidationMessageFor(m => m.CompletedDate)
                @Html.EditorFor(m => m.CompletedDate)
            </div>
        }

        @if (Model.DecisionDate.IsCompleted)
        {
            <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDate) @Html.Gds().FormGroupClass(m => m.DecisionDate.Day) @Html.Gds().FormGroupClass(m => m.DecisionDate.Month) @Html.Gds().FormGroupClass(m => m.DecisionDate.Year)">
                @Html.Gds().LabelFor(m => m.DecisionDate, showOptionalLabel: false)
                @Html.Gds().ValidationMessageFor(m => m.DecisionDate)
                @Html.EditorFor(m => m.DecisionDate)
            </div>
        }
    </fieldset>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}