@using EA.Iws.Web.Infrastructure
@model EA.Iws.Core.Movement.MovementProgressAndSummaryData

<h4>Pre-notification sections</h4>
@Html.Navigation().Link("Actual date of shipment", Model.Progress.IsActualDateCompleted, "Index", "ShipmentDate", new RouteValueDictionary
{
    { "area", "MovementDocument" },
    { "movementId", Model.MovementId },
})
@Html.Navigation().Link("Actual quantity", Model.Progress.IsActualQuantityCompleted, "Index", "Quantity", new RouteValueDictionary
{
    { "area", "MovementDocument" },
    { "movementId", Model.MovementId },
})
@Html.Navigation().Link("Packaging types", Model.Progress.ArePackagingTypesCompleted, "Index", "PackagingTypes", new RouteValueDictionary
{
    { "area", "MovementDocument" },
    { "movementId", Model.MovementId },
})
@Html.Navigation().Link("Number of packages", Model.Progress.IsNumberOfPackagesCompleted, "Index", "NumberOfPackages", new RouteValueDictionary
{
    { "area", "MovementDocument" },
    { "movementId", Model.MovementId },
})
@Html.Navigation().Link("Intended carriers", Model.Progress.AreIntendedCarriersCompleted, "Index", "Carrier", new RouteValueDictionary
{
    { "area", "MovementDocument" },
    { "movementId", Model.MovementId },
}, new[] { "NumberOfCarriers" })