@model EA.Iws.Web.Areas.Admin.ViewModels.VirusScan.VirusScanViewModel
@{
    ViewBag.Title = "Scan file";
}


<h1 class="govuk-heading-l">Select file for scanning</h1>

@using (Html.BeginForm("Index", "VirusScan", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Gds().ValidationSummary()

    @Html.AntiForgeryToken()

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.File)">
        @Html.Gds().LabelFor(m => m.File)
        @Html.Gds().ValidationMessageFor(m => m.File)
        @Html.Gds().TextBoxFor(m => m.File, new { type = "file" })
    </div>
  
   <div class="govuk-form-group">
        <button class="govuk-button" type="submit">Scan</button>
    </div>
    <div class="govuk-form-group">
        @ViewBag.Message
    </div>
}
