@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.UNClass.UNClassViewModel

@{
    ViewBag.Title = "UN classes";
}

<div class="grid-row">
    <header class="hgroup">
        <h1 class="heading-large">What UN classes apply to the waste?</h1>
    </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.EditorFor(m => m.EnterWasteCodesViewModel)

    <div class="form-group">
        <button class="button" type="submit" name="command" value="continue">@Constants.ContinueButtonText</button>
    </div>
}

</div>

@section scripts{
    <script>
        (function ($) {
            $(function () {
                $('#code-list').selectToAutocomplete();
            });

            $("#EnterWasteCodesViewModel_IsNotApplicable").change(function() {

                var not = "<td colspan=\"4\">Not applicable</td>";
                var await = "<td colspan=\"4\">Awaiting code...</td>";

                var c = @Model.EnterWasteCodesViewModel.SelectedWasteCodes.Count();

                if (c == 0) {
                    var t = this.checked ? not : await;
                    $("#codeTable tr").eq(1).html(t);
                }

            });
        })(jQuery);
    </script>
}