@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteCodes.EnterWasteCodesViewModel

<div class="wastecode-block">
    <h4 class="heading-medium">Type your code and select from the options that will appear in the list.</h4>
    <div class="@Html.Gds().FormGroupClass(m => m.SelectedCode)">
        @Html.Gds().ValidationMessageFor(m => m.SelectedCode)
        @Html.Gds().DropDownListFor(m => m.SelectedCode, Model.Codes, string.Empty, new { id = "#code-list" })
        <button type="submit" name="command" value="addcode">Insert this code into table below</button>
    </div>
    @Html.Gds().CheckBoxFor(m => m.IsNotApplicable)

    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @if (Model.SelectedWasteCodes.Count < 1)
        {
            <tr>
                <td colspan="4">Awaiting code...</td>
            </tr>
        }
        @for (int i = 0; i < Model.SelectedWasteCodes.Count; i++)
        {
            var thisCode = Model.WasteCodes.Single(wc => wc.Id == Model.SelectedWasteCodes[i]);
            <tr>
                <td>@Html.HiddenFor(m => m.SelectedWasteCodes[i]) @Html.Raw(thisCode.Name)</td>
                <td>@Html.Raw(thisCode.Description)</td>
                <td><input name="EnterWasteCodesViewModel.SelectedCodesList[@i].Id" type="hidden" value="@Model.SelectedWasteCodes[i]" /></td>
                <td><button class="link-submit" type="submit" name="remove" value="@Model.SelectedWasteCodes[i]">Remove</button></td>
            </tr>
        }
    </table>
</div>