@using EA.Iws.Web.Views.Shared

<details>
    <summary>
        <h2 class="summary heading-xsmall" data-track="disclosure" data-category="Data notice" data-action="Read">@IwsStandardDataNoticeResources.Header</h2>
    </summary>
    <div class="panel">
        <p>
            @IwsStandardDataNoticeResources.ReadCarefully
        </p>

        <h2 class="heading-small">@IwsStandardDataNoticeResources.PersonalInfoHeading</h2>
        <p>
            @IwsStandardDataNoticeResources.PersonalInfoIntro

            <ul class="list-bullet">
                <li>@IwsStandardDataNoticeResources.DealWithApplication</li>
                <li>@IwsStandardDataNoticeResources.ConditionsOfLicence</li>
                <li>@IwsStandardDataNoticeResources.ProcessRenewals</li>
            </ul>
        </p>

        <h2 class="heading-small">@IwsStandardDataNoticeResources.WeMayAlsoHeading</h2>

        <p>
            <ul class="list-bullet">
                <li>@IwsStandardDataNoticeResources.OfferYouDocuments</li>
                <li>@IwsStandardDataNoticeResources.ConsultThePublic</li>
                <li>@IwsStandardDataNoticeResources.CarryOutResearch</li>
                <li>@IwsStandardDataNoticeResources.PreventLawBreaking</li>
                <li>@IwsStandardDataNoticeResources.CustomerSatisfaction</li>
                <li>@IwsStandardDataNoticeResources.RequestsForInformation</li>
            </ul>
        </p>

        <p>
            @IwsStandardDataNoticeResources.PassInformationToAgents
        </p>
    </div>
</details>