@using EA.Iws.Web.Views.Shared
<details>
    <summary><h2 class="summary heading-xsmall" data-track="disclosure" data-category="Data notice" data-action="Read">@IwsStandardDataNoticeResources.Header</h2></summary>
    <div class="panel-indent">
        <p>
            @IwsStandardDataNoticeResources.PersonalInfo
        </p>

        <p>
            @IwsStandardDataNoticeResources.DataNotice1

            <ul class="list-bullet">
                <li>@IwsStandardDataNoticeResources.ProcessListItem1</li>
                <li>@IwsStandardDataNoticeResources.ProcessListItem2</li>
                <li>@IwsStandardDataNoticeResources.ProcessListItem3</li>
            </ul>
        </p>

        <p>
            @IwsStandardDataNoticeResources.DataNotice2

            <ul class="list-bullet">
                <li>@IwsStandardDataNoticeResources.ReleaseInfoListItem1</li>
                <li>@IwsStandardDataNoticeResources.ReleaseInfoListItem2</li>
                <li>@IwsStandardDataNoticeResources.ReleaseInfoListItem3</li>
                <li>@IwsStandardDataNoticeResources.ReleaseInfoListItem4</li>
                <li>@IwsStandardDataNoticeResources.ReleaseInfoListItem5</li>
                <li>@IwsStandardDataNoticeResources.ReleaseInfoListItem6</li>
            </ul>
        </p>
        <p>
            @IwsStandardDataNoticeResources.DataNotice3
        </p>

    </div>
</details>