@{
    ViewBag.HeaderClass = "with-proposition";
    Layout = "~/Views/Shared/_Layout.GovUK.cshtml";
}

@* Implement sections here *@

@section top_of_page {

}

@section head {
    @Html.Partial("_IwsHead")
    @RenderSection("head", required: false)
}

@section inside_header {
    @Html.Partial("_IwsHeader")
}

@section after_header {

}

@section footer_top {
    @Html.Partial("_IwsHelpline")
    <hr class="govuk-footer__section-break">
}

@section footer_support_links {
    <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">
            <a href="https://www.gov.uk/help" class="govuk-footer__link">Help</a>
        </li>
        <li class="govuk-footer__inline-list-item">
            @Html.ActionLink("Cookies", "Cookies", "NewUser", new { area = string.Empty }, new { @class = "govuk-footer__link" })
        </li>
        <li class="govuk-footer__inline-list-item">
            @Html.ActionLink("Terms and conditions", "TermsAndConditions", "NewUser", new { area = string.Empty }, new { @class = "govuk-footer__link" })
        </li>
        <li class="govuk-footer__inline-list-item">
            @Html.ActionLink("Privacy notice", "Index", "PrivacyPolicy", new { area = string.Empty }, new { @class = "govuk-footer__link" })
        </li>
        <li class="govuk-footer__inline-list-item">
            @Html.ActionLink("Accessibility", "Accessibility", "NewUser", new { area = string.Empty }, new { @class = "govuk-footer__link" })
        </li>
    </ul>
}

@section body_end {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/govuk-frontend")
    @Scripts.Render("~/bundles/govuk_iws")
    @Scripts.Render("~/bundles/helpers")
    @RenderSection("scripts", required: false)
}

<div class="govuk-width-container">
    @Html.Partial("_FeedbackBanner")
    <div style="margin-top:5px;">
        @Html.Action("MessageBanner", "Banner", new { area = string.Empty })
    </div>
    <main id="content" class="govuk-main-wrapper app-main-class">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="top-content-box font-xsmall">
                <div id="homepage-link-container">
                    @if (!User.IsInternalUser())
                    {
                        @Html.ActionLink("Go to your homepage", "Home", "Applicant", new { area = string.Empty }, new { @class = "govuk-link" })
                    }
                </div>
                <div id="top-content-box-container">
                    @RenderSection("top_content_box", false)
                    @Html.Action("_IwsTitle", "Home", new { area = string.Empty })
                </div>
            </div>
        }
        <div id="renderedContent">
            @RenderBody()
        </div>
    </main>
</div>