@{
    ViewBag.CookieMessage = "<p>GOV.UK uses cookies to make the site simpler. Find out more about " +
                            Html.ActionLink("cookies", "Cookies", "NewUser", new { area = string.Empty }, new { target = "_blank" }) + "</p>";
    ViewBag.HeaderClass = "with-proposition";
    Layout = "~/Views/Shared/_Layout.GovUK.cshtml";
}

@* Implement sections here *@

@section top_of_page {

}

@section head {
    @Html.Partial("_IwsHead")
    @Html.Partial("_IwsTracking")
    @RenderSection("head", required: false)
}

@section inside_header {

}

@section proposition_header {
    @Html.Partial("_IwsNavigation")
}

@section after_header {

}

@section footer_top {
    <div class="footer-categories">
        @Html.Partial("_IwsHelpline")
        <hr />
    </div>
}

@section footer_support_links {
    <ul>
        <li>
            @Html.ActionLink("Feedback", "Index", "Feedback", new { area = string.Empty }, new { target = "_blank" })
        </li>
        <li>
            @Html.ActionLink("Cookies", "Cookies", "NewUser", new { area = string.Empty }, new { target = "_blank" })
        </li>
    </ul>
}

@section body_end {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/govuk_toolkit")
    @Scripts.Render("~/bundles/govuk_iws")
    @Scripts.Render("~/bundles/helpers")
    @RenderSection("scripts", required: false)
}

<main id="content">
    @Html.Partial("_FeedbackBanner")
    @if (User.Identity.IsAuthenticated)
    {
        <div class="top-content-box font-xsmall">
            <div id="homepage-link-container">
                @if (!User.IsInternalUser())
                {
                    @Html.ActionLink("Go to my homepage", "Home", "Applicant", new { area = string.Empty }, null)
                }
            </div>
            <div>
                @RenderSection("top_content_box", false)
                @Html.Action("_IwsTitle", "Home", new { area = string.Empty })
            </div>
        </div>
    }
    @RenderBody()
</main>