@using EA.Iws.Web.Infrastructure.Paging
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.ViewModels.Shared.ShipmentAuditTrailViewModel
@helper DisplayDate(DateTimeOffset date)
{
	@date.ToString("d MMM yyyy")
}

@helper DisplayTime(DateTimeOffset time)
{
	@time.ToString("HH:mm")
}


@if (Model.ShipmentAuditItems.Count > 0)
{
	<div class="form-group">
		<table class="odd-table">
			<thead>
				<tr>
					<th>
						Shipment number
					</th>
					<th>
						Type of change
					</th>
					<th>
						Date
					</th>
					<th>
						Time
					</th>
					<th>
						User
					</th>
				</tr>
			</thead>

			<tbody>
			@foreach (var auditRecord in Model.ShipmentAuditItems)
			{
			    <tr>
			        <td>
			            @auditRecord.ShipmentNumber
			        </td>
			        <td>
			            @EnumHelper.GetDisplayName(auditRecord.AuditType)
			        </td>
			        <td>
			            @DisplayDate(auditRecord.DateAdded)
			        </td>
			        <td>
			            @DisplayTime(auditRecord.DateAdded)
			        </td>
			        <td>
			            @auditRecord.UserName
			        </td>
			    </tr>
			}
			</tbody>
		</table>
	</div>
}
else
{

	<div class="margin-bottom-30 margin-top-30 ">
		<h3 style="text-align:center; font-size:36px">No changes available</h3>
	</div>

}
@if (Model.ShipmentAuditItems.Count > 0)
{
	@Html.Pager(Model.PageSize, Model.PageNumber, Model.NumberOfShipmentAudits)
}
