@using EA.Iws.Web.Infrastructure.Paging
@using EA.Iws.Web.ViewModels
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper

@model EA.Iws.Web.ViewModels.Shared.ShipmentAuditTrailViewModel
@helper DisplayDate(DateTimeOffset date)
{
	@date.ToString("d MMM yyyy")
}

@helper DisplayTime(DateTimeOffset time)
{
	@time.ToString("HH:mm")
}

@if (Model.ShipmentAuditItems.Count > 0)
{
	<div class="form-group" id="audit-trail">
		<table class="group-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">
						Shipment number
					</th>
					<th scope="col" class="govuk-table__header">
						Type of change
					</th>
					<th scope="col" class="govuk-table__header">
						Date of action
					</th>
					<th scope="col" class="govuk-table__header">
						Time
					</th>
					<th scope="col" class="govuk-table__header">
						User
					</th>
				</tr>
			</thead>

			<tbody class="govuk-table__body">
			@foreach (var auditRecord in Model.ShipmentAuditItems)
			{
			    <tr class="govuk-table__row">
			        <td class="govuk-table__cell">
			            @auditRecord.ShipmentNumber
			        </td>
			        <td class="govuk-table__cell">
			            @EnumHelper.GetDisplayName(auditRecord.AuditType)
			        </td>
			        <td class="govuk-table__cell">
			            @DisplayDate(auditRecord.DateAdded)
			        </td>
			        <td class="govuk-table__cell">
			            @DisplayTime(auditRecord.DateAdded)
			        </td>
			        <td class="govuk-table__cell">
			            @auditRecord.UserName
			        </td>
			    </tr>
			}
			</tbody>
		</table>
	</div>	
}
else
{

	<div class="margin-bottom-30 margin-top-30 ">
		<h3 style="text-align:center; font-size:36px">No changes available</h3>
	</div>

}
@if (Model.ShipmentAuditItems.Count > 0)
{
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.NumberOfShipmentAudits).Options(o =>
    {
        var selectedFilter = (ShipmentAuditFilterType?)ViewData["Filter"];
        var number = (int?)ViewData["ShipmentNumber"];

        if (selectedFilter.HasValue)
        {
            o.AddRouteValue("filter", (int)selectedFilter.Value);
        }
        if (number.HasValue)
        {
            o.AddRouteValue("number", (int)number.Value);
        }
    })
}

