@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteCodes.YcodeHcodeAndUnClassViewModel
           
@{
    ViewBag.Title = "Y codes, H codes and UN class";
}

<div class="grid-row">
    <header class="hgroup">
        <div class="form-group">
            @Html.Gds().HintParagraph("Step 3 of 4")
        </div>
        <h2 class="heading-large">Waste Identification</h2>
    </header>

    @using (Html.BeginForm("AddYcodeHcodeAndUnClass", "WasteCodes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.NotificationId)
        @Html.HiddenFor(m => m.TypeOfCodeAdded, new { id = "typeOfCodeAdded"})

        //Y codes

        <div class="wastecode-block" id="YcodePosition">
            <div class="form-group top-blue-line @Html.Gds().FormGroupClass(m => m.SelectedYcode)">
                <div class="heading-medium">Y-code</div>
                @*@Html.Gds().LabelFor(m => m.SelectedYcode, showOptionalLabel: false)*@
                @Html.Gds().HintSpan("Enter at least one code or not applicable")
                @Html.Gds().ValidationMessageFor(m => m.SelectedYcode)
                <select data-val="true" data-val-required="The SelectedYcode field is required." id="ycode-list" name="SelectedYcode">
                    <option description="" selected="selected" value=""></option>
                    @foreach (var wasteCode in Model.Ycodes)
                    {
                        <option ycodedescription="@wasteCode.Description" ycode="@wasteCode.Code" value="@wasteCode.Id">@wasteCode.Code</option>
                    }
                </select>
                <button class="link-submit" id="YcodeAdd" type="submit" name="command" value="addYcode">Add</button>
            </div>

            @if (Model.SelectedYcodesList.Count > 0)
            {
                <table id="nonjsYcodeDescriptionTable">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    @for (int i = 0; i < Model.SelectedYcodesList.Count; i++)
                    {
                        <tr>
                            <td><input name="SelectedYCodesList[@i].Code" type="hidden" value="@Model.SelectedYcodesList[i].Code" />@Model.SelectedYcodesList[i].Code</td>
                            <td><input name="SelectedYCodesList[@i].Description" type="hidden" value="@Model.SelectedYcodesList[i].Description" />@Model.SelectedYcodesList[i].Description</td>
                            <td><input name="SelectedYCodesList[@i].Id" type="hidden" value="@Model.SelectedYcodesList[i].Id" /></td>
                            <td><button class="link-submit" type="submit" name="remove" value="@Model.SelectedYcodesList[i].Id">Remove</button></td>
                        </tr>
                    }
                </table>
            }
        </div>

            //H codes

        <div class="wastecode-block" id="HcodePosition">
            <div class="form-group top-blue-line @Html.Gds().FormGroupClass(m => m.SelectedHcode)">
                <div class="heading-medium">H-code</div>
                @*@Html.Gds().LabelFor(m => m.SelectedHcode, showOptionalLabel: false)*@
                @Html.Gds().HintSpan("Enter at least one code or not applicable")
                @Html.Gds().ValidationMessageFor(m => m.SelectedHcode)
                <select data-val="true" data-val-required="The SelectedHcode field is required." id="hcode-list" name="SelectedHcode">
                    <option description="" selected="selected" value=""></option>
                    @foreach (var wasteCode in Model.Hcodes)
                    {
                        <option hcodedescription="@wasteCode.Description" hcode="@wasteCode.Code" value="@wasteCode.Id">@wasteCode.Code</option>
                    }
                </select>
                <button class="link-submit" id="HcodeAdd" type="submit" name="command" value="addHcode">Add</button>
            </div>

            @if (Model.SelectedHcodesList.Count > 0)
            {
                <table id="nonjsHcodeDescriptionTable">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    @for (int i = 0; i < Model.SelectedHcodesList.Count; i++)
                    {
                        <tr>
                            <td><input name="SelectedHCodesList[@i].Code" type="hidden" value="@Model.SelectedHcodesList[i].Code"/>@Model.SelectedHcodesList[i].Code</td>
                            <td><input name="SelectedHCodesList[@i].Description" type="hidden" value="@Model.SelectedHcodesList[i].Description"/>@Model.SelectedHcodesList[i].Description</td>
                            <td><input name="SelectedHCodesList[@i].Id" type="hidden" value="@Model.SelectedHcodesList[i].Id"/></td>
                            <td><button class="link-submit" type="submit" name="remove" value="@Model.SelectedHcodesList[i].Id">Remove</button></td>
                        </tr>
                    }
                </table>
            }
        </div>


            //UN classes


            <div class="wastecode-block" id="UnClassPosition">
                <div class="form-group top-blue-line @Html.Gds().FormGroupClass(m => m.SelectedUnClass)">
                    <div class="heading-medium">UN-class</div>
                    @*@Html.Gds().LabelFor(m => m.SelectedUnClass, showOptionalLabel: false)*@
                    @Html.Gds().HintSpan("Enter at least one code or not applicable")
                    @Html.Gds().ValidationMessageFor(m => m.SelectedUnClass)
                    <select data-val="true" data-val-required="The SelectedUnClass field is required." id="unclass-list" name="SelectedUnClass">
                        <option description="" selected="selected" value=""></option>
                        @foreach (var wasteCode in Model.UnClasses)
                        {
                            <option unclassdescription="@wasteCode.Description" hcode="@wasteCode.Code" value="@wasteCode.Id">@wasteCode.Code</option>
                        }
                    </select>
                    <button class="link-submit" id="UnClassAdd" type="submit" name="command" value="addUnClass">Add</button>
                </div>

                <div>
                    @if (Model.SelectedUnClassesList.Count > 0)
                    {
                        <table id="nonjsUnClassDescriptionTable">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            @for (int i = 0; i < Model.SelectedUnClassesList.Count; i++)
                            {
                                <tr>
                                    <td><input name="SelectedUnClassesList[@i].Code" type="hidden" value="@Model.SelectedUnClassesList[i].Code" />@Model.SelectedUnClassesList[i].Code</td>
                                    <td><input name="SelectedUnClassesList[@i].Description" type="hidden" value="@Model.SelectedUnClassesList[i].Description" />@Model.SelectedUnClassesList[i].Description</td>
                                    <td><input name="SelectedUnClassesList[@i].Id" type="hidden" value="@Model.SelectedUnClassesList[i].Id" /></td>
                                    <td><button class="link-submit" type="submit" name="remove" value="@Model.SelectedUnClassesList[i].Id">Remove</button></td>
                                </tr>
                            }
                        </table>
                    }
                </div>

            </div>

        <hr />

        <div class="form-group">
            <button class="button" type="submit" name="command" value="continue">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
        </div>
    }
</div>

@section scripts{
    <script>
        (function($) {
            $(function() {
                $('#ycode-list').selectToAutocomplete();
                $('#hcode-list').selectToAutocomplete();
                $('#unclass-list').selectToAutocomplete();
            });
        })(jQuery);

        $(function() {
            $('#YcodeAdd').css('display', 'inline-block');

            $('#HcodeAdd').css('display', 'inline-block');

            $('#UnClassAdd').css('display', 'inline-block');

            var codeAdded = $('#typeOfCodeAdded').val();

            if (codeAdded == "Y")
            {
                $('#YcodeAdd').prev('.ui-autocomplete-input').focus().val('');
            }

            if (codeAdded == "H") {
                $("html, body").animate({ scrollTop: ($('#HcodePosition').offset().top) }, 500);
                $('#HcodeAdd').prev('.ui-autocomplete-input').focus().val('');
            }

            if (codeAdded == "UN") {
                $("html, body").animate({ scrollTop: ($('#UnClassPosition').offset().top) }, 500);
                $('#UnClassAdd').prev('.ui-autocomplete-input').focus().val('');
            }

        });

    </script>
}