@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteCodes.OtherWasteCodesViewModel
@{
    ViewBag.Title = "Waste Identification";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 2 of 4")
    </div>
    <h2 class="heading-large">Waste Identification</h2>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div class="wastecode-block">
        <div class="form-group top-blue-line">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.ExportNationalCode)">
                <div class="heading-medium">National code in country of export</div>
                @Html.Gds().HintSpan("Enter the relevant code or not applicable")
                @Html.Gds().ValidationMessageFor(m => m.ExportNationalCode)
                @Html.Gds().TextBoxFor(m => m.ExportNationalCode)
            </div>
        </div>
    </div>
    <div class="wastecode-block">
        <div class="form-group top-blue-line">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.ImportNationalCode)">
                <div class="heading-medium">National code in country of import</div>
                @Html.Gds().HintSpan("Enter the relevant code or not applicable")
                @Html.Gds().ValidationMessageFor(m => m.ImportNationalCode)
                @Html.Gds().TextBoxFor(m => m.ImportNationalCode)
            </div>
        </div>
    </div>
    <div class="wastecode-block">
        <div class="form-group top-blue-line">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherCode)">
                <div class="heading-medium">Other codes &nbsp;&nbsp;(optional)</div>
                @Html.Gds().ValidationMessageFor(m => m.OtherCode)
                @Html.Gds().HintParagraph("If useful or required by the relevant competent authority add any other code to help identify the waste")
                @Html.Gds().TextBoxFor(m => m.OtherCode)
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}