@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteCodes.UnNumberViewModel
@{
    ViewBag.Title = "Waste Identification";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 4 of 4")
    </div>
    <h2 class="heading-large">Waste Identification</h2>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.TypeOfCodeAdded, new { id = "typeOfCodeAdded" })

    <div>
        <div class="wastecode-block">
            <div class="form-group top-blue-line @Html.Gds().FormGroupClass(m => m.SelectedUnNumber)">
                @*@Html.Gds().LabelFor(m => m.SelectedUnNumber, false)*@
                <div class="heading-medium">UN number</div>
                @Html.Gds().HintParagraph("Enter the relevant number(s) or not applicable")
                @Html.Gds().ValidationMessageFor(m => m.SelectedUnNumber)
                <select data-val="true" data-val-required="The SelectedWasteCode field is required." id="ewc-code-list" name="SelectedUnNumber">
                    <option description="" selected="selected" value=""></option>
                    @foreach (var unCode in Model.UnNumbers)
                    {
                        <option description="@unCode.Description" value="@unCode.Id">@unCode.Code</option>
                    }
                </select>
                <button class="link-submit" id="UnCodeAdd" type="submit" name="command" value="addUnNumber">Add</button>
            </div>

            <div>
                @if (Model.SelectedUnNumbers.Count > 0)
                {
                    <table id="nonjsTable">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        @for (int i = 0; i < Model.SelectedUnNumbers.Count; i++)
                        {
                            <tr>
                                <td><input name="SelectedUnNumbers[@i].Code" type="hidden" value="@Model.SelectedUnNumbers[i].Code"/>@Model.SelectedUnNumbers[i].Code</td>
                                <td><input name="SelectedUnNumbers[@i].Description" type="hidden" value="@Model.SelectedUnNumbers[i].Description"/>@Model.SelectedUnNumbers[i].Description</td>
                                <td><input name="SelectedUnNumbers[@i].Id" type="hidden" value="@Model.SelectedUnNumbers[i].Id"/></td>
                                <td><button class="link-submit" type="submit" name="remove" value="@Model.SelectedUnNumbers[i].Id">Remove</button></td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>



        <div class="wastecode-block" id="CustomCodePosition">
            <div class="form-group top-blue-line @Html.Gds().FormGroupClass(m => m.SelectedCustomCode)">
                <div class="heading-medium">Custom codes (optional)</div>
                @Html.Gds().ValidationMessageFor(m => m.SelectedCustomCode)
                <input id="custom-code-box" type="text" name="SelectedCustomCode" />
                <button class="link-submit" id="CustomCodeAdd" type="submit" name="command" value="addCustomCode">Add</button>
            </div>

            <div>
                @if (Model.SelectedCustomCodes.Count > 0)
                {
                    <table id="nonjsTable">
                        @for (int i = 0; i < Model.SelectedCustomCodes.Count; i++)
                        {
                            <tr>
                                <td><input name="SelectedCustomCodes" type="hidden" value="@Model.SelectedCustomCodes[i]" />@Model.SelectedCustomCodes[i]</td>
                                <td><button class="link-submit" type="submit" name="remove" value="@Model.SelectedCustomCodes[i]">Remove</button></td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <button class="button" type="submit" name="command" value="continue">Continue</button>
    </div>
}
@section scripts{
    <script>
        (function ($) {
            $(function () {
                $('#code-list').selectToAutocomplete();
                $('#ewc-code-list').selectToAutocomplete();

                $('#UnCodeAdd').css('display', 'inline-block');
                $('#CustomCodeAdd').css('display', 'inline-block');

                var codeAdded = $('#typeOfCodeAdded').val();

                if (codeAdded == "UN") {
                    $('#UnCodeAdd').prev('.ui-autocomplete-input').focus().val('');
                }

                if (codeAdded == "Custom") {
                    $("html, body").animate({ scrollTop: ($('#CustomCodePosition').offset().top) }, 500);
                    $('#CustomCodeAdd').prev('#custom-code-box').focus().val('');
                }
            });
        })(jQuery);

        function getComboDescription(sel) {
            if (sel.selectedIndex > 0) {
                document.getElementById("descriptionTextArea").innerHTML = sel.options[sel.selectedIndex].getAttribute('description');
            }
        }

        

        
    </script>
}