@using Resources = EA.Iws.Web.Views.Home.Index
@model EA.Iws.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = Resources.Title;
}

<div class="grid-row">
    <section class="column-two-thirds">
        <header class="hgroup">
            <h1 class="heading-large">@Resources.MainHeading</h1>
        </header>

        <div>
            <p>@Resources.MainParagraph</p>
        </div>

        <div>
            <p>@Resources.ListTitle</p>
            <ul class="list-bullet">
                <li>@Resources.ListItem1</li>
                <li>@Resources.ListItem2</li>
            </ul>
        </div>

        <p id="get-started" class="get-started group">
            @Html.ActionLink(Resources.StartButton, "LandingPage", "Home", null, new { @class = "button-get-started button" })
        </p>
    </section>

</div>