@using EA.Iws.Web.Areas.NotificationAssessment.ViewModels.RefundDetails
@using EA.Iws.Web.Areas.NotificationAssessment.Views.RefundDetails
@model RefundDetailsViewModel

@{
    ViewBag.Title = @IndexResources.MainHeading;
}

<h1 class="heading-large">@IndexResources.MainHeading</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group @Html.Gds().FormGroupClass(m => m.Amount)">
                        @Html.Gds().LabelFor(m => m.Amount)
                        @Html.Gds().ValidationMessageFor(m => m.Amount)
                        @Html.Gds().TextBoxFor(m => m.Amount, new { @class = "form-control form-control-wide", @title = RefundDetailsViewModelResources.AmountRefundedLabel })
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="grid-row">
        <div class="column-two-thirds">

                <div class="form-group @Html.Gds().FormGroupClass(m => m.Day) @Html.Gds().FormGroupClass(m => m.Month) @Html.Gds().FormGroupClass(m => m.Year)">
                    <fieldset>
                        <legend>
                            <span class="form-label">@IndexResources.DateReceivedLabel</span>
                        </legend>

                        <div class="form-date">
                            @Html.Gds().HintParagraph(IndexResources.DateReceivedHint)
                            @Html.Gds().ValidationMessageFor(m => m.Day)
                            @Html.Gds().ValidationMessageFor(m => m.Month)
                            @Html.Gds().ValidationMessageFor(m => m.Year)
                            <div class="form-group form-group-day">
                                @Html.Gds().LabelFor(m => m.Day)
                                @Html.Gds().TextBoxFor(m => m.Day, new { type = "number", min = "1", max = "31", @title = RefundDetailsViewModelResources.DayLabel })
                            </div>
                            <div class="form-group form-group-month">
                                @Html.Gds().LabelFor(m => m.Month)
                                @Html.Gds().TextBoxFor(m => m.Month, new { type = "number", min = "1", max = "12", @title = RefundDetailsViewModelResources.MonthLabel })
                            </div>
                            <div class="form-group form-group-year">
                                @Html.Gds().LabelFor(m => m.Year)
                                @Html.Gds().TextBoxFor(m => m.Year, new { type = "number", min = "2015", @title = RefundDetailsViewModelResources.YearLabel })
                            </div>
                        </div>
                    </fieldset>
                </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.Comments)">
                @Html.Gds().LabelFor(m => m.Comments)
                @Html.Gds().ValidationMessageFor(m => m.Comments)
                @Html.TextAreaFor(m => m.Comments, new { @MaxLength = 500, @style = "width: 100%; height: 200px", @title = RefundDetailsViewModelResources.CommentsLabel })
            </div>
        </div>
    </div>

    <div class="form-group">
        <p> <button class="button" type="submit">@Constants.ContinueButtonText</button></p>
    </div>

}
