@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.Movement.ViewModels.Complete.UploadViewModel
@{
    ViewBag.Title = "Recovery / disposal complete";
    Layout = "~/Areas/Movement/Views/Shared/_LayoutReceipt.cshtml";
    string operation = Model.NotificationType == NotificationType.Recovery ? "recovery" : "disposal";
}

<header class="hgroup">
    <h1 class="heading-large">The shipment is now complete</h1>
    <h2 class="heading-small">Before you continue, you need to upload the signed copy of the certificate of @(operation).</h2>
</header>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.CompletedDate)
    @Html.Gds().ValidationSummary()
    
    <div class="form-group @Html.Gds().FormGroupClass(m => m.File)">
        @Html.Gds().LabelFor(m => m.File, showOptionalLabel: false)
        @Html.Gds().ValidationMessageFor(m => m.File)
        @Html.Gds().TextBoxFor(m => m.File, new { type = "file" })
    </div>

    <div class="form-group-compound">
        <p><button class="button" type="submit">@Constants.ContinueButtonText</button></p>
    </div>
}