@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Facility.AddFacilityViewModel
@{
    ViewBag.Title = "Add a facility";

    var message = "This information may be obtained from your " + Model.NotificationType.ToString().ToLowerInvariant() + " facility. Enter \"Not applicable\" when no relevant registration number applies";

    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.PartnershipRegistrationNumber = message;
    ViewBag.CompanyRegistrationNumber = message;
    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.OtherRegistrationNumber = message;
    ViewBag.NonJavascriptMessage = message;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.Gds().ValidationSummary()
    
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h2 class="heading-large">Add @Model.NotificationType.ToString().ToLowerInvariant() facility</h2>
        <div class="colored-header-bar"></div>
    </header>

    @Html.EditorFor(m => m.Business)

    <h2 class="heading-medium">Address</h2>
    <hr/>
    
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Contact person</h2>
    <hr/>
    
    @Html.EditorFor(m => m.Contact)
    
    <button class="button" type="submit">Continue</button>
}