@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Facility.EditFacilityViewModel
@{
    ViewBag.Title = "Edit a facility";

    var facilityType = Model.NotificationType.ToString().ToLowerInvariant();
    var message = "This information may be obtained from your " + facilityType + " facility. Enter \"Not applicable\" when no relevant registration number applies";

    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.PartnershipRegistrationNumber = message;
    ViewBag.CompanyRegistrationNumber = message;
    ViewBag.SoleTraderRegistrationNumber = message;
    ViewBag.OtherRegistrationNumber = message;
    ViewBag.NonJavascriptMessage = message;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.FacilityId)

    <header class="hgroup">
        <h1 class="heading-large">Add @facilityType facility</h1>
        <div class="colored-header-bar"></div>
    </header>

    @Html.EditorFor(m => m.Business)

    <h2 class="heading-medium">Their address</h2>
    <hr />
    <p>This should be the site address for the @facilityType facility.</p>
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Their contact person</h2>
    <hr />
    <p>This should be the contact person for the @facilityType facility.</p>
    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}