@using EA.Iws.Web.Areas.NotificationApplication.Views.Facility
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Facility.MultipleFacilitiesViewModel
@{
    ViewBag.Title = ListFacilityResources.Title;
    var notificationType = Model.NotificationType.ToString();
}

<h1 class="heading-large">@string.Format(ListFacilityResources.Header, notificationType)</h1>
<p>@string.Format(ListFacilityResources.HeaderDescription, notificationType.ToLowerInvariant())</p>

@if (Model != null && Model.FacilityData.Any())
{
    <div class="form-group">
        <table title=@ListFacilityResources.TableTitle>
            <thead>
                <tr>
                    <th>@ListFacilityResources.ThOrgName</th>
                    <th>@ListFacilityResources.ThAddress</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.FacilityData.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => m.FacilityData[i].Business.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.FacilityData[i].Address.StreetOrSuburb),
                            @Html.DisplayFor(m => m.FacilityData[i].Address.TownOrCity)
                        </td>
                        <td>
                            @Html.ActionLink(ListFacilityResources.Edit, "Edit", "Facility",
                                new { id = Model.FacilityData[i].NotificationId, entityId = Model.FacilityData[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                            <span class="table-divider">|</span>
                            @Html.ActionLink(ListFacilityResources.Remove, "Remove", "Facility",
                                new { id = Model.FacilityData[i].NotificationId, entityId = Model.FacilityData[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="form-group">
    @Html.ActionLink(ListFacilityResources.AddFacility, "Add", "Facility", new { id = Model.NotificationId, backToOverview = ViewBag.BackToOverview }, null)
</div>
@if (ViewBag.BackToOverview)
{
    @Html.ActionLink(Constants.ContinueButtonText, "Index", "Home", new { id = Model.NotificationId }, new { @class = "button" })
}
else
{
    @Html.ActionLink(Constants.ContinueButtonText, "SiteOfTreatment", "Facility", new { id = Model.NotificationId }, new { @class = "button" })
}
