@using EA.Iws.Core.Shared
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Facility.MultipleFacilitiesViewModel
@{
    ViewBag.Title = "List Facilities";
}

<h2 class="heading-large">@Model.NotificationType.ToString() facilities</h2>
<p>Add details of the @Model.NotificationType.ToString().ToLowerInvariant() facilities.</p>

@if (Model != null && Model.FacilityData.Any())
{
    <div class="colored-header-bar"></div>
    <div class="form-group">
        <table>
            <thead>
                <tr>
                    <th>Organisation name</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.FacilityData.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => m.FacilityData[i].Business.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.FacilityData[i].Address.StreetOrSuburb),
                            @Html.DisplayFor(m => m.FacilityData[i].Address.TownOrCity)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Facility", 
                                new { id = Model.FacilityData[i].NotificationId, entityId = Model.FacilityData[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                            <span class="table-divider">|</span>
                            @Html.ActionLink("Remove", "Remove", "Facility",
                                new { id = Model.FacilityData[i].NotificationId, entityId = Model.FacilityData[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="form-group">
    @Html.ActionLink("Add facility", "Add", "Facility", new { id = Model.NotificationId, backToOverview = ViewBag.BackToOverview }, null)
</div>
@if (ViewBag.BackToOverview)
{
    @Html.ActionLink("Continue", "Index", "Home", new { id = Model.NotificationId }, new { @class = "button" })
}
else
{
    @Html.ActionLink("Continue", "SiteOfTreatment", "Facility", new { id = Model.NotificationId }, new { @class = "button" })
}
