@using EA.Iws.Web.Areas.NotificationApplication.Views.Facility
@model EA.Iws.Web.ViewModels.Shared.TrueFalseViewModel
@{
    ViewBag.Title = RecoveryPreconsentResources.Title;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <header class="hgroup">
        <h1 class="govuk-heading-l">@RecoveryPreconsentResources.Header</h1>
    </header>
    <p>@RecoveryPreconsentResources.HeaderDescription</p>

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Value)">
        @Html.Gds().ValidationMessageFor(model => model.Value)
        <fieldset>
            <div class="govuk-radios__item" data-target="yes-message">
                @Html.RadioButtonFor(m => m.Value, true, new { @class = "govuk-radios__input", id = "rdoYes" })
                <label class="govuk-label govuk-radios__label" for="rdoYes">
                    @RecoveryPreconsentResources.Yes
                </label>
            </div>

            <div class="panel @(Model.Value.GetValueOrDefault() ? "" : "js-hidden")" id="yes-message">
                <p>@RecoveryPreconsentResources.YesDescription</p>
            </div>

            <div class="govuk-radios__item" data-target="no-message">
                @Html.RadioButtonFor(m => m.Value, false, new { @class = "govuk-radios__input", id = "rdoNo" })
                <label class="govuk-label govuk-radios__label" for="rdoNo">
                    @RecoveryPreconsentResources.No
                </label>
            </div>
            
            <div class="panel @((Model.Value.HasValue && !Model.Value.Value) ? "" : "js-hidden")" id="no-message" id="no-message">
                <p>@RecoveryPreconsentResources.NoDescription</p>
            </div>
        </fieldset>
    </div>

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}