@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Facility.RemoveFacilityViewModel
@{
    ViewBag.Title = "Remove Facility";
}

<h2 class="heading-large">Remove @Model.NotificationType.ToString().ToLowerInvariant() facility</h2>

@if (string.IsNullOrWhiteSpace(ViewBag.Error))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.NotificationId)
        @Html.HiddenFor(m => m.FacilityId)

        <p>You are about to remove @Model.FacilityName as a facility from this notification.</p>

        <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    }
}
else
{
    <p>@ViewBag.Error</p>
    <p>@Html.ActionLink(string.Format("Change site of {0}", Model.NotificationType.ToString().ToLowerInvariant()), "SiteOfTreatment", "Facility", 
            new { id = Model.NotificationId, backToList = true, backToOverview = ViewBag.BackToOverview }, new { @class = "button" })</p>
}

<p>@Html.ActionLink("Back to facilities", "List", "Facility", new { id = Model.NotificationId, backToOverview = ViewBag.BackToOverview }, null)</p>