@model EA.Iws.Web.Areas.Movement.ViewModels.InternalCapture.CaptureViewModel
@using Resource = EA.Iws.Web.Areas.Movement.Views.InternalCapture.IndexResources

@{
    ViewBag.Title = Resource.Title;
}

<h1 class="heading-large">@Resource.MainHeading</h1>

<p>@Html.Raw(string.Format(Resource.CurrentlyDisplaying, Model.MovementNumber))</p>

<table>
    <thead>
    <tr>
        <th>@Resource.TableDateHeader</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Resource.PrenotificationDateRow</td>
            <td>
                @if (Model.PrenotificationDate.HasValue)
                {
                    @Html.Gds().DisplayDate(Model.PrenotificationDate.Value)
                }
                else
                {
                    <text>@Resource.PrenotificationDateNotSet</text>
                }
            </td>
        </tr>
    <tr>
        <td>@Resource.ActualDateRow</td>
        <td>@Html.Gds().DisplayDate(Model.ActualDate)</td>
    </tr>
    </tbody>
</table>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.MovementNumber)
    @Html.HiddenFor(m => m.ActualDate)
    @Html.HiddenFor(m => m.PrenotificationDate)
    @Html.HiddenFor(m => m.IsReceived)
    @Html.HiddenFor(m => m.IsOperationCompleted)
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.NotificationType)

    @Html.EditorFor(m => m.Receipt)
    @Html.EditorFor(m => m.Recovery)

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}

@Html.ActionLink(Resource.ReturnToSummary, "Index", "Home", new { area = "AdminNotificationMovements", id = Model.NotificationId }, null)