@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.OperationCodes.OperationCodesViewModel
@using Resource = EA.Iws.Web.Areas.AdminExportAssessment.Views.OperationCodes.EditResources

@{
    ViewBag.Title = "";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Header</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()


            <button type="submit" class="button">@Constants.ContinueButtonText</button>
        }
    </div>
</div>


@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}