@model EA.Iws.Web.Areas.AdminExportNotificationMovements.ViewModels.CaptureMovement.ReceiptViewModel
@using Resource = EA.Iws.Web.Areas.AdminExportNotificationMovements.Views.Shared.EditorTemplates.ReceiptResources

<div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.ReceivedDate)">
        @Html.LabelFor(m => m.ReceivedDate, new { @class = "form-label-bold" })
        @Html.Gds().ValidationMessageFor(m => m.ReceivedDate)
        @Html.EditorFor(m => m.ReceivedDate)
    </div>

    <div class="form-group">
        @Html.Label(@Resource.ShipmentAcceptedLable, new { @class = "form-label-bold" })

        <div class="multiple-choice">
            @Html.RadioButtonFor(m => m.ShipmentTypes, ShipmentType.Accepted, new { id = "Accepted", @checked = true })
            <label for="Accepted">
                Yes
            </label>
        </div>

        <div class="multiple-choice">
            @Html.RadioButtonFor(m => m.ShipmentTypes, ShipmentType.Partially, new { id = "Partially" })
            <label for="Partially">
                Partially
            </label>
        </div>

        <div class="multiple-choice">
            @Html.RadioButtonFor(m => m.ShipmentTypes, ShipmentType.Rejected, new { id = "Rejected" })
            <label for="Rejected">
                No
            </label>
        </div>
    </div>

    @if (Model.ShipmentTypes == ShipmentType.Accepted)
    {
        <div class="form-group" id="dvAcceptReceipt" style="display:block">
            @Html.Partial("_AcceptReceiptView", Model)
        </div>

        <div class="form-group" id="dvPartiallyRejectedReceipt" style="display:none">
            @Html.Partial("_PartialAndRejectReceiptView", Model)
        </div>
    }
    else if (Model.ShipmentTypes == ShipmentType.Partially || Model.ShipmentTypes == ShipmentType.Rejected)
    {
        <div class="form-group" id="dvPartiallyRejectedReceipt" style="display:block">
            @Html.Partial("_PartialAndRejectReceiptView", Model)
        </div>

        <div class="form-group" id="dvAcceptReceipt" style="display:none">
            @Html.Partial("_AcceptReceiptView", Model)
        </div>
    }

</div>
