@using EA.Iws.Web.Areas.NotificationApplication.Views.SpecialHandling
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.SpecialHandling.SpecialHandlingViewModel

<header class="hgroup">
    <h1 class="heading-large">@SpecialHandlingResources.Header</h1>
    <p>@SpecialHandlingResources.HeaderDescription</p>
</header>

@Html.AntiForgeryToken()
@Html.Gds().ValidationSummary()
@Html.HiddenFor(m => m.NotificationId)

<div class="form-group @Html.Gds().FormGroupClass(m => m.HasSpecialHandlingRequirements)">
    @Html.Gds().ValidationMessageFor(model => model.HasSpecialHandlingRequirements)
    <fieldset>
        <div class="multiple-choice" data-target="information-message">
            @Html.RadioButtonFor(m => m.HasSpecialHandlingRequirements, true, new { id = "rdoYes" })
            <label for="rdoYes">
                Yes
            </label>
        </div>

        <div class="multiple-choice">
            @Html.RadioButtonFor(m => m.HasSpecialHandlingRequirements, false, new { id = "rdoNo" })
            <label for="rdoNo">
                No
            </label>
        </div>
    </fieldset>

    <div class="panel @(Model.HasSpecialHandlingRequirements.GetValueOrDefault() ? "" : "js-hidden")" id="information-message">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.SpecialHandlingDetails)">
            @Html.LabelFor(m => m.SpecialHandlingDetails)
            @Html.Gds().ValidationMessageFor(m => m.SpecialHandlingDetails)
            @Html.TextAreaFor(m => m.SpecialHandlingDetails, new { @class = "text-area two-thirds" })
        </div>
    </div>
</div>

<div class="form-group">
    <button class="button" type="submit">@Constants.ContinueButtonText</button>
</div>
