@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.SpecialHandling.SpecialHandlingViewModel

<header class="hgroup">
    <h2 class="heading-large">Are there any special handling requirements?</h2>
    <p>Special handling requirements may be those prescribed by the producers’ handling instructions for employees, health and safety information or transport emergency cards.</p>
</header>

@Html.AntiForgeryToken()
@Html.Gds().ValidationSummary()
@Html.HiddenFor(m => m.NotificationId)

<div class="form-group @Html.Gds().FormGroupClass(m => m.HasSpecialHandlingRequirements)">
    @Html.Gds().ValidationMessageFor(model => model.HasSpecialHandlingRequirements)
    <fieldset>
        <label class="block-label" for="rdoYes" data-target="information-message">
            @Html.RadioButtonFor(m => m.HasSpecialHandlingRequirements, true, new { id = "rdoYes" })
            Yes
        </label>
        <label class="block-label" for="rdoNo">
            @Html.RadioButtonFor(m => m.HasSpecialHandlingRequirements, false, new { id = "rdoNo" })
            No
        </label>
    </fieldset>

    <div class="panel-indent @(Model.HasSpecialHandlingRequirements.GetValueOrDefault() ? "" : "js-hidden")" id="information-message">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.SpecialHandlingDetails)">
            @Html.LabelFor(m => m.SpecialHandlingDetails)
            @Html.Gds().ValidationMessageFor(m => m.SpecialHandlingDetails)
            @Html.TextAreaFor(m => m.SpecialHandlingDetails, new { @class = "text-area two-thirds" })
        </div>
    </div>
</div>

<div class="form-group">
    <button class="button" type="submit">Continue</button>
</div>
