@using EA.Iws.Web.Areas.NotificationApplication.Views.SpecialHandling
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.SpecialHandling.SpecialHandlingViewModel

<header class="hgroup">
    <h1 class="govuk-heading-l">@SpecialHandlingResources.Header</h1>
    <p>@SpecialHandlingResources.HeaderDescription</p>
</header>

@Html.AntiForgeryToken()
@Html.Gds().ValidationSummary()
@Html.HiddenFor(m => m.NotificationId)

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.HasSpecialHandlingRequirements)">
    @Html.Gds().ValidationMessageFor(model => model.HasSpecialHandlingRequirements)
    <fieldset>
        <div class="govuk-radios__item" data-target="information-message">
            @Html.RadioButtonFor(m => m.HasSpecialHandlingRequirements, true, new { @class = "govuk-radios__input", id = "rdoYes" })
            <label class="govuk-label govuk-radios__label" for="rdoYes">
                Yes
            </label>
        </div>

        <div class="govuk-radios__item">
            @Html.RadioButtonFor(m => m.HasSpecialHandlingRequirements, false, new { @class = "govuk-radios__input", id = "rdoNo" })
            <label class="govuk-label govuk-radios__label" for="rdoNo">
                No
            </label>
        </div>
    </fieldset>

    <div class="panel @(Model.HasSpecialHandlingRequirements.GetValueOrDefault() ? "" : "js-hidden")" id="information-message">
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SpecialHandlingDetails)">
            @Html.LabelFor(m => m.SpecialHandlingDetails)
            @Html.Gds().ValidationMessageFor(m => m.SpecialHandlingDetails)
            @Html.TextAreaFor(m => m.SpecialHandlingDetails, new { @class = "govuk-textarea", @rows = "5" })
        </div>
    </div>
</div>

<div class="govuk-form-group">
    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
</div>
