@using Resource = EA.Iws.Web.Areas.AdminImportAssessment.Views.PaymentDetails.IndexResources
@using ViewModelResource = EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.PaymentDetails.PaymentDetailsViewModelResources
@model EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.PaymentDetails.PaymentDetailsViewModel

@{
    ViewBag.Title = Resource.MainHeading;
}

<h1 class="heading-large">@Resource.MainHeading</h1>

<dl>
    <dd class="bold-small">@Resource.PaymentDue</dd>
    <dt>@Model.ChargeDue.ToString("C")</dt>
</dl>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="grid-row">
            <div class="column-half">
                <div class="form-group @Html.Gds().FormGroupClass(m => m.Amount)">
                    @Html.Gds().LabelFor(m => m.Amount)
                    @Html.Gds().ValidationMessageFor(m => m.Amount)
                    @Html.Gds().TextBoxFor(m => m.Amount, new { @class = "form-control form-control-wide", @title = ViewModelResource.Amount })
                </div>
            </div>
            <div class="column-half">
                <div class="form-group @Html.Gds().FormGroupClass(m => m.PaymentMethod)">
                    @Html.Gds().LabelFor(m => m.PaymentMethod)
                    @Html.Gds().ValidationMessageFor(m => m.PaymentMethod)
                    @Html.Gds().DropDownListFor(m => m.PaymentMethod, Model.PaymentMethodsList, new { @class = "form-control form-control-wide", title = ViewModelResource.PaymentMethod })
                </div>
            </div>
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.ReceiptNumber)" id="receiptArea">
            @Html.Gds().LabelFor(m => m.ReceiptNumber, false)
            @Html.Gds().ValidationMessageFor(m => m.ReceiptNumber)
            @Html.Gds().TextBoxFor(m => m.ReceiptNumber, new { @MaxLength = 100, @class = "form-control form-control-wide", @title = ViewModelResource.ReceiptNumber })
        </div>
    </div>
</div>

<hr />

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Date) @Html.Gds().FormGroupClass(m => m.Date.Day) @Html.Gds().FormGroupClass(m => m.Date.Month) @Html.Gds().FormGroupClass(m => m.Date.Year)">
            @Html.LabelFor(m => m.Date, new { @class = "form-label-bold" })
            @Html.Gds().ValidationMessageFor(m => m.Date)
            @Html.EditorFor(m => m.Date)
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Comments)">
            @Html.Gds().LabelFor(m => m.Comments)
            @Html.Gds().ValidationMessageFor(m => m.Comments)
            @Html.TextAreaFor(m => m.Comments, new { @MaxLength = 500, @style = "width: 100%; height: 200px", @title = ViewModelResource.Comments })
        </div>
    </div>
</div>

<div class="form-group">
    <p> <button class="button" type="submit">@Constants.ContinueButtonText</button></p>
</div>

}

@section scripts
{
<script>
    $('#PaymentMethod').change(function () {
        if ($('#PaymentMethod option:selected').text() === 'Cheque') {
            $('#receiptArea').show();
        } else {
            $('#receiptArea').hide();
        }
    });
</script>
}

@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", section = ImportNavigationSection.Finance })
}