@using EA.Iws.Core.MovementReceipt
@using EA.Iws.Web.Areas.Movement.ViewModels.Acceptance
@model AcceptanceViewModel

@{
    ViewBag.Title = "Shipment Acceptance Page";
}

<header class="hgroup text">
    <h1 class="heading-large">Was the shipment accepted?</h1>
</header>

@using (Html.BeginForm())
{
    <div class="text">
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.MovementId)

        <div class="form-group">
            <label class="block-label" data-target="" for="rdoYes">
                @Html.RadioButtonFor(m => m.Decision, Decision.Accepted, new { @class = "", @id = "rdoYes" }) @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(YesNo.Yes)
            </label>

            <label class="block-label" data-target="rejection-reason" for="rdoNo">
                @Html.RadioButtonFor(m => m.Decision, Decision.Rejected, new { @class = "", @id = "rdoNo" }) @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(YesNo.No)
            </label>
        </div>

        <div class="panel-indent @(Model.Decision != null && Model.Decision == Decision.Rejected ? "" : "js-hidden")" id ="rejection-reason">
            <div class="form-group @Html.Gds().FormGroupClass(m => m.RejectReason)">
                @Html.Gds().HintParagraph("Tell us why this waste was rejected (in maximum 200 characters).")
                @Html.Gds().ValidationMessageFor(m => m.RejectReason)
                @Html.TextAreaFor(m => m.RejectReason, new { @class = "full-width", @MaxLength = 200, @style = "height : 140px", @title = "Reason for rejection" })
            </div>
        </div>
        
        <div class="form-group">
            <button class="button" type="submit">@Constants.ContinueButtonText</button>
        </div>
    </div>
}
