@using EA.Iws.Web.Areas.NotificationMovements.Views.Edit;
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.Edit.EditViewModel
@{
    Layout = "~/Areas/NotificationMovements/Views/Shared/_SummaryLayout.cshtml";
    ViewBag.Title = IndexResources.PageTitle;
}

<header><h1 class="govuk-heading-l">@IndexResources.MainHeading</h1></header>

@if (Model.Shipments == null || !Model.Shipments.PossibleValues.Any())
{
    <p>@IndexResources.NoShipmentsParagraph</p>

    @Html.ActionLink(Constants.ContinueButtonText, "Index", "Options", 
        new { area = "NotificationApplication", id = ViewContext.RouteData.Values["notificationId"] }, 
        new { @class = "govuk-button" })
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="govuk-form-group">
            @Html.Gds().ValidationMessageFor(m => m.Shipments.SelectedValue)
            @Html.EditorFor(m => m.Shipments)
        </div>

        <div class="form-group-compound">
            <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
        </div>

        @Html.ActionLink(IndexResources.ShipmentSummaryLinkText, "Index", "Options",
            new { area = "NotificationApplication", id = ViewContext.RouteData.Values["notificationId"] }, null)
    }
}