@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.ClassifyYourWasteViewModel

<div class="overview-block">
    @if (Model.IsChemicalCompositionCompleted)
    {
        <div class="overview-block-element grid-row">
            <div class="column-third">Type:</div>
            <div class="column-two-thirds">@Html.DisplayFor(m => m.ChemicalComposition.ChemicalCompositionType)</div>
        </div>
        if (!string.IsNullOrWhiteSpace(Model.ChemicalComposition.ChemicalCompositionName))
        {
            <div class="overview-block-element grid-row">
                <div class="column-third">Name:</div>
                <div class="column-two-thirds">@Html.DisplayFor(m => m.ChemicalComposition.ChemicalCompositionName)</div>
            </div>
        }
        if (!string.IsNullOrWhiteSpace(Model.ChemicalComposition.ChemicalCompositionDescription))
        {
            <div class="overview-block-element grid-row">
                <div class="column-third">Description:</div>
                <div class="column-two-thirds">@Html.DisplayFor(m => m.ChemicalComposition.ChemicalCompositionDescription)</div>
            </div>
        }
        if (Model.ChemicalComposition.ChemicalCompositionType != EA.Iws.Core.WasteType.ChemicalCompositionType.Other)
        {
            <div class="overview-block-element">
                Chemical composition minimum and maximum as a weight by weight percentage:
            </div>

            <div class="overview-block-element">
                @for (int i = 0; i < Model.ChemicalComposition.WasteCompositionData.Count; i++)
                {
                    <div class="grid-row">
                        <div class="column-third">@Html.DisplayFor(m => m.ChemicalComposition.WasteCompositionData[i].Constituent)</div>
                        <div class="column-two-thirds">
                            @Html.DisplayFor(m => m.ChemicalComposition.WasteCompositionData[i].MinConcentration)%
                            - @Html.DisplayFor(m => m.ChemicalComposition.WasteCompositionData[i].MaxConcentration)%
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(Model.ChemicalComposition.OtherWasteTypeDescription))
            {
                <div class="overview-block-element grid-row">
                    <div class="column-third">Description:</div>
                    <div class="column-two-thirds">@Model.ChemicalComposition.OtherWasteTypeDescription</div>
                </div>
            }
            if (Model.ChemicalComposition.HasAnnex)
            {
                <div class="overview-block-element grid-row">
                    <div class="column-third">Further details:</div>
                    <div class="column-two-thirds">To be provided in a separate annex.</div>
                </div>
            }
        }

    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>