@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.Areas.Movement.ViewModels.Quantity.QuantityReceivedViewModel
@{
    ViewBag.Title = "Quantity Received";
    Layout = "~/Areas/Movement/Views/Shared/_LayoutReceipt.cshtml";
}

<header class="hgroup">
    <h1 class="heading-large">How much waste has been received?</h1>
    <p>Enter the quantity of waste received as a number. You can add decimal figures if necessary.</p>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Quantity)">
        <label class="form-label" for="Quantity">Quantity received in @EnumHelper.GetDisplayName(Model.Unit)</label>
        @Html.Gds().ValidationMessageFor(m => m.Quantity)
        @Html.Gds().TextBoxFor(m => m.Quantity)
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}