@using EA.Iws.Core.NotificationAssessment
@using EA.Iws.Core.Shared
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.MarkAsInterim.UpdateInterimStatusResources
@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.UpdateInterimStatusViewModel

@{
    ViewBag.Title = Resources.Title;
}

<h1 class="heading-large">@Resources.Heading</h1>

@if (!Model.HasAcceptableStatus)
{
    <p>@Resources.ThisStatus @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.NotificationStatus)</p>
    <div>
            @Resources.StatusErrorMessage
        <ul class="list list-bullet">
            <li>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(NotificationStatus.InAssessment)</li>
            <li>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(NotificationStatus.ReadyToTransmit)</li>
            <li>@EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(NotificationStatus.Transmitted)</li>
            <li>or @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(NotificationStatus.DecisionRequiredBy)</li>
        </ul>
    </div>
}

@if (Model.NotificationType == NotificationType.Recovery)
{
    @Resources.TypeErrorMessage
}

@if (Model.InterimStatusIsUpdateable)
{
    <h3 class="heading-medium">@Resources.IsThisQuestionHeading</h3>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NotificationId)
        @Html.HiddenFor(m => m.NotificationStatus)
        @Html.HiddenFor(m => m.NotificationType)

        @Html.Gds().ValidationSummary()

        <div class="form-group @Html.Gds().FormGroupClass(m => m.IsInterim)">
            @Html.Gds().ValidationMessageFor(m => m.IsInterim)

            <fieldset>
                <label class="block-label" for="yes">
                    @Html.RadioButtonFor(m => m.IsInterim, true, new { id = "yes" })
                    @Resources.Yes
                </label>
                <label class="block-label" for="no">
                    @Html.RadioButtonFor(m => m.IsInterim, false, new { id = "no" })
                    @Resources.No
                </label>
            </fieldset>
        </div>

        <button type="submit" class="button">@Constants.ContinueButtonText</button>
    }
}




@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}