@using EA.Iws.Web.Areas.Admin.Views.ExportNotification
@model EA.Iws.Web.Areas.Admin.ViewModels.ExportNotification.EnterNumberViewModel
@{
    ViewBag.Title = EnterNumberResources.Header;
}

@helper GetNumberPrefix()
{
    <span class="bold-medium">@string.Format("GB 000{0}", (int)Model.CompetentAuthority)</span>
}

<h1 class="govuk-heading-l">@EnterNumberResources.Header</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.CompetentAuthority)
    @Html.HiddenFor(m => m.NotificationType)

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Number)">
        @Html.Gds().LabelFor(m => m.Number, new { @class = "visually-hidden" })
        @Html.Gds().ValidationMessageFor(m => m.Number)
        @GetNumberPrefix() &nbsp; @Html.Gds().TextBoxFor(m => m.Number)
    </div>

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}