@using EA.Iws.Web.Areas.Admin.Views.ExportNotification
@model EA.Iws.Web.Areas.Admin.ViewModels.ExportNotification.NewOrExistingNotificationViewModel

@{
    ViewBag.Title = NewOrExistingNotificationResources.Header;
}

<h1 class="heading-large">@NewOrExistingNotificationResources.Header</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.CompetentAuthority)
    @Html.HiddenFor(m => m.NotificationType)

    <div class="form-group @Html.Gds().FormGroupClass(m => m.GenerateNew)">
        @Html.Gds().LabelFor(m => m.GenerateNew, new { @class = "visually-hidden" })
        @Html.Gds().ValidationMessageFor(m => m.GenerateNew)
        <fieldset>
            <label class="block-label" for="GenerateNew">
                @Html.RadioButtonFor(m => m.GenerateNew, true, new { id = "GenerateNew" })
                @NewOrExistingNotificationResources.GenerateNewNumber
            </label>

            <label class="block-label" for="EnterNumber">
                @Html.RadioButtonFor(m => m.GenerateNew, false, new { id = "EnterNumber" })
                @NewOrExistingNotificationResources.EnterExistingNumber
            </label>
        </fieldset>
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}