@using EA.Iws.Web.Infrastructure.Paging
@using Resource = EA.Iws.Web.Areas.NotificationApplication.Views.UpdateHistory.IndexResources
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.UpdateHistory.UpdateHistoryViewModel

@{
    ViewBag.Title = @Resource.TabTitle;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

@helper DisplayDate(DateTimeOffset date)
{
    @date.ToString("d MMM yyyy")
}

@helper DisplayTime(DateTimeOffset time)
{
    @time.ToString("HH:mm")
}

@Html.Partial("_Title", null)
@if (Model.HasHistoryItems)
{
    <div class="grid-row">
        <div class="column-two-thirds">
            @using (Html.BeginForm("Index", "UpdateHistory", new { }, FormMethod.Post, new { id = "historyForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.Gds().ValidationSummary()
                @Html.HiddenFor(m => m.NotificationId)
                @Html.HiddenFor(m => m.HasHistoryItems)
                @Html.HiddenFor(m => m.PageNumber)

                <div class="govuk-form-group">
                    @Html.Label(@Resource.SelectedScreenLabel) <br />
                    @Html.Gds().DropDownListFor(m => m.SelectedScreen, Model.FilterTerms, new { @class = "govuk-select" })
                </div>
                if (Model.SelectedScreen == "date")
                {
                    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.StartDay) @Html.Gds().FormGroupClass(m => m.StartMonth) @Html.Gds().FormGroupClass(m => m.StartYear)">
                        <fieldset>
                            <legend>
                                <span class="form-label">From</span>
                            </legend>
                            <div class="form-date">
                                @Html.Gds().ValidationMessageFor(m => m.StartDay)
                                @Html.Gds().ValidationMessageFor(m => m.StartMonth)
                                @Html.Gds().ValidationMessageFor(m => m.StartYear)
                                <div class="govuk-form-group form-group-day">
                                    @Html.Gds().LabelFor(m => m.StartDay)
                                    @Html.Gds().TextBoxFor(m => m.StartDay, useHalfWidth: false)
                                </div>
                                <div class="govuk-form-group form-group-month">
                                    @Html.Gds().LabelFor(m => m.StartMonth)
                                    @Html.Gds().TextBoxFor(m => m.StartMonth, useHalfWidth: false)
                                </div>
                                <div class="govuk-form-group form-group-year">
                                    @Html.Gds().LabelFor(m => m.StartYear)
                                    @Html.Gds().TextBoxFor(m => m.StartYear, useHalfWidth: false)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <br />
                    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.EndDay) @Html.Gds().FormGroupClass(m => m.EndMonth) @Html.Gds().FormGroupClass(m => m.EndYear)">
                        <fieldset>
                            <legend>
                                <span class="form-label">To</span>
                            </legend>
                            <div class="form-date">
                                @Html.Gds().ValidationMessageFor(m => m.EndDay)
                                @Html.Gds().ValidationMessageFor(m => m.EndMonth)
                                @Html.Gds().ValidationMessageFor(m => m.EndYear)
                                <div class="govuk-form-group form-group-day">
                                    @Html.Gds().LabelFor(m => m.EndDay)
                                    @Html.Gds().TextBoxFor(m => m.EndDay, useHalfWidth: false)
                                </div>
                                <div class="govuk-form-group form-group-month">
                                    @Html.Gds().LabelFor(m => m.EndMonth)
                                    @Html.Gds().TextBoxFor(m => m.EndMonth, useHalfWidth: false)
                                </div>
                                <div class="govuk-form-group form-group-year">
                                    @Html.Gds().LabelFor(m => m.EndYear)
                                    @Html.Gds().TextBoxFor(m => m.EndYear, useHalfWidth: false)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <button class="govuk-button" type="submit" name="command" value="search">@Resource.Search</button>
                    </div>
                }
            }
        </div>
    </div>
    if (Model.UpdateHistoryItems.Count > 0)
    {
        <table class="odd-table govuk-table" title="@Resource.TitleNotificationUpdateHistorySearchResults">
            <caption class="visuallyhidden">@Resource.TableCaption</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">
                        @Resource.ThName
                    </th>
                    <th scope="col" class="govuk-table__header">
                        @Resource.ThDate
                    </th>
                    <th scope="col" class="govuk-table__header">
                        @Resource.ThTime
                    </th>
                    <th scope="col" class="govuk-table__header">
                        @Resource.ThInformationChange
                    </th>
                    <th scope="col" class="govuk-table__header">
                        @Resource.ThTypeOfChange
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @for (int i = 0; i < Model.UpdateHistoryItems.Count; i++)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @Model.UpdateHistoryItems[i].UserName
                        </td>
                        <td class="govuk-table__cell">
                            @DisplayDate(@Model.UpdateHistoryItems[i].DateAdded)
                        </td>
                        <td class="govuk-table__cell">
                            @DisplayTime(@Model.UpdateHistoryItems[i].DateAdded)
                        </td>
                        <td class="govuk-table__cell">
                            @Model.UpdateHistoryItems[i].ScreenName
                        </td>
                        <td class="govuk-table__cell">
                            @Model.UpdateHistoryItems[i].AuditType
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="margin-bottom-30 margin-top-30 ">
            <h2 style="text-align:center;">No updates available</h2>
        </div>
    }
}
else
{
    <div class="margin-bottom-30 margin-top-30 ">
        <h2 style="text-align:center;">No updates available</h2>
    </div>
}
@if (Model.UpdateHistoryItems.Count > 0)
{
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.NumberOfFilterdNotificationAudits).Options(o => { o.AddRouteValue("filter", Model.SelectedScreen); })
}

@Html.ActionLink("Go to Notification Overview", "Index", "Home", new { @Model.NotificationId, backToOverview = true }, null)

@section scripts {
    <script>
        $(function () {
            $("#@Html.NameFor(m => m.SelectedScreen)").change(function () {
                var theForm = document.getElementById("historyForm");

                theForm.submit();
            });
        });
    </script>
}