@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel
  

<div class="overview-block">
    @if (Model.IsExporterCompleted)
    {
        if (Model.CanEditContactDetails)
        {
            <div class="change-answer">@Html.ActionLink("Amend contact", "Exporter", "EditContact", new { id = Model.NotificationId }, null)</div>
        }

        <div class="overview-block-element">
            @Html.DisplayFor(m => m.Exporter.Business.Name)
            <br/>
            @Html.DisplayFor(m => m.Exporter.Address.StreetOrSuburb),
            @Html.DisplayFor(m => m.Exporter.Address.Address2),
            @Html.DisplayFor(m => m.Exporter.Address.TownOrCity),
            @Html.DisplayFor(m => m.Exporter.Address.PostalCode),
            @Html.DisplayFor(m => m.Exporter.Address.CountryName)
        </div>

        <div class="overview-block-element">
            Organisation type: 
            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Exporter.Business.BusinessType)
            <br/>
            Company registration: 
            @Html.DisplayFor(m => m.Exporter.Business.RegistrationNumber)
        </div>

        <div class="overview-block-element">
            @Html.DisplayFor(m => m.Exporter.Contact)
        </div>
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>