@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel
  
<div class="overview-block">
    @if (Model.IsFacilityCompleted)
    {
        for (int i = 0; i < Model.Facilities.Count; i++)
        {
            <div class="overview-block-element">
                @Html.DisplayFor(m => m.Facilities[i].Business.Name)
                <br />
                @Html.DisplayFor(m => m.Facilities[i].Address.StreetOrSuburb),
                @Html.DisplayFor(m => m.Facilities[i].Address.Address2),
                @Html.DisplayFor(m => m.Facilities[i].Address.TownOrCity),
                @Html.DisplayFor(m => m.Facilities[i].Address.PostalCode),
                @Html.DisplayFor(m => m.Facilities[i].Address.CountryName)
            </div>

            <div class="overview-block-element">
                Organisation type:
                @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Facilities[i].Business.BusinessType)
                <br />
                Company registration:
                @Html.DisplayFor(m => m.Facilities[i].Business.RegistrationNumber)
            </div>

            <div class="overview-block-element">
                @Html.DisplayFor(m => m.Facilities[i].Contact)
            </div>
            if (i < Model.Facilities.Count - 1)
            {
                <hr />
            }
        }
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>