@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel

<div class="overview-block">
    @if (Model.IsImporterCompleted)
    {
        if (Model.CanEditContactDetails)
        {
            <div class="change-answer">@Html.ActionLink("Amend contact", "Importer", "EditContact", new { id = Model.NotificationId }, null)</div>
        }

        <div class="overview-block-element">
            @Html.DisplayFor(m => m.Importer.Business.Name)
            <br />
            @Html.DisplayFor(m => m.Importer.Address.StreetOrSuburb),
            @Html.DisplayFor(m => m.Importer.Address.Address2),
            @Html.DisplayFor(m => m.Importer.Address.TownOrCity),
            @Html.DisplayFor(m => m.Importer.Address.PostalCode),
            @Html.DisplayFor(m => m.Importer.Address.CountryName)
        </div>

        <div class="overview-block-element">
            Organisation type:
            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Importer.Business.BusinessType)
            <br />
            Company registration:
            @Html.DisplayFor(m => m.Importer.Business.RegistrationNumber)
        </div>

        <div class="overview-block-element">
            @Html.DisplayFor(m => m.Importer.Contact)
        </div>
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>