@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel

<div class="overview-block">
    @if (Model.IsProducerCompleted)
    {
        for (int i = 0; i < Model.Producers.Count; i++)
        {
            <div class="overview-block-element">
                @Html.DisplayFor(m => m.Producers[i].Business.Name)
                <br/>
                @Html.DisplayFor(m => m.Producers[i].Address.StreetOrSuburb),
                @Html.DisplayFor(m => m.Producers[i].Address.Address2),
                @Html.DisplayFor(m => m.Producers[i].Address.TownOrCity),
                @Html.DisplayFor(m => m.Producers[i].Address.PostalCode),
                @Html.DisplayFor(m => m.Producers[i].Address.CountryName)
            </div>

            <div class="overview-block-element">
                Organisation type:
                @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Producers[i].Business.BusinessType)
                <br />
                Company registration:
                @Html.DisplayFor(m => m.Producers[i].Business.RegistrationNumber)
            </div>

            <div class="overview-block-element">
                @Html.DisplayFor(m => m.Producers[i].Contact)
            </div>
            if (i < Model.Producers.Count - 1)
            {
                <hr />
            }
        }
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>