@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.NotificationApplication.OrganisationsInvolvedViewModel
    

<div class="overview-block">
    @if (Model.HasSiteOfExport)
    {
        <div class="overview-block-element">
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Business.Name)
            <br/>
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Address.StreetOrSuburb),
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Address.Address2),
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Address.TownOrCity),
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Address.PostalCode),
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Address.CountryName)
        </div>

        <div class="overview-block-element">
            Organisation type:
            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(Model.Producers.Single(p => p.IsSiteOfExport).Business.BusinessType)
            <br />
            Company registration:
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Business.RegistrationNumber)
        </div>

        <div class="overview-block-element">
            @Html.DisplayFor(m => m.Producers.Single(p => p.IsSiteOfExport).Contact)
        </div>
    }
    else
    {
        <div class="overview-block-element">@ViewBag.SectionIncompleteText</div>
    }
</div>