@using EA.Iws.Web.Areas.NotificationApplication.Views.BaselOecdCode
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.BaselOecdCode.BaselOecdCodeViewModel

@{
    ViewBag.Title = BaselOecdCodeResources.Title;
}

<h1 class="heading-large">@BaselOecdCodeResources.Header</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    for (int i = 0; i < Model.WasteCodes.Count; i++)
    {
        @Html.HiddenFor(m => m.WasteCodes[i].Id)
        @Html.HiddenFor(m => m.WasteCodes[i].Name)
        @Html.HiddenFor(m => m.WasteCodes[i].Description, new { id = "description-" + Model.WasteCodes[i].Id })
        @Html.HiddenFor(m => m.WasteCodes[i].CodeType)
    }

    <div class="form-group-compound @Html.Gds().FormGroupClass(m => m.SelectedCode)">
        @Html.Gds().LabelFor(m => m.SelectedCode, false)
        @Html.Gds().ValidationMessageFor(m => m.SelectedCode)
        @Html.Gds().DropDownListFor(m => m.SelectedCode, Model.Codes, string.Empty, new { title = BaselOecdCodeResources.CodeList, data_select_box = "true" })
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.NotListed)">
        @Html.Gds().ValidationMessageFor(m => m.NotListed)
        <label for="NotListed">
            @Html.CheckBoxFor(m => m.NotListed)
            @Html.DisplayNameFor(m => m.NotListed)
        </label>
    </div>

    <div class="form-group">
        <div id="descriptionTextArea">
            <h2 class="heading-small">@BaselOecdCodeResources.HeaderDescriptionOfCode</h2>
            @if (Model.NotListed)
            {
                <div>@BaselOecdCodeResources.NotListed</div>
            }
            else
            {
                <div>@BaselOecdCodeResources.NoCodeSelected</div>
            }
        </div>
    </div>

    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}

@section scripts{
    <script>
    function setTableText(text) {
        $("#descriptionTextArea div").html(text);
    }

    $(function () {
        $("#@Html.NameFor(m => m.SelectedCode)").on("change", function () {
                if ($("#NotListed").is(":checked")) {
                    setTableText("Not listed");
                    return;
                }

                var inputToFind = "#description-" + $(this).find(":selected").attr("value");
                var description = $(inputToFind).val();
                if (description === undefined) {
                    setTableText("No code selected");
                }
                else {
                    setTableText(description);
                }
            });

            $("#NotListed").change(function () {
                if ($(this).is(":checked")) {
                    $("#@Html.NameFor(m => m.SelectedCode)")
                        .val(null)
                        .trigger("change");
                    
                    // Put not listed in the table
                    setTableText("Not listed");
                }
                else {
                    setTableText("No code selected");
                }
            });
    });
    </script>
}