@model EA.Iws.Web.Areas.AdminImportNotificationMovements.ViewModels.MovementOverride.IndexViewModel

@if (Model.IsReceived)
{
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.HasComments)">
        @Html.LabelFor(m => m.HasComments, new { @class = "form-label-bold" })
        @Html.Gds().ValidationMessageFor(m => m.HasComments)
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item" data-target="comments">
                    @Html.RadioButtonFor(m => m.HasComments, true, new { id = "comments-yes", @class = "govuk-radios__input" })
                    <label class="govuk-label govuk-radios__label" for="comments-yes">
                        Yes
                    </label>
                </div>

                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.HasComments, false, new { id = "comments-no", @class = "govuk-radios__input" })
                    <label class="govuk-label govuk-radios__label" for="comments-no">
                        No
                    </label>
                </div>
            </div>

            <div class="panel @(!Model.HasComments ? "js-hidden" : string.Empty)" id="comments">

                <div class="form-group @Html.Gds().FormGroupClass(m => m.StatsMarking)">
                    @Html.LabelFor(m => m.StatsMarking, new { @class = "form-label-bold" })
                    @Html.Gds().ValidationMessageFor(m => m.StatsMarking)
                    @Html.Gds().DropDownListFor(m => m.StatsMarking, Model.StatsMarkingSelectList, string.Empty, new { @class = "govuk-select" })
                </div>

                <div class="form-group @Html.Gds().FormGroupClass(m => m.Comments)">
                    @Html.LabelFor(m => m.Comments, new { @class = "form-label-bold" })
                    @Html.Gds().ValidationMessageFor(m => m.Comments)
                    @Html.TextAreaFor(m => m.Comments, new { @class = "govuk-textarea", rows = 10 })
                </div>
            </div>
        </fieldset>
    </div>
}
else
{
    <div class="form-group @Html.Gds().FormGroupClass(m => m.StatsMarking)">
        @Html.LabelFor(m => m.StatsMarking, new { @class = "form-label-bold" })
        @Html.Gds().ValidationMessageFor(m => m.StatsMarking)
        @Html.Gds().DropDownListFor(m => m.StatsMarking, Model.StatsMarkingSelectList, string.Empty, new { @class = "govuk-select" })
    </div>
}