@model EA.Iws.Core.AddressBook.AddressBookRecordData
@{
    ViewBag.Title = "Delete record";
}

<h1 class="heading-large">Delete address book record</h1>
<p>Are you sure you wish to delete this @ViewBag.Type.ToString().ToLower() record?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Id)

    <div class="grid-row form-group">
        <div class="column-two-thirds">
            <h2 class="heading-small">@Html.DisplayFor(m => m.BusinessData.Name)</h2>
            <span>Registration number: @Html.DisplayFor(m => m.BusinessData.RegistrationNumber)</span>
        </div>
        <div class="column-half">
            <h3 class="heading-small">Address</h3>
            @Html.DisplayFor(m => m.AddressData)
        </div>
        <div class="column-half">
            <h3 class="heading-small">Contact</h3>
            @Html.DisplayFor(m => m.ContactData)
        </div>
    </div>

    <div class="form-group-compound">
        <button class="button" type="submit">Delete</button> 
    </div>
    @Html.ActionLink("Cancel", "Index", "Home", new { type = ViewBag.Type }, null)
}
