@model EA.Iws.Web.Areas.Admin.ViewModels.UserAdministration.ExistingUsersListViewModel
@using Resources = EA.Iws.Web.Areas.Admin.Views.UserAdministration.UserAdministrationResources
@{
    ViewBag.Title = Resources.ChangeUserRoleTitle;
}

<h1 class="govuk-heading-l">@Resources.ChangeUserRoleTitle</h1>

<table class="govuk-table" title="@Resources.ChangeUserRoleTitle">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">@Resources.Name</th>
            <th scope="col" class="govuk-table__header">@Resources.Status</th>
            <th scope="col" class="govuk-table__header">@Resources.Role</th>
            <th scope="col" class="govuk-table__header">Action</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @for (int i = 0; i < Model.Users.Count(); i++)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("UserId", Model.Users[i].UserId)

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" title="@Model.Users[i].Email">@Model.Users[i].FullName</td>
                    <td class="govuk-table__cell">@Model.Users[i].Status</td>
                    <td class="govuk-table__cell">@Html.DropDownList("Role", Model.GetUserRolesList(Model.Users[i].Role), new { id = string.Format("Role{0}", i), @class = "govuk-select" })</td>
                    <td class="govuk-table__cell"><button type="submit" style="width:auto; padding: 5px!important;margin-bottom: 0px!important" class="govuk-button">@Resources.Update</button></td>
                </tr>
            }
        }
    </tbody>
</table>

@section menu {
    @Html.Action("HomeNavigation", "Menu", new { area = "Admin", section = AdminHomeNavigationSection.AccountServices })
}