@model EA.Iws.Web.Areas.Admin.ViewModels.UserAdministration.ExistingUsersListViewModel
@{
    ViewBag.Title = "Change user status";
}

<h1 class="heading-large">Change user status</h1>

<table class="form-group" title="Change user status">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Users.Count(); i++)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("UserId", Model.Users[i].UserId)

                <tr>
                    <td class="font-xsmall">@Model.Users[i].FullName</td>
                    <td class="font-xsmall">@Model.Users[i].Email</td>
                    <td>@Model.Users[i].Role</td>
                    <td>@Html.DropDownList("Status", Model.GetUserStatusList(Model.Users[i].Status), new { id = string.Format("Status{0}", i) })</td>
                    <td><button type="submit">Update</button></td>
                </tr>
            }
        }
    </tbody>
</table>