@model EA.Iws.Web.Areas.Admin.ViewModels.UserAdministration.ExistingUsersListViewModel
@using Resources = EA.Iws.Web.Areas.Admin.Views.UserAdministration.UserAdministrationResources
@{
    ViewBag.Title = Resources.ChangeUserRoleTitle;
}

<h1 class="heading-large">@Resources.ChangeUserRoleTitle</h1>

<table class="form-group" title="@Resources.ChangeUserRoleTitle">
    <thead>
    <tr>
        <th>@Resources.Name</th>
        <th>@Resources.Status</th>
        <th>@Resources.Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Users.Count(); i++)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("UserId", Model.Users[i].UserId)

                <tr>
                    <td class="font-xsmall" title="@Model.Users[i].Email">@Model.Users[i].FullName</td>
                    <td class="font-xsmall">@Model.Users[i].Status</td>
                    <td>@Html.DropDownList("Role", Model.GetUserRolesList(Model.Users[i].Role), new { id = string.Format("Role{0}", i) })</td>
                    <td><button type="submit">@Resources.Update</button></td>
                </tr>
            }
        }
    </tbody>
</table>