@model EA.Iws.Core.Admin.InternalUserData
@using EA.Iws.Core.Admin
@using Resources = EA.Iws.Web.Areas.Admin.Views.UserAdministration.UserAdministrationResources
@{
    ViewBag.Title = Resources.UserStatusChangedTitle;
}

<h1 class="heading-large">@Resources.UserStatusChangedTitle</h1>

<p>
    @Resources.ChangedConfirmed
    @if (Model.Status == InternalUserStatus.Inactive)
    {
        <p>@Html.Raw(string.Format(Resources.UserNowInactive, Model.FullName))</p>
    }
    else
    {
        <p>@Html.Raw(string.Format(Resources.UserNowActive, Model.FullName))</p>
    }
</p>

@Html.ActionLink(Constants.ContinueOnlyButtonText, "Index", "Home", null, new { @class = "button" })

@section menu {
    @Html.Action("HomeNavigation", "Menu", new { area = "Admin", section = AdminHomeNavigationSection.AccountServices })
}