@using EA.Iws.Core.Admin
@using EA.Iws.Core.Authorization
@model EA.Iws.Web.Areas.Admin.ViewModels.UserAdministration.NewUsersListViewModel
@{
    ViewBag.Title = "Manage users";
    var usersNoun = Model.Users.Count != 1 ? "users" : "user";
}

<h1 class="heading-large">Manage new users</h1>

<p>Displaying @Model.Users.Count @usersNoun</p>

<hr />

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <table class="form-group" title="Manage new users">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
            <th></th>
            <th>Assign role</th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Users.Count; i++)
        {
            <tr class="@Html.Gds().FormGroupClass(m => m.Users[i])">
                <td class="font-xsmall" title="@Html.DisplayFor(m => m.Users[i].UserData.Email)">@Html.DisplayFor(m => m.Users[i].UserData.FullName)</td>
                <td>
                    @Html.HiddenFor(m => m.Users[i].UserData.Id)
                    @Html.HiddenFor(m => m.Users[i].UserData.Email)
                    @Html.HiddenFor(m => m.Users[i].UserData.FirstName)
                    @Html.HiddenFor(m => m.Users[i].UserData.Surname)
                    @Html.HiddenFor(m => m.Users[i].UserData.CompetentAuthority)
                    @Html.HiddenFor(m => m.Users[i].UserData.JobTitle)
                    @Html.HiddenFor(m => m.Users[i].UserData.PhoneNumber)
                    @Html.HiddenFor(m => m.Users[i].UserData.Status)
                    @Html.DropDownListFor(m => m.Users[i].Action, Model.ApprovalActionsList, optionLabel: "Pending", htmlAttributes: new { @class = "action-dropdown" })
                </td>
                <td style="text-align: center;">
                    @if (Model.Users[i].Action == ApprovalAction.Approve)
                    {
                        <i class="fa fa-check-circle status-circle green-text"></i>
                    }
                    else if (Model.Users[i].Action == ApprovalAction.Reject)
                    {
                        <i class="fa fa-times-circle status-circle red-text"></i>
                    }
                    else
                    {
                        <i class="fa fa-question-circle status-circle grey-text"></i>
                    }
                </td>
                <td>
                    @if (Model.Users[i].Action == ApprovalAction.Approve)
                    {

                    }
                    else
                    {
                        @Html.DropDownListFor(m => m.Users[i].AssignedRole, Model.UserRolesList, string.Empty, new { @class = "role-dropdown visually-hidden", disabled = "disabled" })
                    }
                </td>
            </tr>
        }
</tbody>
    </table>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}


<style>
    .role-dropdown:disabled {
         background: royalblue;
    }
</style>

@section scripts{
    <script>
        function disableRoleDropdown(roleDropdown) {
            roleDropdown.addClass("visually-hidden");
            roleDropdown.attr("disabled", "disabled");
        }

        $(function () {
            $(".action-dropdown").change(function () {
                var itemToAppend = "<i class='fa fa-question-circle status-circle grey-text'></i>";
                var roleBox = $(this).parent().parent().find(".role-dropdown");

                disableRoleDropdown(roleBox);

                if (this.value === "0") {
                    itemToAppend = "<i class='fa fa-times-circle status-circle red-text'></i>";
                }
                else if (this.value === "1") {
                    // Approved
                    itemToAppend = "<i class='fa fa-check-circle status-circle green-text'></i>";

                    roleBox.removeAttr("disabled");
                    roleBox.removeClass("visually-hidden");
                    roleBox.val("@UserRole.Internal");
                }

                var statusBox = $(this).parent().next();
                statusBox.empty().append(itemToAppend);
            });
        });
    </script>
}

@section menu {
    @Html.Action("HomeNavigation", "Menu", new { area = "Admin", section = AdminHomeNavigationSection.AccountServices })
}