@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.RecoveryInfo.RecoveryPercentageViewModel
@{
    ViewBag.Title = "Percentage Recoverable Material Information";
}

@using (Html.BeginForm("RecoveryPercentage", "RecoveryInfo", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="heading-large">Recovery information</h1>
        <h1 class="heading-small">According to annex II of Regulations (EC) No 1013/2006 you are required to state the amount of recoverable material in relation to non-recoverable waste</h1>
    </header>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.PercentageRecoverable)">
        @Html.Gds().LabelFor(m => m.PercentageRecoverable, false)
        @Html.Gds().ValidationMessageFor(m => m.PercentageRecoverable)
        @Html.TextBoxFor(m => m.PercentageRecoverable)
        <div class="form-group"></div>
        @Html.Gds().ValidationMessageFor(m => m.IsProvidedByImporter)
        <label class="block-label" for="IsProvidedByImporter">
            @Html.CheckBoxFor(m => m.IsProvidedByImporter, new { @id = "IsProvidedByImporter" })
            @Html.DisplayNameFor(m => m.IsProvidedByImporter)
        </label>
        @Html.Gds().HintSpan("It is the responsibility of the exporter-notifier to ensure the recovery information is provided directly to the competent authority by the importer-consignee.")
    </div>

    <div class="form-group">
        <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    </div>
}

@section scripts
{
    <script>
        function DisableOptions() {
            $('#PercentageRecoverable').attr('readonly', true);
            $('#PercentageRecoverable').css('background-color', '#DEDEDE');
            $('#PercentageRecoverable').css('color', 'gray');
        }

        function EnableOptions() {
            $('#PercentageRecoverable').attr('readonly', false);
            $('#PercentageRecoverable').css('background-color', 'white');
            $('#PercentageRecoverable').css('color', 'black');
        }

        function ManageOptions() {
            if ($('#IsProvidedByImporter').is(':checked')) {
                DisableOptions();
            } else {
                EnableOptions();
            }
        }

        $('#IsProvidedByImporter').click(function () {
            ManageOptions();
        });

        ManageOptions();
    </script>
}