@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Carrier.AddCarrierViewModel
@{
    ViewBag.Title = "Intended carrier(s)";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h1 class="heading-large">Add intended carrier</h1>
    </header>


    @Html.Partial("CarrierBusinessTypeViewModel", Model)

    <h2 class="heading-medium">Address</h2>
    <hr />

    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Contact person</h2>
    <hr />

    @Html.EditorFor(m => m.Contact)

    <div class="form-group no-js-hidden">
        <label class="block-label" for="addressBook">
            @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook" })
            Add as new address to address book
        </label>
    </div>
    
    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}