@using EA.Iws.Core.Shared
@using EA.Iws.Web.Areas.NotificationApplication.Views.Carrier
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Carrier.AddCarrierViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.Business.Name)">
    @Html.Gds().LabelFor(m => m.Business.Name)
    @Html.Gds().ValidationMessageFor(m => m.Business.Name)
    @Html.Gds().TextBoxFor(m => m.Business.Name, new
    {
        data_addressbook_url = Url.Action("Index", "Search", new { area = "AddressBook" }),
        data_addressbook_type = "Carrier"
    })
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Business.BusinessType)">
    @{if (ViewBag.Title != "Exporter - notifier")
    {<span class="form-hint">@CarrierBusinessTypeResources.OthersHint</span>}}

    @Html.Gds().ValidationMessageFor(m => m.Business.BusinessType)

    <div class="multiple-choice" data-target="sole-trader-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "SoleTrader", new { @class = "", @id = "SoleTrader" })
        <label for="SoleTrader">
            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.SoleTrader)
        </label>
    </div>

    <div class="multiple-choice" data-target="partnership-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "Partnership", new { @class = "", @id = "Partnership" })
        <label for="Partnership">
            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.Partnership)
        </label>
    </div>

    <div class="multiple-choice" data-target="companies-house-number">
        @Html.RadioButtonFor(m => m.Business.BusinessType, "LimitedCompany", new { @class = "", @id = "LimitedCompany" })
        <label for="LimitedCompany">
            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.LimitedCompany)
        </label>
    </div>

    <div class="multiple-choice" data-target="other-description">
        @Html.RadioButtonFor(m => m.Business.BusinessType, BusinessType.Other, new { @class = "", @id = "Other" })
        <label for="Other">
            @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.Other)
        </label>
    </div>
    
    <div class="panel @(Model.Business.BusinessType != null && Model.Business.BusinessType == BusinessType.Other ? "" : "js-hidden")" id="other-description">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Business.OtherDescription)">
            @Html.Gds().LabelFor(m => m.Business.OtherDescription)
            @Html.Gds().ValidationMessageFor(m => m.Business.OtherDescription)
            @Html.Gds().TextBoxFor(m => m.Business.OtherDescription)
        </div>
    </div>
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Business.RegistrationNumber)" data-validation-behaviour="ignore-parent">
    @Html.Gds().LabelFor(m => m.Business.RegistrationNumber)
    <span class="form-hint">
        @CarrierBusinessTypeResources.RegNoHint
    </span>
    @Html.Gds().ValidationMessageFor(m => m.Business.RegistrationNumber)
    @Html.Gds().TextBoxFor(m => m.Business.RegistrationNumber)
</div>
