@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Carrier.EditCarrierViewModel
@{
    ViewBag.Title = "Intended carrier(s)";
}

@using (Html.BeginForm("Edit", "Carrier", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.CarrierId)

    <header class="hgroup">
        <h2 class="heading-large">Add intended carrier</h2>
        <div class="colored-header-bar"></div>
    </header>

    @Html.Partial("CarrierBusinessTypeViewModel", Model.Business)

    <h2 class="heading-medium">Address</h2>
    <hr />

    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Contact person</h2>
    <hr />

    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">Continue</button>
}