@using EA.Iws.Web.Areas.AddressBook.Views
@using EA.Iws.Web.Areas.NotificationApplication.Views.Carrier
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Carrier.EditCarrierViewModel
@{
    ViewBag.Title = AddEditCarrierResources.Title;
}

@using (Html.BeginForm("Edit", "Carrier", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.CarrierId)

    <header class="hgroup">
        <h1 class="govuk-heading-l">@AddEditCarrierResources.Header</h1>
    </header>

    @Html.Partial("CarrierBusinessTypeViewModel", Model)

    <h2 class="heading-medium">@AddEditCarrierResources.Address</h2>
    <hr />

    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">@AddEditCarrierResources.Contact</h2>
    <hr />

    @Html.EditorFor(m => m.Contact)

    <div class="govuk-form-group no-js-hidden">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="multiple-choice govuk-checkboxes__item">
                @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook", @class = "govuk-checkboxes__input" })
                <label class="govuk-label govuk-checkboxes__label" for="addressBook">
                    @AddressBookResources.AddToAddressBook
                </label>
            </div>
        </div>
    </div>

    <button class="govuk-button" type="submit">@Constants.ContinueButtonText</button>
}
