@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Carrier.CarrierListViewModel
@{
    ViewBag.Title = "List Carriers";
}
<h1 class="heading-large">Who are your intended carriers?</h1>
<p>Add details of all the intended carriers for the whole journey. 
    After you've added your first carrier, you can add several more by selecting "Add another carrier"</p>

@if (Model != null && Model.Carriers.Any())
{
    <div class="form-group">
        <table title="Carriers">
            <thead>
                <tr>
                    <th>Organisation name</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Carriers.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => m.Carriers[i].Business.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.Carriers[i].Address.StreetOrSuburb),
                            @Html.DisplayFor(m => m.Carriers[i].Address.TownOrCity)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Carrier", 
                                new { id = Model.Carriers[i].NotificationId, entityId = Model.Carriers[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                            <span class="table-divider">|</span>
                            @Html.ActionLink("Remove", "Remove", "Carrier", 
                                new { id = Model.Carriers[i].NotificationId, entityId = Model.Carriers[i].Id, backToOverview = ViewBag.BackToOverview }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="form-group">
    @if (Model != null && Model.Carriers.Any())
    {
        @Html.ActionLink("Add another carrier", "Add", "Carrier", new { id = Model.NotificationId, backToOverview = ViewBag.BackToOverview  }, null)
    }
    else
    {
        @Html.ActionLink("Add your first carrier", "Add", "Carrier", new { id = Model.NotificationId, backToOverview = ViewBag.BackToOverview  }, null)
    }
</div>
@if (ViewBag.BackToOverview)
{
    @Html.ActionLink(Constants.ContinueButtonText, "Index", "Home", new { id = Model.NotificationId }, new { @class = "button" })
}
else
{
    @Html.ActionLink(Constants.ContinueButtonText, "Index", "MeansOfTransport", new { id = Model.NotificationId }, new { @class = "button" })
}
