@using EA.Iws.Web.Areas.NotificationAssessment.ViewModels
@model EA.Iws.Web.Areas.NotificationAssessment.ViewModels.DateInputViewModel

<h2 class="heading-large">Which date(s) would you like to enter?</h2>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.AntiForgeryToken()

    <div>
        <details>
            <summary>
                <span class="summary">Notification received date</span>
                @if (Model.NotificationReceivedDate.IsCompleted)
                {
                    <i class="fa-check fa green-tick"></i>
                }
            </summary>
            <div class="expanded-details">
                <div class="panel-indent">
                    @if (Model.NotificationReceivedDate.IsCompleted)
                    {
                        @Html.Gds().DisplayDateFor(m => m.NotificationReceivedDate.AsDateTime().GetValueOrDefault())
                    }
                    else
                    {
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationReceivedDate) @Html.Gds().FormGroupClass(m => m.NotificationReceivedDate.Day) @Html.Gds().FormGroupClass(m => m.NotificationReceivedDate.Year)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.EditorFor(m => m.NotificationReceivedDate)
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button" name="Command" value="@DateInputViewModel.NotificationReceived">Set received</button>
                        </div>
                    }
                </div>
            </div>
        </details>
    </div>

    <div>
        <details>
            <summary>
                <span class="summary">Payment recieved date</span>
                @if (Model.PaymentReceivedDate.IsCompleted)
                {
                    <i class="fa-check fa green-tick"></i>
                }
            </summary>
            <div class="expanded-details">
                <div class="panel-indent">
                    @if (Model.PaymentReceivedDate.IsCompleted)
                    {
                        @Html.Gds().DisplayDateFor(m => m.PaymentReceivedDate.AsDateTime().GetValueOrDefault())
                    }
                    else
                    {
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.PaymentReceivedDate) @Html.Gds().FormGroupClass(m => m.PaymentReceivedDate.Day) @Html.Gds().FormGroupClass(m => m.PaymentReceivedDate.Year)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.PaymentReceivedDate)
                                    @Html.EditorFor(m => m.PaymentReceivedDate)
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button" name="Command" value="@DateInputViewModel.PaymentReceived">Payment received</button>
                        </div>
                    }
                </div>
            </div>
        </details>
    </div>

    <div>
        <details>
            <summary>
                <span class="summary">Assessment commencement date and name of officer</span>
                @if (Model.CommencementComplete)
                {
                    <i class="fa-check fa green-tick"></i>
                }
            </summary>
            <div class="expanded-details">
                <div class="panel-indent">
                    @if (Model.CommencementComplete)
                    {
                        @Html.Gds().DisplayDateFor(m => m.CommencementDate.AsDateTime().GetValueOrDefault())
                        <br />
                        @Html.DisplayFor(m => m.NameOfOfficer)
                    }
                    else
                    {
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.CommencementDate) @Html.Gds().FormGroupClass(m => m.CommencementDate.Day) @Html.Gds().FormGroupClass(m => m.CommencementDate.Month) @Html.Gds().FormGroupClass(m => m.CommencementDate.Year)">
                            <fieldset>
                                <div class="form-date form-group">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.CommencementDate)
                                    @Html.EditorFor(m => m.CommencementDate)
                                </div>
                                <div>
                                    @Html.Gds().LabelFor(m => m.NameOfOfficer, false)
                                    @Html.Gds().TextBoxFor(m => m.NameOfOfficer, false)
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button" name="Command" value="@DateInputViewModel.AssessmentCommenced">Set assessment commenced</button>
                        </div>
                    }
                </div>
            </div>
        </details>
    </div>

    <div>
        <details>
            <summary>
                <span class="summary">Notification complete date</span>
                @if (Model.NotificationCompleteDate.IsCompleted)
                {
                    <i class="fa-check fa green-tick"></i>
                }
            </summary>
            <div class="expanded-details">
                <div class="panel-indent">
                    @if (Model.NotificationCompleteDate.IsCompleted)
                    {
                        @Html.Gds().DisplayDateFor(m => m.NotificationCompleteDate.AsDateTime().GetValueOrDefault())
                    }
                    else
                    {
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationCompleteDate) @Html.Gds().FormGroupClass(m => m.NotificationCompleteDate.Day) @Html.Gds().FormGroupClass(m => m.NotificationCompleteDate.Year)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationCompleteDate)
                                    @Html.EditorFor(m => m.NotificationCompleteDate)
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button" name="Command" value="@DateInputViewModel.NotificationComplete">Set notification complete</button>
                        </div>
                    }
                </div>
            </div>
        </details>
    </div>

    <div>
        <details>
            <summary>
                <span class="summary">Notification transmitted date</span>
                @if (Model.NotificationTransmittedDate.AsDateTime() != null)
                {
                    <i class="fa-check fa green-tick"></i>
                }
            </summary>
            <div class="expanded-details">
                <div class="panel-indent">
                    @if (Model.NotificationTransmittedDate.AsDateTime() != null)
                    {
                        @Html.Gds().DisplayDateFor(m => m.NotificationTransmittedDate.AsDateTime().GetValueOrDefault())
                    }
                    else
                    {
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationTransmittedDate) @Html.Gds().FormGroupClass(m => m.NotificationTransmittedDate.Day) @Html.Gds().FormGroupClass(m => m.NotificationTransmittedDate.Year)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationTransmittedDate)
                                    @Html.EditorFor(m => m.NotificationTransmittedDate)
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button" name="Command" value="@DateInputViewModel.NotificationTransmitted">Set notification transmitted</button>
                        </div>
                    }
                </div>
            </div>
        </details>

    </div>

    <div class="form-group">
        <table>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Notification acknowledged date</span></summary>
                        @{if (Model.NotificationAcknowledgedDate.AsDateTime() != null)
                        {<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.NotificationAcknowledgedDate) @Html.Gds().FormGroupClass(m => m.NotificationAcknowledgedDate.Day) @Html.Gds().FormGroupClass(m => m.NotificationAcknowledgedDate.Year)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.NotificationAcknowledgedDate)
                                    @Html.EditorFor(m => m.NotificationAcknowledgedDate)
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
            <tr>
                <td>
                    <details>
                        <summary><span class="summary">Decision required by date</span></summary>
                        @{if (Model.DecisionDate.AsDateTime() != null)
                        {<i class="fa-check fa green-tick"></i>}}
                        <div class="form-group @Html.Gds().FormGroupClass(m => m.DecisionDate) @Html.Gds().FormGroupClass(m => m.DecisionDate.Day) @Html.Gds().FormGroupClass(m => m.DecisionDate.Year)">
                            <fieldset>
                                <div class="form-date">
                                    @Html.Gds().HintParagraph("For example, 31 3 2015")
                                    @Html.Gds().ValidationMessageFor(m => m.DecisionDate)
                                    @Html.EditorFor(m => m.DecisionDate)
                                </div>
                            </fieldset>
                        </div>
                    </details>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText" />
    </div>
}