@model EA.Iws.Web.ViewModels.Carrier.CarrierListViewModel
@{
    ViewBag.Title = "List Carriers";
}
<h2 class="heading-large">Intended carriers</h2>

@if (Model != null && Model.Carriers.Any())
{
    <div class="colored-header-bar"></div>
    <table>
        <tbody>
            @for (var i = 0; i < Model.Carriers.Count; i++)
            {
                <tr>
                    <td>
                        <details>
                            <summary><span class="summary">@Html.DisplayFor(m => m.Carriers[i].Business.Name)</span></summary>
                            <div class="grid-row">
                                <div class="column-third">
                                    @Html.DisplayFor(m => m.Carriers[i].Contact.FirstName) @Html.DisplayFor(m => m.Carriers[i].Contact.LastName)<br />
                                    <a href="mailto:@Model.Carriers[i].Contact.Email">@Model.Carriers[i].Contact.Email</a><br />
                                    Tel: @Html.DisplayFor(m => m.Carriers[i].Contact.Telephone)<br />
                                    @if (Model.Carriers[i].Contact.Fax != null)
                                    {
                                        <label>Fax: </label>
                                        @Html.DisplayFor(model => model.Carriers[i].Contact.Fax);
                                    }
                                </div>
                                <div class="column-third">
                                    @Html.DisplayFor(m => m.Carriers[i].Address.Building),<br />
                                    @Html.DisplayFor(m => m.Carriers[i].Address.StreetOrSuburb),<br />
                                    @if (Model.Carriers[i].Address.Address2 != null)
                                    {
                                        @Html.DisplayFor(model => model.Carriers[i].Address.Address2)
                                        @Html.Raw(",<br/>")
                                    }
                                    @Html.DisplayFor(m => m.Carriers[i].Address.TownOrCity) @Html.DisplayFor(m => m.Carriers[i].Address.PostalCode)
                                </div>
                                <div class="column-third">
                                    @Html.ActionLink("Edit", "Edit", "Carrier", new { id = Model.Carriers[i].NotificationId, carrierId = Model.Carriers[i].Id }, null)
                                </div>
                            </div>
                        </details>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="form-group">
    @Html.ActionLink("Add more", "Add", "Carrier", new { id = Model.NotificationId }, null)
</div>
@Html.ActionLink("Continue", "Add", "PackagingTypes", new { id = Model.NotificationId }, new { @class = "button" })