@model EA.Iws.Web.ViewModels.Importer.ImporterViewModel

@{
    ViewBag.Title = "Edit importer - consignee";
}

@using (Html.BeginForm("Edit", "Importer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <header class="hgroup">
        <h2 class="heading-large">Edit importer - consignee</h2>
        <div class="colored-header-bar"></div>
    </header>

    @Html.EditorFor(m => m.Business)

    <h1 class="heading-medium">Address</h1>

    @Html.EditorFor(m => m.Address)

    <h1 class="heading-medium">Contact person</h1>

    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">Continue</button>
}