@using EA.Iws.Core.FinancialGuarantee
@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.FinancialGuaranteeDecisionHistory.FinancialGuaranteeDecisionHistoryViewModel
@using Resources = EA.Iws.Web.Areas.AdminExportAssessment.Views.FinancialGuaranteeDecisionHistory.FinancialGuaranteeDecisionHistoryResources
@{
    ViewBag.Title = Resources.DecisionHistoryTitle;
}

<h1 class="heading-large">@Resources.DecisionHistoryTitle</h1>

<div class="form-group">

    <h2 class="heading-medium">@Resources.CurrentTitle</h2>

    @if (Model.CurrentFinancialGuarantee.IsEmpty)
    {
        <p>@Resources.NoData</p>
    }
    else
    {
        <table class="fg-decision">
            <tbody>
            <tr>
                <th>@Resources.Status</th>
                <td>@Model.CurrentFinancialGuarantee.Status</td>
            </tr>

            <tr>
                <th>@Resources.DecisionDate</th>
                <td>
                    @if (Model.CurrentFinancialGuarantee.DecisionDate.HasValue)
                    {
                        @Html.Gds().DisplayDateFor(m => m.CurrentFinancialGuarantee.DecisionDate.Value)
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
            <tr>
                <th>@Resources.IsBlanketBond</th>
                <td>
                    @if (Model.CurrentFinancialGuarantee.IsBlanketBond.HasValue)
                    {
                        @(Model.CurrentFinancialGuarantee.IsBlanketBond.Value ? Resources.Yes : Resources.No)
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
            <tr>
                <th>@Resources.ReferenceNumber</th>
                <td>
                    @if (!string.IsNullOrWhiteSpace(Model.CurrentFinancialGuarantee.ReferenceNumber))
                    {
                        @Model.CurrentFinancialGuarantee.ReferenceNumber
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
            <tr>
                <th>@Resources.ActiveLoadsPermitted</th>
                <td>
                    @if (Model.CurrentFinancialGuarantee.ActiveLoadsPermitted.HasValue)
                    {
                        @Model.CurrentFinancialGuarantee.ActiveLoadsPermitted.Value
                    }
                    else
                    {
                        @:- -
                    }
                </td>
            </tr>
            </tbody>
        </table>
    }
</div>

@if (Model.CurrentFinancialGuarantee.Decision == FinancialGuaranteeDecision.Approved)
{
    <div class="form-group">
        @Html.ActionLink(Resources.NewLink, "New", "FinancialGuaranteeAssessment", null, new { @class = "button" })
    </div>
}

<div class="form-group">
    <h2 class="heading-medium">@Resources.HistoryTitle</h2>

    @if (Model.FinancialGuaranteeHistory.Any())
    {
        <table>
            <thead>
            <tr>
                <th>@Resources.Status</th>
                <th>@Resources.Date</th>
                <th/>
            </tr>
            </thead>
            <tbody>
            @foreach (var financialGuarantee in Model.FinancialGuaranteeHistory)
            {
                <tr>
                    <td>@financialGuarantee.Status</td>
                    <td>
                        @if (financialGuarantee.DecisionDate.HasValue)
                        {
                            @Html.Gds().DisplayDate(financialGuarantee.DecisionDate.Value)
                        }
                        else
                        {
                            @:- -
                        }
                    </td>
                    <td>
                        @Html.ActionLink(Resources.DetailsLink, "Index", "FinancialGuaranteeDetails",
                            routeValues: new { financialGuaranteeId = financialGuarantee.FinancialGuaranteeId }, htmlAttributes: null)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>@Resources.NoData</p>
    }
</div>

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}