@using EA.Iws.Web.Areas.NotificationApplication.Views.ReviewUserAccess
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ReviewUserAccess.RemoveUserViewModel

@{
	ViewBag.Title = "Remove Shared User";
	Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}
  @using (Html.BeginForm())
    {

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.NotificationId)
@Html.HiddenFor(m => m.SharedUserId)
<h1 class="heading-large">@RemoveResources.HeaderText</h1>
<p>@string.Format(RemoveResources.ConfirmText,Model.EmailId)</p>
<p>@RemoveResources.AdditionalText</p>
<p>
	<button class="button" type="submit">@RemoveResources.Confirm</button>
</p>
}
<p>
	@Html.ActionLink(RemoveResources.Cancel, "UserList", "ReviewUserAccess", new { area = "NotificationApplication", id = Model.NotificationId}, null)
</p>