@using EA.Iws.Core.NotificationAssessment
@using EA.Iws.Core.Shared
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@using Resource = EA.Iws.Web.Areas.AdminImportAssessment.Views.AccountManagement.IndexResources
@model EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.AccountManagement.AccountManagementViewModel

@{
    ViewBag.Title = Resource.MainHeading;
}

<h1 class="govuk-heading-l">@Resource.MainHeading</h1>

@Html.Gds().ValidationSummary()

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">@Resource.TotalHeading</th>
            <th scope="col" class="govuk-table__header">@Resource.BalanceHeading</th>
            <th scope="col" class="govuk-table__header">@Resource.RemainingHeading</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Model.TotalCharge.ToString("C")</td>
            <td class="govuk-table__cell">@Model.TotalPaid.ToString("C")</td>
            <td class="govuk-table__cell">@Model.AmountRemaining.ToString("C")</td>
        </tr>
    </tbody>
</table>

<h2 class="heading-medium">@Resource.HistoryHeading</h2>

<div class="govuk-form-group">
    <table class="govuk-table" title=@Resource.HistoryHeading>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">@Resource.TableHeaderTranaction</th>
                <th scope="col" class="govuk-table__header">@Resource.TableHeaderDate</th>
                <th scope="col" class="govuk-table__header">@Resource.TableHeaderAmount</th>
                <th scope="col" class="govuk-table__header">@Resource.TableHeaderType</th>
                <th scope="col" class="govuk-table__header">@Resource.TableHeaderReceipt</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @{
                for (var i = 0; i < Model.Transactions.Count(); i++)
                {
                    var trans = Model.Transactions[i].Transaction;

                    Enum type;
                    if (trans == TransactionType.Refund)
                    {
                        type = TransactionType.Refund;
                    }
                    else
                    {
                        type = (PaymentMethod)Model.Transactions[i].Type;
                    }

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@trans</td>
                        <td class="govuk-table__cell">@Model.Transactions[i].Date.ToString("dd/MM/yyyy")</td>
                        <td class="govuk-table__cell">@Model.Transactions[i].Amount.ToString("C")</td>
                        <td class="govuk-table__cell">@EnumHelper.GetDescription(type)</td>
                        <td class="govuk-table__cell">@Model.Transactions[i].ReceiptNumber</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="govuk-form-group">
    <details id="paymentDetails" class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                @Resource.EnterPaymentHeading
            </span>
        </summary>

        <div class="panel-border-narrow">
            @Html.Partial("_PaymentDetails", Model.PaymentViewModel)
        </div>

    </details>
</div>

<div class="govuk-form-group">
    <details id="refundDetails" class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                @Resource.EnterRefundHeading
            </span>
        </summary>

        <div class="panel-border-narrow">
            @Html.Partial("_RefundDetails", Model.RefundViewModel)
        </div>

    </details>
</div>

@using (Html.BeginForm("Index", "AccountManagement", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationMessageFor(m => m.CommentError)

    var openComments = Model.CommentError != null ? "open = true" : string.Empty;

    <div class="govuk-form-group">
        <details id="comments" role="group" @openComments class="govuk-details">
            <summary role="button" class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    @Resource.CommentSectionHeading
                </span>
            </summary>

            <div class="govuk-details__text">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        @for (var i = 0; i < Model.Transactions.Count(); i++)
                        {
                            var trans = (TransactionType)Model.Transactions[i].Transaction;
                            var commentId = "id=comment-" + i;
                            var editId = "id=edit-" + i;
                            var comment = Model.Transactions[i].Comments;

                            var nonEdit = "class=";
                            var edit = "class=";
                            <tr class="govuk-table__row">
                                <td class="nav-bloc govuk-table__cell">
                                    @if (i == Model.ErrorCommentId && Model.CommentError != null)
                                    {
                                        edit = edit + @"";
                                        nonEdit = nonEdit + @"hidden";
                                    }
                                    else
                                    {
                                        edit = edit + @"hidden";
                                        nonEdit = nonEdit + @"";
                                    }
                                    <span>@trans&nbsp;&nbsp;&nbsp;@Model.Transactions[i].Date.ToString("dd/MM/yyyy")</span>
                                    <div @commentId @nonEdit>
                                        <p>
                                            @Model.Transactions[i].Comments
                                        </p>
                                        <p>
                                            <a href="#comment" + @i onclick='editComment(@i, @Model.Transactions.Count())'>Edit</a>
                                        </p>
                                    </div>
                                    <div @editId @edit>
                                        <div>
                                            @Html.TextAreaFor(m => m.Transactions[i].Comments, new { @MaxLength = 500, @display = "block", @class = "govuk-textarea", rows = "10" })
                                            @Html.HiddenFor(m => m.Transactions[i].TransactionId)
                                        </div>
                                        <div>
                                            <button class="govuk-button" type="submit" name="commentId" value="@i">Save</button>
                                            &nbsp;&nbsp;&nbsp;
                                            <button class="govuk-button" type="submit">Cancel</button>
                                            @*this code is for canceling the edit client side, but the view model data overrides the value. Look at later
                                                <a href="#cancel-" + @i onclick='cancelComment(@i, @Model.TableData.Count())'>Cancel</a>*@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </details>
    </div>
}

<div class="govuk-form-group">
    @if (Model.CanDeleteTransaction && Model.HasPayments)
    {
        @Html.ActionLink(Resource.DeleteTransaction, "Index", "DeleteTransaction")
    }
</div>

@Html.ActionLink(Resource.KeyDatesLinkText, "Index", "Keydates")

@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", section = ImportNavigationSection.Finance })
}

@section scripts
{
    <script>
        $comments = $("#comments");

        $(function ()
        {
            var showPayment = @Model.ShowPaymentDetails.ToString().ToLower();
            if (showPayment) { $("#paymentDetails").attr("open", "open"); }

            var showRefund = @Model.ShowRefundDetails.ToString().ToLower();
            if (showRefund) { $("#refundDetails").attr("open", "open"); }
            checkPaymentMethod();
        });

        $('#PaymentMethod').change(function () {
            checkPaymentMethod();
        });

        function checkPaymentMethod()
        {
            if ($('#PaymentMethod option:selected').text() === 'Cheque') {
                $('#receiptArea').show();
            } else {
                $('#receiptArea').hide();
            }
        }

        function editComment(id, commentCount) {

            resetComments(commentCount);

            var editTextBox = $("#edit-" + id);
            editTextBox.removeClass('hidden');

            var editButton = $("#comment-" + id);
            editButton.addClass('hidden');
        }

        function cancelComment(id, commentCount) {

            resetComments(commentCount);

            var editTextBox = $("#edit-" + id);
            editTextBox.addClass('hidden');

            var editButton = $("#comment-" + id);
            editButton.removeClass('hidden');
        }

        function resetComments(commentCount) {
            // This resets the edit div and comment div back to their original state, so that only 1 comment can be edited at once
            for (i = 0; i < commentCount; i ++) {
                var editTextBox = $("#edit-" + i);
                editTextBox.addClass('hidden');

                var editButton = $("#comment-" + i);
                editButton.removeClass('hidden');
            }
        }
    </script>
}