@using EA.Iws.Core.NotificationAssessment
@using EA.Iws.Core.Shared
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@using Resource = EA.Iws.Web.Areas.AdminImportAssessment.Views.AccountManagement.IndexResources
@model EA.Iws.Web.Areas.AdminImportAssessment.ViewModels.AccountManagement.AccountManagementViewModel

@{
    ViewBag.Title = Resource.MainHeading;
}

<h1 class="heading-large">@Resource.MainHeading</h1>

<h2 class="heading-medium">@Resource.TotalHeading</h2>

<div class="heading-large">
    @Model.TotalCharge.ToString("C")
</div>

<hr>

<h2 class="heading-medium">@Resource.BalanceHeading</h2>

<div class="heading-large">
    @Model.TotalPaid.ToString("C")
</div>

<hr>

<h2 class="heading-medium">@Resource.HistoryHeading</h2>

<div class="form-group">
    <table title=@Resource.HistoryHeading>
        <thead>
        <tr>
            <th>@Resource.TableHeaderTranaction</th>
            <th>@Resource.TableHeaderDate</th>
            <th>@Resource.TableHeaderAmount</th>
            <th>@Resource.TableHeaderType</th>
            <th>@Resource.TableHeaderReceipt</th>
            <th>@Resource.TableHeaderComments</th>
        </tr>
        </thead>
        <tbody>
        @{
            for (var i = 0; i < Model.Transactions.Count(); i++)
            {
                var trans = Model.Transactions[i].Transaction;

                Enum type;
                if (trans == TransactionType.Refund)
                {
                    type = TransactionType.Refund;
                }
                else
                {
                    type = (PaymentMethod)Model.Transactions[i].Type;
                }

                var comment = string.IsNullOrWhiteSpace(Model.Transactions[i].Comments) ? "No" : "Yes";

                <tr>
                    <td>@trans</td>
                    <td>@Model.Transactions[i].Date.ToString("dd/MM/yyyy")</td>
                    <td>@Model.Transactions[i].Amount.ToString("C")</td>
                    <td>@EnumHelper.GetDescription(type)</td>
                    <td>@Model.Transactions[i].ReceiptNumber</td>
                    <td>@comment</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<h2 class="heading-medium">@Resource.CommentSectionHeading</h2>

<div class="form-group">

    @for (var i = 0; i < Model.Transactions.Count(); i++)
    {
        if (!string.IsNullOrWhiteSpace(Model.Transactions[i].Comments))
        {
            var trans = (TransactionType)Model.Transactions[i].Transaction;

            <details>
                <summary>
                    <span class="summary">
                        @trans
                        &nbsp;
                        @Model.Transactions[i].Date.ToString("dd/MM/yyyy")
                    </span>
                </summary>

                <div class="panel-indent">
                    <p>@Model.Transactions[i].Comments</p>
                </div>
            </details>
        }
    }
</div>

@Html.ActionLink(Resource.KeyDatesLinkText, "Index", "Keydates")

@section menu {
    @Html.Action("ImportNavigation", "Menu", new { area = "Admin", section = ImportNavigationSection.Finance })
}