@using EA.Iws.Core.Movement
@using EA.Iws.Core.NotificationAssessment
@using EA.Iws.Core.Shared
@using Resource = EA.Iws.Web.Areas.NotificationApplication.Views.Options.IndexResources
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper

@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.Options.ShipmentSummaryViewModel

@{
    ViewBag.Title = @Resource.TabTitle;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";

    var certificateLinkText = "Record a certificate of " + (Model.NotificationType == NotificationType.Disposal ? "disposal" : "recovery");
    var operationTitle = Model.NotificationType == NotificationType.Disposal ? "Disposed" : "Recovered";
}

@helper DisplayDate(DateTime? date, MovementStatus status)
{
if (date.HasValue && status != MovementStatus.New && status != MovementStatus.Cancelled)
{
        @date.Value.ToString("d MMM yyyy")
}
else if (status != MovementStatus.Cancelled)
{
        @:- -
    }
}

@helper DisplayQuantity(decimal? quantity, ShipmentQuantityUnits? unit, MovementStatus status)
{
if (quantity.HasValue && status != MovementStatus.New && status != MovementStatus.Cancelled)
{
        @(quantity.Value.ToString("G29") + " " + EnumHelper.GetShortName(unit.GetValueOrDefault()))
}
else if (status != MovementStatus.Cancelled)
{
        @:- -
    }
}

<div class="shipping-home">

    <section class="noti-switch" id="">
        <div>
            <button class="button note" type="button">@Model.NotificationNumber</button>
        </div>
    </section>

    <div class="grid-row">
        <h1 class="heading-large column-two-thirds">@Resource.Title</h1>
    </div>

    <div class="grid-row">
        <div class="column-half">
            <h2 class="heading-medium">@Resource.CurrentNotificationTitle @Model.NotificationNumber</h2>
            <div class="nav-bloc">
                <nav>
                    @if (Model.NotificationStatus == NotificationStatus.NotSubmitted)
                    {
                        @Html.ActionLink(@Resource.PrintNotification, "Unavailable", "Options", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.PrintLabel, "Unavailable", "Options", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.CompleteFG, "Unavailable", "Options", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.CostInfo, "Unavailable", "Options", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.UploadAnnexes, "Unavailable", "Options", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                    }
                    else
                    {
                        @Html.ActionLink(@Resource.PrintNotification, "Print", "WhatToDoNext", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.PrintLabel, "PostageLabel", "WhatToDoNext", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.CompleteFG, "FinancialGuarantee", "WhatToDoNext", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.CostInfo, "Payment", "WhatToDoNext", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                        @Html.ActionLink(@Resource.UploadAnnexes, "UploadAnnexes", "WhatToDoNext", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                    }
                    
                    @Html.ActionLink(@Resource.ViewNotification, "Index", "Home", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                    @Html.ActionLink(@Resource.ViewDates, "Index", "KeyDates", new { id = Model.NotificationId, area = "NotificationApplication" }, null)
                </nav>
            </div>
        </div>

        <div class="column-half">
            <h2 class="heading-medium">@Resource.NewNotificationTitle</h2>
            <div class="nav-bloc">
                <nav>
                    @Html.ActionLink(@Resource.StartNewNotification, "CompetentAuthority", "NewNotification", new { area = string.Empty }, null)
                    @Html.ActionLink(@Resource.CopyFromPrevious, "CompetentAuthority", "NewNotification", new { cfp = 1, area = string.Empty }, null)
                    <a href="https://www.gov.uk/importing-and-exporting-waste" target="_blank" title=@Resource.TitleSupportingInfo>@Resource.SupportingInfoLink</a>
                    <span class="visuallyhidden">@Resource.SupportingInfoMessage</span>
                </nav>
            </div>
        </div>
    </div>
    <hr />
    <div class="grid-row">

        <div class="column-half">
            @if (Model.NotificationStatus == NotificationStatus.Consented)
            {
                <h2 class="heading-medium">@Resource.ShipmentOptionsTitle</h2>
                <div class="nav-bloc">
                    <nav>
                        @Html.ActionLink(Resource.CreatePrenotification, "ShipmentDate", "Create", new { notificationId = Model.NotificationId, area = "NotificationMovements" }, null)

                        @Html.ActionLink(Resource.UploadPrenotification, "Index", "UploadChoice", new { notificationId = Model.NotificationId, area = "NotificationMovements" }, null)

                        @Html.ActionLink(Resource.EditPrenotification, "Index", "Edit", new { notificationId = Model.NotificationId, area = "NotificationMovements" }, null)

                        @Html.ActionLink(Resource.CancelPrenotification, "Index", "CancelMovement", new { notificationId = Model.NotificationId, area = "NotificationMovements" }, null)

                        @Html.ActionLink(Resource.Reject, "Index", "Reject", new { notificationId = Model.NotificationId, area = "NotificationMovements" }, null)

                        @Html.ActionLink(Resource.CertificateOfReceipt, "Index", "ReceiveMovement", new { notificationId = Model.NotificationId, area = "NotificationMovements" }, null)

                        @Html.ActionLink(certificateLinkText, "Index", "Complete", new { notificationId = Model.NotificationId, area = "NotificationMovements" }, null)
                    </nav>
                </div>
            }
        </div>

        <div class="column-half">
            @if (Model.NotificationStatus == NotificationStatus.Consented || Model.NotificationStatus == NotificationStatus.ConsentWithdrawn)
            {
                <h2 class="heading-medium">@Resource.ShipmentSummaryTitle</h2>

                <table class="odd-table">
                    <caption class="visuallyhidden">@Resource.SummaryCaption</caption>
                    <tbody>
                        <tr>
                            <td>@Resource.TotalNumber</td>
                            <td>@Model.IntendedShipments</td>
                        </tr>
                        <tr>
                            <td>@Resource.NumberUsed</td>
                            <td>@Model.UsedShipments</td>
                        </tr>
                        <tr>
                            <td>@Resource.ActiveLoadsPermitted</td>
                            <td>@Model.ActiveLoadsPermitted</td>
                        </tr>
                        <tr>
                            <td>@Resource.CurrentActiveLoads</td>
                            <td>@Model.ActiveLoadsCurrent</td>
                        </tr>
                        <tr>
                            <td>@Resource.TotalQuantityReceived</td>
                            <td>@Model.QuantityReceivedTotal</td>
                        </tr>
                        <tr>
                            <td>@Resource.TotalQuantityRemaining</td>
                            <td>@Model.QuantityRemainingTotal</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>

    </div>

    @if (Model.NotificationStatus == NotificationStatus.Consented || Model.NotificationStatus == NotificationStatus.ConsentWithdrawn)
    {
        <section class="ship-data">
            <h2 class="heading-medium">
                @Resource.TableTitle
            </h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="grid-row form-group">
                    <div class="column-third">@Resource.Dropdown</div>

                    <div class="column-half">
                        @Html.DropDownListFor(m => m.SelectedMovementStatus, Model.MovementStatuses, new { @class = "form-control view-by" })
                        <button id="updateStatus" class="button" type="submit">Update</button>
                    </div>
                </div>
            }

            <div class="form-group">
                <table class="odd-table">
                    <caption class="visuallyhidden">Shipment summary</caption>
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Status</th>
                        <th>Prenotified</th>
                        <th>Shipment due</th>
                        <th>Received</th>
                        <th>Quantity</th>
                        <th>@operationTitle</th>
                    </tr>
                    </thead>

                    <tbody>
                    @{
                        for (int i = 0; i < Model.TableData.Count; i++)
                        {
                            var statusText = Model.TableData[i].Status == MovementStatus.Completed ? operationTitle : EnumHelper.GetDisplayName(Model.TableData[i].Status);
                            if (Model.TableData[i].IsShipped())
                            {
                                statusText = statusText + " (Shipped)";
                            }
                            <tr>
                                <td>@Model.TableData[i].Number</td>
                                <td>@statusText</td>
                                <td>
                                    @DisplayDate(Model.TableData[i].PreNotification, Model.TableData[i].Status)
                                </td>
                                <td>
                                    @DisplayDate(Model.TableData[i].ShipmentDate, Model.TableData[i].Status)
                                </td>
                                <td>
                                    @DisplayDate(Model.TableData[i].Received, Model.TableData[i].Status)
                                </td>
                                <td>
                                    @DisplayQuantity(Model.TableData[i].Quantity, Model.TableData[i].Unit, Model.TableData[i].Status)
                                </td>
                                <td>
                                    @DisplayDate(Model.TableData[i].RecoveredOrDisposedOf, Model.TableData[i].Status)
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </section>
    }
</div>

@section scripts {
    <script>
        $(function () {
            $("#updateStatus").hide();
            $("#@Html.NameFor(m => m.SelectedMovementStatus)").change(function () {
                $("#updateStatus").parents("form").submit();
            });
        });
    </script>
}