@using Resources = EA.Iws.Web.Areas.NotificationMovements.Views.PrenotificationBulkUpload.PrenotificationBulkUploadResources
@model EA.Iws.Web.Areas.NotificationMovements.ViewModels.PrenotificationBulkUpload.PrenotificationBulkUploadViewModel

@{
    ViewBag.Title = Resources.UploadPrenotificationsTabTitle;
    Layout = "~/Views/Shared/_Layout.GovUK.Sections.cshtml";
}

<div class="govuk-form-group">
    <section>
        <div>
            <h1 class="govuk-heading-l">@Resources.StartHeader</h1>
            <p>@Resources.StartText1</p>
            <p>@Html.ActionLink(Resources.TemplateLinkText, "Index", "BulkUploadTemplate", new { id = @Model.NotificationId }, null) @Resources.StartText2</p>
            <p class="bold-small">@Resources.StartText3</p>
        </div>
    </section>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="govuk-form-group">
            <p>
                <button class="govuk-button" type="submit">@Resources.StartButtonText</button>
            </p>
        </div>
    }
</div>

@Html.ActionLink(Resources.NotificationOptionsLink, "Index", "Options", new { id = @Model.NotificationId, area = "NotificationApplication" }, null)