@model EA.Iws.Web.Areas.Admin.ViewModels.Menu.ExportNavigationViewModel
@using EA.Iws.Core.NotificationAssessment;
@using EA.Iws.Core.Notification;

@helper GetClassForSection(ExportNavigationSection section, string className)
{
    @(Model.ActiveSection == section ? className : string.Empty)
}

<div id="accordion" class="accordion-export">
    <div class="notification-number">
        <p class="bold-medium">
            @Model.Data.Number
            @if (Model.Data.CompetentAuthority == UKCompetentAuthority.England)
            {
                <br/>
                <span class="assigned-area">@Model.Data.Area</span>
            }
            <br/>
            <span class="assigned-area">@Model.Data.Status</span>
            <br />
            <span class="assigned-area"> @(Model.Data.IsInterim.GetValueOrDefault() ? "Interim" : "Non-Interim")</span>
        </p>
    </div>
    <ul>
        <li class="@GetClassForSection(ExportNavigationSection.Assessment, "active")">
            <h3 class="@GetClassForSection(ExportNavigationSection.Assessment, "current")">
                <span></span>
                Notification assessment
            </h3>
            <ul>
                <li>@Html.ActionLink("Notification overview", "Index", "Overview", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
                <li>@Html.ActionLink("Key dates", "Index", "KeyDates", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
                @if (Model.ShowKeyDatesOverride)
                {
                    <li>@Html.ActionLink("Update key dates", "Index", "KeyDatesOverride", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
                }
                @if (Model.ShowAssessmentDecision)
                {
                    <li>@Html.ActionLink("Assessment decision", "Index", "Decision", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
                }
                @if (Model.Data.CompetentAuthority == UKCompetentAuthority.England)
                {
                    <li>@Html.ActionLink("Assign an area", "Index", "AssignArea", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
                }
                <li>@Html.ActionLink("Mark notification as interim or non-interim", "Index", "MarkAsInterim", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
                <li>@Html.ActionLink("Financial guarantee assessment", "Index", "FinancialGuaranteeAssessment", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
                <li>@Html.ActionLink("Financial guarantee decision history", "Index", "FinancialGuaranteeDecisionHistory", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
            </ul>
        </li>

        @if (Model.Data.Status == NotificationStatus.Consented || Model.Data.Status == NotificationStatus.ConsentWithdrawn
             || Model.Data.Status == NotificationStatus.FileClosed)
        {
            <li class="@GetClassForSection(ExportNavigationSection.Shipments, "active")">
                <h3 class="@GetClassForSection(ExportNavigationSection.Shipments, "current")">
                    <span></span>
                    Shipments
                </h3>
                <ul>
                    <li>@Html.ActionLink("Shipment summary", "Index", "Home", new { area = "AdminExportNotificationMovements", Model.Data.Id }, null)</li>
                    <li>@Html.ActionLink("Cancel shipments", "Index", "Cancel", new { area = "AdminExportNotificationMovements", Model.Data.Id }, null)</li>
                    @if (Model.ShowDeleteMovementLink)
                    {
                        <li>@Html.ActionLink("Delete a shipment", "Index", "Delete", new { area = "AdminExportNotificationMovements", Model.Data.Id }, null)</li>
                    }
                </ul>
            </li>
        }

        <li class="@GetClassForSection(ExportNavigationSection.Finance, "active")">
            <h3 class="@GetClassForSection(ExportNavigationSection.Finance, "current")">
                <span></span>
                Finance
            </h3>
            <ul>
                <li>@Html.ActionLink("Finance management", "Index", "AccountManagement", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
            </ul>
        </li>

        <li class="">
            <h3 class="">
                <span></span>
                Reporting
            </h3>
            @Html.Partial("~/Areas/Admin/Views/Menu/_ReportingLinks.cshtml")
        </li>

        @if (Model.AdminLinksModel.ShowAddNewEntryOrExitPointLink 
            || Model.AdminLinksModel.ShowApproveNewInternalUserLink)
        {
            <li class="">
                <h3 class="">
                    <span></span>
                    Account services
                </h3>
                @Html.Partial("~/Areas/Admin/Views/Menu/_AdminLinks.cshtml", Model.AdminLinksModel)
            </li>
        }

        <li class="@GetClassForSection(ExportNavigationSection.ChangeOwner, "active")">
            <h3 class="@GetClassForSection(ExportNavigationSection.ChangeOwner, "current")">
                <span></span>
                Change owner
            </h3>
            <ul>
                <li>@Html.ActionLink("Change owner", "Index", "ChangeNotificationOwner", new { area = "AdminExportAssessment", Model.Data.Id }, null)</li>
            </ul>
        </li>

    </ul>
</div>