@model EA.Iws.Web.Areas.Admin.ViewModels.Menu.AdminLinksViewModel

@helper GetClassForSection(AdminHomeNavigationSection section, string className)
{
    @(Model.ActiveSection == section ? className : string.Empty)
}

<div id="accordion" class="accordion-general">
    <ul>
        <li class="@GetClassForSection(AdminHomeNavigationSection.Notifications, "active")">
            <h3 class="@GetClassForSection(AdminHomeNavigationSection.Notifications, "current")">
                <span></span>
                Notifications
            </h3>
            <ul>
                <li>@Html.ActionLink("Create import notification", "Number", "ImportNotification", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Create export notification", "NotificationType", "ExportNotification", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Unsubmitted export notifications", "Index", "ExportNotifications", new { area = "Admin" }, null)</li>
            </ul>
        </li>

        <li class="@GetClassForSection(AdminHomeNavigationSection.Reporting, "active")">
            <h3 class="@GetClassForSection(AdminHomeNavigationSection.Reporting, "current")">
                <span></span>
                Reporting
            </h3>
            @Html.Partial("~/Areas/Admin/Views/Menu/_ReportingLinks.cshtml", Model)
        </li>

        @if (Model.ShowAddNewEntryOrExitPointLink
                    || Model.ShowApproveNewInternalUserLink)
        {
            <li class="@GetClassForSection(AdminHomeNavigationSection.AccountServices, "active")">
                <h3 class="@GetClassForSection(AdminHomeNavigationSection.AccountServices, "current")">
                    <span></span>
                    Account services
                </h3>
                @Html.Partial("~/Areas/Admin/Views/Menu/_AdminLinks.cshtml", Model)
            </li>
        }

    </ul>
</div>