<ul>
    <li>@Html.ActionLink("Export stats", "Index", "ExportStats", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Import stats", "Index", "ImportStats", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Shipments", "Index", "Shipments", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Data Export Notifications", "Index", "ExportNotifications", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Data Import Notifications", "Index", "ImportNotifications", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Finance report", "Index", "Finance", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("FOI report", "Index", "FreedomOfInformation", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Export Movement Documents Input", "Index", "ExportMovements", new { area = "Reports" }, null)</li>
    <li>@Html.ActionLink("Financial guarantees", "Index", "FinancialGuarantees", new { area = "Reports" }, null)</li>
</ul>
