@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.EditContact.EditContactViewModel
@{
    ViewBag.Title = "Amend facility details";
}

<h1 class="govuk-heading-l">Amend facility details</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.EditorForModel()

    <button type="submit" class="govuk-button">@Constants.ContinueButtonText</button>
}

@section menu
{
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Assessment })
}

@section scripts {
    <script>

        $(function () {

            $('#additionalChargeYes').click(function () {
                $.ajax({
                        url: '@Url.Action("GetDefaultAdditionalChargeAmount")',
                        type: 'POST',
                        data: { competentAuthority: '@Model.CompetentAuthority', __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                        success: function (result) {
                            $('#AdditionalCharge_Amount').val(result);
                            $("#AdditionalCharge_Amount").removeAttr("readonly");
                        }
                    });
            });

            $('#additionalChargeNo').click(function () {
                $('#AdditionalCharge_Amount').val(0);
                $('#AdditionalCharge_Amount').attr('readonly', 'true');
            });

        });
    </script>
}