@model EA.Iws.Web.ViewModels.Shared.Address
@{
    ViewBag.Title = "Address";
}

<div class="form-group">
    @Html.Gds().LabelFor(m => m.Building, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Building, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Gds().LabelFor(m => m.Street, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Street, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Gds().LabelFor(m => m.City, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.City, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Gds().LabelFor(m => m.County, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.County, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.Gds().LabelFor(m => m.Postcode, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Postcode, htmlAttributes: new { @class = "form-control" })
</div>