@model EA.Iws.Core.Shared.AddressData

<div class="form-group @Html.Gds().FormGroupClass(m => m.Building)">
    @Html.Gds().LabelFor(m => m.Building)
    @Html.Gds().ValidationMessageFor(m => m.Building)
    @Html.Gds().TextBoxFor(m => m.Building)
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.StreetOrSuburb)">
    @Html.Gds().LabelFor(m => m.StreetOrSuburb)
    @Html.Gds().ValidationMessageFor(m => m.StreetOrSuburb)
    @Html.Gds().TextBoxFor(m => m.StreetOrSuburb)
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.Address2)">
    @Html.Gds().LabelFor(m => m.Address2)
    @Html.Gds().ValidationMessageFor(m => m.Address2)
    @Html.Gds().TextBoxFor(m => m.Address2)
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.TownOrCity)">
    @Html.Gds().LabelFor(m => m.TownOrCity)
    @Html.Gds().ValidationMessageFor(m => m.TownOrCity)
    @Html.Gds().TextBoxFor(m => m.TownOrCity)
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.Region)">
    @Html.Gds().LabelFor(m => m.Region)
    @Html.Gds().ValidationMessageFor(m => m.Region)
    @Html.Gds().TextBoxFor(m => m.Region)
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.PostalCode)">
    @Html.Gds().LabelFor(m => m.PostalCode, "(optional for non-UK address)")
    @Html.Gds().ValidationMessageFor(m => m.PostalCode)
    @Html.Gds().TextBoxFor(m => m.PostalCode)
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.CountryId)">
    @Html.Gds().LabelFor(m => m.CountryId)
    @Html.Gds().ValidationMessageFor(m => m.CountryId)
    @Html.Gds().DropDownListFor(m => m.CountryId, (SelectList)ViewBag.Countries)
    @Html.HiddenFor(m => m.DefaultCountryId)
</div>