@using EA.Iws.Requests.Shared
@model EA.Iws.Web.ViewModels.Shared.BusinessTypeViewModel
@{
    ViewBag.Title = "Business Name and Type";
}

<div class="form-group @Html.Gds().FormGroupClass(m => m.Name)">
    @Html.Gds().LabelFor(m => m.Name)
    @Html.Gds().ValidationMessageFor(m => m.Name)
    @Html.Gds().TextBoxFor(m => m.Name)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.BusinessType)">
    @Html.Gds().LabelFor(m => m.BusinessType)
    @Html.Gds().ValidationMessageFor(m => m.BusinessType)
    <label class="block-label">
        @Html.RadioButtonFor(m => m.BusinessType, BusinessType.SoleTrader) @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.SoleTrader)
    </label>
    <label class="block-label">
        @Html.RadioButtonFor(m => m.BusinessType, BusinessType.Partnership) @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.Partnership)
    </label>
    <label class="block-label">
        @Html.RadioButtonFor(m => m.BusinessType, BusinessType.LimitedCompany) @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.LimitedCompany)
    </label>
    <label class="block-label" data-target="other-description">
        @Html.RadioButtonFor(m => m.BusinessType, BusinessType.Other) @EA.Prsd.Core.Helpers.EnumHelper.GetDisplayName(BusinessType.Other)
    </label>
    <div class="panel-indent @(Model.BusinessType != null && Model.BusinessType == BusinessType.Other ? "" : "js-hidden")" id="other-description">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherDescription)">
            @Html.Gds().LabelFor(m => m.OtherDescription)
            @Html.Gds().ValidationMessageFor(m => m.OtherDescription)
            @Html.Gds().TextBoxFor(m => m.OtherDescription)
        </div>
    </div>
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.RegistrationNumber)">
    @Html.Gds().LabelFor(m => m.RegistrationNumber)
    @Html.Gds().HintSpan("If you are a limited company this should be your Companies House number. If you are acting on behalf of the waste generator-producer, this will be your waste broker license number.", "registration-number-hint")
    @Html.Gds().ValidationMessageFor(m => m.RegistrationNumber)
    @Html.Gds().TextBoxFor(m => m.RegistrationNumber)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.AdditionalRegistrationNumber)">
    @Html.Gds().LabelFor(m => m.AdditionalRegistrationNumber)
    @Html.Gds().ValidationMessageFor(model => model.AdditionalRegistrationNumber)
    @Html.Gds().TextBoxFor(m => m.AdditionalRegistrationNumber)
</div>