@model EA.Iws.Requests.Shared.ContactData

<div class="form-group @Html.Gds().FormGroupClass(m => m.FirstName)">
    @Html.Gds().LabelFor(model => model.FirstName)
    @Html.Gds().ValidationMessageFor(model => model.FirstName)
    @Html.Gds().TextBoxFor(model => model.FirstName)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.LastName)">
    @Html.Gds().LabelFor(model => model.LastName)
    @Html.Gds().ValidationMessageFor(model => model.LastName)
    @Html.Gds().TextBoxFor(model => model.LastName)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Telephone)">
    @Html.Gds().LabelFor(model => model.Telephone)
    @Html.Gds().ValidationMessageFor(model => model.Telephone)
    @Html.Gds().TextBoxFor(model => model.Telephone)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Fax)">
    @Html.Gds().LabelFor(model => model.Fax)
    @Html.Gds().ValidationMessageFor(model => model.Fax)
    @Html.Gds().TextBoxFor(model => model.Fax)
</div>

<div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
    @Html.Gds().LabelFor(model => model.Email)
    @Html.Gds().ValidationMessageFor(model => model.Email)
    @Html.Gds().TextBoxFor(model => model.Email)
</div>