@model EA.Iws.Web.ViewModels.Shared.OptionalDateInputViewModel

@{
    var isDisabled = ViewData["IsInputDisabled"] == true.ToString().ToLower();
}

<div class="form-date">
    @Html.Gds().ValidationMessageFor(m => m.Day)
    @Html.Gds().ValidationMessageFor(m => m.Month)
    @Html.Gds().ValidationMessageFor(m => m.Year)
    <div class="form-group form-group-day">
        @Html.Gds().LabelFor(m => m.Day, false)
        @if (isDisabled)
        {
            @Html.Gds().TextBoxFor(m => m.Day, new { type = "number", min = "1", max = "31", disabled = true })
        }
        else
        {
            @Html.Gds().TextBoxFor(m => m.Day, new { type = "number", min = "1", max = "31" })
        }
    </div>
    <div class="form-group form-group-month">
        @Html.Gds().LabelFor(m => m.Month, false)
        @if (isDisabled)
        {
            @Html.Gds().TextBoxFor(m => m.Month, new { type = "number", min = "1", max = "12", disabled = true })
        }
        else
        {
            @Html.Gds().TextBoxFor(m => m.Month, new { type = "number", min = "1", max = "12" })
        }
    </div>
    <div class="form-group form-group-year">
        @Html.Gds().LabelFor(m => m.Year, false)
        @if (isDisabled)
        {
            @Html.Gds().TextBoxFor(m => m.Year, new { type = "number", min = "2015", disabled = true })
        }
        else
        {
            @Html.Gds().TextBoxFor(m => m.Year, new { type = "number", min = Model.AllowPastDates ? "1" : "2015" })
        }
    </div>
</div>