@model EA.Iws.Web.ViewModels.Shared.ReportOutputParametersViewModel
<div class="govuk-form-group">
	@Html.Gds().ValidationMessageFor(m => m.ReportColumns)
	@Html.HiddenFor(m => m.DateType)
	@Html.HiddenFor(m => m.FromDate)
	@Html.HiddenFor(m => m.ToDate)
	@Html.HiddenFor(m => m.TextFieldType)
	@Html.HiddenFor(m => m.OperatorType)
	@Html.HiddenFor(m => m.SearchText)
    <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="multiple-choice govuk-checkboxes__item">
                @Html.CheckBox("Select all", new { @id = "selectAllCheckbox", @class = "govuk-checkboxes__input" })
                <label for="selectAllCheckbox" id="selectAllCheckboxLabel" class="govuk-label govuk-checkboxes__label">
                    Select all
                </label>
            </div>
            <br />
            <hr />
            @for (int i = 0; i < Model.ReportColumns.PossibleValues.Count; i++)
            {
                MvcHtmlString idForThisCheckBox = Html.NameFor(m => m.ReportColumns.PossibleValues[i]);

                <div class="multiple-choice govuk-checkboxes__item">
                    @Html.CheckBoxFor(m => m.ReportColumns.PossibleValues[i].Selected, new { id = idForThisCheckBox, @class = "govuk-checkboxes__input" })
                    <label class="govuk-label govuk-checkboxes__label" for="@idForThisCheckBox">
                        @Html.DisplayFor(m => m.ReportColumns.PossibleValues[i].Text)
                    </label>
                </div>

                @Html.HiddenFor(m => m.ReportColumns.PossibleValues[i].Text)
                @Html.HiddenFor(m => m.ReportColumns.PossibleValues[i].Value)
            }
        </div>
    </fieldset>
</div>

