@model EA.Iws.Web.ViewModels.Shared.RequiredDateInputViewModel
@{
    var isDisabled = (ViewData["IsInputDisabled"] ?? false).ToString() == true.ToString().ToLower();
}

<div class="form-date">
    @Html.Gds().ValidationMessageFor(m => m.Day)
    @Html.Gds().ValidationMessageFor(m => m.Month)
    @Html.Gds().ValidationMessageFor(m => m.Year)
    @Html.HiddenFor(m => m.IsAutoTabEnabled)
    @Html.HiddenFor(m => m.AllowPastDates)

    <div class="form-group form-group-day">
        @if (Model.ShowLabels)
        {
            @Html.Gds().LabelFor(m => m.Day, false)
        }
        @if (isDisabled)
        {
            @Html.Gds().TextBoxFor(m => m.Day, new { disabled = true })
        }
        else
        {
            @Html.Gds().TextBoxFor(m => m.Day, new
       {
           data_type = (Model.IsAutoTabEnabled) ? "date" : string.Empty,
           placeholder = Model.ShowLabels ? string.Empty : "DD"
       })
        }
    </div>
    <div class="form-group form-group-month">
        @if (Model.ShowLabels)
        {
            @Html.Gds().LabelFor(m => m.Month, false)
        }
        @if (isDisabled)
        {
            @Html.Gds().TextBoxFor(m => m.Month, new { disabled = true })
        }
        else
        {
            @Html.Gds().TextBoxFor(m => m.Month, new
       {
           data_type = (Model.IsAutoTabEnabled) ? "date" : string.Empty,
           placeholder = Model.ShowLabels ? string.Empty : "MM"
       })
        }
    </div>
    <div class="form-group form-group-year">
        @if (Model.ShowLabels)
        {
            @Html.Gds().LabelFor(m => m.Year, false)
        }
        @if (isDisabled)
        {
            @Html.Gds().TextBoxFor(m => m.Year, new { disabled = true })
        }
        else
        {
            @Html.Gds().TextBoxFor(m => m.Year, new
       {
           placeholder = Model.ShowLabels ? string.Empty : "YYYY"
       })
        }
    </div>
</div>
