@model EA.Iws.Web.ViewModels.Shared.StringIntRadioButtons

@if (Model != null)
{
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
                @for (int i = 0; i < Model.PossibleValues.Count; i++)
                {
                    MvcHtmlString nameForThisValue = Html.NameFor(m => m.PossibleValues[i].Value);

                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.SelectedValue, Model.PossibleValues[i].Value, htmlAttributes: new { id = nameForThisValue, @class = "govuk-radios__input" })
                        <label class="govuk-label govuk-radios__label" for="@nameForThisValue">
                            @Html.DisplayFor(m => m.PossibleValues[i].Key)
                        </label>
                    </div>

                    @Html.HiddenFor(m => m.PossibleValues[i].Key)
                    @Html.HiddenFor(m => m.PossibleValues[i].Value)
                }
            </div>
        </fieldset>
    </div>
}
