@model EA.Iws.Web.Areas.Admin.ViewModels.DeleteNotification.IndexViewModel
@using Resources = EA.Iws.Web.Areas.Admin.Views.DeleteNotification.IndexResources

@{
    ViewBag.Title = Resources.Title;
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">@Resources.MainHeading</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.NotificationNumber)">
                @Html.Gds().LabelFor(m => m.NotificationNumber)
                @Html.Gds().ValidationMessageFor(m => m.NotificationNumber)
                @Html.Gds().HintSpan(Resources.NumberHint)
                @Html.Gds().TextBoxFor(m => m.NotificationNumber)
            </div>

            <h2 class="heading-small">@Resources.Question</h2>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.IsExportNotification)">
                @Html.Gds().ValidationMessageFor(m => m.IsExportNotification)

                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.IsExportNotification, true, new { id = "yes", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="yes">
                                @Resources.Export
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.IsExportNotification, false, new { id = "no", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="no">
                                @Resources.Import
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group"><button type="submit" class="govuk-button">@Resources.ButtonText</button></div>
        }

        @Html.ActionLink(@Resources.HomeLinkText, "Index", "Home")
    </div>
</div>

@section menu {
    @Html.Action("HomeNavigation", "Menu", new { area = "Admin", section = AdminHomeNavigationSection.AccountServices })
}