@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Validate.ValidateViewModel
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Validate.IndexResources
@{
    ViewBag.Title = Resource.TabTitle;
}

@if (Model.HasErrors)
{
    <h1 class="heading-large">@Resource.HeadingIncomplete</h1>

    <p class="text">@Resource.GuidanceIncomplete</p>

    foreach (var validationResult in Model.ValidationResults)
    {
        if (validationResult.Errors.Any())
        {
            <h2 class="heading-medium">@validationResult.EntityName</h2>

            <ul class="list-bullet">
                @foreach (var errorText in validationResult.Errors)
                {
                    <li>@errorText</li>
                }
            </ul>
        }
    }
}
else
{
    <h1 class="heading-large">@Resource.HeadingComplete</h1>

    <p class="text">@Resource.GuidanceComplete</p>

    using (Html.BeginForm("Save", "Validate"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <button type="submit" class="button">@Constants.ContinueButtonText</button>
        </div>

        @Html.ActionLink(Resource.ReturnLinkText, "Index", "Home")
    }
}