@using EA.Iws.Web.Areas.NotificationApplication.Views.ChemicalComposition
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.ChemicalCompositionTypeViewModel
@{
    ViewBag.Title = ChemicalCompositionResources.Title;
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@ChemicalCompositionResources.Header</h1>
    <p>@ChemicalCompositionResources.HeaderDescription</p>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ChemicalCompositionType.SelectedValue)">
        <div class="govuk-body govuk-error-message ">
            @Html.Gds().ValidationMessageFor(m => m.ChemicalCompositionType.SelectedValue, "Please tell us what waste type applies")
        </div>        
        @Html.EditorFor(m => m.ChemicalCompositionType)
    </div>
    <div class="govuk-form-group">
        <button class="govuk-button" type="submit" name="submitButton" value="Continue">@Constants.ContinueButtonText</button>
    </div>
}