@using EA.Iws.Web.Areas.NotificationApplication.Views.ChemicalComposition
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.ChemicalCompositionTypeViewModel
@{
    ViewBag.Title = ChemicalCompositionResources.Title;
}

<header class="hgroup">
    <h1 class="heading-large">@ChemicalCompositionResources.Header</h1>
    <p>@ChemicalCompositionResources.HeaderDescription</p>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div class="form-group">
        @Html.EditorFor(m => m.ChemicalCompositionType)
    </div>
    <div class="form-group">
        <button class="button" type="submit" name="submitButton" value="Continue">@Constants.ContinueButtonText</button>
    </div>
}