@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.OtherWasteViewModel
@{
    ViewBag.Title = "Waste Code";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 2 of 3")
    </div>
    <h1 class="heading-large">What is the name of the waste?</h1>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div>
        This may be the name or names by which the material is commonly known or the commercial name
    </div>
    <div class="form-group">
        @Html.Gds().ValidationMessageFor(m => m.Description)
        @Html.Gds().HintSpan("Limit your answer to 70 characters or less")
        @Html.Gds().TextBoxFor(m => m.Description, new { @MaxLength = 70, @title="Description" })
    </div>
    <div class="form-group">
        <button class="button" name="Command" value="continue" type="submit">@Constants.ContinueButtonText</button>
    </div>
}