@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.OtherWasteAdditionalInformationViewModel
@{
    ViewBag.Title = "Waste Code";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 3 of 3")
    </div>
    <h1 class="heading-large">What is the chemical composition of the waste?</h1>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div>

    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Description)">
        @Html.Gds().ValidationMessageFor(m => m.Description)
        @Html.Gds().HintParagraph("This may be the names of its major constituents and their relative concentrations expressed as a percentage")
        @Html.Gds().HintParagraph("Please limit your answer to 256 characters")
        @Html.TextAreaFor(m => m.Description, new { @class = "text-area two-thirds", @title = "Other description", @MaxLength = 256 })
    </div>
    <div class="form-group">
        <fieldset>
            <label class="block-label" for="chkboxFurtherInfo">
                @Html.CheckBoxFor(m => m.HasAttachement, new { @id = "chkboxFurtherInfo" })
                I will provide this detail in a separate annex with my notification submission.
            </label>
        </fieldset>
    </div>
    <div class="form-group">
        <button class="button" name="Command" value="continue" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    </div>
}
