@using EA.Iws.Web.Areas.NotificationApplication.Views.ChemicalComposition
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.OtherWasteAdditionalInformationViewModel
@{
    ViewBag.Title = OtherWasteAdditionalInformationResources.Title;
}
<header class="hgroup">
    <h1 class="govuk-heading-l">@OtherWasteAdditionalInformationResources.Header</h1>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    <div>

    </div>
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Description)">
        @Html.Gds().ValidationMessageFor(m => m.Description)
        @Html.Gds().HintParagraph(OtherWasteAdditionalInformationResources.DescriptionHint1)
        @Html.Gds().HintParagraph(OtherWasteAdditionalInformationResources.DescriptionHint)
        @Html.TextAreaFor(m => m.Description, new { @class = "text-area two-thirds", @title = OtherWasteAdditionalInformationResources.OtherDescription, @MaxLength = 256 })
    </div>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="multiple-choice govuk-checkboxes__item">
                    @Html.CheckBoxFor(m => m.HasAttachement, new { @id = "chkboxFurtherInfo", @class = "govuk-checkboxes__input" })
                    <label class="govuk-label govuk-checkboxes__label" for="chkboxFurtherInfo">
                        @OtherWasteAdditionalInformationResources.Declaration
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="govuk-form-group">
        <button class="govuk-button" name="Command" value="continue" type="submit">@Constants.ContinueButtonText</button>
    </div>
}
