@using EA.Iws.Core.WasteType
@using EA.Iws.Web.Areas.NotificationApplication.Views.ChemicalComposition
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.ChemicalCompositionViewModel
@{
    ViewBag.Title = RdfSrfResources.Title;
}

<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph(RdfSrfResources.Step2)
    </div>
    <h1 class="heading-large">@RdfSrfResources.Header</h1>
    <p>@RdfSrfResources.HeaderDescription</p>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)

    <div>
        @for (var i = 0; i < Model.WasteComposition.Count; i++)
        {
            var hintText = RdfSrfResources.HintText;

            if (Model.WasteComposition[i].WasteInformationType == WasteInformationType.NetCalorificValue)
            {
                hintText = RdfSrfResources.Megajoules;
            }

            if (Model.WasteComposition[i].WasteInformationType == WasteInformationType.HeavyMetals)
            {
                hintText = RdfSrfResources.Milligrams;
            }

            <div class="form-group @Html.Gds().FormGroupClass(m => m.WasteComposition[i])">
                @Html.Gds().ValidationMessageFor(m => m.WasteComposition[i])
                <div>
                    <div>
                        @EnumHelper.GetDescription(@Model.WasteComposition[i].WasteInformationType)
                        @Html.Gds().HintParagraph(hintText)
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-half">
                        <div class="grid-row">
                            @{
                                var placeholderText = (Model.WasteComposition[i].WasteInformationType == WasteInformationType.NetCalorificValue
                                    || Model.WasteComposition[i].WasteInformationType == WasteInformationType.HeavyMetals) ? "" : " %";
                                var sectionTitle = @EnumHelper.GetDescription(@Model.WasteComposition[i].WasteInformationType);
                            }
                            <div class="column-half">
                                @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MinConcentration, new { placeholder = RdfSrfResources.Min + placeholderText, title = sectionTitle + RdfSrfResources.MinConcentration })
                                @Html.Gds().TextBoxFor(m => m.WasteComposition[i].WasteInformationType, new { type = "hidden" })
                            </div>
                            <div class="column-half">
                                @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MaxConcentration, new { placeholder = RdfSrfResources.Max + placeholderText, title = sectionTitle + RdfSrfResources.MaxConcentration })
                                @Html.Gds().TextBoxFor(m => m.WasteComposition[i].Constituent, new { type = "hidden", @Value = EnumHelper.GetDescription(@Model.WasteComposition[i].WasteInformationType) })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="grid-row">
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Energy) column-two-thirds">
            @Html.Gds().ValidationMessageFor(m => m.Energy)
            @RdfSrfResources.EnergyEfficiency
            <details>
                <summary>
                    <h2 class="summary heading-xsmall">@RdfSrfResources.GuidanceNotes</h2>
                </summary>
                <div class="panel-indent">
                    <p>@RdfSrfResources.EnrgyEfficiencyDescription</p>
                    <table class="fraction" title=@RdfSrfResources.GuidanceNotesTitle>
                        <tr>
                            <td rowspan="2">
                                Energy Efficiency =
                            </td>
                            <td>
                                (E<sub>p</sub> - (E<sub>f</sub> + E<sub>i</sub>))
                            </td>
                        </tr>
                        <tr>
                            <td class="upper-line">
                                (0.97 x (E<sub>w</sub> + E<sub>f</sub>))
                            </td>
                        </tr>
                    </table>
                    @RdfSrfResources.InWhich
                    <table title=@RdfSrfResources.FormulaTitle>
                        <tr><td></td><td></td></tr>
                        <tr><td>E<sub>p</sub></td><td>@RdfSrfResources.TdFormula1</td></tr>
                        <tr><td>E<sub>f</sub></td><td>@RdfSrfResources.TdFormula2</td></tr>
                        <tr><td>E<sub>i</sub></td><td>@Html.Raw(RdfSrfResources.TdFormula3)</td></tr>
                        <tr><td>E<sub>w</sub></td><td>@RdfSrfResources.TdFormula4</td></tr>
                        <tr><td>0.97</td><td>@RdfSrfResources.TdFormula5</td></tr>
                    </table>
                    <br />
                    <p>@RdfSrfResources.EnergyEfficiencyInfo</p>
                </div>
            </details>
            @Html.Gds().TextBoxFor(m => m.Energy, new { @class = "two-thirds", @title = RdfSrfResources.Energy })
        </div>
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}