@using EA.Iws.Web.Areas.NotificationApplication.Views.ChemicalComposition
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.ChemicalCompositionContinuedViewModel
@{
    ViewBag.Title = RdfSrfContinuedResources.Title;
}

<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph(RdfSrfContinuedResources.Step3)
    </div>
    <h1 class="heading-large">@RdfSrfContinuedResources.Header</h1>
</header>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.ChemicalCompositionType)
    <p>@RdfSrfContinuedResources.HeaderDescription</p>

    <div class="grid-row form-group">
        <div class="column-half">
            @for (var i = 0; i < Model.WasteComposition.Count; i++)
            {
                <div class="form-group @Html.Gds().FormGroupClass(m => m.WasteComposition[i])">
                    @Html.Gds().ValidationMessageFor(m => m.WasteComposition[i])
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            @EnumHelper.GetDescription(Model.WasteComposition[i].ChemicalCompositionCategory)
                        </div>
                    </div>
                    <div class="grid-row">
                        @{
                            var sectionTitle = @EnumHelper.GetDescription(@Model.WasteComposition[i].ChemicalCompositionCategory);
                        }
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MinConcentration, new { placeholder = RdfSrfContinuedResources.Min, title = sectionTitle + RdfSrfContinuedResources.MinConcentration })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].ChemicalCompositionCategory, new { type = "hidden" })
                        </div>
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MaxConcentration, new { placeholder = RdfSrfContinuedResources.Max, title = sectionTitle + RdfSrfContinuedResources.MaxConcentration })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].Constituent, new { type = "hidden", @Value = EnumHelper.GetDescription(@Model.WasteComposition[i].ChemicalCompositionCategory) })
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                @RdfSrfContinuedResources.Question
                <div class="form-hint">@RdfSrfContinuedResources.QuestionDescription</div>
                @for (int i = 0; i < Model.OtherCodes.Count; i++)
                {
                    <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherCodes[i])">
                        @Html.Gds().ValidationMessageFor(m => m.OtherCodes[i])
                        <div class="grid-row">
                            <div class="column-two-thirds form-group">
                                <input name="OtherCodes[@i].Constituent" value="@Model.OtherCodes[i].Constituent" title=@RdfSrfContinuedResources.OtherConstituent />
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="column-half">
                                <input name="OtherCodes[@i].MinConcentration" style="width: 65px" placeholder="min %" value="@Model.OtherCodes[i].MinConcentration" title=@RdfSrfContinuedResources.MinConstituent />
                            </div>
                            <div class="column-half">
                                <input name="OtherCodes[@i].MaxConcentration" style="width: 65px" placeholder="max %" value="@Model.OtherCodes[i].MaxConcentration" title=@RdfSrfContinuedResources.MaxConstituent />
                                <input name="OtherCodes[@i].ChemicalCompositionCategory" type="hidden" value="@Model.OtherCodes[i].ChemicalCompositionCategory" />
                            </div>
                        </div>
                    </div>
                }
                <button class="link-submit" type="submit" name="Command" value="add">@RdfSrfContinuedResources.Add</button>
            </div>
            <hr>
        </div>
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.FurtherInformation)">
        @Html.Gds().ValidationMessageFor(m => m.FurtherInformation)
        @RdfSrfContinuedResources.Header2
        @Html.Gds().HintParagraph(RdfSrfContinuedResources.Hint)
        @Html.TextAreaFor(m => m.FurtherInformation, new { @class = "text-area two-thirds", @title = RdfSrfContinuedResources.FurtherInformation, @MaxLength = 256 })
    </div>
    <div class="form-group">
        <fieldset>
            <label class="block-label" for="chkboxFurtherInfo">
                @Html.CheckBoxFor(m => m.HasAnnex, new { @id = "chkboxFurtherInfo" })
                @RdfSrfContinuedResources.Declaration
            </label>
        </fieldset>
    </div>

    <div class="form-group">
        <button class="button" name="Command" value="continue" type="submit">@Constants.ContinueButtonText</button>
    </div>
}