@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.ChemicalCompositionContinuedViewModel
@{
    ViewBag.Title = "Chemical composition of waste continued";
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph("Step 3 of 3")
    </div>
    <h1 class="heading-large">What is the chemical composition of the waste? (continued)</h1>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.ChemicalCompositionType)
    
    <h2 class="heading-small">What is the chemical composition of the waste?</h2>
    <p>
        Concentration levels of the constituents present in the waste.
        Enter minimum and maximum as a weight by weight percentage (%), you can enter NA where not applicable.
    </p>
    <div class="grid-row form-group">
        <div class="column-half">
            @for (var i = 0; i < Model.WasteComposition.Count; i++)
            {
                <div class="form-group @Html.Gds().FormGroupClass(m => m.WasteComposition[i])">
                    @Html.Gds().ValidationMessageFor(m => m.WasteComposition[i])
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            @EA.Prsd.Core.Helpers.EnumHelper.GetDescription(Model.WasteComposition[i].ChemicalCompositionCategory)
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MinConcentration, new { placeholder = "min %", title = "Min concentration" })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].ChemicalCompositionCategory, new { type = "hidden" })
                        </div>
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MaxConcentration, new { placeholder = "max %", title = "Max concentration" })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].Constituent, new { type = "hidden", @Value = @EA.Prsd.Core.Helpers.EnumHelper.GetDescription(Model.WasteComposition[i].ChemicalCompositionCategory) })
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                Are there any other constituents?
                <div class="form-hint">Enter any other significant components in the waste.  Enter one component per field, add more if required.</div>
                @for (int i = 0; i < Model.OtherCodes.Count; i++)
                {
                    <div class="form-group @Html.Gds().FormGroupClass(m => m.OtherCodes[i])">
                        @Html.Gds().ValidationMessageFor(m => m.OtherCodes[i])
                        <div class="grid-row">
                            <div class="column-two-thirds form-group">
                                <input name="OtherCodes[@i].Constituent" value="@Model.OtherCodes[i].Constituent" title="Other constituent" />
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="column-half">
                                <input name="OtherCodes[@i].MinConcentration" style="width:65px" placeholder="min %" value="@Model.OtherCodes[i].MinConcentration" title="Min concentration" />
                            </div>
                            <div class="column-half">
                                <input name="OtherCodes[@i].MaxConcentration" style="width:65px" placeholder="max %" value="@Model.OtherCodes[i].MaxConcentration" title="Max concentration" />
                                <input name="OtherCodes[@i].ChemicalCompositionCategory" type="hidden" value="@Model.OtherCodes[i].ChemicalCompositionCategory" />
                            </div>
                        </div>
                    </div>
                }
                <button class="link-submit" type="submit" name="Command" value="add">Add</button>
            </div>
        </div>
    </div>

    <div class="column-half"></div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.FurtherInformation)">
        @Html.Gds().ValidationMessageFor(m => m.FurtherInformation)
        Any other relevant information (optional)
        @Html.Gds().HintParagraph("Please limit your answer to 256 characters")
        @Html.TextAreaFor(m => m.FurtherInformation, new { @class = "text-area two-thirds", @title = "Further information", @MaxLength = 256 })
    </div>
    <div class="form-group">
        <fieldset>
            <label class="block-label" for="chkboxFurtherInfo">
                @Html.CheckBoxFor(m => m.HasAnnex, new { @id = "chkboxFurtherInfo" })
                I will provide further details in an annex when I submit my notification.
            </label>
        </fieldset>
    </div>


    <div class="form-group">
        <button class="button" name="Command" value="continue" type="submit">@Constants.ContinueButtonText</button>
    </div>
}