@using EA.Iws.Core.WasteType
@using EA.Iws.Web.Areas.NotificationApplication.Views.ChemicalComposition
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.ChemicalComposition.ChemicalCompositionViewModel
@{
    ViewBag.Title = WoodResources.Title;
}
<header class="hgroup">
    <div class="form-group">
        @Html.Gds().HintParagraph(WoodResources.Step2)
    </div>
    <h1 class="heading-large">@WoodResources.Header</h1>
    <p>@WoodResources.HeaderDescription</p>
</header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.NotificationId)
    @Html.HiddenFor(m => m.ChemicalCompositionType)

    <div>@WoodResources.DescriptionHeader</div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Description)">
        @Html.Gds().ValidationMessageFor(m => m.Description)
        @Html.Gds().HintSpan(WoodResources.DescriptionHint)
        @Html.Gds().TextBoxFor(m => m.Description, new { @MaxLength = 70, @title = WoodResources.DescriptionTitle })
    </div>

    <div class="grid-row">
        <div class="column-half">
            @for (var i = 0; i < Model.WasteComposition.Count; i++)
            {
                var hintText = WoodResources.HintText;

                if (Model.WasteComposition[i].WasteInformationType == WasteInformationType.NetCalorificValue)
                {
                    hintText = WoodResources.Megajoules;
                }

                if (Model.WasteComposition[i].WasteInformationType == WasteInformationType.HeavyMetals)
                {
                    hintText = WoodResources.Milligrams;
                }

                <div class="form-group @Html.Gds().FormGroupClass(m => m.WasteComposition[i])">
                    @Html.Gds().ValidationMessageFor(m => m.WasteComposition[i])
                    <div>
                        <div>
                            @EnumHelper.GetDescription(@Model.WasteComposition[i].WasteInformationType)
                            @Html.Gds().HintParagraph(hintText)
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            @EnumHelper.GetDescription(Model.WasteComposition[i].WasteInformationType)
                        </div>
                    </div>
                    <div class="grid-row">
                        @{
                            var placeholderText = (Model.WasteComposition[i].WasteInformationType == WasteInformationType.NetCalorificValue ||
                                                   Model.WasteComposition[i].WasteInformationType == WasteInformationType.HeavyMetals) ? "" : " %";
                            var sectionTitle = @EnumHelper.GetDescription(@Model.WasteComposition[i].WasteInformationType);
                        }
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MinConcentration, new { placeholder = WoodResources.Min + placeholderText, title = sectionTitle + WoodResources.MinConcentration })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].WasteInformationType, new { type = "hidden" })
                        </div>
                        <div class="column-half">
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].MaxConcentration, new { placeholder = WoodResources.Max + placeholderText, title = sectionTitle + WoodResources.MaxConcentration })
                            @Html.Gds().TextBoxFor(m => m.WasteComposition[i].Constituent, new { type = "hidden", @Value = EnumHelper.GetDescription(Model.WasteComposition[i].WasteInformationType) })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}