@using Resource = EA.Iws.Web.Areas.AdminExportAssessment.Views.NumberOfShipments.ConfirmResources
@model EA.Iws.Web.Areas.AdminExportAssessment.ViewModels.NumberOfShipments.ConfirmViewModel

@{
    ViewBag.Title = Resource.Title;
}

<div class="grid-row">
    <div class="column">
        <h1 class="govuk-heading-l">
            @(Model.IsIncrease ? Resource.Increase : Resource.Decrease)
            @Resource.Heading
        </h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            @Html.HiddenFor(x => x.NotificationId)
            @Html.HiddenFor(x => x.CurrentCharge)
            @Html.HiddenFor(x => x.NewCharge)
            @Html.HiddenFor(x => x.NewNumberOfShipments)
            @Html.HiddenFor(x => x.OldNumberOfShipments)
            @Html.HiddenFor(x => x.CompetentAuthority)
            @Html.HiddenFor(x => x.ShowAdditionalCharge)
            @Html.HiddenFor(x => x.NotificationStatus)

            <div class="govuk-form-group">

                <div class="govuk-form-group">
                    @(Model.IsIncrease ? Resource.IncreaseTo : Resource.DecreaseTo)
                    @Model.OldNumberOfShipments to @Model.NewNumberOfShipments
                </div>


                @if (Model.IncreaseInCharge > 0)
                {
                    <div class="govuk-form-group">
                        <div class="panel panel-border-wide">
                            <p>@Html.Raw(string.Format(Resource.AdditionalCharge, Model.IncreaseInCharge.ToString("C")))</p>
                            <p>@Resource.NeedToPay</p>
                        </div>
                    </div>
                }

                <div class="govuk-form-group">
                    @if (Model.IsIncrease)
                    {
                        @Html.Raw(string.Format(Resource.GuidanceNoIncrease, Model.NewNumberOfShipments))
                    }
                    else
                    {
                        @Html.Raw(string.Format(Resource.GuidanceDecrease, Model.NewNumberOfShipments))
                    }
                </div>

            </div>

            <div class="govuk-form-group">
                @Html.ActionLink(Resource.CancelButtonText, "Index", "Overview")
            </div>

            if (Model.ShowAdditionalCharge)
            {
                @Html.HiddenFor(x => x.AdditionalCharge.NotificationId)
                <hr />
                <fieldset>
                    @Html.EditorFor(m => m.AdditionalCharge)
                </fieldset>
            }

            <button type="submit" class="govuk-button">@Constants.ContinueButtonText</button>
        }


    </div>
</div>

@section menu {
    @Html.Action("ExportNavigation", "Menu", new { area = "Admin", section = ExportNavigationSection.Shipments })
}

@section scripts {
    <script>

        $(function () {

            $('#additionalChargeYes').click(function () {
                $.ajax({
                        url: '@Url.Action("GetDefaultAdditionalChargeAmount")',
                        type: 'POST',
                        data: { competentAuthority: '@Model.CompetentAuthority', __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                        success: function (result) {
                            $('#AdditionalCharge_Amount').val(result);
                            $("#AdditionalCharge_Amount").removeAttr("readonly");
                        }
                    });
            });

            $('#additionalChargeNo').click(function () {
                $('#AdditionalCharge_Amount').val(0);
                $('#AdditionalCharge_Amount').attr('readonly', 'true');
            });

        });
    </script>
}