@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@model EA.Iws.Web.Areas.Admin.ViewModels.BasicSearchViewModel

@{
    ViewBag.Title = "Admin Users - Basic Search";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <h2 class="heading-large">Search</h2>
    <p>Enter notification number or exporter company name</p>
    <div class="grid-row">
        <div class="column-two-thirds">
            @Html.Gds().HintParagraph("Part of either the notification number or the company name can be entered.")
            @Html.Gds().TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
        
            &nbsp;&nbsp;&nbsp;<input type="submit" class="button" value="Go" />
        </div>
    </div>

    <hr />

    <div class="form-group">
        @if (Model != null && Model.SearchResults != null && Model.SearchResults.Count > 0)
        {
            <h2 class="heading-medium">Your search returned @Model.SearchResults.Count results</h2>
            <table>
                <thead>
                    <tr>
                        <th>Notification number</th>
                        <th>Company name</th>
                        <th>Waste type</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SearchResults.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(linkText: @Html.DisplayFor(m => m.SearchResults[i].NotificationNumber).ToString(),
                                                 actionName: "Index",
                                                 controllerName: "Home",
                                                 routeValues: new { id = Model.SearchResults[i].Id, area = "NotificationApplication" },
                                                 htmlAttributes: null)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.SearchResults[i].ExporterName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.SearchResults[i].WasteType)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="heading-medium">No matching results found</h2>
        }
    </div>
}
