@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@model EA.Iws.Web.Areas.Admin.ViewModels.BasicSearchViewModel

@{
    ViewBag.Title = "Admin Users - Basic Search";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Search</h1>
            <p>Enter notification number or exporter company name</p>

            @Html.Gds().TextBoxFor(m => m.SearchTerm, new { @class = "form-control", @title="Search term" })
            &nbsp;&nbsp;&nbsp;<input type="submit" class="button" value="Go" />

            <hr class="section-bottom" />

            @if (Model != null && Model.SearchResults != null && Model.SearchResults.Count > 0)
            {
                <h2 class="heading-medium">Your search returned @Model.SearchResults.Count results</h2>
                <table title="Search results">
                    <thead>
                        <tr>
                            <th>Notification number</th>
                            <th>Status</th>
                            <th>Company name</th>
                            <th>Waste type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.SearchResults.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(linkText: @Html.DisplayFor(m => m.SearchResults[i].NotificationNumber).ToString(),
                                    actionName: "Index",
                                    controllerName: "Home",
                                    routeValues: new { id = Model.SearchResults[i].Id, area = "NotificationAssessment" },
                                    htmlAttributes: new { target = "_blank" })
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.SearchResults[i].NotificationStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.SearchResults[i].ExporterName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.SearchResults[i].WasteType)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else if (Model != null && Model.HasSearched)
            {
                <h2 class="heading-medium">No matching results found</h2>
            }
        </div>
        <div class="column-third" id="submit-side-bar">
            <h2 class="heading-medium">Account services</h2>
            <p>@Html.ActionLink("Manage new users", "ManageNewUsers", "UserAdministration")</p>
            <p>@Html.ActionLink("Create a new import notification", "Index", "ImportNotification")</p>
        </div>
    </div>
}
