@using EA.Iws.Core.Shared
@using EA.Iws.Web.Areas.AddressBook.Views
@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Facility.AddResources
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Facility.FacilityViewModel

@{
    ViewBag.Title = Resource.TabTitle;
}

@{
    var limitedCompanyId = "LimitedCompany" + Model.FacilityId;
    var otherId = "Other" + Model.FacilityId;
}

<h1 class="heading-large">@Html.Raw(string.Format(Resource.Title, Model.NotificationType.ToString().ToLower()))</h1>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <h2 class="heading-medium">@Resource.OrganisationHeading</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Business.Name)">
        @Html.Gds().LabelFor(m => m.Business.Name, false)
        @Html.Gds().ValidationMessageFor(m => m.Business.Name)
        @Html.Gds().TextBoxFor(m => m.Business.Name, new
   {
	   data_addressbook_url = Url.Action("Index", "Search", new { area = "AddressBook" }),
	   data_addressbook_type = "Facility"
   })
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.BusinessType)">
        @Html.Gds().LabelFor(m => m.BusinessType, false)
        @Html.Gds().ValidationMessageFor(m => m.BusinessType)
        <fieldset>
            <div class="multiple-choice">
                @Html.RadioButtonFor(m => m.BusinessType, BusinessType.LimitedCompany, new { id = "LimitedCompany" })
                <label for="LimitedCompany">
                    @Resource.LimitedCompanyLabel
                </label>
            </div>

            <div class="multiple-choice">
                @Html.RadioButtonFor(m => m.BusinessType, BusinessType.Other, new { id = "Other" })
                <label for="Other">
                    @Resource.OtherLabel
                </label>
            </div>
            
        </fieldset>
    </div>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Business.RegistrationNumber)">
        @Html.Gds().LabelFor(m => m.Business.RegistrationNumber)
        @Html.Gds().ValidationMessageFor(m => m.Business.RegistrationNumber)
        @Html.Gds().TextBoxFor(m => m.Business.RegistrationNumber)
    </div>

    @Html.EditorFor(m => m.Address)

    @Html.EditorFor(m => m.Contact)

    <div class="form-group no-js-hidden">
        <div class="multiple-choice">
            @Html.CheckBoxFor(m => m.IsAddedToAddressBook, new { id = "addressBook" })
            <label for="addressBook">
                Add as new contact and address to the address book
            </label>
        </div>
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}