@using EA.Iws.Web.Areas.NotificationApplication.Views.ExitCustomsOffice
@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.CustomsOffice.CustomsOfficeViewModel

@{
    ViewBag.Title = ExitCustomsOfficeResources.Title;
}
<header class="hgroup">
    @if (Model.Steps > 1)
    {
        <div class="form-group">
            @Html.Gds().HintParagraph("Step 2 of " + @Model.Steps)
        </div>
    }
    <h2 class="heading-large">@ExitCustomsOfficeResources.Header</h2>
</header>

<div class="form-group">
    <details>
        <summary>
            <h2 class="summary heading-xsmall" data-track="disclosure" data-category="Data notice" data-action="Read">When to provide customs office of exit details</h2>
        </summary>
        <div class="panel">
            @Html.Partial("_ExitCustomsOfficeGuidance")
        </div>
    </details>
</div>

@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    <div class="form-group @Html.Gds().FormGroupClass(m => m.CustomsOfficeRequired)">
        <div class="multiple-choice" data-target="yes-message">
            @Html.RadioButtonFor(m => m.CustomsOfficeRequired, true, new { @class = "customs-office-required-radio-button", @id = "rdoYes" })
            <label for="rdoYes">
                @ExitCustomsOfficeResources.CustomsRequiredText
            </label>
        </div>
        <div class="panel hide-for-initial-load @(Model.CustomsOfficeRequired == true ? "js-hidden" : "js-hidden")" id="other-description">
            @Html.AntiForgeryToken()
            @Html.Partial("~/Areas/NotificationApplication/Views/CustomsOffice/_Index.cshtml", Model)
        </div>
        <div class="multiple-choice" data-target="no-message">
            @Html.RadioButtonFor(m => m.CustomsOfficeRequired, false, new { @class = "customs-office-not-required-radio-button", @id = "rdoNo" })
            <label for="rdoNo">
                @ExitCustomsOfficeResources.CustomsNotRequiredText
            </label>
        </div>
    </div>
    <button class="button" type="submit">@Constants.ContinueButtonText</button>
}