@using Resource = EA.Iws.Web.Areas.ImportNotification.Views.Producer.IndexResources
@model EA.Iws.Web.Areas.ImportNotification.ViewModels.Producer.ProducerViewModel

@{
    ViewBag.Title = Resource.TabTitle;
}

<h1 class="heading-large">@Resource.Title</h1>


@using (Html.BeginForm())
{
    @Html.Gds().ValidationSummary()
    @Html.AntiForgeryToken()

    <h2 class="heading-medium">@Resource.OrganisationSubtitle</h2>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Business.Name)">
        @Html.Gds().LabelFor(m => m.Business.Name, false)
        @Html.Gds().ValidationMessageFor(m => m.Business.Name)
		@Html.Gds().TextBoxFor(m => m.Business.Name, new
    {
        data_addressbook_url = Url.Action("Index", "Search", new { area = "AddressBook" }),
        data_addressbook_type = "Producer"
    })
    </div>

    @Html.EditorFor(m => m.Address)

    @Html.EditorFor(m => m.Contact)

    <div class="form-group">
        <div class="multiple-choice">
            @Html.CheckBoxFor(m => m.AreMultiple, new { id = "AreMultiple" })
            <label for="AreMultiple">
                @Resource.MultipleProducers
            </label>
        </div>
    </div>

    <div class="form-group">
        <button class="button" type="submit">@Constants.ContinueButtonText</button>
    </div>
}

