@model EA.Iws.Web.Areas.AdminImportNotificationMovements.ViewModels.Home.MovementSummaryViewModel
@using EA.Iws.Core.ImportNotificationAssessment
@using EA.Iws.Core.NotificationAssessment
@using EA.Iws.Core.Shared
@using EA.Iws.Web.Infrastructure.Paging
@using EnumHelper = EA.Prsd.Core.Helpers.EnumHelper
@using Resource = EA.Iws.Web.Areas.AdminImportNotificationMovements.Views.Home.IndexResources

@{
    ViewBag.Title = @Resource.TabTitle;

    var operationTitle = Model.NotificationType == NotificationType.Disposal ? "Disposed" : "Recovered";
}

@helper DisplayDate(DateTime? date)
{
if (date.HasValue)
{
        @date.Value.ToString("d MMM yyyy")
}
else
{
        @:- -
    }
}

@helper DisplayQuantity(decimal? quantity, ShipmentQuantityUnits? unit)
{
if (quantity.HasValue)
{
        @(quantity.Value.ToString("G29") + " " + EnumHelper.GetShortName(unit.GetValueOrDefault()))
}
else
{
        @:- -
    }
}

<div class="form-group">
    <div class="shipping-home">

        <h1 class="heading-large">
            @Resource.ShipmentSummaryTitle
        </h1>

        <div class="grid-row">
            <div class="column-half">
                <table class="odd-table">
                    <caption class="visuallyhidden">@Resource.SummaryCaption</caption>
                    <tbody>
                    <tr>
                        <td>@Resource.TotalNumber</td>
                        <td>@Model.IntendedShipments</td>
                    </tr>
                    <tr>
                        <td>@Resource.NumberUsed</td>
                        <td>@Model.UsedShipments</td>
                    </tr>
                    <tr>
                        <td>@Resource.TotalQuantityReceived</td>
                        <td>@Model.QuantityReceivedTotal</td>
                    </tr>
                    <tr>
                        <td>@Resource.TotalQuantityRemaining</td>
                        <td>@Model.QuantityRemainingTotal</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-half">
                @if (Model.NotificationStatus == ImportNotificationStatus.Consented)
                {
                    <div class="nav-bloc">
                        <h2 class="heading-small">@Resource.ShipingOptions</h2>
                        <nav>
                            @Html.ActionLink(Resource.Cancel, "Index", "Cancel")

                            @if (Model.CanDeleteMovement)
                            {
                                @Html.ActionLink(Resource.Delete, "Index", "Delete")
                            }

                            @Html.ActionLink(Resource.RejectedMovements, "List", "RejectedMovement")

                            @Html.ActionLink(Resource.GoToOverview, "Index", "Home", new { area = "ImportNotification", id = Model.NotificationId }, null)
                        </nav>
                    </div>
                }

                <div class="form-group">
                    <h2 class="heading-small">@Resource.Record</h2>
                    @using (Html.BeginForm("Search", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        <input id="ShipmentNumber" name="ShipmentNumber" type="number" min="1" class="form-control" placeholder="@Resource.SearchPlaceholder"/>
                        <button class="button">@Resource.SearchButton</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">

    @if (Model.ShowShipments())
    {
        <div class="grid-row">
            <div class="column-two-thirds">
                <h2 class="heading-small">@Resource.TableTitle</h2>
            </div>
            <div class="column-one-third">
                @Html.ActionLink(Resource.DownloadExcel, "Index", "Download")
            </div>
        </div>

        <table class="odd-table">
            <caption class="visuallyhidden">@Resource.SummaryCaption</caption>

            <thead>
            <tr>
                <th>@Resource.thNumber</th>
                <th>@Resource.thPrenotified</th>
                <th>@Resource.thShipmentDue</th>
                <th>@Resource.thReceived</th>
                <th>@Resource.thQuantity</th>
                <th>@operationTitle</th>
            </tr>
            </thead>

            <tbody>
            @{
                for (int i = 0; i < Model.TableData.Count; i++)
                {
                    <tr>
                        <td>@Html.ActionLink(Model.TableData[i].Number.ToString(), "Edit", "Capture", new { movementId = Model.TableData[i].Id }, null)</td>
                        <td>@DisplayDate(Model.TableData[i].PreNotification)</td>
                        <td>
                            @if (Model.TableData[i].IsCancelled)
                            {
                                @Resource.Cancelled
                            }
                            else
                            {
                                @DisplayDate(Model.TableData[i].ShipmentDate)
                            }
                        </td>
                        <td>@DisplayDate(Model.TableData[i].Received)</td>
                        <td>@DisplayQuantity(Model.TableData[i].Quantity, Model.TableData[i].Unit)</td>
                        <td>@DisplayDate(Model.TableData[i].RecoveredOrDisposedOf)</td>
                    </tr>
                }
            }
            </tbody>
        </table>

        @Html.Pager(Model.PageSize, Model.PageNumber, Model.NumberofShipments)
    }
    else
    {
        <div class="bold-small">
            @Resource.NoShipmentDataText
        </div>
    }
</div>

<div class="form-group">
    @Html.ActionLink(@Resource.GoToOverview,
            "Index",
            "Home",
            new { area = "ImportNotification", id = Model.NotificationId },
            new { @class = "button" })
</div>