@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteOperations.OperationCodesViewModel

<div>
    <div class="form-group">
        <fieldset>

            @for (int i = 0; i < Model.Codes.PossibleValues.Count; i++)
            {
                MvcHtmlString idForThisCheckBox = Html.NameFor(m => m.Codes.PossibleValues[i]);

                <div>
                    <label for="@idForThisCheckBox" class="block-label grid-view">
                        @Html.CheckBoxFor(m => m.Codes.PossibleValues[i].Selected, new { id = idForThisCheckBox })
                        @Html.HiddenFor(m => m.Codes.PossibleValues[i].Text)
                        @Html.HiddenFor(m => m.Codes.PossibleValues[i].Value)
                        @Html.DisplayFor(m => m.Codes.PossibleValues[i].Text)
                        &nbsp;-&nbsp;
                        @Model.CodeInformation[Model.Codes.PossibleValues[i].Text]
                    </label>
                </div>
            }
        </fieldset>
    </div>
</div>