@model EA.Iws.Web.Areas.NotificationApplication.ViewModels.WasteOperations.OperationCodesViewModel

<header class="hgroup">
    <h2 class="heading-large">Which recovery operation codes apply to this notification?</h2>
</header>

@using (Html.BeginForm("AddRecoveryCodes", "WasteOperations", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group">
        @Html.HiddenFor(m => m.NotificationId)
    </div>

    @Html.Partial("_OperationCodes", Model)

    <div class="form-group">
        <input type="submit" class="button" value="Continue">
    </div>
}

@section scripts
{
    @Html.Partial("_SelectAllCheckBoxScript")
}
