@model EA.Iws.Web.Areas.MovementDocument.ViewModels.NumberOfPackages.NumberOfPackagesViewModel

@{
    ViewBag.Title = "Actual quantity";
}

<h2 class="heading-large">How many packages will be used?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Number)">
        @Html.Gds().LabelFor(m => m.Number, false)
        @Html.Gds().ValidationMessageFor(m => m.Number)
        @Html.Gds().TextBoxFor(m => m.Number, new
        {
            @class = "form-control form-control-wide",
            type = "number",
            min = 1,
            step = 1
        })
    </div>

    <div class="form-group">
        <button class="button" type="submit">@EA.Iws.Web.Infrastructure.Constants.ContinueButtonText</button>
    </div>
}