@model EA.Iws.Web.Areas.Reports.ViewModels.Producer.IndexViewModel
@using Resources = EA.Iws.Web.Areas.Reports.Views.Producer.ProducerResources

@{
    ViewBag.Title = Resources.Title;
}

<h1 class="govuk-heading-l">@Resources.Heading</h1>

<p>@Resources.CacheInfo</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    @Html.EditorFor(m => m.InputParameters)

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">@Resources.ButtonText</button>
    </div>
}